<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>元大鑽金卡5%海外消費現金回饋無上限｜元大銀行</title>
    <meta name="description" content="海外消費首選，新舊戶同享回饋！111/11/01~112/09/30 完成元大銀行外幣帳戶綁定及設定自動扣繳卡費，當月海外實體消費即享最高5%現金回饋。" />
    <link rel="shortcut icon" href="https://www.yuantafunds.com/images/icologo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://www.yuantafunds.com/active/default/css/default.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <!-- vue -->
    <script src="js/vue.js"></script>

    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Facebook 縮圖 -->
    <meta property="og:site_name" content="元大鑽金卡5%海外消費現金回饋無上限｜元大銀行" />
    <meta property="og:title" content="元大鑽金卡5%海外消費現金回饋無上限｜元大銀行" />
    <meta property="og:description" name="description" content="海外消費首選，新舊戶同享回饋！111/11/01~112/09/30 完成元大銀行外幣帳戶綁定及設定自動扣繳卡費，當月海外實體消費即享最高5%現金回饋。" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.yuantabank.com.tw/bankwebIMG/event/Bank_Act2022/Overseas/images/share-img.jpg" />
    <meta property="og:image:secure_url" content="https://www.yuantabank.com.tw/bankwebIMG/event/Bank_Act2022/Overseas/images/share-img.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="format-detection" content="telephone=no">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <script>
        function IE(v) {
            return RegExp('msie' + (!isNaN(v) ? ('\\s' + v) : ''), 'i').test(navigator.userAgent);
        }
        if (IE() || navigator.userAgent.toLowerCase().match(/rv:([\d.]+)\) like gecko/)) {
            alert('請使用其他瀏覽器或以手機進行瀏覽');
            window.close();
        }
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PPTTN7C');
    </script>
    <!-- End Google Tag Manager -->

</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPTTN7C"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscriptv) -->

    <div id="app" v-cloak>

        <header :class="header">
            <div class="yuantaLogo">
                <a href="https://www.yuantabank.com.tw/bank/" id="yuantabank" target="_blank"> </a>
                <div class="yuantaplusLogo"></div>
            </div>

            <div class="mediaIcons" style="display: block;">
                <ul>
                    <li class="facebook">
                        <a href="https://www.facebook.com/yuantabank" target="_blank" id="facebook"></a>
                    </li>
                    <li class="line">
                        <a href="https://line.me/R/ti/p/%40mwr3999i" target="_blank" id="line"></a>
                    </li>
                    <li class="instagram">
                        <a href="https://www.instagram.com/yuantabank/" target="_blank" id="instagram"></a>
                    </li>
                    <li class="youtube">
                        <a href="https://www.youtube.com/channel/UCs72_Ba4-zxCCaeF7zsoAoA" target="_blank" id="youtube"></a>
                    </li>
                    <li class="telegram">
                        <a href="https://t.me/yuantabanktw" target="_blank" id="telegram"></a>
                    </li>
                </ul>
            </div>
        </header>

        <a href="javascript:" id="gotop" :class="gotop" @click="toTop">
            <img src="images/goTop.svg">
        </a>

        <article>
            <!-- kv -->
            <section class="kv">
                <div class="video">
                    <video src="video/video_kv.mp4" playsinline autoplay muted loop class="desktop"></video>
                    <video src="video/video_kv_mob.mp4" playsinline autoplay muted loop class="mb"></video>
                </div>
                <div class="container content">
                    <div class="title">
                        <span>最高</span>
                        <img src="images/img_kv_5percent.svg">
                        <h1>
                            <p>元大鑽金卡</p>
                            <p>海外消費現金回饋無上限</p>
                        </h1>
                        <p class="additional">* 加碼最高 2.8% 為外幣回饋</p>
                    </div>
                    <div :class="goBtn">
                        <a href="https://www.yuantabank.com.tw/bank/creditCard/overSeaActReg/list.do" target="_blank">新戶享最高5%<br />立即參加 &raquo;</a>
                    </div>
                    <div class="scroll" @click="scroll('reward')">
                        <p>scroll</p>
                        <img src="images/icon_arrow_down.svg">
                    </div>
                </div>
            </section>
            <div class="cashback bg-text container">CASHBACK</div>
            <!-- 回饋 -->
            <section ref="reward" class="reward">
                <div class="container">
                    <p>111 / 11 / 1 – 112 / 9 / 30</p>
                    <h2 class="bold">海外消費首選<span class="comma">，</span><br>新舊戶同享回饋</h2>
                    <p class="desc f18">完成元大銀行外幣帳戶綁定及設定臺幣帳戶自動扣繳卡費，當月海外實體消費最高 <span class="bold"> <span class="point">5</span>% </span> 回饋。</p>
                    <div class="table">
                        <div class="tr thead">
                            <div class="td">海外消費<br class="mb">基本回饋</div>
                            <div class="td">外幣回饋<br>美金、日圓任選</div>
                            <div class="td">設定自動扣繳卡費<br>加碼外幣回饋</div>
                            <div class="td">信用卡新戶<br>加碼外幣回饋</div>
                        </div>
                        <div class="tr">
                            <div class="td f20"><span>2.2</span>%</div>
                            <div class="td f20">+<span>1</span>%</div>
                            <div class="td f20">+<span>0.8</span>%</div>
                            <div class="td f20">+<span>1</span>%</div>
                        </div>
                    </div>
                    <p class="ps f14">
                        * 本回饋內容及試算係以客戶持有元大鑽金智富卡為例。<br>* 上述 +1％ 外幣回饋為任務 1、+0.8 ％ 外幣加碼回饋為任務 2，任務內容詳注意事項。<br>* 新戶定義為核卡日前六個月內未持有元大銀行信用卡正卡者，加碼1%外幣回饋（112/3/1起適用）。<br>* 舊戶完成任務一及任務二，可享最高4%回饋。
                    </p>
                    <div class="calc">
                        <p class="result f18">
                            新戶出國刷卡
                            <span>$<span class="val">{{ formatAmount(deVal) }}</span></span>
                            <br>
                            享下個月最高
                            <span><span class="val">5</span>%</span>
                            回饋
                            <br class="mb"> ( 基本回饋
                            <span>$<span class="val">{{ formatAmount(cash) }}</span></span>
                            、活動+新戶加碼回饋
                            <span>$<span class="val">{{ formatAmount(bonus) }}</span></span>
                            至外幣帳戶 )
                        </p>
                        <div class="range">
                            <div class="range-slider">
                                <p>每月刷卡</p>
                                <input type="range" ref="rangeInput" :value="deVal" min="10000" max="100000" step="5000" class="progress">
                                <p class="text grey">
                                    <span>1 萬</span>
                                    <span>10 萬</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="https://www.yuantabank.com.tw/bank/creditCard/overSeaActReg/list.do" target="_blank" class="openBtn bold f22">
                        <p>線上開戶 + 辦卡 + 設定自動扣繳帳款一次快速完成，最高 5% 回饋輕鬆入袋</p>
                        <img src="images/icon_section1_arrow.svg">
                    </a>
                    <div class="notice">
                        <label for="notice1">
                            <input type="checkbox" id="notice1">
                            <p class="title">注意事項</p>
                            <ul>
                                <li>本活動指定卡別為<span class="blue">富貴無限卡、鑽金智富卡、元大證券聯名卡、Hello Kitty鑽金/分享聯名卡、鑽金卡、鑽金icash/一卡通聯名卡、分享黑啤卡等信用卡正、附卡。實際回饋的比例依原卡別權益計算，最高享5%（含新戶加碼1%）</span>。</li>
                                <li>海外實體商店消費定義：<span class="blue">刷卡地限於國外且交易幣別非新臺幣之面對面的一般消費交易</span>。一般消費定義詳<a class="yuanta-link" href="https://www.yuantabank.com.tw/bank/creditCard/right/list.do?right_id=%E5%85%B6%E4%BB%96%E6%AC%8A%E7%9B%8A" target="_blank">元大銀行(下稱本行)官網</a>。</li>
                                <li>
                                    條件說明：
                                    <p>•任務一：持卡人(含正附卡，下同)需於海外實體商店刷卡消費，並於刷卡<span class="blue">消費當月底前，由正卡人至活動頁面設定回饋幣別及綁定外幣回饋帳戶</span>(限綁定正卡人本人帳戶，若未持有本行外幣帳戶，則本行系統將自動以正卡人於活動期間內新開立之本行外幣帳戶，作為任務一、二之回饋帳戶)，自綁定當月起至112/9/30止，持卡人之交易始列入回饋計算，並匯入正卡人綁定之本行外幣帳戶。舉例說明：持卡人於111/11/10於海外實體刷卡消費，並由正卡人於111/11/30前完成回饋幣別設定並綁定外幣回饋帳戶，該筆海外實體刷卡消費即可獲得1％外幣回饋。</p>
                                    <p>•任務二：持卡人於本活動期間海外實體商店消費，<span class="blue">成功以本行帳戶自動扣繳者享0.8%加碼外幣回饋，消費當月(含)前已設定本行帳戶自動扣繳信用卡款且扣繳成功</span>者，亦符合本任務回饋資格。</p>
                                    <p>•新戶加碼：112/3/1~112/9/30 核卡日前六個月內未持有元大銀行信用卡正卡者，<span class="blue">加碼1%外幣回饋</span>。</p>
                                    <p>*任務一、任務二與新戶加碼回饋幣別可選美金或日圓，但回饋幣別需相同，綁定後無法變更回饋幣別及外幣帳戶。</p>
                                    <p>*若未於活動期間內完成設定回饋幣別及綁定外幣回饋帳戶(包括但不限於任何因電腦、網路、電話、技術問題等事由)或資料輸入錯誤者，即視為 自動放棄參加活動資格，恕無法補設定或要求延期，亦不得額外要求以其他方式獲得回饋或主張任何權益。</p>
                                </li>
                                <li><span class="blue">海外實體商店消費回饋限信用卡永久額度內，且收單商店於消費日後30日內請款入帳之消費</span>，臨時性提高額度及溢繳卡費等皆無法認列回饋；分期交易以當期已請款入帳之總金額計算。</li>
                                <li>
                                    <span class="blue">活動外幣回饋計算以本行牌告匯率換匯成指定幣別(美金或日圓)，換匯後美金回饋計算至小數點後第一位四捨五入計算；日圓回饋計算至元，小數點無條件捨去計算。</span>舉例說明：客戶於海外實體商品之消費金額換算等值新臺幣8,888元，並完成任務1、2，若選擇美金回饋，假設本行牌告匯率為新臺幣30元兌1美金，則回饋之外幣為5.3美金(計算式：8,888*1.8%/30，小數點後第一位四捨五入)；若選擇日圓回饋，假設本行牌告匯率為新臺幣0.25元兌1日圓，則回饋之外幣為639日圓(計算式：8,888*1.8%/0.25，計算至元，小數點無條件捨去)。
                                </li>
                                <li>本行預計於刷卡<span class="blue">消費日次月底前將外幣回饋匯入正卡持卡人指定外幣帳戶，正、附卡合併計算，每月25日(遇假日遞延至第一個營業日)進行換匯</span>，實際匯率、回饋時間及相關作業處理以本行規定為準。外幣回饋與卡片原回饋分開進行入帳作業。</li>
                                <li>本活動回饋資格不得轉讓予他人，亦不得兌換現金或更換其他商品。倘持卡人於活動期間，因簽帳爭議而暫停付款或因其他原因以致須退還消費款項或所持信用卡有停卡/失效、掛失不補發、到期不續卡、逾期繳款、強制停用、申請停用、停卡、取消交易、卡片失效、欠款、自動轉帳扣繳信用卡款失敗或違反本行信用卡會員約定條款者，即自動喪失參加本活動之資格，正卡人原先已取得之回饋金額，本行得逕行調整扣回，不另行通知。</li>
                                <li>外幣回饋匯款時，綁定帳戶如發生結清、繼承、凍結、取消綁定或其他無法入款項之情形，即視同放棄回饋資格，恕不補發，持卡人亦不得以任何理由向本行主張任何權利。</li>
                                <li>本行保留變更或終止本活動及審核持卡人參加本活動資格之權利。</li>
                            </ul>
                        </label>
                    </div>
                </div>
            </section>
            <!-- 出國旅遊 -->
            <section class="travel">
                <div class="container">
                    <h2 class="bold">出國旅遊省很大<br class="dis-block">樂享 Bic Camera 優惠、訂房折扣、免費WiFi</h2>
                    <p class="desc f18">立即申辦「元大鑽金智富卡」，出國購物、訂房通通有回饋，選對信用卡，玩的開心、賺得開心</p>
                    <div class="swiper">
                        <div class="swiper-wrapper" >
                            <div v-for="item in travelList" :key="item.title" class="swiper-slide">
                                <img :src="item.img">
                                <div class="content">
                                    <div v-html="item.title" class="f24 bold blue title"></div>
                                    <p v-html="item.content"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev">
                        <img src="images/icon_section4_arrow.svg">
                    </div>
                    <div class="swiper-button-next">
                        <img src="images/icon_section4_arrow.svg">
                    </div>
                    <p class="ps f14">* 各項活動優惠辦法、適用日期及使用限制，詳參<a class="yuanta-link" href="https://www.yuantabank.com.tw/bank/index.do" target="_blank">元大銀行官網</a>、<a class="yuanta-link" href="https://www.yuantabank.com.tw/bank/creditCard/promotionActivity/list.do" target="_blank">優惠活動網頁</a>。</p>
                </div>
            </section>
            <!-- 線上換匯 -->
            <section class="online">
                <div class="container">
                    <div class="bg-text">FOREIGN<br>EXCHANGE</div>
                    <h2 class="bold">線上換匯讓分<span class="comma">，</span><br>超前部署旅遊金</h2>
                    <p class="desc f18">使用元大個人網路銀行、行動銀行線上換匯，享專屬美金<span class="point"> 3 </span>分、日圓<span class="point"> 0.04 </span>分匯率優惠。</p>
                    <div class="compare bold d-flex">
                        <div class="country">
                            <div>
                                <div class="cur f18">美元 USD</div>
                                <p class="f24">減<span>3</span>分</p>
                            </div>
                            <img src="images/icon_section2_usd.svg">
                        </div>
                        <div class="country">
                            <div>
                                <div class="cur f18">日圓 JPY</div>
                                <p class="f24">減<span>0.04</span>分</p>
                            </div>
                            <img src="images/icon_section2_jpy.svg">
                        </div>
                    </div>
                    <div class="notice">
                        <label for="notice2">
                            <input type="checkbox" id="notice2">
                            <p class="title">注意事項</p>
                            <ul>
                                <li>本行將視實際情況調整匯率優惠，或當市場匯率波動幅度過大時，客戶享有之匯率優惠加減碼(分)可能非上表最佳優惠匯率，請以成交時之交易匯率為準。</li>
                                <li>由於牌告匯率與實際交易可能存在時間差異，實際優惠之交易匯率以成交當時為準。</li>
                                <li>依據主管機關規定，透過帳戶轉帳買賣人民幣，每人每日限額為人民幣2萬元。</li>
                                <li>本行未提供外籍人士電話銀行專人服務。另無居留證、或相關居留證證載有效期限未滿一年之外籍人士，無法透過網路銀行、行動銀行或電話銀行語音服務辦理外幣轉帳(含預約)交易，敬請臨櫃辦理。</li>
                                <li>風險說明：外幣轉換可能因匯率變動而發生機會或風險，客戶應自行承擔各項有關外匯兌換限制及損失等風險(包括但不限於價格、匯率、政治、國家/地區之風險)，包括將所投資之外幣兌換至原持有幣別或其他外幣時可能遭受之損失，最大損失為全部本金及利息。</li>
                                <li>到價通知功能可能受網路狀況、設備、軟體版本及其他因素而有延遲或無法使用的狀況，如造成任何影響，本行概不負責。</li>
                                <li>活動優惠內容以本行最新公告為準，本行保留隨時修改、變更或終止本活動之權利。其他未盡事宜，悉依主管機關相關規範及本行帳戶往來暨相關服務總約定書之規定辦理。</li>
                            </ul>
                        </label>
                    </div>
                </div>
            </section>
            <!-- 活存 -->
            <section class="deposit">
                <div class="container">
                    <h2 class="bold">美金優利活存<span class="comma">，</span><br>為下一趟旅程作準備</h2>
                    <p class="desc f18">完成活動指定外幣回饋帳戶設定，享美金活存利率加碼優惠，掌握美元升值趨勢，快速存滿旅遊基金。</p>
                    <div class="balance">
                        <div class="title">美金活期帳戶餘額</div>
                        <div class="detail d-flex">
                            <div class="flex">100 美金(含)以上未達 5,000 美金</div>
                            <div class="flex">
                                美金牌告活期利率固定加碼
                                <span class="blue bold">
                                    <span class="val"> 0.35</span>%
                                </span>
                                <p>( 以 111/12/27 美金牌告活期利率試算：1.05% + 0.35% = 1.4% )</p>
                            </div>
                        </div>
                        <div class="detail d-flex">
                            <div class="flex">5,000 美金(含)以上</div>
                            <div class="flex">
                                美金牌告活期利率固定加碼
                                <span class="blue bold">
                                    <span class="val"> 0.7</span>%
                                </span>
                                <p>( 以 111/12/27 美金牌告活期利率試算：1.05% + 0.7% = 1.75% )</p>
                            </div>
                        </div>
                        <p class="ps f14">* 專案優惠年利率說明：階梯方式分段計息。</p>
                    </div>
                    <div class="notice">
                        <label for="notice3">
                            <input type="checkbox" id="notice3">
                            <p class="title">注意事項</p>
                            <ul>
                                <li>客戶於符合本專案條件之次月20日起，本專案優惠加碼生效，本專案帳戶將依存款餘額級距(美元)，依階梯方式分段適用本專案優惠利率。</li>
                                <li>
                                    計息方式：客戶當日美元活期存款帳戶日終餘額達到設定之存款金額級距，當日美元活期存款金額依該金額級距適用之利率(美元活期存款牌告利率+利率加碼幅度)階梯方式分段計息。存款以日計息，利息每月付息，每月20日結算前月21日至當月20日止之存款利息，於次營業日自動轉入客戶之本專案帳戶內。
                                    <div class="table">
                                        <div class="tr thead">
                                            <div class="td">條件符合<br class="mb">名單</div>
                                            <div class="td">利率加碼<br class="mb">期間</div>
                                            <div class="td">總計<br class="mb">享加碼月份</div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">2022/11月<br class="mb">符合名單</div>
                                            <div class="td">2022/12/20~<br class="mb">2023/06/19</div>
                                            <div class="td">6個月</div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">2022/12月<br class="mb">符合名單</div>
                                            <div class="td">2023/01/20~<br class="mb">2023/06/19</div>
                                            <div class="td">5個月</div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">2023/1月<br class="mb">符合名單</div>
                                            <div class="td">2023/02/20~<br class="mb">2023/06/19</div>
                                            <div class="td">4個月</div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">2023/2月<br class="mb">符合名單</div>
                                            <div class="td">2023/03/20~<br class="mb">2023/06/19</div>
                                            <div class="td">3個月</div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">2023/3月<br class="mb">符合名單</div>
                                            <div class="td">2023/04/20~<br class="mb">2023/06/19</div>
                                            <div class="td">2個月</div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">2023/4月<br class="mb">符合名單</div>
                                            <div class="td">2023/05/20~<br class="mb">2023/06/19</div>
                                            <div class="td">1個月</div>
                                        </div>
                                    </div>
                                </li>
                                <li>若客戶於專案期間內將本專案帳戶辦理結清銷戶，本專案優惠亦即終止。客戶於結清本專案帳戶時，本行將於結清當日將本利一併返還。</li>
                                <li>本行保留上述專案內容變更或提前終止本專案相關事項之權利，調整時將於本行網站公告，而不另行以書面通知。</li>
                                <li>本專案為外幣存款，承作外幣存款須承擔日後兌換為新臺幣或其他幣別時可能產生之匯兌風險，於承作專案時應審慎評估。</li>
                                <li>其他未盡事宜，悉依本行「帳戶往來暨相關服務總約定書」及外匯存款相關規定或解釋辦理。</li>
                            </ul>
                        </label>
                    </div>
                </div>
            </section>
            <!-- QA -->
            <section class="qa">
                <div class="container">
                    <h2 class="bold">常見問題</h2>
                    <div v-for="item in qaList" :key="item.title" class="list">
                        <div class="type f18 bold">{{ item.title }}</div>
                        <div v-for="qa in item.qa" class="notice">
                            <label :for="item.que">
                                <input type="checkbox" :id="item.que">
                                <p class="title">{{ qa.que }}</p>
                                <div class="ans" v-html="qa.ans"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div>

    <div class="slogan">
        <p class="bold"><span>謹慎理財</span><span>信用無價</span></p>
        <span>信用卡循環信用年利率：2.92%~15.00%(基準日：106/4/1)</span> ｜
        <span>預借現金手續費：每筆預借現金金額x 3.5%+NT$100</span><span class="mb"> ｜ </span><br class="desktop">
        <span>其他費用請至元大網站 yuantabank.com.tw 查詢</span> ｜
        <span>24小時客服專線：(02)2182-1968、0800-688-168</span>
    </div>

    <div class="footer">
        <div class="footerCont">
            <div class="copyright">
                Copyright © Yuanta Commercial Bank Co. Ltd. All Rights Reserved.
            </div>
            <div class="contWrapper">
                <div class="footer-item">地址：10557 台北市松山區敦化南路一段 66 號</div>
                <div class="footer-item">電子信箱：Service@yuanta.com</div>
                <div class="footer-item"> 客服專線：0800-688-168</div>
            </div>
        </div>
        <div class="clearboth"></div>
    </div>

    <!-- Swiper JS -->
    <script src="./js/swiper-bundle.min.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    kv: true,
                    travelList: [
                        {
                            title: '最高<span>10</span>%<span>+</span><span>7</span>%<br>日本Bic Camera<br>優惠折扣',
                            content: '112/9/30 前至日本 Bic Camera 消費，出示優惠券，供門市結帳人員以現場掃入優惠電子條碼方式結帳，該筆消費最高享消費稅 10% 及商品 7% 折扣。',
                            img: 'images/img_section4_slide1.jpg'
                        },
                        {
                            title: '<span>16</span>%<br>訂房折扣',
                            content: '112/12/31 前透過元大銀行卡友專屬活動網頁連結至 Agoda，並預先以本行信用卡支付全額款項，最高享限量16%折扣優惠。(每筆訂單折扣優惠上限為 NT$666)',
                            img: 'images/img_section4_slide2.jpg'
                        },
                        {
                            title: '最高NT$<span>1</span>,<span>000</span><br>新戶首刷禮',
                            content: '112/3/31 前新戶申辦鑽金智富卡，於核卡後 30 日內新增「一般消費」不限金額(需登錄)，最高可享價值 NT$１,000 新戶首刷禮(全家超商 500 元虛擬禮物卡及元夢金 500 點)。',
                            img: 'images/img_section4_slide3.jpg'
                        },
                        {
                            title: '<span>5</span> 天<br>免費 WiFi',
                            content: '112/12/31 前海外消費 $30,000，享該次海外行程最多 5 天免費租用行動上網分享器。',
                            img: 'images/img_section4_slide4.jpg'
                        },
                        {
                            title: '<span>0</span> 利率<br>分期 3 期',
                            content: '112/3/31 前新增一般消費單筆達 NT$1,000，致電客服享 3 期分期零利率。',
                            img: 'images/img_section4_slide5.jpg'
                        },
                        {
                            title: '<span>5</span> 天<br>機場外圍停車',
                            content: '112/12/31 前刷卡支付當次出國機票或團費且單筆達 NT$20,000 (含)以上，指定停車場最高 5 天。',
                            img: 'images/img_section4_slide6.jpg'
                        },
                        {
                            title: '<span>630</span> 元<br>機場接送',
                            content: '112/12/31 前機場接送優惠 NT$630 起/次，4 次/年。',
                            img: 'images/img_section4_slide7.jpg'
                        }
                    ],
                    swiper: {},
                    qaList: [
                        {
                            title: '活動資格相關',
                            qa: [
                                {
                                    que: '哪些信用卡可以參加這個活動？',
                                    ans: '本活動指定卡別為富貴無限卡、鑽金智富卡、元大證券聯名卡、Hello Kitty鑽金/分享聯名卡、鑽金卡、鑽金icash/一卡通聯名卡、分享黑啤卡之正、附卡，持有上述卡片仍須點選「立即參加」設定外幣回饋幣別及帳戶並進行活動資格檢核喔！'
                                },
                                {
                                    que: '我想要參加活動，但是還沒有活動指定信用卡及元大台外幣帳戶，我該如何申請呢？',
                                    ans: '您可以到活動網頁上點選「立即參加」，將會檢核您目前持卡及帳戶持有情形並引導您進行相關申辦作業喔！'
                                },
                                {
                                    que: '我已是元大客戶，要怎麼知道我是否符合活動回饋資格？',
                                    ans: '可以於活動網頁點選「立即參加」進行活動資格檢核。'
                                },
                                {
                                    que: '以前就有開立元大銀行台外幣帳戶並設定帳戶自動扣繳卡費，還要進行活動綁定嗎？',
                                    ans: '要，仍需至活動頁面選擇回饋幣別及綁定外幣回饋帳戶。'
                                },
                                {
                                    que: '任務中的台外幣帳戶是否只能是數位帳戶嗎？',
                                    ans: '可以是實體或數位帳戶，若您還沒有本行台外幣帳戶，推薦您申辦數位帳戶，方便又快速，現在申辦還有加碼好禮！'
                                }
                          ]
                        },
                        {
                            title: '外幣回饋相關',
                            qa: [
                                {
                                    que: '活動有限定國家嗎？',
                                    ans: '沒有! 本活動不限國家，海外實體商店面對面交易並達成任務即可獲得加碼外幣回饋。'
                                },
                                {
                                    que: '活動期間持元大鑽金卡刷海外網購amazon、淘寶網站交易，可以獲得外幣回饋嗎？',
                                    ans: '不行，限海外實體商店<span class="blue">面對面</span>交易，刷卡地限於國外且交易幣別非新臺幣之一般消費。'
                                },
                                {
                                    que: '回國後才到活動頁面綁定外幣帳戶，請問出國期間的海外實體商店消費，可以獲得外幣回饋嗎？',
                                    ans: '本活動於活動期間每月底進行回饋資格審查，若您於111/11/10於海外實體刷卡消費，並於11/30前完成回饋幣別設定並綁定外幣回饋帳戶，該筆海外實體刷卡消費即可獲得1％外幣回饋。避免忘記綁定或申辦時程影響參與活動之權利，建議於出國消費前完成綁定作業。'
                                },
                                {
                                    que: '出國前已至活動頁面綁定外幣帳戶，回國後才申請本行帳戶自動扣繳卡費，請問可以獲得0.8%外幣回饋？',
                                    ans: '以本行臺幣帳戶申請自動扣款信用卡帳款成功後之海外實體商店消費，即享0.8%加碼外幣回饋。'
                                },
                                {
                                    que: '承上題，本行帳戶存款不足，造成帳戶自動扣款卡費失敗，會影響0.8%帳戶回饋金嗎？',
                                    ans: '會，若帳戶因存款不足皆未扣款成功，將不回饋0.8%加碼金，僅能獲得綁定外幣帳戶1%帳戶回饋金及卡片原權益海外回饋，請您留意帳戶餘額，避免影響活動參與權益。'
                                },
                                {
                                    que: '正卡人完成任務1、2，但正卡人沒有出國消費，僅有附卡人出國進行實體消費，可以獲得外幣回饋嗎？',
                                    ans: '可以，回饋金額以正、附卡消費合併計算，但正卡人之任務1、2需於附卡人出國實體消費當月底前完成。'
                                },
                                {
                                    que: '什麼時候才可以拿到外幣回饋？',
                                    ans: '您可以於交易日次月底查看您綁定的外幣回饋帳戶。'
                                }
                            ]
                        },
                        {
                            title: '其他',
                            qa: [
                                {
                                    que: '新申辦元大台外幣數位帳戶大約需要多久時間？',
                                    ans: '約3~5天，審核完成將以email通知您，請您留意email通知，並儘量於出國前完成申辦作業，避免影響您活動資格。'
                                },
                                {
                                    que: '我只有設定信用卡自動扣款，海外實體消費也可以拿到0.8%外幣回饋嗎？',
                                    ans: '不行，本活動需同時完成外幣回饋帳戶綁定及申辦信用卡帳單自動扣款，並成功以本行帳戶自動扣款，才能符合加碼回饋1.8%的資格。'
                                }
                            ]
                        }
                    ],
                    deVal: 15000
                }
            },
            computed: {
                header() {
                    return [
                        'header',
                        { 'kv': this.kv }
                    ]
                },
                goBtn() {
                    return [
                        'go f20',
                        { 'stick': !this.kv }
                    ]
                },
                gotop() {
                    return [
                        'gotop',
                        { 'show': !this.kv }
                    ]
                },
                cash() {
                    return this.deVal * 0.022
                },
                bonus() {
                    return this.deVal * 0.028
                }
            },
            mounted() {
                window.addEventListener('scroll', this.changeHeader)
                this.$refs.rangeInput.addEventListener('change', this.changeRange)

                this.swiper = new Swiper(".swiper", {
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    slidesPerView: 1,
                    spaceBetween: 40,
                    breakpoints: {
                        577: {
                            slidesPerView: 2.5
                        }
                    }
                })
                const progress = document.querySelector('.progress')
                const defaultVal = (15000 - 10000) / 90000

                progress.style.background = `linear-gradient(to right, #bb925b 0%, #bb925b ${defaultVal*100}%, #bfccd8 ${defaultVal*100}%, #bfccd8 100%)`
                progress.addEventListener('input', function() {
                    const value = (this.value - 10000) / 90000

                    this.style.background = `linear-gradient(to right, #bb925b 0%, #bb925b ${value*100}%, #bfccd8 ${value*100}%, #bfccd8 100%)`
                })
            },
            methods: {
                changeHeader() {
                    this.kv = document.documentElement.scrollTop < 100
                    // this.kv = document.documentElement.scrollTop < this.$refs.reward.offsetTop - 80
                },
                scroll(val) {
                    window.scrollTo({
                        top: this.$refs[val].offsetTop - 80,
                        behavior: 'smooth',
                    })
                },
                toTop() {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth',
                    })
                },
                formatAmount(num) {
                    return num.toLocaleString('en-US')
                },
                changeRange() {
                    this.deVal = Number(this.$refs.rangeInput.value)
                }
            }
        })
    </script>

</body>
</html>