@charset "UTF-8";
html,
body {
  font-family: "Microsoft JhengHei", sans-serif, Arial, Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #000; }

a,
button {
  outline: 0; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

.container {
  min-height: 100%;
  overflow: hidden; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-image: url(../images/background/header.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: white;
  z-index: 100; }
  .header .yuantaplusLogo {
    width: 130px;
    height: 39px;
    background-image: url(../images/logo/yuantaplus.svg);
    background-repeat: no-repeat; }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 16px; }
      .header .yuantaplusLogo {
        width: 120px;
        height: 36px; } }
  @media only screen and (max-width: 767px) {
    .header .yuantaplusLogo {
      width: 87px;
      height: 26px; } }

.logo {
  display: inline-block;
  width: 308px; }
  .logo img {
    width: 100%; }
  @media only screen and (max-width: 1023px) {
    .logo {
      width: 280px; } }
  @media only screen and (max-width: 767px) {
    .logo {
      width: 203px; } }

/* ------------------------------- Main ------------------------------- */
.main {
  margin-top: 80px; }
  @media only screen and (max-width: 1023px) {
    .main {
      margin-top: 68px; } }
  @media only screen and (max-width: 767px) {
    .main {
      margin-top: 59.5px; } }

/* ------------------------------- Footer ------------------------------- */
.appDownload {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  z-index: 1; }
  .appDownload-QRcode img {
    width: 125px;
    margin-right: 20px; }
  .appDownload-link h5 {
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 19px;
    text-align: center; }
  .appDownload-link a {
    display: inline-block;
    padding: 0 3px;
    text-decoration: none;
    transition: .3s; }
  .appDownload-link img {
    width: 170px; }
  @media only screen and (min-width: 1024px) {
    .appDownload-link a:hover {
      transform: translateY(-10%); } }
  @media only screen and (max-width: 1023px) {
    .appDownload {
      margin-top: 60px; }
      .appDownload-QRcode {
        display: none; }
      .appDownload-link h5 {
        font-size: 13px;
        font-weight: normal; }
      .appDownload-link img {
        width: 140px; } }

.footer {
  box-sizing: border-box;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.3;
  text-align: center;
  color: #ffffff;
  background-color: #007fe0; }
  .footer-wrap span + span {
    margin-left: 10px; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 10px 20px 60px;
      font-size: 12px;
      line-height: 1.6;
      text-align: left; }
      .footer-wrap {
        margin-top: 10px; }
        .footer-wrap span {
          display: block; }
        .footer-wrap span + span {
          margin-left: 0; } }

/* ------------------------------- Floating tool ------------------------------- */
.mediaIcons {
  position: fixed;
  bottom: 50%;
  right: 20px;
  transform: translateY(50%);
  display: none;
  margin: 0;
  padding: 0;
  z-index: 20; }
  .mediaIcons li {
    margin: 20px 10px;
    list-style: none; }
    .mediaIcons li a {
      display: block;
      width: 33px;
      height: 33px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      opacity: .4; }
      .mediaIcons li a.facebook {
        background-image: url(../images/icon/social/facebook-bk.png); }
      .mediaIcons li a.line {
        background-image: url(../images/icon/social/line-bk.png); }
      .mediaIcons li a.instagram {
        background-image: url(../images/icon/social/instagram-bk.png); }
      .mediaIcons li a.youtube {
        background-image: url(../images/icon/social/youtube-bk.png); }
      .mediaIcons li a.telegram {
        background-image: url(../images/icon/social/telegram-bk.png); }
  @media only screen and (min-width: 1024px) {
    .mediaIcons li a:hover {
      opacity: 1; }
      .mediaIcons li a:hover.facebook {
        background-image: url(../images/icon/social/facebook-hover.png); }
      .mediaIcons li a:hover.line {
        background-image: url(../images/icon/social/line-hover.png); }
      .mediaIcons li a:hover.instagram {
        background-image: url(../images/icon/social/instagram-hover.png); }
      .mediaIcons li a:hover.youtube {
        background-image: url(../images/icon/social/youtube-hover.png); }
      .mediaIcons li a:hover.telegram {
        background-image: url(../images/icon/social/telegram-hover.png); } }
  @media only screen and (max-width: 1023px) {
    .mediaIcons {
      right: 0; } }
  @media only screen and (max-width: 767px) {
    .mediaIcons {
      bottom: 0;
      right: 0;
      transform: none;
      width: 100%;
      padding: 4px 0;
      text-align: center;
      background-color: rgba(0, 159, 232, 0.9); }
      .mediaIcons li {
        display: inline-block;
        vertical-align: middle;
        margin: 6px; }
        .mediaIcons li a {
          width: 28px;
          height: 28px;
          opacity: 1; }
          .mediaIcons li a.facebook {
            background-image: url(../images/icon/social/facebook-wt.svg); }
          .mediaIcons li a.line {
            background-image: url(../images/icon/social/line-wt.svg); }
          .mediaIcons li a.instagram {
            background-image: url(../images/icon/social/instagram-wt.svg); }
          .mediaIcons li a.youtube {
            background-image: url(../images/icon/social/youtube-wt.svg); }
          .mediaIcons li a.telegram {
            background-image: url(../images/icon/social/telegram-wt.svg); } }

.gotop {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  opacity: 1;
  overflow: hidden;
  z-index: 50; }
  .gotop:hover {
    opacity: .7; }
  @media only screen and (max-width: 767px) {
    .gotop {
      right: 12px; } }

@-webkit-keyframes coin {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateY(360deg); } }

@keyframes coin {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateY(360deg); } }

@-webkit-keyframes man {
  0% {
    transform: skewX(0); }
  100% {
    transform: skewX(-1.5deg); } }

@keyframes man {
  0% {
    transform: skewX(0); }
  100% {
    transform: skewX(-1.5deg); } }

@-webkit-keyframes ribbon {
  0% {
    transform: translateX(-50%) rotate(0); }
  100% {
    transform: translateX(-50%) rotate(2deg); } }

@keyframes ribbon {
  0% {
    transform: translateX(-50%) rotate(0); }
  100% {
    transform: translateX(-50%) rotate(2deg); } }

.banner {
  position: relative;
  padding-bottom: 615px;
  background-color: #fff5c9;
  overflow: hidden; }

@-webkit-keyframes shine {
  0% {
    transform: translateX(-50%) rotate(0); }
  100% {
    transform: translateX(-50%) rotate(360deg); } }

@keyframes shine {
  0% {
    transform: translateX(-50%) rotate(0); }
  100% {
    transform: translateX(-50%) rotate(360deg); } }
  .banner::before {
    content: '';
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
    width: 1500px;
    padding-bottom: 1500px;
    background: url(../images/banner/shine.png) no-repeat center/contain;
    -webkit-animation: shine 50s linear infinite;
            animation: shine 50s linear infinite; }
  .banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    padding-bottom: 615px;
    background: url(../images/banner/ribbon.png) no-repeat center/contain;
    -webkit-animation: ribbon 3s linear infinite alternate;
            animation: ribbon 3s linear infinite alternate; }
  .banner-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    height: 100%;
    font-size: 0;
    z-index: 1; }
    .banner-wrap div:not([data-aos]) {
      position: absolute; }
    .banner-wrap img {
      width: 100%; }
  .banner-title {
    top: 14.14634%;
    left: 51%;
    width: 41.73611%;
    transform: translateX(-50%); }
  .banner-coin {
    top: 47.39884%;
    left: 75.54077%;
    width: 5.99002%; }
    .banner-coin img {
      -webkit-animation: coin 2s ease-in-out infinite;
              animation: coin 2s ease-in-out infinite; }
  .banner-manL {
    bottom: -9.7561%;
    left: 1.04167%;
    width: 27.08333%; }
    .banner-manL img {
      transform-origin: bottom center;
      -webkit-animation: man 1.5s linear infinite alternate;
              animation: man 1.5s linear infinite alternate; }
  .banner-manR {
    bottom: 0;
    right: -2.22222%;
    width: 29.44444%; }
    .banner-manR img {
      transform-origin: bottom center;
      animation: man 1.5s linear infinite alternate-reverse; }
  @media only screen and (max-width: 1439px) {
    .banner {
      padding-bottom: 42.70833%; }
      .banner::before {
        width: 104.16667%;
        padding-bottom: 104.16667%; }
      .banner::after {
        width: 133.33333%;
        padding-bottom: 42.70833%; } }
  @media only screen and (max-width: 1023px) {
    .banner-title {
      top: 10.56911%;
      left: 50.5%;
      width: 44.44444%; }
    .banner-manR {
      right: -2.77778%; } }
  @media only screen and (max-width: 767px) {
    .banner {
      padding-bottom: 150.83333%; }
    @-webkit-keyframes shine {
      0% {
        transform: translate(-50%, -50%) rotate(0); }
      100% {
        transform: translate(-50%, -50%) rotate(360deg); } }
    @keyframes shine {
      0% {
        transform: translate(-50%, -50%) rotate(0); }
      100% {
        transform: translate(-50%, -50%) rotate(360deg); } }
      .banner::before {
        top: 50%;
        transform: translate(-50%, -50%);
        width: 175%;
        padding-bottom: 175%; }
      .banner::after {
        content: none; }
      .banner-title {
        top: 6.83702%;
        width: 90.625%; }
      .banner-manL {
        bottom: 14%;
        left: 9.47917%;
        width: 46.04167%; }
      .banner-manR {
        bottom: 14%;
        right: 7.70833%;
        width: 54.16667%; } }

.arrow {
  position: relative;
  height: 0;
  z-index: 1; }
  .arrow-text {
    position: absolute;
    top: -116px;
    left: 50%;
    transform: translateX(-50%);
    width: 560px;
    padding-bottom: 163px;
    text-align: center;
    background: url(../images/background/arrow.svg) no-repeat center/contain; }
    .arrow-text img {
      position: absolute;
      top: 26px;
      left: 50%;
      transform: translateX(-50%);
      width: 79.28571%; }
  @media only screen and (max-width: 1439px) {
    .arrow-text {
      top: -8.05556vw;
      width: 38.88889%;
      padding-bottom: 11.31944%; }
      .arrow-text img {
        top: 15.95092%; } }
  @media only screen and (max-width: 1023px) {
    .arrow {
      width: 120%;
      margin-left: -10%; }
      .arrow-text {
        top: -9.66667vw; } }
  @media only screen and (max-width: 767px) {
    .arrow {
      width: 100%;
      margin-left: 0; }
      .arrow-text {
        top: -22.8125vw;
        width: 100%;
        padding-bottom: 33.22917%;
        background-image: url(../images/background/arrow-mb.svg); }
        .arrow-text img {
          top: 17.55486%;
          width: 86.45833%; } }

.link {
  color: #007fe0; }

.btn {
  cursor: pointer; }

.content {
  background-color: #fff5c9; }

.anchor {
  transform: translateY(-80px); }
  @media only screen and (max-width: 1023px) {
    .anchor {
      transform: translateY(-68px); } }
  @media only screen and (max-width: 767px) {
    .anchor {
      transform: translateY(-59.5px); } }

.block {
  padding: 100px 0; }
  .block-wrap {
    position: relative;
    box-sizing: border-box;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1; }
  .block-title {
    margin-bottom: 40px;
    text-align: center; }
    .block-title img {
      max-width: 100%; }
  .block.-bu {
    padding-top: 140px;
    background-color: #23416d; }
  .block.-bu .block-title {
    margin-bottom: 120px; }
  @media only screen and (max-width: 1023px) {
    .block {
      padding: 80px 0; }
      .block-title img {
        max-width: 460px;
        width: 100%; }
      .block.-bu {
        padding-top: 90px; }
      .block.-bu .block-title {
        margin-bottom: 80px; }
        .block.-bu .block-title img {
          width: auto;
          height: 30px; } }
  @media only screen and (max-width: 767px) {
    .block {
      padding: 60px 0; } }

@-webkit-keyframes people {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-3deg); } }

@keyframes people {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-3deg); } }

.skill {
  display: flex; }
  .skill-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .skill-item + .skill-item {
      margin-left: 6.5%; }
  .skill-content {
    flex: 0 0 auto;
    position: relative; }
  .skill-item + .skill-item .skill-content {
    position: relative; }
    .skill-item + .skill-item .skill-content::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
      display: block;
      width: 23%;
      height: 100%;
      background: url(../images/other/arrow.png) no-repeat center/contain; }
  .skill-people {
    position: absolute;
    top: -16.56442%;
    left: 7%;
    width: 59.25926%; }
    .skill-people img {
      width: 100%;
      transform-origin: bottom;
      -webkit-animation: people 2s ease-in-out infinite alternate;
              animation: people 2s ease-in-out infinite alternate; }
  .skill-item:nth-child(2) .skill-people img {
    animation: people 2s ease-in-out infinite alternate-reverse; }
  .skill-icon {
    position: relative;
    padding: 0 9%;
    z-index: 1; }
    .skill-icon img {
      width: 100%; }
      .skill-icon img:nth-child(2) {
        display: none; }
  .skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: 22px;
    font-size: 0; }
    .skill-title img {
      vertical-align: top;
      max-width: 100%;
      height: calc((100% - 6px)/2); }
    .skill-title.-single img {
      height: 100%; }
  .skill-note {
    flex: 1 0 auto;
    margin-top: 20px;
    font-size: 12px;
    color: #fff; }
  .skill-noteY {
    margin-top: 20px;
    font-size: 12px;
    color: #ffc919;
    height: 36px;
  }
  .skill-btn {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-height: 49px; }
    .skill-btn button {
      display: inline-block;
      padding: 0;
      outline: none;
      border: none;
      border-radius: 25px;
      background: none;
      cursor: pointer;
      overflow: hidden; }
  @media only screen and (min-width: 1024px) {
    @-webkit-keyframes cta {
      0% {
        transform: rotate(0); }
      25% {
        transform: rotate(-5deg); }
      50% {
        transform: rotate(0); }
      75% {
        transform: rotate(5deg); }
      100% {
        transform: rotate(0); } }
    @keyframes cta {
      0% {
        transform: rotate(0); }
      25% {
        transform: rotate(-5deg); }
      50% {
        transform: rotate(0); }
      75% {
        transform: rotate(5deg); }
      100% {
        transform: rotate(0); } }
    .skill-btn button {
      transition: .3s; }
      .skill-btn button:hover {
        -webkit-animation: cta .5s linear infinite;
                animation: cta .5s linear infinite; } }
  @media only screen and (max-width: 1279px) {
    .skill-title {
      height: 48px; } }
  @media only screen and (max-width: 1023px) {
    .skill-item + .skill-item {
      margin-left: 4%; }
    .skill-item + .skill-item .skill-content::before {
      width: 13%; }
    .skill-title {
      height: 38px; }
      .skill-title img {
        max-width: 100%;
        height: calc((100% - 4px)/2); }
    .skill-btn {
      min-height: 42px; }
      .skill-btn img {
        width: 150px; } }
  @media only screen and (max-width: 767px) {
    .skill {
      display: block; }
      .skill-item {
        flex: 0 0 auto;
        display: block;
        width: 325px;
        margin: 0 auto; }
        .skill-item + .skill-item {
          margin-left: auto;
          margin-top: 160px; }
      .skill-item + .skill-item .skill-content::before {
        top: -16.66667%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 100%;
        height: 92px;
        background-image: url(../images/other/arrow-mb.png); }
      .skill-people {
        top: -16.66667%;
        left: 16%;
        width: 47.16194%; }
      .skill-icon {
        padding: 0; }
        .skill-icon img:nth-child(1) {
          display: none; }
        .skill-icon img:nth-child(2) {
          display: block; }
      .skill-title {
        display: block;
        height: 24px;
        margin-top: 28px; }
        .skill-title img {
          height: 100%; }
        .skill-title.-single {
          height: 54px; }
      .skill-note {
        margin-top: 18px; }
      .skill-noteN {
        display: none;
      }
      .skill-btn {
        margin-top: 25px;
        min-height: auto; }
        .skill-btn img {
          width: 160px; } }

@-webkit-keyframes flower {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes flower {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.gift {
  display: flex;
  justify-content: center; }
  .gift-item {
    flex: 1;
    max-width: 400px;
    text-align: center; }
    .gift-item + .gift-item {
      margin-left: 4%;
      padding-left: 4%;
      border-left: 1px solid #ffc919; }
  .gift-pic {
    position: relative;
    display: inline-block;
    max-width: 302px;
    padding-top: 10px; }
    .gift-pic img {
      width: 100%; }
  .gift-num {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 39.40397%;
    height: 47.89916%; }
    .gift-num img:nth-child(1) {
      -webkit-animation: flower 6s linear infinite;
              animation: flower 6s linear infinite; }
    .gift-num img:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .gift-num.-login {
      right: auto;
      left: 0; }
  .gift-title {
    margin-top: 33px; }
  .gift-text {
    padding: 20px 0;
    font-size: 18px;
    text-align: left; }
  @media only screen and (max-width: 1023px) {
    .gift-pic {
      margin: 0 10%; }
    .gift-title {
      margin-top: 30px; }
      .gift-title img {
        height: 20px; }
    .gift-text {
      font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .gift {
      display: block; }
      .gift-item {
        max-width: 300px;
        margin: 0 auto; }
        .gift-item + .gift-item {
          margin-left: auto;
          padding-left: 0;
          margin-top: 30px;
          padding-top: 30px;
          border-left: none;
          border-top: 1px solid #ffc919; }
      .gift-pic {
        margin: 0 15%; }
      .gift-title {
        margin-top: 15px; }
        .gift-title img {
          height: 16px; }
      .gift-text {
        padding: 15px 0 0;
        font-size: 14px; } }

.notice {
  box-sizing: border-box;
  max-width: 1120px;
  margin: 60px auto 0;
  padding: 0 30px;
  border-radius: 10px;
  border: solid 1px #ffc919;
  background-color: #fff; }
  .notice-action {
    position: relative;
    display: block;
    padding: 28px 0;
    font-size: 20px;
    font-weight: bold;
    color: #262626;
    text-decoration: none; }
    .notice-action::after {
      content: '＋';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      font-size: 1.2em;
      transition: .3s; }
  .notice-content {
    display: none;
    padding: 25px 0;
    font-size: 16px;
    border-top: 1px solid #262626; }
  .notice.is-open .notice-action::after {
    content: '－';
    transform: translateY(-50%) rotate(180deg); }
  @media only screen and (max-width: 1023px) {
    .notice {
      margin-top: 37px;
      padding: 0 20px;
      border-radius: 5px; }
      .notice-action {
        padding: 13px 0;
        font-size: 16px; }
      .notice-content {
        padding: 13px 0;
        font-size: 14px; } }

ol {
  line-height: 1.7;
  margin: 0;
  padding-left: 25px; }
  ol.chinese {
    list-style-type: none;
    padding-left: 32px; }
    ol.chinese > li {
      position: relative; }
      ol.chinese > li::before {
        content: "(" attr(data-num) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%); }
  ol.brackets {
    list-style-type: none; }
    ol.brackets > li {
      position: relative;
      counter-increment: section; }
      ol.brackets > li::before {
        content: "(" counter(section, decimal) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%);
        min-width: 20px;
        text-align: center; }
  ol.cjk {
    list-style-type: none;
    padding-left: 32px; }
    ol.cjk > li {
      position: relative; }
      ol.cjk > li::before {
        content: attr(data-num) "、";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%); }
  @media only screen and (max-width: 767px) {
    ol {
      font-size: 14px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

.-rdText {
  color: #ff5d1d; }

@media only screen and (min-width: 1024px) {
  .-mbOnly {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .-pcOnly {
    display: none !important; } }

@media only screen and (min-width: 768px) {
  .-mbDownOnly {
    display: none; } }

@media only screen and (max-width: 767px) {
  .-padUpOnly {
    display: none; } }

.-hidden {
  display: none; }
