@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Light.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Regular.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Medium.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 900;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Black.otf") format("opentype");
    font-display: swap;
}


body {
  font-family: 'Noto Sans TC', 'MS UI Gothic', Arial, Helvetica, sans-serif;
  line-height: 1.75em;
  color: #1c0d5b;
}
header button {
  position: absolute;
  color: #ef4e3e;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
}
section {
  text-align: center;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25em;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25em;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}
.txt-lg {
  font-size: 22px;
  line-height: 1.5em;
}
.txt-md {
  font-size: 18px;
  line-height: 1.5em;
}
.txt-sm {
  font-size: 14px;
  line-height: 1.5em;
}
.txt-tn {
  font-size: 12px;
}
.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.txt-underline{
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
.color-orange {
  color:#ed6b00;
}
.fw-bold {
  font-weight: 700;
}
.borderRadius-lg {
  border-radius: 40px;
}
.borderRadius-md {
  border-radius: 20px;
}
.borderRadius-sm {
  border-radius: 10px;
}
.container {
  width: 90%;
  max-width: 1200px;
  padding: 120px 0;
  margin: 0 auto;
}
.container h2 {
  margin-bottom: 50px;
}
.container h2::after {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #1c0d5b;
  display: block;
  margin: 40px auto 0;
}
.hide-pc,
.slick-slide img.hide-pc {
  display: none;
}
.btn-hover-opc {
  opacity: 1;
  transition: 0.3s;
}
section .notice {
  padding-top: 60px;
  line-height: 22px;
  letter-spacing: 0;
}
section .notice u {
  text-decoration: none;
  border-bottom: 1px solid;
}
section .notice * {
  letter-spacing: 0;
}
section.kv {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, #52a9ff, #8ac7ff);
  z-index: 99;
}
.kv::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../img/bg-check-dark.svg) center center / 40px repeat;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.kv::after {
  content: url(../img/bg-wave-wblue.svg);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.kv-deco {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 9;
}
.kv-deco > div {
  position: absolute;
}
.kv-deco .wave {
  width: 9.6%;
  top: 45%;
  left: 6%;
}
.kv-deco .dots {
  width: 9.4%;
  bottom: 4%;
  right: 10%;
}
.kv-deco .star-1 {
  width: 3.6%;
  bottom: 26.8%;
  left: 14%;
}
.kv-deco .star-2 {
  width: 1.6%;
  bottom: 35.8%;
  left: 17.6%;
}
.kv-deco .star-3 {
  width: 2.3%;
  top: 32.4%;
  right: 16%;
}
.kv-wrapper {
  display: flex;
  position: relative;
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  top: calc(50% + 36px);
  transform: translate(0, -50%);
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  z-index: 10;
}
.kvImg {
  display: flex;
  justify-content: space-around;
}
.kvImg .pic {
  width: 17vw;
  max-width: 280px;
}
.kv-wrapper img {
  width: 100%;
}
.sideBtn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  row-gap: 20px;
  position: fixed;
  right: 30px;
  top: 35%;
  z-index: 11;
}
.sideBtn {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sideBtn .btn,
.sideBtn .btn:hover,
.sideBtn .btn:active,
.sideBtn .btn:focus,
.sideBtn .btn:visited {
  color: #fff;
}
.sideBtn .btn {
  background-color: #166fdb;
  padding: 20px 15px;
  border-radius: 10px;
  writing-mode: vertical-rl;
  cursor: pointer;
}
.sideBtn .btn.main {
  background-color: #ef4e3e;
  margin-bottom: 20px;
}
.popup {
  display: inline-flex;
  flex-direction: column;
  row-gap: 35px;
  position: relative;
  background-color: #fff;
  border: 2px solid #ef4e3e;
  padding: 30px;
  margin-right: 20px;
  z-index: 11;
  max-width: 450px;
}
.popupItem p {
  color: #166fdb;
  padding-bottom: 15px;
}
.popupItem a {
  color: #ef4e3e;
}
.popupItem a:nth-child(n + 3) {
  padding-left: 5px;
}
.popupItem a:nth-child(n + 3)::before {
  content: '/';
  color: #166fdb;
  padding-right: 15px;
}
section.intro {
  color: #ffffff;
  background-color: #0d70e6;
  width: 100%;
  overflow: hidden;
}
section.intro::after {
  content: url(../img/bg-wave-blue.svg);
  width: 104%;
  transform: translateX(-2%);
  display: block;
}
.intro h2 {
  color: #ffd400;
}
.intro h2::after {
  background-color: #ffd400;
}
.fundCharts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 60px;
  padding-top: 60px;
}
.fundCharts .chart {
  flex: 1;
  padding: 40px 80px;
  background: #fff;
  border-radius: 20px;
}
.fundCharts .chart p {
  color: #1c0d5b;
  font-weight: bold;
  margin-bottom: 34px;
}
.fundCharts .chart .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 68px);
}
.fundCharts .chart img {
  width: 100%;
}
section.feature {
  background-color: #5fafff;
}
section.feature .container {
  padding: 100px 0 60px 0;
}
.fundCards {
  display: flex;
  padding-top: 120px;
  flex-direction: row;
  column-gap: 2rem;
}
.fundCards .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  justify-content: space-between;
  position: relative;
  padding: 120px 30px 30px;
}
.cardGB::before {
  content: url(../img/img-product-gb.svg);
  width: 150px;
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translate(-50%, 0);
}
.cardJP::before {
  content: url(../img/img-product-jp.svg);
  width: 150px;
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translate(-50%, 0);
}
.cardTW::before {
  content: url(../img/img-product-tw.svg);
  width: 150px;
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translate(-50%, 0);
}
.cardTxt {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 30px;
}
.cardTxt div:nth-child(1) {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.cardTxt div:nth-child(2) {
  padding-top: 30px;
}
.cardTxt ul {
  list-style-type: disc;
  padding: 10px 0 0 26px;
}
.cardBtns {
  display: flex;
  column-gap: 1rem;
}
.cardBtns a {
  flex: 1 1 0px;
  padding: 10px;
}
.cardTW div,
.cardTW p,
.cardTW li {
  color: #006eab;
}
.cardGB div,
.cardGB p,
.cardGB li {
  color: #1c7fee;
}
.cardJP div,
.cardJP p,
.cardJP li {
  color: #c51024;
}
.cardTW .cardBtns a {
  color: #006eab;
  border: 1px solid #006eab;
}
.cardGB .cardBtns a {
  color: #1c7fee;
  border: 1px solid #1c7fee;
}
.cardJP .cardBtns a {
  color: #c51024;
  border: 1px solid #c51024;
}
.cardBtns a.main {
  color: #fff;
}
.cardTW .cardBtns a.main {
  border: 0;
  background-color: #006eab;
}
.cardGB .cardBtns a.main {
  border: 0;
  background-color: #1c7fee;
}
.cardJP .cardBtns a.main {
  border: 0;
  background-color: #c51024;
}
.feature h3 {
  padding: 100px 0 60px;
}
.companyTable {
  color: #ffffff;
  margin: 0 auto;
  overflow: hidden;
}
.companyTable-row {
  display: flex;
}
.companyTable-row:nth-child(n + 3) {
  border-top: 1px solid #cccccc;
}
.companyTable-row > div:nth-child(1) {
  width: 180px;
}
.companyTable-row > div:nth-child(n + 2) {
  width: calc(33.3% - 60px);
}
.companyTable-row .th {
  padding: 6px;
  background-color: #0565d5;
}
.companyTable-row .thUS {
  background-color: #1c7fee;
}
.companyTable-row .thJP {
  background-color: #c51024;
}
.companyTable-row .thTW {
  background-color: #006eab;
}
.companyTable-row .td {
  display: flex;
  padding: 20px 30px;
  align-items: center;
}
.companyTable-row .td {
  background-color: #0159c3;
}
.companyTable-row .td:nth-child(n + 2) {
  background-color: #ffffff;
}
.companyTable-row .td:nth-child(n + 3) {
  border-left: 1px solid #cccccc;
}
.companyTable-row .tdUS {
  color: #1c7fee;
}
.companyTable-row .tdJP {
  color: #c51024;
}
.companyTable-row .tdTW {
  color: #006eab;
}
.companyTable-row .td p {
  width: 100%;
}
.companyTable-row li {
  font-weight: 700;
}
.companyTable-row li span {
  font-weight: 500;
  padding-left: 6px;
}
.companyTable-row .tag {
  width: calc(1em + 10px);
  color: #ffffff;
  line-height: 1.2em;
  margin-right: 15px;
  padding: 5px;
  border-radius: 4px;
}
.companyTable-row .tagUS {
  background-color: #1c7fee;
}
.companyTable-row .tagJP {
  background-color: #c51024;
}
.companyTable-row .tagTW {
  background-color: #006eab;
}
section.rsp {
  background: url(../img/bg-check-light.svg) center center / 40px repeat;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
}
section.rsp::after {
  content: url(../img/bg-arch-blue.svg);
  width: 104%;
  transform: translateX(-2%);
  display: block;
}
.contBox {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  padding: 80px 140px;
}
.rsp .points {
  display: flex;
  gap: 70px;
  margin-top: 80px;
}
.rsp .point {
  flex: 1;
}
.rsp .point img {
  width: 160px;
}
.rsp .point h3 {
  margin-top: 24px;
  font-size: 22px;
  color: #1c7fee;
}
.rsp .point p {
  padding: 10px 0;
}
.rsp .slick-slide {
  height: auto;
  display: flex;
  padding: 40px 60px;
  padding-right: 160px;
}
.rsp .contBox {
  position: relative;
  display: block;
  margin-top: 80px;
  padding: 0;
  border: 1px solid #5fafff;
  box-shadow: 10px 10px 0 #5fafff;
  text-align: left;
}
.rsp .contBox .contImg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}
.rsp .contBox .contImg img {
  max-width: 100%;
  max-height: 100%;
}
.rsp .contBox p {
  padding: 18px 0;
}
.rsp .contBox .notice {
  padding-top: 0;
  line-height: 28px;
}
.rsp .contBox ol {
  list-style: decimal;
  padding: 0 0 20px 18px;
}
.rsp .contBox li {
  padding-left: 2px;
}
.rsp .contBox p:last-child {
  padding: 24px 0;
}
.rsp .prev-arrow,
.rsp .next-arrow {
  position: absolute;
  width: 80px;
  height: 80px;
  background: url(../img/icon-arrow-right.svg) center center / 32px no-repeat #5fafff;
  bottom: 0;
  cursor: pointer;
  z-index: 13;
}
.rsp .prev-arrow.slick-disabled,
.rsp .next-arrow.slick-disabled {
  background: url(../img/icon-arrow-right.svg) center center / 32px no-repeat #c2e0ff;
  cursor: auto;
}
.rsp .prev-arrow {
  right: 80px;
  border-radius: 0 20px 20px 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.rsp .next-arrow {
  right: 0;
  border-radius: 0 0 30px 0;
}
section.offer {
  background-color: #ef4e3e;
}
section.offer::after {
  content: url(../img/bg-wave-yellow.svg);
  width: 100%;
  display: block;
}
.offer h2 {
  color: #ffffff;
}
.offer h2::after {
  background-color: #ffffff;
}
.offer .contBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 60px 100px;
  row-gap: 60px;
}
.contBox .date {
  width: 100%;
}
.contBox .offer-1,
.contBox .offer-2 {
  display: flex;
  width: calc(50% - 30px);
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}
.offerImg {
  width: 70%;
  max-width: 210px;
  margin: 0 auto;
}
.offerDetails {
  display: flex;
  padding-top: 60px;
  border-top: 1px solid #cccccc;
  column-gap: 60px;
}
.detailList li {
  background: url(../img/icon-offer-star.svg) top left / 30px no-repeat;
  padding-left: 40px;
  padding-bottom: 30px;
}
.detailList li:nth-last-child(1) {
  padding-bottom: 0;
}
.offerDetails .offerImg {
  max-width: 290px;
}
.offer .faq {
  color: #ffffff;
  padding-top: 40px;
}
.faqSwitch button {
  color: #ffffff;
  cursor: pointer;
}
.faqSwitch span::after {
  content: url(../img/icon-arrow-down.svg);
  display: inline-block;
  width: 20px;
  padding: 0 10px;
}
.faqSwitch span.active::after {
  transform: rotate(180deg);
}
.faqCont {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  row-gap: 30px;
}
.faqCont .item {
  display: flex;
  padding: 0 10px 30px;
  border-bottom: 1px solid #f6978e;
  column-gap: 10px;
}
.faqCont .itemNum {
  color: #ffd400;
}
.faqCont .itemNum::before {
  content: 'Q';
  font-size: 2em;
}
.faqCont .itemCont {
  flex: 1;
}
.faqCont .itemCont .question {
  display: flex;
  line-height: 2em;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  cursor: pointer;
}
.faqCont .itemCont button {
  width: 18px;
  height: 18px;
  background: url(../img/icon-qa-open.svg) center center / 18px no-repeat;
}
.faqCont .itemCont button.active {
  background: url(../img/icon-qa-close.svg) center center / 18px no-repeat;
}
.faqCont .itemCont .answer {
  padding-top: 10px;
}
.contImg {
  width: 255px;
  flex-shrink: 0;
  margin: 0 auto;
}
.contTxt {
  display: flex;
  flex-direction: column;
}
.contTxt p {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: flex-start;
  padding-bottom: 30px;
}
.contTxt p:nth-last-child(1) {
  padding-bottom: 0;
}
.contTxt p span {
  width: 6em;
  flex-shrink: 0;
  color: #fff;
  background-color: #166fdb;
  padding: 3px 0;
}
.contTxt p span.long {
  width: 8em;
}
section.warning {
  background-color: #87c6ff;
  line-height: 1.4em;
}
.warning .container {
  padding: 10px 0 80px;
}
.warning-notice {
  padding-bottom: 30px;
  border-bottom: 1px solid #75b1ea;
}
.warning-notice ul {
  list-style-type: decimal;
  padding: 10px 0 0 20px;
}
.warning-cont {
  padding-top: 30px;
}
.warning-cont p span {
  padding-right: 1em;
}
.warning-cont .info,
.warning-cont ul,
.warning-cont p.last {
  padding-top: 20px;
  letter-spacing: 0;
}
.warning-cont ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.warning-cont li span {
  color: #0043b3;
}
.offerAD {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  z-index: 99999;
}
.offerAD-cont {
  display: flex;
  position: relative;
  width: 90%;
  max-width: 600px;
  height: 95vw;
  max-height: 600px;
  background: url(../img/img-ad.jpg) top center / 100% no-repeat #ffffff;
  top: 50%;
  justify-content: flex-end;
  flex-direction: column;
  transform: translate(0, -50%);
}
.offerAD-cont button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  right: 15px;
  background: url(../img/icon-ad-close.svg) center center / 100% no-repeat;
  cursor: pointer;
}
.offerAD-cont p {
  padding: 2.2% 0;
  cursor: pointer;
}
.offerAD-cont p::after {
  content: url(../img/icon-arrow-down-dark.svg);
  display: inline-block;
  width: 20px;
  padding: 0 0 0 10px;
}
@media screen and (max-width: 1366px) and (max-aspect-ratio: 3/1.8) {
  .kv-wrapper {
    height: 65vh;
    width: 70%;
  }
  .kvImg .pic {
    width: 20vw;
  }
  .kv-deco .wave {
    left: 2%;
  }
  .kv-deco .dots {
    width: 11.4%;
    bottom: 5%;
    right: 5%;
  }
  .kv-deco .star-1 {
    bottom: 28%;
    left: 7%;
  }
  .kv-deco .star-2 {
    bottom: 34%;
    left: 11%;
  }
  .kv-deco .star-3 {
    top: 28%;
    right: 10%;
  }
  .fundCards .card {
    padding: 120px 20px 30px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-hover-opc:hover {
    opacity: 0.7;
  }
}
@media screen and (max-width: 1200px) {
  .companyTable-row > div:nth-child(1) {
    width: 144px;
  }
  .companyTable-row > div:nth-child(n + 2) {
    width: calc(33.3% - 48px);
  }
  .contBox {
    padding: 60px 100px;
  }
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  .contBox,
  .offer .contBox {
    padding: 60px 80px;
  }
  .contTxt p {
    flex-direction: column;
    row-gap: 10px;
  }
  .fundCards {
    column-gap: 20px;
  }
  .fundCharts {
    column-gap: 30px;
  }
  .fundCharts .chart {
    padding: 30px;
  }
  .rsp .slick-slide {
    padding: 40px;
    padding-bottom: 80px;
  }
  .rsp .contBox .contImg {
    max-width: 160px;
    margin: 0 30px;
  }
  .rsp .contBox p,
  .rsp .contBox p:last-child {
    padding: 10px 0;
  }
}
@media (min-aspect-ratio: 5/4) and (max-aspect-ratio: 14/8.5) {
  .kv-wrapper {
    height: 40vw;
  }
}
@media (min-aspect-ratio: 1/0.99) and (max-aspect-ratio: 5/4) {
  .kv-wrapper {
    height: 45vw;
  }
}
@media (orientation: portrait) {
  .kv::after {
    content: url(../img/bg-wave-wblue-mob.svg);
  }
  .kv-wrapper {
    width: 85%;
    height: auto;
    row-gap: 2vh;
  }
  .kvImg {
    padding: 0 40px;
    flex-direction: column;
  }
  .kvImg .pic {
    width: 50%;
    max-width: 480px;
  }
  .kvImg .pic:nth-child(2) {
    align-self: flex-end;
    margin-top: -40%;
  }
  .kvImg .pic:nth-child(3) {
    margin-top: -20%;
  }
  .kv-deco .wave {
    width: 20%;
    top: 35%;
    left: -8%;
  }
  .kv-deco .dots {
    width: 20%;
    right: 0;
    bottom: 6%;
  }
  .kv-deco .star-1 {
    width: 6%;
    bottom: auto;
    left: auto;
    top: 32%;
    right: 25%;
  }
  .kv-deco .star-2 {
    width: 3%;
    bottom: 30%;
    left: 7%;
  }
  .kv-deco .star-3 {
    width: 5%;
    top: auto;
    bottom: 20%;
  }
}
@media screen and (max-width: 960px) {
  .fundCards,
  .contBox {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .contBox {
    row-gap: 40px;
  }
  .fundCards {
    row-gap: 80px;
  }
  .companyTable-row > div:nth-child(1) {
    width: 78px;
  }
  .companyTable-row > div:nth-child(n + 2) {
    width: calc(33.3% - 26px);
  }
  .rsp .slick-slide {
    display: block;
  }
  .rsp .contBox .contImg {
    margin: 10px auto 20px;
    max-width: none;
    height: 160px;
    width: auto;
  }
  .rsp .points {
    gap: 16px;
  }
  .offer .contBox {
    padding: 40px 60px;
    column-gap: 40px;
  }
  .contBox .offer-1,
  .contBox .offer-2 {
    width: calc(50% - 20px);
    row-gap: 20px;
  }
  .offerDetails {
    column-gap: 20px;
  }
  .offerDetails .offerImg {
    width: 90%;
  }
}
@media screen and (max-width: 640px) {
  header button {
    right: 15px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  .top {
    bottom: 65px;
  }
  .txt-lg {
    font-size: 20px;
  }
  .txt-md {
    font-size: 16px;
  }
  .container {
    padding: 60px 0;
  }
  .container h2 {
    margin-bottom: 40px;
  }
  .container h2::after {
    margin: 40px auto 0;
  }
  .hide-mobile,
  .slick-slide img.hide-mobile {
    display: none;
  }
  .hide-pc,
  .slick-slide img.hide-pc {
    display: block;
  }
  .kv::before {
    background: url(../img/bg-check-dark.svg) center center / 30px repeat;
  }
  .kv-wrapper {
    top: calc(50% + 10px);
  }
  .kvImg {
    padding: 0;
  }
  .kv-deco .star-1 {
    top: 45%;
  }
  .kv-deco .star-3 {
    bottom: 15%;
  }
  section .notice {
    padding-top: 40px;
  }
  .sideBtn-wrapper {
    flex-direction: column;
    right: 0;
    top: auto;
    bottom: 0;
  }
  .sideBtn {
    width: 100vw;
    flex-direction: row;
  }
  .sideBtn .btn {
    flex: 1 1 0px;
    writing-mode: horizontal-tb;
    border-radius: 0;
    border-top: 1px solid #ffffff;
    padding: 15px 15px;
  }
  .sideBtn .btn.main {
    margin-bottom: 0;
  }
  .popup {
    row-gap: 20px;
    margin: 0 10px 0 10px;
    padding: 20px;
  }
  .popupItem p {
    padding-bottom: 5px;
  }
  .fundCharts {
    display: block;
  }
  .fundCards,
  .contBox,
  .contTxt p {
    width: 100%;
  }
  .contBox {
    row-gap: 40px;
  }
  .fundCards {
    row-gap: 100px;
  }
  .fundCharts {
    padding-top: 0;
  }
  .fundCharts .chart {
    margin: 40px 0;
  }
  .fundCharts .chart .img {
    height: auto;
  }
  .feature h3 {
    padding: 50px 0 30px;
  }
  .companyTable-row {
    flex-direction: column;
  }
  .companyTable-row:nth-child(n + 3) {
    border: 0;
  }
  .companyTable-row > div:nth-child(1),
  .companyTable-row > div:nth-child(n + 2) {
    width: 100%;
  }
  .companyTable-row .td {
    padding: 10px 20px;
  }
  .companyTable-row .td:nth-child(n + 3) {
    border: 0;
  }
  .companyTable-row .td:nth-child(2) {
    padding-top: 20px;
  }
  .companyTable-row .td:nth-child(4) {
    padding-bottom: 20px;
  }
  .rsp .points {
    display: block;
    margin-top: 40px;
  }
  .rsp .point {
    padding: 30px 0;
  }
  .rsp .point img {
    width: 60px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .rsp .point h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .rsp .contBox {
    margin-top: 60px;
  }
  .rsp .contBox .contImg {
    height: 100px;
  }
  .rsp .prev-arrow,
  .rsp .next-arrow {
    width: 50%;
    height: 40px;
    background: url(../img/icon-arrow-right.svg) center center / 20px no-repeat #5fafff;
    bottom: auto;
  }
  .rsp .prev-arrow.slick-disabled,
  .rsp .next-arrow.slick-disabled {
    background: url(../img/icon-arrow-right.svg) center center / 20px no-repeat #c2e0ff;
  }
  .rsp .prev-arrow {
    right: auto;
    left: 0;
  }
  .rsp .prev-arrow,
  .rsp .next-arrow {
    border-radius: 0 40px 0 0;
  }
  .rsp .slick-slide {
    padding: 0 20px;
    padding-top: 60px;
  }
  .contBox,
  .offer .contBox {
    padding: 40px 20px;
  }
  .offer .contBox,
  .offerDetails {
    flex-direction: column;
    row-gap: 40px;
  }
  .contBox .offer-1,
  .contBox .offer-2 {
    width: 100%;
  }
  .offerDetails {
    padding-top: 40px;
  }
  .detailList li {
    padding-bottom: 20px;
  }
  .faqCont .item {
    padding: 0 10px 20px;
  }
  .faqCont .itemCont .question {
    line-height: 1.5em;
  }
  footer {
    padding-bottom: 70px;
  }
  .offerAD-cont button {
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
  }
  .offerAD-cont p {
    padding: 3.5% 0;
  }
}

/*20250410bank*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px;
    height: 80px;
    *height: 40px;
    z-index: 100;
    background-image: url("../img/header/header_bg.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-color: white
}

.header.scrolling {
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.22);
    box-shadow: 0 0 18px rgba(0,0,0,0.22)
}

.header .yuantaLogo a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 187px;
    height: 39px;
    background-image: url("../img/header/yuantabank_logo.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    float: left;
}
.header .yuantaplusLogo {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 130px;
    height: 39px;
    background-image: url("../img/header/yuantaplus_logo.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    float: right;
}
@media screen and (max-width: 1024px) {
    .header {
        height:76px
    }

    .header .yuantaLogo a {
        width: 171px;
        height: 36px
    }

    .header .yuantaplusLogo {
        width: 120px;
        height: 36px
    }
}
@media screen and (max-width: 767px) {
    .header {
        padding: 16px;
        height: 58px
    }

    .header .yuantaLogo a {
        width: 123px;
        height: 26px
    }

    .header .yuantaplusLogo {
        width: 87px;
        height: 26px
    }
}
@media screen and (max-width: 345px) {
    .header .yuantaLogo a {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 123px;
        height: 26px;
        background-image: url("../img/header/yuantabank_logo.svg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        float: left
    }
}

.footer {
    width: 100%;
    background-color: #007fe0;
    height: 80px;
    padding: 10px 0
}
.footer a {
    color: #fff
}

.footerCont {
    color: white;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 28px;
  text-align: center;
}

.footerCont .copyright {
    width: 100%;
}

.footerCont .contWrapper {
    width: 100%;
}

.contWrapper .footer-item {
  display: inline-block;
  padding: 0 5px;
}

.contWrapper .footer-item a{
    display: inline-block;
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
   .footer {
        height: auto;
        padding-bottom: 65px;
    }

    .footerCont {
        font-size: 12px;
        line-height: 20px;
    text-align: left;
    }
  
  .contWrapper .footer-item {
    width: 100%;
    display: block;
    padding: 0;
  }

  .footerCont .copyright,.footerCont .contact {
      float: none;
      display: block;
      max-width: 100%;
      padding-bottom: 10px
  }
}

/* ------ sidebar ------ */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 100;
}
.side-item {
    width: 54px;
    height: 54px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
    .sidebar {
      right: 15px;
      bottom: 60px;
      gap: 5px }
    .side-item {
      width: 43px;
      height: 43px; } 
}
.side-item.yuantaman {
    background-image: url("../img/side/yuantaman.svg");
}
.yuantaman-box {
    position: absolute;
    bottom: calc(100% + 10px);
    right: 0;
    display: none;
    flex-direction: column;
    width: 200px;
    padding: 8px;
    font-size: 12px;
    color: #0072ff;
    line-height: 1.6;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10; }
@media only screen and (min-width: 768px) {
    .yuantaman:hover .yuantaman-box {
      display: flex; } 
}
.yuantaman-box span {
    color: #707070; }
.side-item.lineicon {
    background-image: url("../img/side/lineicon.svg");
}
.side-item.goTop {
    display: none;
    background-image: url("../img/side/goTop.svg");
    opacity: .7;
    cursor: pointer;
}
@media screen and (min-width: 1025px) {
    .goTop:hover {
        opacity:1
    }
}

/*bank*/
.warning-cont .bankinfo ol {
    list-style-type: decimal; 
    padding-left: 20px;
}
