
.lightbox-openacc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background: rgba(0,0,0,0.6);
    color: #251414;
    .lbox {
        background: rgba(255,255,255,.8);
        padding: 30px 32px;
        padding-top: 60px;
        border-radius: 15px;
        position: relative;
        margin-top: 15vh;
        height: 65vh;
        width: 1000px;
        @media screen and (max-width: 1200px) {
            width: 85%;
        }
        @media screen and (max-width: 991px) {
            padding: 20px;
            padding-top: 70px;
            height: 50vh;
        }
        @media screen and (max-width: 819px) {
            height: 70vh;
        }
        @media screen and (max-width: 576px) {
            margin-top: 10vh;
            padding-top: 40px;
            width: 88%;
        }
        .icon-lb-expand {
            font-size: 22px;
            &::after {
                content: ' ＋ ';
            }
            &.open::after {
                content: ' – '
            }
        }
        .lightbox-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            max-height: 100%;
            overflow: auto;
            padding: 0 10px;
            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-thumb {
                background: #aaa;
            }
            img {
                width: 200px;
            }
            .title {
                line-height: 20px;
                text-align: center;
                &.lb-expand {
                    cursor: pointer;
                }
            }
        }
        .openacc-options {
            display: flex;
            padding: 30px 0;
            width: 80%;
            @media screen and (max-width: 991px) {
                width: 90%;
            }
            @media screen and (max-width: 819px) {
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 10px 0;
            }
            .option-container {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media screen and (max-width: 991px) {
                    width: 100%;
                    padding: 20px 0;
                }
                .option-title {
                    padding: 10px 25px;
                    border-radius: 50px;
                    position: relative;
                    top: -10px;
                }
                &:first-child {
                    .option-title {
                        color: #fff;
                        background-color: #309ff2;
                    }
                }
                &:nth-child(2) {
                    .option-title {
                        color: #fff;
                        background-color: #003799;
                    }
                }
                .option-desc {
                    padding: 20px 0;
                    text-align: center;
                    line-height: 20px;
                    max-width: 300px;
                    .dark-desc {
                        color: #003799;
                    }
                }
            }
        }
        .lb-bank-list {
            display: none;
            &.open {
                display: block;
            }
        }
        /* .all-content {
            max-height: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-thumb {
                background: #aaa;
            }
        } */
        .content {
            padding: 20px 0;
            padding-top: 0;
            @media screen and (max-width: 576px) {
                padding: 15px 5px;
                padding-top: 0;
            }
            p.title {
                padding: 15px 0;
                margin-bottom: 10px;
                text-align: center;
                @media screen and (max-width: 576px) {
                    padding: 10px 0;
                }
            }
            .bank {
                display: flex;
                flex-wrap: wrap;
                p {
                    width: calc(100% / 3 - 18px);
                    display: inline-block;
                    padding: 10px;
                    margin: 5px;
                    vertical-align: top;
                    background: #fff;
                    border-radius: 3px;
                    text-align: left;
                    @media screen and (max-width: 991px) {
                        width: calc(100% / 2 - 14px);
                        line-height: 24px;
                    }
                    @media screen and (max-width: 576px) {
                        width: calc(100% / 2 - 10px);
                    }
                    span {
                        margin-right: 10px;
                    }
                }
                .ePay-bank-info {
                    position: relative;
                    text-decoration: underline;
                    color: #0070c0;
                    cursor: pointer;
                    margin: 0 0 0 8px;
                    &:after{
                        content: '+';
                        position: relative;
                        display: inline-block;
                        text-decoration: underline;
                    }
                    @media screen and (max-width: 991px) {
                        margin: 0;
                    }
                    &.open{
                        &:after{
                            content: '-';
                        }
                    }
                }
                &.lightbox-ePay-bank-list {
                    display: flex;
                    margin-left: 5px;
                    border-radius: 3px;
                    border: 1px solid #fff;
                    background-color: #fff;
                    width: calc(100% - 33px);
                    @media screen and (max-width: 991px) {
                        width: calc(100% - 10px);
                    }
                    p {
                        margin: 0;
                        border-radius: 0;
                        width: calc(100% / 3 - 10px);
                        @media screen and (max-width: 991px) {
                            width: calc(100% / 2 - 3px);
                            // line-height: 24px;
                        }
                    }
                }
            }
        }
        .close-openacc {
            cursor: pointer;
            position: absolute;
            top: 25px;
            right: 25px;
            width: 15px;
            @media screen and (max-width: 576px) {
                width: 15px;
                height: 15px;
                top: 18px;
                right: 18px;
            }
        }
    }
}