@charset "UTF-8";
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Light.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Regular.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Medium.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 900;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Black.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'SweiGothicCJKtc';
    font-style: normal;
    font-weight: 300;
    src: url('https://www.yuantabank.com.tw/bankwebIMG/event/fonts/SweiGothicCJKtc-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SweiGothicCJKtc';
    font-style: normal;
    font-weight: 400;
    src: url('https://www.yuantabank.com.tw/bankwebIMG/event/fonts/SweiGothicCJKtc-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SweiGothicCJKtc';
    font-style: normal;
    font-weight: 500;
    src: url('https://www.yuantabank.com.tw/bankwebIMG/event/fonts/SweiGothicCJKtc-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SweiGothicCJKtc';
    font-style: normal;
    font-weight: 700;
    src: url('https://www.yuantabank.com.tw/bankwebIMG/event/fonts/SweiGothicCJKtc-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SweiGothicCJKtc';
    font-style: normal;
    font-weight: 900;
    src: url('https://www.yuantabank.com.tw/bankwebIMG/event/fonts/SweiGothicCJKtc-Black.ttf') format('truetype');
    font-display: swap;
}
/* ------------------------------- main ------------------------------- */
* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: 'SweiGothicCJKtc','Noto Sans TC','微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color: #303030; padding-top: 80px; font-size: 12px; background: #D4E9E2;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}
.mob-only{display: none;}
.br-block{display: none;}
/* kv */
.kv_container{width: 100%; margin: 0 auto; background: url("../images/kv_bg.png") center top no-repeat; background-size: cover; overflow: hidden; position: relative;}
.kv_container::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 212px;
    background: url("../images/kv_bg_up.png") no-repeat center bottom / cover;}
.kv{width: 100%; max-width: 1600px; height: 600px; margin: 0 auto; position: relative;}
.kv .kv_tit{width: 776px; position: absolute; top: 19%; left: 8%; animation-duration: 1.5s;}
.kv .coin1{width: 85px; position: absolute; top: 22%; left: -1%; animation: coin 1s ease-in-out infinite alternate;}
.kv .coin2{width: 95px; position: absolute; top: 10%; right: -2%; animation: coin 1s ease-in-out infinite alternate-reverse;}
.kv .people{width: 32%; height: 0; padding-bottom: 36%; position: absolute; top: 6%; right: 7.5%;}
.kv .people .shine{width: 15%; position: absolute; top: 19%; left: 25%; animation: flash 5s ease-in infinite ;}
.kv .people .woman{width: 100%; position: absolute; bottom: 0; left: 0;}
/* content */
.content_container{width: 100%; margin: 0 auto; background: url("../images/deco.png") no-repeat center center; background-size: 1920px;}
.content{width: 100%; max-width: 1540px; margin: 0 auto; padding: 2% 6% 6%; display: flex; flex-direction: column; gap: 50px;}
/* info */
.info{width: 100%; margin: 0 auto;}
.info-wrap{display: flex; flex-direction: column; justify-content: center; gap: 30px; padding: 40px 100px; border-radius: 15px; background: #FFFFFF; text-align: center;}
.info-item{display: flex; flex-direction: column; gap: 10px; justify-content: center; align-items: center;}
.info-title{display: inline-block; width: 200px; font-size: 20px; font-weight: 700; line-height: 2; letter-spacing: 0.08em; color: #FFF; border-radius: 20px; background-color: #394C91;}
.info-text{font-size: 18px; line-height: 1.8;}
.info-textb{font-size: 22px; font-weight: 700; line-height: 1.8;}
ol.info-list{text-align: left; font-size: 20px;}
ol.info-list {list-style-type: none; padding-left: 2em; }
ol.info-list > li {position: relative; }
ol.info-list > li::before {
    content: "(" attr(data-num) ")";
    position: absolute;
    top: 0;
    left: -0.3125em;
    transform: translateX(-100%); }
/* form */
.form-title{display: flex; align-items: center; justify-content: center; gap: 15px;}
.form-title::before, .form-title::after {content: ''; flex: 0 0 auto; width: 30px; height: 24px; margin-top: 2px; background: url("../images/crown.svg") no-repeat center/contain;}
.form-title span{flex: 0 0 auto; padding-left: 0.08em; font-size: 40px; font-weight: 700; text-align: center; line-height: 1.4; letter-spacing: 0.08em; color: #394C91;}
.form {border-radius: 15px; overflow: hidden; border: 1px solid #DBC6B2;}
.form table{width: 100%; font-size: 18px; background: #FFF9F2;}
.form table th{font-weight: 700; color: #FFF; background: #B59161;}
.form table th,.form table td{height: 80px; vertical-align: middle; text-align: center; border: 1px solid #DBC6B2; padding: 10px;}
.form-1 .border-t,.form-2 .border-t{border-top: none;}
.form-1 .border-l,.form-2 .border-l{border-left: none;}
.form-1 .border-r,.form-2 .border-r{border-right: none;}
.form-1 .border-b,.form-2 .border-b{border-bottom: none;}
.dis-inline{display: inline-block;}
.form .table-txtm{font-size: 16px;}
.form .table-txts{font-size: 14px; font-weight: 400;}
.form .table-txtxs{font-size: 12px;}
.form .table-txtxxs{font-size: 10px;}
.form .table-txtb{font-weight: 700;}
.form .table-lb{background: #F2E3D6;}
.form .table-txtc{color: #CE6700;}
.form .table-txtdb{color: #936537;}
.form .table-txtleft{text-align: left; line-height: 1.8; margin-top: 5px;}
.form-2>table{font-size: 15px; line-height: 1.8;}
.form-notice{font-size: 16px; line-height: 1.8; color: #936537; margin-top: 10px;}
/* form2-1 */
.form2-1 .border-t,.form2-2 .border-t{border-top: none;}
.form2-1 .border-l,.form2-2 .border-l{border-left: none;}
.form2-1 .border-r,.form2-2 .border-r{border-right: none;}
.form2-1 .border-b,.form2-2 .border-b{border-bottom: none;}
/* form-2-2*/
@media screen and (max-width: 767px) {
.tab-box {display: inline-flex; border-radius: 30px; background-color: #EAEAEA; padding: 6px; margin-bottom: 15px;}
.tab-box>li>a {display: inline-block; color: #303030; font-size: 16px; font-weight: 500; line-height: 1.4; letter-spacing: 0.03em; padding: 8px 12px; border-radius: 30px; text-decoration: none;}
.tab-box>li>a.active {background-color: #CE6700; color: #FFFFFF;}
.tab-content {position: relative;}
.tab-pane {position: absolute; z-index: -1; opacity: 0;}
.tab-pane.active {position: relative; z-index: 1; animation: tab 0.5s forwards cubic-bezier(0.445, 0.05, 0.55, 0.95);}
@keyframes tab {
    0% {opacity: 0; transform: translateY(30px);}
  100% {opacity: 1; transform: translateY(0);}
}
.form>.form2-2>table{font-size: 15px; line-height: 1.8;}
.form2-2 table th,.form2-2 table td{height: auto;}
.form2-2 table td{padding: 6px;}
}
@media (max-width: 560px) {
  .tab-box {border-radius: 15px;} 
  .tab-box>li>a {width: 52px; font-size: 14px; padding: 8px; margin: 0 2px; border-radius: 15px;}
}

/* notice */
.notice_container{width: 100%; margin: 0 auto;}
.notice_list{width: 100%; padding: 30px 50px; display: flex; flex-direction: column; text-align: left; background: #FFFFFF; border-radius: 15px;}
.notice_tit{width: 100%; display: flex; align-items: flex-start; gap: 20px; cursor: pointer;}
.notice_tit::after{content: ''; display: block; width: 24px; height: 40px; background: url("../images/arrow.svg") no-repeat center / contain; transform: rotate(0deg); transition: all 0.3s;}
.notice_tit.-open{/*變化*/}
.notice_tit.-open::after{transform: rotateX(180deg);/*變化*/}
.notice_tit h4{flex: 1; font-size: 22px; font-weight: 700;}
.notice_txt{font-size: 16px; margin-top: 2%; border-top: 1px solid #303030; display: none;/*先隱藏*/}
.notice_txt span{color: #007FE0;}
.notice_txt>p{font-size: 16px; line-height: 2; margin-top: 20px;}
.notice_txt>a{color: #1E71E4;}
.notice_txt>ul{margin-top: 2%; list-style-type: cjk-ideographic; padding-left: 36px; text-align: justify;}
.notice_txt>ul>li{font-weight: 400;}
.notice_txt>ul>li>p{font-weight: 700;}
.notice_txt>ul>li>ol{list-style-type: decimal; padding-left: 20px;}
.notice_txt>ul>li>ol>li{}
.notice_txt>ul>li>ol>li>ol{padding-left: 20px;}
.notice_txt>ul>li>ol>li>ol>li{}
.notice_txt>ul>li>ol>li>ol>li>ul{list-style-type: disc; padding-left: 20px;}
.notice_txt>ul>li>ol>li>ol>li>ul>li{}
ol.brackets {
    list-style-type: none; }
    ol.brackets > li {
      position: relative;
      counter-increment: section; }
      ol.brackets > li::before {
        content: "(" counter(section, decimal) ")";
        position: absolute;
        top: 0;
        left: -0.3125em;
        transform: translateX(-100%);
        min-width: 1.25em;
        text-align: center; }

@media screen and (max-width: 1600px) {
    /* kv */
    .kv_container::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 0;
      padding-bottom: 11.04%;
      background: url("../images/kv_bg_up.png") no-repeat center bottom / 100% auto;}
    .kv{width: 100%; max-width: 1600px; height: 0; padding-bottom: 37.5%;}
    .kv .kv_tit{width: 48.5%;}
    .kv .coin1{width: 5.5%;}
    .kv .coin2{width: 6%;}
}
@media screen and (max-width: 1440px) {
    .info-wrap{padding: 4% 6%;}
}
@media only screen and (max-width: 1240px) {
    .content{padding: 2% 4% 6%; gap: 30px;}
    /* info */
    .info-wrap{padding: 4% 4%;}
    .info-title{width: 160px; font-size: 18px;}
    .info-text{font-size: 18px;}
    .info-textb{font-size: 20px;}
    /* form */
    .form-title span{font-size: 32px;}
    .form table{font-size: 16px;}
    .form .table-txtm{font-size: 14px;}
    .form table .table-exchange{width: 146px;}
}
@media screen and (max-width: 1024px) {
    .main{padding-top: 76px;}
    /* content */
    .content_container{background: none;}
    /* info */
    .info-item{min-width: 190px;}
    .info-title{font-size: 16px;}
    .info-text{font-size: 16px;}
    ol.info-list{font-size: 16px;}
    /* form */
    .form .table-txts{font-size: 12px;}
}
@media screen and (max-width: 767px) {
    .main{padding-top: 58px;}
    .web-only{display: none;}
    .mob-only{display: block;}
    /* content */
    .content{padding: 2% 0 0; display: flex; flex-direction: column; gap: 50px;}
    .info1 > .info-wrap{width: 90%; margin: 0 auto; padding: 8% 6%;}
    .info2 > .info-wrap{border-radius: 0px; padding: 10% 7%;}
    /* kv */
    .kv_container{width: 100%; background: none;}
    .kv_container::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 0;
      padding-bottom: 29.658%;
      background: url("../images/kv_bg_up_m.png") no-repeat center bottom / 100% auto;}
    .kv{width: 100%; max-width: 767px; height: 0; padding-bottom: 138.46153846%; background: url("../images/kv_bg_m.png") center top no-repeat; background-size: 100% auto; position: relative;}
    .kv .kv_tit{position: static; width: 90%; margin: 0 auto; padding-top: 13%;}
    .kv .coin1{width: 11%; top: 65%; left: 4%;}
    .kv .coin2{width: 12%; top: 59%; right: -2%;}
    .kv .people{width: 68%; height: 0; padding-bottom: 76.5%; position: absolute; top: 33%; right: 15%;}
    /* info */
    .info-wrap{flex-direction: column;}
    .info-line{display: none;}
    .info-item{min-width: 220px;}
    .info-title{width: 160px; font-size: 18px;}
    .info-note{font-size: 16px;}
    /* form */
    .form-notice{font-size: 14px;}
    /* notice */
    .notice_container{margin: 0 auto 6%;}
    .notice_list{padding: 20px;}
    .notice_tit h4{font-size: 20px; line-height: 30px;}
    .notice_tit::after{width: 18px; height: 30px;}
    .notice_txt{font-size: 15px; margin-top: 3%;}
}
@media screen and (max-width:480px) {
    .br-block{display: block;}
    /* info */
    .form-title{gap: 8px;}
    .form-title span{font-size: 28px;}
    .info-textb{font-size: 18px;}
}


@keyframes coin {
    0% {transform: translateY(-8%); }
  100% {transform: translateY(8%); } 
}
@-webkit-keyframes coin {
    0% {transform: translateY(-8%); }
  100% {transform: translateY(8%); } 
}


@keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0;}
}
@-webkit-keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0;}
}