@charset "UTF-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.clearboth {
    clear: both
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px;
    height: 80px;
    *height: 40px;
    z-index: 100;
    background-image: url("../images/header/header_bg.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-color: white
}
.header .yuantaLogo a {
    display: inline-block;
    *display: inline;
    zoom:1;width: 308px;
    height: 39px;
    background-image: url("../images/header/yuanta_logo.svg");
    background-size: 100% auto;
    background-repeat: no-repeat
}

.footer {
    width: 100%;
    background-color: #007fe0;
    height: 80px;
    padding: 10px 0
}

.footerCont {
    color: white;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 28px;
	text-align: center;
}

.footerCont .copyright {
    width: 100%;
}

.footerCont .contWrapper {
    width: 100%;
}

.contWrapper .footer-item {
	display: inline-block;
	padding: 0 5px;
}
@media screen and (max-width: 1200px) {
	.footer {
        padding-bottom: 70px;
        height: auto
    }
}
@media screen and (max-width: 1024px) {
    .header {
        height:76px
    }

    .header .yuantaLogo a {
        width: 281px;
        height: 36px
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 16px;
        height: 58px
    }

    .header .yuantaLogo a {
        width: 203px;
        height: 26px
    }

    .footer {
        padding-bottom: 70px;
        height: auto
    }

    .footerCont {
        font-size: 12px;
        line-height: 20px;
		text-align: left;
    }
	
	.contWrapper .footer-item {
		width: 100%;
		display: block;
		padding: 0;
	}

    .footerCont .copyright,.footerCont .contact {
        float: none;
        display: block;
        max-width: 100%;
        padding-bottom: 10px
    }

}
