* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: '微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
a,a:hover,a:active,a:visited {display: inline-block; color: #005bac; text-decoration: none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color:#333333; padding-top: 80px; font-size: 12px; background: #f8eee2 url("../images/bg_c.png") center top repeat;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}

.mobOnly{display: none;}
/* kv */
.kv_container{width: 100%; margin: 0 auto; position: relative;}
.kv{width: 100%; max-width: 1400px; height: 700px; margin: 0 auto; position: relative;}
.kv .title{width: 34%; margin: 0 auto; padding-top: 3.5%;}
.kv .hand{width: 100%; height: 0; padding-bottom: 50%; overflow: hidden; position: absolute; top: 0; left: 0;}
.kv .money{width: 71.5%; position: absolute; top: 22%; left: 18%;}
.kv .hand1{width: 19%; position: absolute; top: 29%; left: 5%;}
.kv .hand2{width: 18%; position: absolute; top: 50%; left: 19.2%;}
.kv .hand3{width: 15.5%; position: absolute; top: 40%; left: 37%;}
.kv .hand4{width: 17.5%; position: absolute; top: 47%; left: 51%;}
.kv .hand5{width: 12%; position: absolute; top: 40%; left: 68%;}
.kv .hand6{width: 17%; position: absolute; top: 34.5%; left: 81%;}
.wave{width: 100%; position: absolute; bottom: 0; left: 0;}
.cloud1{width: 37%; position: absolute; top: 33%; left: -35%;}
.cloud2{width: 37%; position: absolute; top: 10%; right: -30%;}
/* event */
.event_container{width: 100%; margin: 0 auto; background: #496789 url("../images/bg_b.png") center top repeat;}
.event_container::after{content: ''; display: block; width: 100%; height: 0; padding-bottom: 4.1666666%; background: url("../images/wave_c.png") center bottom no-repeat; background-size: 100% auto;}
.event{width: 90%; max-width: 1400px; margin: 0 auto; padding: 2%; text-align: center; line-height: 1.8; color: #ffffff;}
.event .tit1,.event .tit2{width: 140px; margin: 0 auto; margin-bottom: 2%;}
.event .date{font-size: 20px;font-weight: bold; color: #fdd06d; margin-bottom: 3%;}
.event p{font-size: 20px; margin-bottom: 3%;}
.event .discount{width: 1000px; height: 550px; margin: 0 auto; position: relative;}
.event .dis_txt{font-size: 22px; color: #333333; width: 692px; height: 425px; background: url("../images/white.png") center top no-repeat; background-size: 100% auto; padding: 10%; text-align: left; position: absolute; top: 0; left: 0;}
.event .dis_txtb{font-size: 36px; font-weight: bold; color: #fd8065;}
.event .txt_blue{font-weight: bold; color: #3d84d9;}
.event .quota{display: inline-block; font-size: 16px; line-height: 1.5; color: #ffffff; background: #4d6b8d; border-radius: 25px; padding: 1% 3%;}
.event .fifity{width: 62%; position: absolute; top: 5%; left: 32%;}
/* howToUse */
.howToUse_container{width: 100%; margin: 0 auto;}
.howToUse_container::after{content: ''; display: block; width: 100%; height: 0; padding-bottom: 4.1666666%; background: url("../images/wave_b.png") center bottom no-repeat; background-size: 100% auto;}
.howToUse {max-width: 1060px; margin: auto; padding: 3%; position: relative;}
.howToUse-content {margin-bottom: 5%;}
.tit_section{width: 512px; margin: 5% auto;}
.tit_section img{width: 100%;}
.girl{width: 42%; position: absolute; bottom: -10%; left: -27%;}
.boy{width: 44%; position: absolute; bottom: -10%; right: -15%;}
/* action */
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;padding:0 0 10%;}
.action-item{-webkit-flex:0 1 270px;flex:0 1 270px;max-width:270px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:25px;}
.btn{position:relative;display:block;border-radius:45px;cursor:pointer;}
.btn::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;display:block;border-radius:45px;-webkit-transform:translateY(6px);transform:translateY(6px);}
.btn img{position:relative;width:100%;z-index:1;transition:.2s;}
.btn.orange::after{background-color:#c4492e;}
.btn.blue::after{background-color:#005bab;}
.btn:hover img{-webkit-transform:translateY(6px);transform:translateY(6px);}
/*notice標題收合*/
.notice_container{width: 100%; margin: 0 auto; background: #496789 url("../images/bg_b.png") center top repeat;}
.notice{width: 100%; max-width: 1400px; margin: 0 auto; font-size: 16px; line-height: 2; padding: 3% 5%; color: #ffffff;}
.notice_tit{text-align: center; cursor: pointer;}
.notice_tit .arrow_tit{display: inline-block; width: 220px; padding: 1% 0;}
.notice_tit .arrow{display: inline-block; width: 30px; transform: rotate(0deg); transition: all 0.6s;}
.notice_tit .arrow.active{transform: rotate(-180deg);/*動作*/}
.notice_all{padding: 5% 2% 2%; display: none;/*先隱藏*/}
.notice_all a{color: #ffdf00; font-weight: bold; text-decoration: underline;}
.notice_all ul{margin: 0; padding-left: 18px; list-style-type: cjk-ideographic;}
.notice_all ul>li{}
.notice_all ul>li>ol{list-style-type: decimal; padding-left: 18px;}
.notice_all ul>li>ol>li>ul{list-style-type: disc; padding-left:22px;}
.notice_all ul>li>ol>li>ul>li{}
.notice_all ul>li>ol>li>ol{list-style-type: none; padding-left: 18px;}
.notice_all ul>li>ol>li>ol>li{position: relative; counter-increment:section;}
.notice_all ul>li>ol>li>ol>li::before{content:"(" counter(section,decimal) ")";position:absolute;top:0;left:-5px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
.notice_all ul>li>ol>li>ol>li>ul{list-style-type: circle;}
@media screen and (max-width: 1400px) {
  .kv{width: 100%; height: 0; padding-bottom: 50%;}
  /* howToUse */
  .howToUse {padding: 2% 5%;}
}
@media screen and (max-width: 1024px) {
  .main {padding-top: 76px;}
  /* event */
  .event .discount{width: 100%; height: 0; padding-bottom: 56%;}
  .event .dis_txt{width: 80%; height: 0; padding-bottom: 40%;}
  .event .fifity{width: 62%; top: 12%; left: 40%;}
  /* notice */
  .noti1ce{padding: 12% 6% 8%;}
}
@media screen and (max-width: 820px) {
  .webOnly {display: none;}
  .mobOnly {display: block;}
  .kv {width: 100%; height: 0; padding-bottom: 128.4375%;}
  .kv .title{width: 83%; padding-top: 10.5%;}
  .kv .hand{padding-bottom: 128%;}
  .kv .money{width: 73%; top: 37%; left: 10%;}
  .kv .hand1,.kv .hand4,.kv .hand5,.kv .hand6{display: none;}
  .kv .hand2{width: 33%; top: 58%; left: 3.5%;}
  .kv .hand3{width: 29.5%; top: 50%; left: 37%;}
  .kv .hand4-m{width: 35%; position: absolute; top: 51%; left: 63%;}
  .cloud1{width: 58%; top: 50%; left: -47%;}
  .cloud2{width: 63%; top: 32%; right: -50%;}
  /* event */
  .event .tit1,.event .tit2{margin-bottom: 5%;}
  .event .date{margin-bottom: 5%;}
  /* howToUse */
  .tit_section {width: 60%; max-width: 570px; margin: 10% auto;}
  /* action */
  .action{padding: 0 0 60%;}
  .girl{width: 41%; bottom: -3%; left: -12%;}
  .boy{width: 48%; bottom: -3%; right: 6%;}
}
@media screen and (max-width: 767px) {
  .main {padding-top: 58px;}
  /* event */
  .event .tit1,.event .tit2{margin-bottom: 8%; margin-top: 8%;}
  .event .date{margin-bottom: 5%;}
  .event p{margin-bottom: 35%;}
  .event .discount{width: 100%; height: 0; padding-bottom: 60%;}
  .event .dis_txt{width: 150%; padding-bottom: 78%; top: 20%; left: -25%; text-align: center; padding-top: 30%;}
  .event .fifity{width: 80%; top: -50%; left: 10%;}
  /* howToUse */
  .howToUse {padding: 30% 5%;}
  /* action */
  .action {display: block; padding: 0 0 20%;}
  .action-item {max-width: 300px; margin: auto;}
  .action-item + .action-item {margin-top: 30px; margin-left: auto;}
  /* notice */
  .notice{padding: 15% 5% 5%;}
  .notice_tit .arrow_tit{padding: 1% 0;}
  .notice_all ul{font-size: 14px; padding-left: 28px}
}
@media screen and (max-width: 480px) {
  /* event */
  .event .tit1,.event .tit2{margin-bottom: 12%; margin-top: 12%;}
  .event p{font-size: 18px; text-align: justify;}
  .event .dis_txt{top: 20%; text-align: center; padding-top: 27%; font-size: 4vw;}
  .event .dis_txtb{font-size: 6vw;}
  .event .quota{font-size: 3vw; margin-top: 2%;}
  /* action */
  .action-item{max-width:220px; margin:auto;}
  .action-item+.action-item{margin-top:30px; margin-left:auto;}
  .btn::after{-webkit-transform:translateY(4px); transform:translateY(4px);}
  .btn:hover img{-webkit-transform:none; transform:none;}
  /* notice */
  .notice_tit .arrow_tit{width: 180px;}
  .notice_tit .arrow{width: 24px;}
}

/* animation */


/* 沿用的css-------------- */
/* 手機門號轉帳css */
/* 手機門號轉帳noticeBox */
.noticeBox {box-sizing: border-box; width: 88%; margin: auto; margin-top: 44px; padding: 20px 52px; border-radius: 10px; border: 1px solid #df3333; background-color: #fff;}
.noticeBox-title {text-align: center; margin-bottom: 20px;}
.noticeBox-item {color: #df3333;}
.noticeBox .checkList > li + li {margin-top: 10px;}
@media only screen and (max-width: 767px) {
  .noticeBox {width: 100%; margin-top: 24px; padding: 16px;}
  .noticeBox-title {margin-bottom: 12px;}
  .noticeBox .checkList > li + li {margin-top: 4px;}
}
/* 手機門號轉帳step */
.step {max-width: 750px; margin: auto; margin-top: 30px; padding: 40px 20px;}
.step-title {margin-bottom: 26px; font-size: 28px; font-weight: bold; text-align: center;}
.step-pic {position: relative; margin-bottom: 32px; padding-top: 20px; text-align: center;}
.step-pic img + img {margin-left: 50px;}
.step-note {position: absolute; top: -26px; left: 50%; -webkit-transform: translateX(19px); transform: translateX(19px); width: 240px; text-align: center; line-height: 1.2; color: #fd8065;}
.step-text {font-size: 18px; color: #333333; text-align: center;}
.step-text .note {margin-top: 18px; font-size: 14px; line-height: 2;}
.step-text ul {text-align: left; padding-left: 32px;}
.step-text ul li {position: relative; counter-increment: section;}
.step-text ul li::before {
  content: "(" counter(section, cjk-ideographic) ")";
  position: absolute;
  top: 0;
  left: -5px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.owl-carousel .owl-item .step-pic img {display: inline-block;width: auto;}
@media only screen and (max-width: 767px) {
  .step {margin-top: 0;padding: 33px 0;}
  .step-title {font-size: 22px;margin-bottom: 16px;}
  .step-text {font-size: 16px;}
  .step-text .note {margin-top: 10px;font-size: 12px;}
  .step-note {top: -15px;font-size: 13px;width: 155px;-webkit-transform: translateX(2px);transform: translateX(2px);}
  .owl-carousel .owl-item .step-pic img {display: inline-block;width: 155px;}
  .owl-carousel .owl-item .step-pic img + img {margin-left: 4px;}
}
@media only screen and (max-width: 550px) {
  .step-text .note {text-align: left;}
  .step-text .desktopOnly {display: none;}
}
.owl-nav {position: absolute;top: 50%;left: 0;-webkit-transform: translateY(-50%);transform: translateY(-50%);width: 100%;
}
@media only screen and (max-width: 767px) {
  .owl-nav { top: 28px; -webkit-transform: none; transform: none;}
}
.owl-prev {position: absolute; top: 0; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: 0.3s;}
.owl-prev.disabled { opacity: 0; pointer-events: none;}
@media only screen and (max-width: 767px) {
  .owl-prev {left: 0; -webkit-transform: none; transform: none;}
  .owl-prev img {width: 40px;}
}
.owl-next {position: absolute; top: 0; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: 0.3s;}
.owl-next.disabled { opacity: 0; pointer-events: none;}
@media only screen and (max-width: 767px) {
  .owl-next {right: 0; -webkit-transform: none; transform: none;}
  .owl-next img { width: 40px;}
}
.owl-dots { position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.owl-dot + .owl-dot {margin-left: 12px;}
.owl-dot span {display: block; width: 20px; height: 20px; border-radius: 50%; border: 1px solid #fd8065; background-color: #fff;}
.owl-dot.active span {background-color: #fd8065;}
@media only screen and (max-width: 767px) {
  .owl-dot + .owl-dot {margin-left: 8px;}
  .owl-dot span {width: 12px; height: 12px;}
}

.arrowBtn.next {-webkit-transform: rotate(180deg); transform: rotate(180deg);}
.tab-nav {display: -webkit-flex; display: flex;}
.tab-action {
  display: block;
  -webkit-flex: 1;
  flex: 1;
  padding: 9px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #fd8065;
  text-decoration: none;
  border: 2px solid #fd8065;
  border-radius: 25px;
  background-color: #fff;
}
.tab-action:hover {color: #fd8065;}
.tab-action.active {color: #fff;background-color: #fd8065;}
.tab-content {display: none;}
.tab-content.active {display: block;}
@media only screen and (max-width: 767px) {
  .tab-action {font-size: 20px;}
}

.warning {position: relative; display: inline-block; padding-left: 33px; font-size: 22px; font-weight: bold; color: #df3333;}
.warning::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  margin: 7.5px 0;
  background-image: url(../images/icon/warning.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media only screen and (max-width: 767px) {
  .warning {font-size: 18px; padding-left: 27px;}
  .warning::before {width: 16px; height: 16px; margin: 5.5px 0;}
}
.note {font-size: 16px;color: #666666;}
.note a {color: #214dda;}
.note a:hover {color: #214dda;}
@media only screen and (max-width: 767px) {
  .note {font-size: 14px;}
}
.checkList {margin: 0;padding: 0;}
.checkList > li {position: relative; padding-left: 33px; font-size: 18px; list-style: none;}
.checkList > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  margin: 7.5px 0;
  background-image: url(../images/icon/check-bk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.checkList > li .note {margin-top: 16px;}
@media only screen and (max-width: 767px) {
  .checkList > li {font-size: 16px; padding-left: 27px;}
  .checkList > li::before {width: 16px; height: 16px; margin: 5.5px 0;}
  .checkList > li .note {margin-top: 12px;}
}
/* 手機門號轉帳css end */