.topBanner {
  background-image: url("../images/section-0/cardless_topbanner.jpg"); }

.featureWrapper {
  width: 100%;
  padding-top: 40px; }
  .featureWrapper .featureCont {
    width: 32.6%;
    *width: 28%;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    padding: 0 20px;
    text-align: center; }
    .featureWrapper .featureCont h3 {
      padding-top: 10px;
      color: #005bac;
      font-weight: 500; }
      @media screen and (min-width: 1025px) {
        .featureWrapper .featureCont h3 {
          font-size: 28px; } }
      @media screen and (max-width: 1024px) and (min-width: 768px) {
        .featureWrapper .featureCont h3 {
          font-size: 22px; } }
      @media screen and (max-width: 767px) {
        .featureWrapper .featureCont h3 {
          font-size: 20px; } }
    .featureWrapper .featureCont span {
      padding-top: 10px;
      display: block;
      color: #ea6000; }
    .featureWrapper .featureCont img {
      max-width: 121px; }

.stepSection {
  width: 100%;
  padding: 40px 0; }
  .stepSection#step1 {
    padding-top: 0; }

.stepTitle {
  width: 100%;
  display: block;
  text-align: center; }
  .stepTitle_circle {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    color: white;
    font-size: 36px;
    background-color: #ea6000;
    border-radius: 50%;
    position: relative; }
    .stepTitle_circle span {
      display: block;
      font-size: 14px;
      letter-spacing: 2px; }
    .stepTitle_circle:after {
      content: '';
      width: 15px;
      height: 18px;
      background-image: url("../images/section-1/stepsTitle.png");
      background-repeat: no-repeat;
      position: absolute;
      right: -11px; }
  .stepTitle_txt {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    color: #ea6000;
    letter-spacing: 3px;
    padding-left: 20px; }
    @media screen and (min-width: 1025px) {
      .stepTitle_txt {
        font-size: 30px; } }
    @media screen and (max-width: 1024px) and (min-width: 768px) {
      .stepTitle_txt {
        font-size: 26px; } }
    @media screen and (max-width: 767px) {
      .stepTitle_txt {
        font-size: 22px; } }

.stepCont {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
  border-radius: 40px;
  padding: 40px;
  margin: 40px 0; }
  .stepCont .contWrapper {
    width: 100%;
    display: block;
    font-size: 0; }
    .stepCont .contWrapper.tabCont {
      display: none; }
      .stepCont .contWrapper.tabCont.active {
        display: block; }
    .stepCont .contWrapper .contImg {
      width: 55%;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top;
      text-align: center; }
    .stepCont .contWrapper .contTxt {
      width: 45%;
      *width: 41%;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top;
      padding-top: 40px;
      padding-left: 40px; }
      @media screen and (min-width: 1025px) {
        .stepCont .contWrapper .contTxt {
          font-size: 18px; } }
      @media screen and (max-width: 1024px) and (min-width: 768px) {
        .stepCont .contWrapper .contTxt {
          font-size: 16px; } }
      @media screen and (max-width: 767px) {
        .stepCont .contWrapper .contTxt {
          font-size: 14px; } }
      .stepCont .contWrapper .contTxt .roundBtn {
        padding-top: 40px; }

#cont__1 .contImg img,
#cont__3 .contImg img {
  max-width: 480px; }

#cont__2 .contImg,
#cont__2 .contTxt {
  width: 100%;
  display: block;
  text-align: center; }

#cont__2 .contImg {
  padding: 40px 0; }
  #cont__2 .contImg img {
    max-width: 532px; }

.tabs span::before {
  content: '';
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  padding-right: 8px;
  width: 30px;
  height: 36px; }

#tab__1 span::before {
  content: url("../images/section-1/tabsIcon_step1_tab1.svg"); }

#tab__1.active span::before {
  content: url("../images/section-1/tabsIcon_step1_tab1_on.svg"); }

@media screen and (min-width: 1025px) {
  #tab__1 span:hover::before {
    content: url("../images/section-1/tabsIcon_step1_tab1_on.svg"); } }

#tab__2 span::before {
  content: url("../images/section-1/tabsIcon_step1_tab2.svg"); }

#tab__2.active span::before {
  content: url("../images/section-1/tabsIcon_step1_tab2_on.svg"); }

@media screen and (min-width: 1025px) {
  #tab__2 span:hover::before {
    content: url("../images/section-1/tabsIcon_step1_tab2_on.svg"); } }

#tab__3 span::before {
  content: url("../images/section-1/tabsIcon_step1_tab3.svg"); }

#tab__3.active span::before {
  content: url("../images/section-1/tabsIcon_step1_tab3_on.svg"); }

@media screen and (min-width: 1025px) {
  #tab__3 span:hover::before {
    content: url("../images/section-1/tabsIcon_step1_tab3_on.svg"); } }

.nextArrow {
  width: 100%;
  text-align: center; }
  .nextArrow img {
    max-width: 319px; }

#step2 .contImg img{
  max-width: 260px; }
#step3 .contImg img {
  max-width: 400px;}

/* #step3 .stepCont {
  padding-bottom: 0; }

#step3 .contImg,
#step3 .contTxt {
  width: 100%;
  display: block;
  text-align: center; }

#step3 .contTxt {
  padding: 20px 0 60px; }

#step3 .contImg {
  padding-bottom: 0; }
  #step3 .contImg img {
    max-width: 492px; } */

@media screen and (max-width: 1024px) {
  .featureWrapper {
    padding-top: 20px; }
    .featureWrapper .featureCont img {
      max-width: 100px; }
  .stepTitle_circle {
    width: 66px;
    height: 66px; } }

@media screen and (max-width: 767px) {
  .topBanner {
    background-image: url("../images/section-0/cardless_topbanner_m.jpg"); }
  .featureWrapper {
    padding-top: 10px; }
    .featureWrapper .featureCont {
      width: 100%;
      display: block;
      padding: 0 0 10px 0; }
      .featureWrapper .featureCont img {
        max-width: 70px;
        padding-top: 4px; }
      .featureWrapper .featureCont span {
        padding-top: 4px; }
    .featureWrapper .featureIcon {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      width: 40%; }
    .featureWrapper .featureTxt {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      width: 58%;
      text-align: left; }
  .stepSection {
    padding: 30px 0 10px; }
  .stepTitle_circle {
    width: 54px;
    height: 54px;
    font-size: 24px; }
    .stepTitle_circle::after {
      width: 10px;
      background-size: 100%;
      right: -8px; }
    .stepTitle_circle span {
      font-size: 10px;
      line-height: 14px;
      padding-top: 8px; }
  .stepTitle_txt {
    max-width: 78%;
    padding-left: 16px; }
  .stepCont {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 20px 20px 40px;
    margin: 20px 0 0;
    border-radius: 10px; }
    .stepCont .contWrapper .contImg,
    .stepCont .contWrapper .contTxt {
      display: block;
      width: 100%; }
    .stepCont .contWrapper .contTxt {
      padding-left: 0; }
      .stepCont .contWrapper .contTxt .roundBtn {
        padding-top: 20px; }
  #step2 .stepCont,
  #step3 .stepCont  {
    padding: 20px 20px 0px; }
/*   #step3.stepSection {
    padding: 30px 0 60px; }
  #step3 .contTxt {
    padding: 0 0 30px; } */
  .tabs span::before {
    display: block;
    margin: 0 auto;
    padding-right: 0; }
  .nextArrow {
    width: 70%;
    margin: 20px auto; } }
