@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Regular.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Medium.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf") format("opentype");
  font-display: swap; }

/* ------------------------------- main ------------------------------- */
* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: 'Noto Sans TC','微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color: #303035; padding-top: 80px; font-size: 12px; background: #F2C7DF;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}
/* kv */
.kv_container{width: 100%; margin: 0 auto; background: #F2C7DF url("../images/kv_bg.png") center top no-repeat; background-size: cover; position: relative;}
.kv{width: 100%; max-width: 1600px; height: 700px; margin: 0 auto; position: relative;}
.kv .kv_tit{width: 650px; position: absolute; top: 24%; left: 14%; animation-duration: 1.5s;}
.kv .woman{width: 33.75%; position: absolute; top: 9.3%; right: 5%; transform-origin: center bottom; animation: woman 1s linear infinite alternate-reverse;}
/* logo */
.event_logo{width: 440px; margin: 0 auto;}
/* content */
.content_container{width: 100%; margin: 2% auto 8%; color: #303035; background: url("../images/deco1.png") center top no-repeat; background-size: 1920px;}
.content{width: 100%; max-width: 1300px; margin: 0 auto; position: relative;}
.event_logo{width: 440px; margin: 0 auto 6%;}
.deco3{width: 147px; height: 142px; position: absolute; top: 50%; right: -7%;}
.deco4{width: 108px; height: 101px; position: absolute; top: 40%; left: -5%;}
/* event */
.event{width: 100%; margin: 0 auto; padding: 4% 6%; background: #ffffff; border-radius: 30px; box-shadow: 10px 10px rgba(0, 0, 0, 0.15); text-align: center; line-height: 1.8; display: flex; flex-direction: column; gap: 60px;}
.event_part{display: flex; flex-direction: column; gap: 20px; padding: 0 0 4%; border-bottom: 2px solid #CACACA;}
.event_part:nth-last-child(1){border-bottom: none;}
.event_tit{display: flex; font-size: 40px; justify-content: center; align-items: center; font-weight: 700; text-align: center; color: #303035;}
.event_tit_date::before{flex: 0 0 auto; margin-right: 10px; content: ''; width: 40px; height: 40px; background: url("../images/calendar.png") no-repeat center / contain;}
.event_tit_cont::before{flex: 0 0 auto; margin-right: 10px; content: ''; width: 40px; height: 40px; background: url("../images/light.png") no-repeat center / contain;}
.event_date{font-size: 24px;}
.event_txt{font-size: 24px;}
.event_txts{font-size: 18px; margin-top: 20px; line-height: 1.6; color: #666666;}
.tt-bold{font-weight: bold;}
.tt-big{font-size: 32px;}
.blue{color: #0c61bf;}
.red{color: #e60012;}
.mobOnly{display: none;}
.event_pic{width: 800px; margin: 4% auto;}
/* discount */
.discount{width: 100%; height: 100%; margin: 4% auto; display: flex; justify-content: center;}
.discount-item{width: 45%; height: auto; margin: 0 3%; padding-bottom: 2%; background: #ffffff; border: 2px solid #303035; border-radius: 30px; text-align: center;}
.dis_tit{display: inline-block; width: 230px; background: #EF743E; border-radius: 50px; border: 2px solid #303035; font-size: 36px; font-weight: bold; line-height: 2; color: #ffffff; margin-top: -36px;}
.dis_tit2{background: #1361B9;}
.dis_cont{width: 84%; height: 100%; margin: 0 auto;}
.dis_cont .dis_txt{font-size: 24px; font-weight: 700; line-height: 1.6; padding: 10% 0 5%; border-bottom: 2px solid #CACACA;}
.dis_cont .dis_txts{font-size: 18px;}
.dis_cont .dis_percent{width: 100%; max-width: 276px; margin: 8% auto;}
.dis_cont a.dis_cta{display: inline-block; width: 230px; background: #FFDAA2; border-radius: 40px; font-size: 24px; line-height: 2; color: #323232; padding: 5px 0; margin: 3% 2%;}
/* location */
.location{width: 100%; max-width: 1100px; margin: 0 auto; background-color: #ffffff; border: 2px solid #303035; border-radius: 30px;}
.location_tit{font-size: 40px; line-height: 1.8; background-color: #1361B9; color: #ffffff; text-align: center; padding: 2% 6%; border-radius: 27px 27px 0 0;}
.location_cont{width: 100%; margin: 0 auto; padding: 6% 8%;}
.location_txt{text-align: left;}
/* easywallet */
.easywallet_container{width: 100%; margin: 0 auto; color: #303035; background: url("../images/deco2.png") center center no-repeat; background-size: 1920px;}
.easywallet_all{width: 100%; margin: 0 auto; padding: 0 6%;}
.easywallet{width: 100%; max-width: 1100px; margin: 0 auto; background-color: #ffffff; border: 2px solid #303035; border-radius: 30px; box-shadow: 10px 10px rgba(0, 0, 0, 0.15);}
.easywallet_tit{font-size: 40px; line-height: 1.8; background-color: #303035; color: #ffffff; text-align: center; padding: 2% 6%; border-radius: 27px 27px 0 0;}
.account{width: 100%; max-width: 1040px; margin: 0 auto; padding: 6% 8%; position: relative;}
.step{position:relative;display:-webkit-flex;display:flex;}
.step-title{position:absolute;top:0;right:16%;width:100%;max-width:50%;}
.step-title img{width:100%;}
.step-img{-webkit-flex:0 0 auto;flex:0 0 auto;max-width:30%;}
.step-img img{width:100%;}
.step-content{-webkit-flex:1;flex:1;margin:10% 0 0 6%;}
.step-content .subTitle{max-width:558px;padding-top:10%;}
.step-content .subTitle img{width:60%;}
.stepList{display:-webkit-flex;display:flex;margin-top:10px;}
.stepList-num{-webkit-flex:0 0 40px;flex:0 0 40px;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;background-color:#FAB238}
.stepList-num img{width:24px}
.stepList-text{-webkit-flex:1;flex:1;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;box-sizing:border-box;min-height:74px;padding:12px 10px;font-size:18px;color:#1e334e;background-color:#FFF4DB; text-align: left;}
.stepList-text p{width:100%;}
.stepList-num-w,.stepList-text-w{background-color: #ffffff;}
.moreInfo{text-align:center;margin-top: 2%;}
.moreInfo a{display:inline-block;font-size:20px; font-weight: bold; color:#1361B9; text-decoration:none; border-bottom:1px solid #1361B9;margin:3% 0 0;}
/* action */
.action{display:-webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; margin-top: 4%;}
.action-item{-webkit-flex: 0 1 288px; flex: 0 1 288px; max-width: 288px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left: 25px;}
.btn{position: relative; display: block; border-radius: 45px; cursor: pointer;}
.btn::after{content:''; position:absolute; top: 0; right: 0; bottom: 0; left: 0; display: block; border-radius: 45px; -webkit-transform:translateY(7px); transform:translateY(7px);}
.btn img{position:relative;width:100%; z-index: 5; transition:.2s;}
.btn.blue::after{background-color: #303035;}
.btn.orange::after{background-color: #303035;}
.btn:hover img{-webkit-transform:translateY(6px); transform:translateY(6px);}
/* notice */
.notice_container{}
.notice{width: 100%; max-width: 1600px; margin: 0 auto; font-size: 15px; line-height: 2; color: #303035; padding: 6%;}
.notice_tit{font-size: 32px; line-height: 1.8; text-align: center; color: #272525;}
.notice_all{}
.notice_all a{text-decoration: underline; color: #ed1c24; z-index:5;}
.notice_all ul{list-style-type: disc; padding-left: 24px;}
.notice_all ul>li{}
.notice_all ul>li>ol{margin: 0; padding-left: 18px; list-style-type: decimal;}
.notice_all ul>li>ol>li{}
.notice_all ul>li>ol>li>span{font-weight: 500; text-decoration: underline;}
.notice_all ul>li>ol>li>ol{padding-left: 24px;}
.notice_all ul>li>ol>li>ol>li{list-style: none; position: relative; counter-increment: section 1;}
.notice_all ul>li>ol>li>ol>li::before {
    content: "(" counter(section) ")";
    position: absolute;
    top: 0px;
    left: -5px;
    transform: translateX(-100%);
}
.notice_all ul>li>ol>li>ol>li>ol{padding-left: 18px;}
.notice_all ul>li>ol>li>ol>li>ol>li{list-style-type: upper-alpha;}

#contTab{display: none;}
.content-more{display: none;
}
#contTab:checked ~ #cont{
    max-height: 250px;
    overflow: hidden;
}
#contTab:checked ~  .content-more{
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
#contTab:checked ~  .content-more .gradient{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(254,239,212,0)),to(#F2C7DF));
    background-image: -webkit-linear-gradient(top,rgba(254,239,212,0),#F2C7DF);
    background-image: linear-gradient(-180deg,rgba(254,239,212,0),#F2C7DF);
    height: 80px;
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
}
#contTab:checked ~  .content-more .readmore{
    display: inline-block;
    background: #0c61bf;
    color: #ffffff;
    width: 175px;
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.8;
	transition: 0.3s;
}
#contTab:checked ~  .content-more .readmore:hover{opacity: 1}

@media screen and (max-width: 1600px) {
    /* kv */
    .kv{width: 100%; max-width: 1600px; height: 0; padding-bottom: 43.75%;}
    .kv .kv_tit{width: 40.625%;}
}
@media screen and (max-width: 1440px) {
    .content{max-width: 1100px;}
    .location_tit{font-size: 30px;}
}
@media screen and (max-width: 1200px) {
    /* content */
    .content{padding: 0 6%;}
    .deco3{display: none;}
    .deco4{display: none;}
    /* event */
    .event{gap: 30px;}
    .event_logo{width: 50%; max-width: 400px;}
    .event_tit{font-size: 28px;}
    .event_date{font-size: 20px;}
    .event_txt{font-size: 20px;}
    .event_txts{font-size: 15px;}
    .event_pic{width: 60%;}
    /* discount */
    .dis_tit{font-size: 30px;}
    .dis_cont .dis_txt{font-size: 20px;}
    .dis_cont .dis_txts{font-size: 16px;}
    .dis_cont a.dis_cta{font-size: 20px;}
     /* easywallet */
    .easywallet_all{padding: 0 8%;}
    .easywallet_tit{font-size: 32px;}
    .account{padding: 6%;}
}
@media screen and (max-width: 1024px) {
    .main{padding-top: 76px;}
    /* event */
    .br-none{display: none;}
}
@media screen and (max-width: 820px) {
    .content{padding: 0 8%;}
    .event{padding: 8% 6%;}
    .discount{flex-direction: column; align-items: center; gap: 80px;}
    .discount-item{width: 100%; padding-bottom: 8%;}
    .dis_cont .dis_txt{padding: 6% 0 5%;}
}
@media screen and (max-width: 767px) {
    .main{padding-top: 58px;}
    /* kv */
    .webOnly{display: none;}
    .mobOnly{display: block;}
    .kv_container{width: 100%; background: none;}
    .kv{width: 100%; height: 0; padding-bottom: 146.1538461%; background: url("../images/kv_bg_m.png") center top no-repeat; background-size: 100% auto;}
    .kv .kv_tit{position: static; width: 80%; margin: 0 auto; padding-top: 19%;}
    .kv .woman{width: 66%; top: 40.8%; right: 21%;}
    /* content */
    .content_container{margin: 2% 0;}
    .content{padding: 0;}
    .event_logo{width: 70%;}
    /* event */
    .event{background: none; box-shadow: none;}
    .event_part{border-bottom: none;}
    .event_pic{width: 80%; margin: 6% auto;}
    .discount-item{box-shadow: 10px 10px rgba(0, 0, 0, 0.15);}
    .dis_tit{font-size: 5vw; width: 200px;}
    .dis_cont a.dis_cta {width: 200px; font-size: 18px;}
    /* location*/
    .location{box-shadow: 10px 10px rgba(0, 0, 0, 0.15);}
    .location_cont{padding: 6%;}
    .location_tit{font-size: 5vw;}
    .location_txt{font-size: 18px;}
    /* action */
    .action{display:block;}
    .action-item{max-width:288px;margin:auto;}
    .action-item+.action-item{margin-top:30px;margin-left:auto;}
    /* easywallet */
    .easywallet_tit{font-size: 5vw; padding: 4% 0;}
    .account{padding: 10% 6%;}
    .step{display:block;}
    .step-title{position:static;box-sizing:border-box;max-width:90%;margin:auto;}
    .step-img{box-sizing:border-box;max-width:50%;margin:8% auto 5%;}
    .step-content{margin-top:40px;margin:5% 0 0;}
    .step-content .subTitle{max-width:100%;padding-top: 5%;}
    .step-content .subTitle img{width:70%;margin:0 auto;}
    .stepList-text{font-size: 18px;}
    .stepList-text p{padding-bottom: 0;}
    .moreInfo a{font-size:20px; margin-top: 5%;}
    /* notice */
    .notice{padding: 10% 8%;}
    .notice_all ul{font-size:14px;padding-left:20px}
    #contTab:checked ~ #cont{
        max-height: 48vw;
        overflow: hidden;
    }
    #contTab:checked ~  .content-more .readmore{
        width: 65vw;
        height: 8vw;
        border-radius: 4vw;
        line-height: 8vw;
        font-size: 1em;
    }
}

@media screen and (max-width:480px) {
    /* event */
    .event_logo{width: 80%;}
    .event_tit{font-size: 24px;}
    .event_date{font-size: 18px;}
    .event_txt{font-size: 18px;}
    .event_txts{font-size: 14px;}
    .event_pic{width: 100%;}
    .discount{gap: 50px;}
    .dis_cont .dis_percent{width: 100%; max-width: 220px;}
    /* easywallet */
    .account{padding: 15% 6%;}
    .step-img{max-width:70%;}
    .step-content .subTitle img{width:80%;}
    .stepList-text{font-size: 16px; height: auto; padding: 5px 10px;}
    .moreInfo a{font-size: 18px;}
    /* action */
    .action-item{max-width:240px;margin:auto;}
    .action-item+.action-item{margin-top:20px;margin-left:auto;}
    .btn::after{-webkit-transform:translateY(4px);transform:translateY(4px);}
    .btn:hover img{-webkit-transform:none;transform:none;}
    /* notice */
    .notice{padding: 10% 6%;}
}

/* animation */
@keyframes people {
    0% {transform: rotate(-.8deg);}
  100% {transform: rotate(.8deg);}
}

@keyframes float {
    0% {transform: translateY(0);}
  100% {transform: translateY(5%);}
}
@keyframes woman {
    0% {transform: skewX(0);}
  100% {transform: skewX(3deg);}
}

/* float */
.float {position: fixed; top: 200px; right: 20px; width: 50px; z-index: 50;}
.float-item {display: flex; flex-direction: column; align-items: center; gap: 5px; padding: 20px 10px; border-radius: 10px; background-color: #EF743E; font-size: 18px;}
.float-item img {width: 22px; }
.float-item div {color: #FFF; letter-spacing: 1px; -webkit-writing-mode: vertical-lr; -ms-writing-mode: tb-lr; writing-mode: vertical-lr;}
.float-item.-blue {margin-top: 16px; background-color: #3a78e1;}

@media only screen and (max-width: 1239px) {
    .float {right: 12px; width: 40px;}
    .float-item {padding: 20px 10px; font-size: 16px;}
    .float-item img {width: 18px;}
}

@media screen and (max-width: 767px) {
    .float {display: flex; width: 100%; top: auto; bottom: 0; right: 0;}
    .float-item {flex: 1; flex-direction: row; justify-content: center; padding: 15px 10px;  border-radius: 0; font-size: 15px; line-height: 18px;}
    .float-item div {
          -webkit-writing-mode: initial;
              -ms-writing-mode: initial;
                  writing-mode: initial; }
    .float-item.-blue {margin-top: 0;}
}