@charset "UTF-8";
html,
body {
  font-family: "Microsoft JhengHei", sans-serif, Arial, Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #171c40; }

a,
button {
  outline: none; }

.-fadeIn {
  opacity: 0; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

.container {
  min-height: 100%;
  overflow: hidden; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-image: url(../images/background/header.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: white;
  z-index: 100; }
  .header .yuantaplusLogo {
    width: 130px;
    height: 39px;
    background-image: url(../images/logo/yuantaplus.svg);
    background-repeat: no-repeat; }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 16px; }
      .header .yuantaplusLogo {
        width: 120px;
        height: 36px; } }
  @media only screen and (max-width: 767px) {
    .header .yuantaplusLogo {
      width: 87px;
      height: 26px; } }

.logo {
  display: inline-block;
  width: 308px; }
  .logo img {
    width: 100%; }
  @media only screen and (max-width: 1023px) {
    .logo {
      width: 280px; } }
  @media only screen and (max-width: 767px) {
    .logo {
      width: 203px; } }

/* ------------------------------- Main ------------------------------- */
.main {
  margin-top: 80px; }
  @media only screen and (max-width: 1023px) {
    .main {
      margin-top: 68px; } }
  @media only screen and (max-width: 767px) {
    .main {
      margin-top: 59.5px; } }

/* ------------------------------- Footer ------------------------------- */
.appDownload {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .appDownload-QRcode img {
    width: 125px;
    margin-right: 20px; }
  .appDownload-link h5 {
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 19px;
    text-align: center; }
  .appDownload-link a {
    display: inline-block;
    padding: 0 3px;
    text-decoration: none;
    transition: .3s; }
  .appDownload-link img {
    width: 170px; }
  @media only screen and (min-width: 1024px) {
    .appDownload-link a:hover {
      transform: translateY(-10%); } }
  @media only screen and (max-width: 1023px) {
    .appDownload-QRcode {
      display: none; }
    .appDownload-link h5 {
      font-size: 13px;
      font-weight: normal; }
    .appDownload-link img {
      width: 140px; } }

.footer {
  box-sizing: border-box;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.3;
  text-align: center;
  color: #ffffff;
  background-color: #007fe0; }
  .footer-wrap span + span {
    margin-left: 10px; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 10px 20px 60px;
      font-size: 12px;
      line-height: 1.6;
      text-align: left; }
      .footer-wrap {
        margin-top: 10px; }
        .footer-wrap span {
          display: block; }
        .footer-wrap span + span {
          margin-left: 0; } }

/* ------------------------------- Floating tool ------------------------------- */
.mediaIcons {
  position: fixed;
  bottom: 50%;
  right: 20px;
  transform: translateY(50%);
  display: none;
  margin: 0;
  padding: 0;
  z-index: 20; }
  .mediaIcons li {
    margin: 20px 10px;
    list-style: none; }
    .mediaIcons li a {
      display: block;
      width: 33px;
      height: 33px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      opacity: .4; }
      .mediaIcons li a.facebook {
        background-image: url(../images/icon/social/facebook-bk.png); }
      .mediaIcons li a.line {
        background-image: url(../images/icon/social/line-bk.png); }
      .mediaIcons li a.instagram {
        background-image: url(../images/icon/social/instagram-bk.png); }
      .mediaIcons li a.youtube {
        background-image: url(../images/icon/social/youtube-bk.png); }
      .mediaIcons li a.telegram {
        background-image: url(../images/icon/social/telegram-bk.png); }
  @media only screen and (min-width: 1024px) {
    .mediaIcons li a:hover {
      opacity: 1; }
      .mediaIcons li a:hover.facebook {
        background-image: url(../images/icon/social/facebook-hover.png); }
      .mediaIcons li a:hover.line {
        background-image: url(../images/icon/social/line-hover.png); }
      .mediaIcons li a:hover.instagram {
        background-image: url(../images/icon/social/instagram-hover.png); }
      .mediaIcons li a:hover.youtube {
        background-image: url(../images/icon/social/youtube-hover.png); }
      .mediaIcons li a:hover.telegram {
        background-image: url(../images/icon/social/telegram-hover.png); } }
  @media only screen and (max-width: 1023px) {
    .mediaIcons {
      right: 0; } }
  @media only screen and (max-width: 767px) {
    .mediaIcons {
      bottom: 0;
      right: 0;
      transform: none;
      width: 100%;
      padding: 4px 0;
      text-align: center;
      background-color: rgba(0, 159, 232, 0.9); }
      .mediaIcons li {
        display: inline-block;
        vertical-align: middle;
        margin: 6px; }
        .mediaIcons li a {
          width: 28px;
          height: 28px;
          opacity: 1; }
          .mediaIcons li a.facebook {
            background-image: url(../images/icon/social/facebook-wt.svg); }
          .mediaIcons li a.line {
            background-image: url(../images/icon/social/line-wt.svg); }
          .mediaIcons li a.instagram {
            background-image: url(../images/icon/social/instagram-wt.svg); }
          .mediaIcons li a.youtube {
            background-image: url(../images/icon/social/youtube-wt.svg); }
          .mediaIcons li a.telegram {
            background-image: url(../images/icon/social/telegram-wt.svg); } }

.gotop {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  opacity: 1;
  overflow: hidden;
  z-index: 50; }
  .gotop:hover {
    opacity: .7; }
  @media only screen and (max-width: 767px) {
    .gotop {
      right: 12px; } }

/* ------------------------------- creditSlogan ------------------------------- */
.creditSlogan {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 25px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }

.creditSlogan div {
  font-size: 14px;
  color: #575757;
  padding: 0 0 0 30px;
  line-height: 1.6; }

.creditSlogan div:first-child {
  font-size: 28px;
  font-weight: bold;
  color: #575757;
  letter-spacing: 2px;
  border-right: 1px solid #666666;
  padding: 0 30px 0 0; }

.creditSlogan div span:first-child::after {
  content: '：'; }

.creditSlogan div:first-child span:first-child {
  padding: 0 10px 0 0; }

.creditSlogan div:first-child span:first-child::after {
  display: none; }

.creditSlogan a {
  color: #007fe0; }

.creditSlogan a:hover {
  color: #007fe0; }

@media screen and (max-width: 1200px) {
  .creditSlogan div {
    font-size: 14px;
    padding: 0 0 0 10px; }
  .creditSlogan div:first-child {
    padding: 0 10px 0 0; } }

@media screen and (max-width: 1024px) {
  .topView h2 {
    width: 100%;
    position: absolute;
    top: 30%; }
  .creditSlogan div {
    font-size: 14px;
    padding: 0 0 0 10px; }
  .creditSlogan div:first-child {
    box-sizing: border-box;
    padding: 0; }
  .creditSlogan div:first-child span {
    display: block; } }

@media screen and (max-width: 870px) {
  .creditSlogan {
    height: 125px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
  .creditSlogan div {
    align-self: flex-start; }
  .creditSlogan div:first-child {
    font-size: 20px;
    margin: 0; }
  .creditSlogan p {
    font-size: 14px;
    line-height: 22px; } }

@media screen and (max-width: 800px) {
  .creditSlogan {
    width: 100%;
    height: auto;
    padding: 20px; }
  .creditSlogan div {
    width: 100%;
    align-self: center;
    text-align: center; }
  .creditSlogan div:first-child {
    font-size: 30px;
    border-bottom: 1px solid;
    border-right: none;
    display: flex;
    justify-content: center;
    margin: 0 0 10px; }
  .creditSlogan p {
    font-size: 14px;
    line-height: 2;
    padding: 0; } }

@media screen and (max-width: 420px) {
  .creditSlogan {
    padding: 20px 10px; }
  .creditSlogan div:first-child {
    font-size: 24px; }
  .creditSlogan p {
    font-size: 12px;
    line-height: 1.8; } }

@-webkit-keyframes sprikle {
  0% {
    transform: scale(0);
    opacity: 0; }
  20% {
    transform: scale(1);
    opacity: 1; }
  65% {
    transform: scale(1);
    opacity: 1; }
  90% {
    transform: scale(1);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 0; } }

@keyframes sprikle {
  0% {
    transform: scale(0);
    opacity: 0; }
  20% {
    transform: scale(1);
    opacity: 1; }
  65% {
    transform: scale(1);
    opacity: 1; }
  90% {
    transform: scale(1);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 0; } }

@-webkit-keyframes man {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-2deg); } }

@keyframes man {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-2deg); } }

@-webkit-keyframes woman {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(2deg); } }

@keyframes woman {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(2deg); } }

@-webkit-keyframes hand {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(5deg); } }

@keyframes hand {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(5deg); } }

@-webkit-keyframes heart {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

@keyframes heart {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

.banner {
  position: relative;
  padding-bottom: 600px; }
  .banner img.-mb {
    display: none; }
  .banner-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%; }
    .banner-bg img {
      width: auto;
      height: 100%; }
  .banner-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    height: 100%;
    font-size: 0;
    z-index: 1;
    overflow: hidden; }
    .banner-wrap div {
      position: absolute; }
    .banner-wrap img {
      width: 100%; }
  .banner-sprikle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 100%; }
    .banner-sprikle img {
      position: absolute;
      opacity: 0; }
    .banner-sprikle .sprikle01 {
      top: 19.33333%;
      left: 6.82292%;
      width: 3.59375%;
      -webkit-animation: sprikle 4s ease-in-out 0s infinite;
              animation: sprikle 4s ease-in-out 0s infinite; }
    .banner-sprikle .sprikle02 {
      top: 7%;
      left: 15.88542%;
      width: 2.34375%;
      -webkit-animation: sprikle 2s ease-in-out 3s infinite;
              animation: sprikle 2s ease-in-out 3s infinite; }
    .banner-sprikle .sprikle03 {
      top: 9.16667%;
      right: 37.13542%;
      width: 3.59375%;
      -webkit-animation: sprikle 4s ease-in-out 1s infinite;
              animation: sprikle 4s ease-in-out 1s infinite; }
    .banner-sprikle .sprikle04 {
      top: 23.5%;
      right: 26.25%;
      width: 2.34375%;
      -webkit-animation: sprikle 2s ease-in-out 1s infinite;
              animation: sprikle 2s ease-in-out 1s infinite; }
    .banner-sprikle .sprikle05 {
      top: 12.83333%;
      right: 6.14583%;
      width: 4.53125%;
      -webkit-animation: sprikle 3s ease-in-out 2s infinite;
              animation: sprikle 3s ease-in-out 2s infinite; }
  .banner-phone {
    bottom: -44.83333%;
    left: 14.16667%;
    width: 32.15278%; }

@-webkit-keyframes line {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }

@keyframes line {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }
    .banner-phone .line {
      position: absolute;
      top: 26.89487%;
      left: 17.17495%;
      display: flex;
      height: 6.80522%; }
      .banner-phone .line img {
        width: auto;
        height: 100%;
        transform-origin: center bottom;
        -webkit-animation: line 2s ease-in-out infinite alternate;
                animation: line 2s ease-in-out infinite alternate; }
        .banner-phone .line img.-i {
          -webkit-animation-delay: 0.2s;
                  animation-delay: 0.2s; }
        .banner-phone .line img.-n {
          -webkit-animation-delay: 0.4s;
                  animation-delay: 0.4s; }
        .banner-phone .line img.-e {
          -webkit-animation-delay: 0.6s;
                  animation-delay: 0.6s; }
        .banner-phone .line img + img {
          margin-left: 9%; }
    .banner-phone .heart {
      position: absolute;
      top: 45.2%;
      left: 14.34269%;
      display: flex;
      justify-content: space-between;
      width: 71.9%;
      height: 2.7%; }
      .banner-phone .heart img {
        width: auto;
        height: 100%;
        -webkit-animation: heart 2s ease-in-out infinite;
                animation: heart 2s ease-in-out infinite; }
  .banner-man {
    bottom: -66%;
    left: 35.5%;
    width: 29%;
    transform-origin: bottom center;
    -webkit-animation: man 3s ease-in-out infinite alternate;
            animation: man 3s ease-in-out infinite alternate; }
  .banner-woman {
    bottom: -55%;
    right: 4.5%;
    width: 26%;
    transform-origin: bottom center;
    -webkit-animation: woman 3s ease-in-out infinite alternate;
            animation: woman 3s ease-in-out infinite alternate; }
  .banner-mom {
    bottom: -110%;
    right: 10%;
    width: 39%; }
  .banner-hand {
    bottom: -3%;
    right: 27.9%;
    width: 24%;
    transform-origin: top right;
    -webkit-animation: hand 2s ease-in-out infinite alternate;
            animation: hand 2s ease-in-out infinite alternate; }
    .banner-hand img {
      transform: translate(23%, -5.5%); }
  .banner-concave {
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 146px;
    background: url("../images/background/circle-bu.png") no-repeat center bottom/contain;
    pointer-events: none; }
    @media only screen and (max-width: 767px) {
      .banner-concave {
        width: 768px; } }
  .banner-coin {
    position: absolute;
    bottom: 0;
    left: calc(50% - 510px);
    transform: translateX(-50%);
    width: 130px;
    z-index: 6; }
    .banner-coin img {
      width: 100%; }
  @media only screen and (min-width: 1921px) {
    .banner-bg {
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto; }
      .banner-bg img {
        width: 100%;
        height: auto; }
        .banner-bg img.-mb {
          display: none; } }
  @media only screen and (max-width: 1439px) {
    .banner {
      padding-bottom: 41.66667%; }
      .banner-sprikle {
        width: 133.33333%; }
      .banner-coin {
        left: 14.58333%;
        width: 9.02778%; } }
  @media only screen and (max-width: 1023px) {
    .banner {
      padding-bottom: 48.66667%; }
      .banner-wrap {
        width: 107%; }
      .banner-phone {
        bottom: -38.33333%; }
      .banner-mom {
        bottom: -101%; }
      .banner-man {
        bottom: -58%; }
      .banner-woman {
        bottom: -50%; }
    @-webkit-keyframes line {
      0% {
        transform: translateY(0); }
      50% {
        transform: translateY(-10px); }
      100% {
        transform: translateY(0); } }
    @keyframes line {
      0% {
        transform: translateY(0); }
      50% {
        transform: translateY(-10px); }
      100% {
        transform: translateY(0); } }
      .banner-coin {
        left: 11.58333%;
        width: 11.02778%; } }
  @media only screen and (max-width: 767px) {
    .banner {
      padding-bottom: 137.5%; }
      .banner img.-pc {
        display: none; }
      .banner img.-mb {
        display: block; }
      .banner-wrap {
        width: 100%; }
      .banner-sprikle {
        width: 100%; }
        .banner-sprikle .sprikle01 {
          top: 19.62121%;
          left: 2.70833%;
          width: 7.1875%; }
        .banner-sprikle .sprikle02,
        .banner-sprikle .sprikle03 {
          display: none; }
        .banner-sprikle .sprikle04 {
          top: 34.54545%;
          right: 3.85417%;
          width: 4.6875%; }
        .banner-sprikle .sprikle05 {
          top: 4.77273%;
          right: 3.64583%;
          width: 9.0625%; }
      .banner-phone {
        bottom: -3.78788%;
        left: 12.70833%;
        width: 74.47917%; }
        .banner-phone .line {
          top: 23.63488%;
          left: 15%;
          height: 7.21271%; }
        .banner-phone .heart {
          top: 42.7%;
          left: 11.3%;
          width: 78.1%; }
      .banner-man {
        bottom: -33.89394%;
        left: -6.33333%;
        width: 48.875%; }
      .banner-woman {
        bottom: -29.9697%;
        right: -7.5%;
        width: 44.79167%; }
      .banner-mom {
        bottom: -63%;
        right: 3.25%;
        width: 74%; }
      .banner-hand {
        bottom: -2.06061%;
        right: 37.8%;
        width: 47.54167%; }
      .banner-coin {
        bottom: -4.39394%;
        left: 17.60417%;
        transform: none;
        width: 18.4375%; } }

.link {
  color: #007fe0; }

@-webkit-keyframes balloon {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(20px); } }

@keyframes balloon {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(20px); } }

.block {
  position: relative;
  padding: 100px 0 110px; }
  .block-anchor {
    transform: translateY(-80px); }
  .block-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .block-wrap {
    position: relative;
    box-sizing: border-box;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1; }
  .block-title {
    margin-bottom: 60px;
    text-align: center; }
    .block-title img {
      height: 43px; }
    .block-title span {
      display: block; }
      .block-title span::before, .block-title span::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 23px;
        height: 21px;
        background: url(../images/title/heart.png) no-repeat center/contain;
        -webkit-animation: heart 2s ease-in-out infinite;
                animation: heart 2s ease-in-out infinite; }
      .block-title span::before {
        margin-right: 12px; }
      .block-title span::after {
        margin-left: 12px; }
      .block-title span + img {
        margin-top: 23px; }
  .block.-bu {
    background-color: #47529a; }
    .block.-bu::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1920px;
      height: 146px;
      background: url("../images/background/circle-pk.png") no-repeat center bottom/contain;
      pointer-events: none; }
      @media only screen and (max-width: 767px) {
        .block.-bu::after {
          width: 768px; } }
  .block.-bu .block-bg .sprikle01 {
    position: absolute;
    bottom: 445px;
    left: 44px;
    width: 85px; }
  .block.-bu .block-bg .sprikle02 {
    position: absolute;
    top: 465px;
    left: 180px;
    width: 53px; }
  .block.-bu .block-bg .sprikle03 {
    position: absolute;
    top: 282px;
    right: 310px;
    width: 41px; }
  .block.-bu .block-bg .sprikle04 {
    position: absolute;
    top: 490px;
    right: 18px;
    width: 88px; }
  .block.-bu .block-bg .sprikle05 {
    position: absolute;
    bottom: 322px;
    right: 132px;
    width: 41px; }
  .block.-pk {
    padding-top: 130px;
    background-color: #fff1ee; }
    .block.-pk::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1920px;
      height: 146px;
      background: url("../images/background/circle-rd.png") no-repeat center bottom/contain;
      pointer-events: none; }
      @media only screen and (max-width: 767px) {
        .block.-pk::after {
          width: 768px; } }
  .block.-pk .block-bg img {
    width: 100%; }
  .block.-pk .block-bg .flag {
    height: 185px;
    background: url(../images/background/flag.png) repeat-x center/auto;
    transform: translateY(-25px); }
  .block.-pk .block-bg .balloon {
    position: absolute; }
    .block.-pk .block-bg .balloon.-yl {
      top: 300px;
      left: calc(50% - 700px);
      width: 56px;
      -webkit-animation: balloon 2s ease-in-out infinite alternate;
              animation: balloon 2s ease-in-out infinite alternate; }
    .block.-pk .block-bg .balloon.-rd {
      bottom: 640px;
      left: calc(50% + 650px);
      width: 57px;
      animation: balloon 2s ease-in-out infinite alternate-reverse; }
  .block.-pk .block-bg .man {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 850px);
    width: 260px;
    z-index: 10; }
  .block.-pk .block-bg .woman {
    position: absolute;
    bottom: 20px;
    right: calc(50% - 900px);
    width: 304px;
    z-index: 10; }
  .block.-rd {
    padding-bottom: 140px;
    background: url(../images/background/cloud.png) #ffd9d7 no-repeat center bottom/auto; }
  .block.-rd .block-title {
    margin-bottom: 30px; }
  @media only screen and (max-width: 1499px) {
    .block.-pk .block-bg .balloon.-yl {
      left: calc(50% - 650px); }
    .block.-pk .block-bg .balloon.-rd {
      left: calc(50% + 600px); }
    .block.-pk .block-bg .man {
      left: calc(50% - 720px); }
    .block.-pk .block-bg .woman {
      right: calc(50% - 770px); } }
  @media only screen and (max-width: 1279px) {
    .block.-pk .block-bg .balloon,
    .block.-pk .block-bg .man,
    .block.-pk .block-bg .woman {
      display: none; } }
  @media only screen and (max-width: 1023px) {
    .block {
      padding: 80px 0 90px; }
      .block-anchor {
        transform: translateY(-68px); }
      .block-title {
        margin-bottom: 45px; }
        .block-title img {
          height: 30px; }
        .block-title span::before, .block-title span::after {
          width: 18px;
          height: 16px; }
        .block-title span::before {
          margin-right: 6px; }
        .block-title span::after {
          margin-left: 6px; }
        .block-title span + img {
          margin-top: 16px; }
      .block.-bu .block-bg {
        display: none; }
      .block.-pk {
        padding-top: 100px; }
      .block.-pk .block-bg .flag {
        background: url(../images/background/flag.png) repeat-x center top/1024px;
        transform: translateY(-10px); }
      .block.-pk .block-bg .man,
      .block.-pk .block-bg .woman {
        display: block;
        bottom: 0; }
      .block.-pk .block-bg .man {
        left: calc(50% - 420px);
        width: 180px; }
      .block.-pk .block-bg .woman {
        right: calc(50% - 470px);
        width: 220px; }
      .block.-rd {
        padding-bottom: 120px;
        background-size: contain; } }
  @media only screen and (max-width: 767px) {
    .block {
      padding: 70px 0; }
      .block-anchor {
        transform: translateY(-59.5px); }
      .block-title img {
        height: 25px; }
      .block-title span::before, .block-title span::after {
        width: 15px;
        height: 14px; }
      .block-title span + img {
        margin-top: 12px; }
      .block.-pk {
        padding-top: 80px; }
      .block.-pk .block-bg .flag {
        background: url(../images/background/flag-mb.png) repeat-x center top/670px;
        transform: translateY(-7px); }
      .block.-pk .block-bg .man,
      .block.-pk .block-bg .woman {
        display: none; }
      .block.-rd {
        padding-bottom: 80px;
        background-image: url(../images/background/cloud-mb.png); } }

.gift {
  display: flex;
  justify-content: center; }
  .gift + .gift {
    margin-top: 60px; }
  .gift-anchor {
    transform: translateY(-80px); }
  .gift-item {
    display: flex;
    flex-direction: column; }
    .gift-item + .gift-item {
      margin-left: 80px; }
  .gift-card {
    flex: 1 0 auto; }
  .gift-note {
    margin-top: 12px;
    font-size: 12px;
    text-align: center;
    color: #fff; }
  .gift-note + .gift-btn {
    margin-top: 15px; }
  .gift-card + .gift-btn {
    margin-top: 35px; }
  .gift-btn {
    display: flex;
    justify-content: center; }
    .gift-btn a {
      flex: 0 0 auto;
      box-sizing: border-box;
      width: 164px;
      padding: 6px 6px 7px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      text-decoration: none;
      border-radius: 23px;
      border: 2px solid #fff;
      background-color: #47529a; }
      .gift-btn a span {
        display: inline-block;
        vertical-align: middle; }
      .gift-btn a::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 13px;
        margin-left: 4px;
        background: url(../images/icon/arrow.png) no-repeat center/contain; }
      .gift-btn a.-line {
        position: relative;
        border-color: #0bc858;
        background-color: #0bc858; }
        .gift-btn a.-line::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -15px;
          display: block;
          width: 37px;
          height: 36px;
          background: url(../images/icon/line.png) no-repeat center/contain; }
    .gift-btn a + a {
      margin-left: 32px; }
  @media only screen and (min-width: 1024px) {
    .gift-btn a::after {
      transition: .3s; }
    .gift-btn a:hover::after {
      transform: translateX(12px) scale(1.25); } }
  @media only screen and (max-width: 1023px) {
    .gift-item + .gift-item {
      margin-left: 60px; }
    .gift-anchor {
      transform: translateY(-68px); }
    .gift-btn a {
      width: 130px;
      padding: 5px 5px 6px;
      font-size: 15px;
      border: 1px solid #fff; }
      .gift-btn a::after {
        width: 15px;
        height: 10px;
        margin-left: 6px; }
      .gift-btn a.-line::before {
        width: 30px;
        height: 29px; } }
  @media only screen and (max-width: 767px) {
    .gift {
      display: block; }
      .gift + .gift {
        margin-top: 40px; }
      .gift-item + .gift-item {
        margin-left: 0;
        margin-top: 50px; }
      .gift-anchor {
        transform: translateY(-59.5px); }
      .gift-card + .gift-btn {
        margin-top: 25px; } }

.swiper-slide {
  height: auto; }

.swiper-pagination {
  display: none; }
  @media only screen and (max-width: 767px) {
    .swiper-pagination {
      display: block; } }

.swiper-pagination {
  position: static;
  margin-top: 30px;
  line-height: 0; }

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px !important;
  background-color: #fff;
  opacity: 1; }
  .swiper-pagination-bullet-active {
    background-color: #ff6648; }

.discount {
  margin-right: -35px; }
  .discount .swiper-wrapper {
    justify-content: center;
    flex-wrap: wrap; }
  .discount-item {
    flex: 0 0 auto;
    width: calc((100%/4) - 35px);
    margin-top: 55px;
    opacity: 0; }
    .discount-item:nth-child(-n+4) {
      margin-top: 0; }
  @media only screen and (max-width: 1279px) {
    .discount {
      margin-right: -20px; }
      .discount-item {
        width: calc((100%/4) - 20px);
        margin-top: 55px; } }
  @media only screen and (min-width: 768px) {
    .discount .swiper-wrapper {
      transform: none !important; } }
  @media only screen and (max-width: 1023px) {
    .discount-item {
      width: calc((100%/3) - 20px);
      margin-top: 45px; }
      .discount-item:nth-child(-n+4) {
        margin-top: 45px; }
      .discount-item:nth-child(-n+3) {
        margin-top: 0; } }
  @media only screen and (max-width: 767px) {
    .discount {
      margin-right: 0;
      opacity: 0; }
      .discount .swiper-wrapper {
        justify-content: flex-start;
        flex-wrap: nowrap; }
      .discount-item {
        width: 240px;
        margin-top: 0;
        opacity: 1; }
        .discount-item:nth-child(-n+4) {
          margin-top: 0; } }

.new {
  display: flex;
  justify-content: center; }
  .new-item + .new-item {
    margin-left: 60px; }
  @media only screen and (max-width: 1023px) {
    .new-item + .new-item {
      margin-left: 40px; } }
  @media only screen and (max-width: 767px) {
    .new {
      display: block; }
      .new-item {
        position: relative; }
        .new-item + .new-item {
          margin-left: 0;
          margin-top: 250px; }
        .new-item::before {
          content: '';
          position: absolute;
          top: -120px;
          left: 50%;
          transform: translateX(-50%);
          width: 384px;
          height: 317px;
          background: url(../images/background/items.png) no-repeat center/contain;
          z-index: -1; } }

.giftCard-title {
  width: 294px;
  height: 53px;
  font-size: 25px;
  font-weight: bold;
  line-height: 53px;
  color: #fff;
  text-align: center;
  background: no-repeat center/contain; }

.giftCard-text {
  text-align: center; }
  .giftCard-text div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4.5em; }
  .giftCard-text b {
    color: #4e6ce2; }
  .giftCard-text .-money {
    margin-top: 8px;
    font-size: 22px;
    font-weight: bold;
    color: #ff6648; }
  .giftCard-text .-note {
    margin-top: 12px;
    font-size: 13px;
    font-weight: bold; }

.giftCard.-ver {
  width: 294px;
  margin: 0 auto; }

.giftCard.-ver .giftCard-head {
  padding: 0 16px; }
  .giftCard.-ver .giftCard-head img {
    width: 100%; }

.giftCard.-ver .giftCard-title {
  background-image: url(../images/title/ribbon-rd.png); }

.giftCard.-ver .giftCard-content {
  margin: 0 10px;
  padding: 20px 20px 40px;
  background-color: #fff;
  text-align: center;
  border-radius: 0 0 140px 140px; }
  .giftCard.-ver .giftCard-content img {
    width: 60px;
    margin-bottom: 20px; }

.giftCard.-hor {
  width: 717px; }

.giftCard.-hor .giftCard-title {
  margin: 0 auto;
  background-image: url(../images/title/ribbon-og.png);
  transform: translateY(50%); }

.giftCard.-hor .giftCard-content {
  display: flex;
  align-items: center;
  padding: 55px 70px 25px;
  border-radius: 110px;
  background-color: #fff; }
  .giftCard.-hor .giftCard-content img {
    flex: 0 0 auto;
    width: 178px;
    margin-bottom: 25px; }

.giftCard.-hor .giftCard-text {
  flex: 1;
  margin-left: 40px; }

@media only screen and (max-width: 1023px) {
  .giftCard-title {
    width: 260px;
    height: 47px;
    font-size: 22px;
    line-height: 47px; }
  .giftCard-text {
    font-size: 15px; }
    .giftCard-text .-money {
      margin-top: 5px;
      font-size: 19px; }
    .giftCard-text .-note {
      margin-top: 10px;
      font-size: 12px; }
  .giftCard.-ver {
    width: 260px; }
  .giftCard.-ver .giftCard-content {
    padding: 20px 20px 35px; }
    .giftCard.-ver .giftCard-content img {
      width: 50px;
      margin-bottom: 15px; }
  .giftCard.-hor {
    width: 620px; }
  .giftCard.-hor .giftCard-content {
    padding: 50px 50px 25px; }
    .giftCard.-hor .giftCard-content img {
      width: 155px; }
  .giftCard.-hor .giftCard-text {
    margin-left: 20px; } }

@media only screen and (max-width: 767px) {
  .giftCard.-hor {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }
  .giftCard.-hor .giftCard-content {
    display: block;
    padding: 50px 20px 25px;
    border-radius: 16px;
    text-align: center; }
  .giftCard.-hor .giftCard-text {
    margin-left: 0; } }

.discountCard {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 90px);
  min-height: 395px;
  margin-top: 90px;
  padding-top: 108px;
  border-radius: 20px;
  background-color: #fff; }
  .discountCard-pic {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    border-radius: 50%;
    border: 2px solid #d8d8d8;
    background-color: #fff; }
    .discountCard-pic img {
      width: 100%; }
  .discountCard-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #26b7bc; }
  .discountCard-list {
    flex: 1 0 auto;
    margin-top: 16px;
    padding: 0 16px 25px;
    font-size: 15px; }
    .discountCard-list span {
      color: #f96045;
      font-weight: bold; }
    .discountCard-list ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .discountCard-list li {
      position: relative;
      padding-left: 22px; }
      .discountCard-list li::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        background: url(../images/icon/star.png) no-repeat center/contain; }
      .discountCard-list li + li {
        margin-top: 15px; }
  .discountCard-btn {
    padding: 13px 13px 14px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 20px 20px;
    background-color: #26b7bc; }
    .discountCard-btn span {
      display: inline-block;
      vertical-align: middle; }
    .discountCard-btn::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 13px;
      margin-left: 4px;
      background: url(../images/icon/arrow.png) no-repeat center/contain; }
  .discountCard.-gn .discountCard-title {
    color: #50be00; }
  .discountCard.-gn .discountCard-btn {
    background-color: #50be00; }
  .discountCard.-pk .discountCard-title {
    color: #e84f96; }
  .discountCard.-pk .discountCard-btn {
    background-color: #e84f96; }
  .discountCard.-bu .discountCard-title {
    color: #4e6ce2; }
  .discountCard.-bu .discountCard-btn {
    background-color: #4e6ce2; }
  .discountCard.-rd .discountCard-title {
    color: #f96045; }
  .discountCard.-rd .discountCard-btn {
    background-color: #f96045; }
  .discountCard.-lbu .discountCard-title {
    color: #6ea9ff; }
  .discountCard.-lbu .discountCard-btn {
    background-color: #6ea9ff; }
  @media only screen and (min-width: 1024px) {
    .discountCard-btn::after {
      transition: .3s; }
    .discountCard-btn:hover::after {
      transform: translateX(12px) scale(1.25); } }
  @media only screen and (max-width: 1279px) {
    .discountCard {
      height: calc(100% - 70px);
      min-height: 375px;
      margin-top: 70px;
      padding-top: 88px; }
      .discountCard-pic {
        width: 140px; } }
  @media only screen and (max-width: 1023px) {
    .discountCard {
      height: calc(100% - 65px);
      min-height: 360px;
      margin-top: 65px;
      padding-top: 83px;
      border-radius: 16px; }
      .discountCard-pic {
        width: 130px; }
      .discountCard-title {
        font-size: 18px; }
      .discountCard-list {
        margin-top: 12px;
        font-size: 14px; }
        .discountCard-list li::before {
          top: 1px;
          width: 17px;
          height: 17px; }
        .discountCard-list li + li {
          margin-top: 12px; }
      .discountCard-btn {
        padding: 10px 10px 11px;
        font-size: 15px;
        border-radius: 0 0 16px 16px; }
        .discountCard-btn::after {
          width: 15px;
          height: 10px;
          margin-left: 6px; } }
  @media only screen and (max-width: 767px) {
    .discountCard {
      min-height: 340px; }
      .discountCard-list {
        padding: 0 12px 20px; } }

.newCard {
  position: relative;
  box-sizing: border-box;
  width: 420px;
  height: calc(100% - 252px);
  margin: 154px 0 98px;
  padding: 30px 30px 45px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff; }
  .newCard::before {
    content: '';
    position: absolute;
    z-index: -1; }
  .newCard-pic img {
    width: 193px; }
  .newCard-title {
    margin: 20px -4px 16px;
    font-size: 25px;
    font-weight: bold;
    color: #47529a;
    letter-spacing: 4px; }
  .newCard-text {
    text-align: left; }
    .newCard-text b {
      color: #ff5c3c; }
  .newCard.-left::before {
    top: -129px;
    left: 117px;
    width: 229px;
    height: 540px;
    background: url(../images/background/mom-yl.png) no-repeat center/contain; }
  .newCard.-right::before {
    top: -154px;
    left: 87px;
    width: 204px;
    height: 569px;
    background: url(../images/background/mom-rd.png) no-repeat center/contain; }
  @media only screen and (max-width: 1023px) {
    .newCard {
      width: 340px;
      margin: 154px 0 98px;
      height: calc(100% - 190px);
      margin: 120px 0 70px;
      padding: 20px 20px 25px;
      border-radius: 16px; }
      .newCard-pic img {
        width: 130px; }
      .newCard-title {
        margin: 13px -2px 10px;
        font-size: 18px;
        letter-spacing: 2px; }
      .newCard-text {
        font-size: 14px; }
      .newCard.-left::before {
        top: -100px;
        left: 85px;
        width: 175px;
        height: 415px; }
      .newCard.-right::before {
        top: -120px;
        left: 62px;
        width: 178px;
        height: 438px; } }
  @media only screen and (max-width: 767px) {
    .newCard {
      width: 100%;
      max-width: 340px;
      margin: 154px auto 98px; } }

.notice {
  box-sizing: border-box;
  max-width: 1120px;
  margin: 60px auto 30px;
  padding: 0 30px;
  border-radius: 10px;
  border: solid 1px #ffd9d7; }
  .notice-action {
    position: relative;
    display: block;
    padding: 28px 0;
    font-size: 20px;
    font-weight: bold;
    color: #171c40;
    text-decoration: none; }
    .notice-action::after {
      content: '＋';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      font-size: 1.2em;
      transition: .3s; }
  .notice-content {
    display: none;
    padding: 25px 0;
    font-size: 16px;
    border-top: 1px solid #ffd9d7; }
  .notice.is-open .notice-action::after {
    content: '－';
    transform: translateY(-50%) rotate(180deg); }
  @media only screen and (max-width: 1160px) {
    .notice {
      margin: 60px 20px 30px; } }
  @media only screen and (max-width: 1023px) {
    .notice {
      margin-top: 37px;
      padding: 0 20px;
      border-radius: 5px; }
      .notice-action {
        padding: 15px 0;
        font-size: 16px; }
      .notice-content {
        padding: 15px 0;
        font-size: 14px; } }

ol {
  line-height: 1.7;
  margin: 0;
  padding-left: 25px; }
  ol.chinese {
    list-style-type: none;
    padding-left: 32px; }
    ol.chinese > li {
      position: relative; }
      ol.chinese > li::before {
        content: "(" attr(data-num) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%); }
  ol.brackets {
    list-style-type: none; }
    ol.brackets > li {
      position: relative;
      counter-increment: section; }
      ol.brackets > li::before {
        content: "(" counter(section, decimal) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%);
        min-width: 20px;
        text-align: center; }
  ol.cjk {
    list-style-type: none;
    padding-left: 32px; }
    ol.cjk > li {
      position: relative; }
      ol.cjk > li::before {
        content: attr(data-num) "、";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%); }
  @media only screen and (max-width: 767px) {
    ol {
      font-size: 14px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

@media only screen and (min-width: 1024px) {
  .-mbOnly {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .-pcOnly {
    display: none !important; } }

@media only screen and (min-width: 768px) {
  .-mbDownOnly {
    display: none; } }

@media only screen and (max-width: 767px) {
  .-padUpOnly {
    display: none; } }

.-hidden {
  display: none; }
