* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: 'Noto Sans TC','微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
a,a:hover,a:active,a:visited {display: inline-block; color: #005bac; text-decoration: none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color:#333333; padding-top: 80px; font-size: 12px;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}

/* kv */
.kv_container{width: 100%; margin: 0 auto; background: #e1efff url("../images/kv_bg.jpg") center top no-repeat; background-size: cover;}
.kv{width: 100%; max-width: 1400px; height: 520px; margin: 0 auto; position: relative;}
.kv .kv_tit{width: 38%; position: absolute; top: 25%; left: 6%;}
.kv .man_phone{width: 52%; position: absolute; top: 10%; left: 51%;}
.kv .storecard{width: 62%; position: absolute; top: 25%; left: 43%;}
.kv .storecard .store1{width: 18%; position: absolute; top: 25%; left: 8%;  
  -webkit-animation: store1 1.5s ease-in-out infinite alternate;
          animation: store1 1.5s ease-in-out infinite alternate;}
.kv .storecard .store2{width: 18%; position: absolute; top: 25%; left: 24%;  
  -webkit-animation: store2 1.25s ease-in-out infinite alternate;
          animation: store2 1.25s ease-in-out infinite alternate;}
.kv .storecard .store3{width: 18%; position: absolute; top: 25%; left: 40%;  
  -webkit-animation: store1 1s ease-in-out infinite alternate;
          animation: store1 1s ease-in-out infinite alternate;}
/* .mobOnly{display: none;} */
/* content */
.content_container{ width: 100%; margin: 0 auto; color: #333333;}
.content{width: 100%; margin: 0 auto; background-color: #bfe0f8; background-image: url("../images/cloud.png"),url("../images/city.png");  background-repeat: no-repeat,no-repeat; background-position: center top,center bottom; background-size: 100% auto,100% auto;}
.kv_logo{width: 24%; margin: 0 auto; padding-top: 2%;}
/* event */
.event{width: 100%; max-width: 1400px; margin: 0 auto; padding: 3% 0; text-align: center; line-height: 1.8; position: relative;}
.event_part{padding: 2% 0;}
.event_tit{width: 340px; margin: 0 auto 2%;}
.event_date{font-size: 22px; font-weight: bold;}
.event_txt{font-size: 20px;}
.event_point{font-size: 20px; font-weight: bold; color: #4c94e4; margin: 4% auto;}
.event b{font-weight: bold;}
.discount{width: 78%; margin: 3% auto; background: #ffffff; padding: 6% 2% 0; border: #76adea solid 20px; position: relative;}
.eaves{width: 110%; position: absolute; top: -5%; left: -5%;}
.man{width: 35%; position: absolute; top: -24%; left: -2%;}
.discount_all{width: 100%; margin: 4% auto; display: flex; justify-content: center;}
.discount-item{width: 33.3333%; height: auto; margin: 0 auto;}
.discount-item2,.discount-item3{border-left: solid 1px #76adea;}
.dis_item_all{width: 100%; position: relative;}
.dis_item_all .dis_no{width: 35%; margin: 0 auto; font-size: 22px; font-weight: bold; line-height: 2.3; color: #ffffff; background-color: #23b6bc; border-radius: 13px; position: relative;}
.dis_item_all .dis_no::after{display:block; content:''; width:0; border-width:15px 8px 8px 8px; border-style:solid; border-color:#23b6bc transparent transparent transparent; position: absolute; left: 43%; bottom: -20px;}
.dis_item_all .dis_tit{width: 240px; margin: 8% auto;}
.dis_item_all .dis_icon{width: 180px; margin: 0 auto;}
.dis_item_all .dis_txt{width: 80%; height: 100px; font-size: 16px; line-height: 1.6; text-align: left; margin: 6% auto;}
.dis_item_all .dis_711{text-align: center;}
.dis_item_all .dis_store{width: 140px; margin: 0 auto;}
.blue{color: #0c61bf;}
.orange{color: #f55f24;}
.gray{color: #666666; font-size: 14px;}
/* icashpay */
.icashpay{padding:3% 1%; position: relative; background: #43608b url("../images/deco.png") center top no-repeat; background-size: 100% auto;}
.account{width: 70%; max-width: 1200px; margin: 2% auto 5%; background: #ffffff; border-radius: 10px; padding: 5% 8%;}
.step{position:relative;display:-webkit-flex;display:flex;}
.step-title{position:absolute;top:0;right:16%;width:100%;max-width:50%;}
.step-title img{width:100%;}
.step-img{-webkit-flex:0 0 auto;flex:0 0 auto;max-width:28%;}
.step-img img{width:100%;}
.step-content{-webkit-flex:1;flex:1;margin:10% 0 0 6%;}
.step-content .subTitle{max-width:558px;padding-top:10%;}
.step-content .subTitle img{width:60%;}
.stepList{display:-webkit-flex;display:flex;margin-top:10px;}
.stepList-num{-webkit-flex:0 0 40px;flex:0 0 40px;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;background-color:#6ecbcd}
.stepList-num img{width:24px}
.stepList-text{-webkit-flex:1;flex:1;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;box-sizing:border-box;min-height:74px;padding:12px 10px;font-size:18px;line-height:1.4;color:#1e334e;background-color:#d2f1f2; text-align: left;}
.stepList-text p{width:100%;}
.stepList-num-w,.stepList-text-w{background-color: #ffffff;}
.moreInfo{text-align:center;margin-top: 5%;}
.moreInfo a{display:inline-block;font-size:24px;line-height:1.75; font-weight: bold; color:#4c94e4; text-decoration:none; border-bottom:1px solid #4c94e4;margin:3% 0 1%;}
/* action */
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;padding:0 0 5%;}
.action-item{-webkit-flex:0 1 270px;flex:0 1 270px;max-width:270px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:25px;}
.btn{position:relative;display:block;border-radius:45px;cursor:pointer;}
.btn::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;display:block;border-radius:45px;-webkit-transform:translateY(6px);transform:translateY(6px);}
.btn img{position:relative;width:100%;z-index:1;transition:.2s;}
.btn.green::after{background-color:#0b8489;}
.btn.blue::after{background-color:#005bab;}
.btn:hover img{-webkit-transform:translateY(6px);transform:translateY(6px);}
/* notice */
.notice_container{background: #43608b;}
.notice{width: 100%; max-width: 1400px; margin: 0 auto; font-size: 15px; line-height: 2; color: #ffffff; padding: 2% 5% 5%;}
.notice_tit{font-size: 20px; font-weight: bold; text-align: center}
.notice_all{padding: 2%;}
.notice_all a{text-decoration: underline;}
.notice_all ul{margin:0;padding-left:30px;list-style-type:decimal;}
.notice_all ul>li{margin-bottom: 2%;}
.notice_all ul>li>ol{list-style-type:none;padding-left:22px}
.notice_all ul>li>ol>li{position:relative;counter-increment:section}
.notice_all ul>li>ol>li::before{content:"(" counter(section,decimal) ")";position:absolute;top:0;left:-5px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
#contTab{display: none;}
.content-more{display: none;
}
#contTab:checked ~ #cont{
    max-height: 250px;
    overflow: hidden;
}
#contTab:checked ~  .content-more{
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
#contTab:checked ~  .content-more .gradient{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(254,239,212,0)),to(#43608b));
    background-image: -webkit-linear-gradient(top,rgba(254,239,212,0),#43608b);
    background-image: linear-gradient(-180deg,rgba(254,239,212,0),#43608b);
    height: 90px;
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
}
#contTab:checked ~  .content-more .readmore{
    display: inline-block;
    background: #76adea;
    color: #ffffff;
    width: 175px;
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.8;
	transition: 0.3s;
}
#contTab:checked ~  .content-more .readmore:hover{opacity: 1}

@media screen and (max-width: 1400px) {
/* kv */
.kv_container{background: none}
.kv{width: 100%; max-width: 1400px; height: 0; padding-bottom: 37.142857%; background: #e1efff url("../images/kv_bg-1400.jpg") center top no-repeat; background-size: 100% auto;}
/* content */
.content{background-image: url("../images/cloud.png"),url("../images/city-1400.png");  background-repeat: no-repeat,no-repeat; background-position: center top,center bottom; background-size: 100% auto,100% auto;}
.kv_logo{width: 30%;}
/* event */
.event_date{font-size: 20px;}
.event_txt{font-size: 18px;}
.discount{width: 86%;}
.dis_item_all .dis_no{font-size: 18px;}
.dis_item_all .dis_tit{width: 80%; max-width: 240px;}
.dis_item_all .dis_icon{width: 60%; max-width: 160px;}
.dis_item_all .dis_txt{width: 80%; height: 110px;}
.dis_item_all .dis_store{width: 44%; max-width: 140px;}
}
@media screen and (max-width: 1200px) {
/* event */
.man{top: -22%;}
.dis_item_all .dis_txt{height: 140px;}
.man{top: -21%;}
/* icashpay */
.account{width: 85%;}
}
@media screen and (max-width: 1024px) {
.main{padding-top: 76px;}
}
@media screen and (max-width: 960px) {
/* kv */
.kv{width: 100%; max-width: 960px; height: 0; padding-bottom: 118.4375%; background: #e1efff url("../images/kv_bg_m.jpg") center top no-repeat; background-size: 100% auto;}
.kv .kv_tit{width: 80%; top: 13%; left: 10%;}
.kv .man_phone{width: 98%; top: 44.8%; left: 14%;}
.kv .storecard{width: 111%; top: 54.5%; left: -2%;}
/* content */
.content{width: 100%; max-width: 960px; background: #bfe0f8 url("../images/city-m.png") no-repeat center bottom; background-size: 100% auto;}
.kv_logo{width: 70%;}
/* event */
.event_tit{width: 400px; margin: 1% auto 5%;}
.event_date{font-size: 24px;}
.event_txt{width: 90%; margin: 0 auto; font-size: 22px; text-align: left;}
.display-none{display: none;}
.discount{width: 84%; padding: 8% 2% 2%;}
.eaves{top: -1.5%;}
.man{width: 40%; top: -7%; left: -3%;}
.discount_all{display: block;}
.discount-item{width: 100%;}
.discount-item2,.discount-item3{border-left: none;}
.dis_item_all .dis_no{width: 90%; font-size: 24px;}
.dis_item_all .dis_no::after{left: 48.5%;}
.dis_item_all .dis_tit{margin: 5% auto;}
.dis_item_all .dis_txt{width: 90%; font-size: 20px; height: auto; margin: 5% auto 8%;}
/* icashpay */
.icashpay{padding:37% 1% 0;}
.account{width: 80%; padding:10%;}
.step{display:block;}
.step-title{position:static;box-sizing:border-box;max-width:100%;margin:auto;}
.step-img{box-sizing:border-box;max-width:60%;margin:10% auto;}
.step-content{margin-top:40px;margin:10% 0 0;}
.step-content .subTitle{max-width:100%;padding-top: 5%;}
.step-content .subTitle img{width:80%;margin:0 auto;}
.stepList-text{font-size: 16px;}
.moreInfo a{font-size:26px;}
/* action */
.action{padding: 2% 0 8%;}
/* notice */
.notice{width: 92%; padding: 2% 5% 5%;}
}
@media screen and (max-width:768px) {
.main{padding-top: 58px;}
/* content */
/* event */
.event_tit{width: 78%; max-width: 400px; margin: 5% auto;}
.event_date{font-size: 20px;}
.event_txt{font-size: 18px;}
.man{top: -6%;}
.dis_item_all .dis_no{font-size: 20px;}
.dis_item_all .dis_no::after{left: 48.5%;}
.dis_item_all .dis_tit{margin: 8% auto 5%;}
.dis_item_all .dis_txt{font-size: 18px;}
/* action */
.action{display:block;}
.action-item{max-width:300px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
/* icashpay */
.step-img{max-width:75%;}
.step-content{margin-top:40px;margin:10% 0 0;}
.step-content .subTitle{max-width:100%; margin:0 auto;padding-top: 5%;}
.step-content .subTitle img{width:100%;}
.moreInfo a{font-size: 20px;}
/* notice */
.notice{padding:5% 5% 12%;}
.notice_all ul{font-size:14px;padding-left:20px}
.notice_tit{font-size: 18px;}
#contTab:checked ~ #cont{
    max-height: 48vw;
    overflow: hidden;
}
#contTab:checked ~  .content-more .readmore{
    width: 65vw;
    height: 8vw;
    border-radius: 4vw;
    line-height: 8vw;
    font-size: 1em;
}
}
@media screen and (max-width:600px) {
/* event */
.event_tit{width: 70%;}
.event_txt{margin: 2% auto 8%;}
.discount{width: 100%;}
.dis_item_all .dis_tit{width: 60%; margin: 10% auto 6%;}
.dis_item_all .dis_txt{font-size: 16px;}
.dis_item_all .dis_icon{width: 50%;}
.dis_item_all .dis_store{width: 30%;}
.eaves{width: 120%; top: -1.5%; left: -10%;}
.man{width: 50%; top: -7%; left: -16%;}
.event_point{font-size: 16px;}
}
@media screen and (max-width:500px) {
/* event */
.man{display: none;}
/* icashpay */
.step-img{max-width:80%;}
.moreInfo a{font-size: 18px;}
/* action */
.action-item{max-width:220px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
.btn::after{-webkit-transform:translateY(4px);transform:translateY(4px);}
.btn:hover img{-webkit-transform:none;transform:none;}
/* notice */
.notice{width: 92%;padding:8% 5% 15%;}
}

/* animation */
@keyframes store1 {
  0% {
    -webkit-transform: translate(-1%, 1.5%);
            transform: translate(-1%, 1.5%); }
  100% {
    -webkit-transform: translate(1%, -1.5%);
            transform: translate(1%, -1.5%); } }
@keyframes store2 {
  0% {
    -webkit-transform: translate(-1.5%, 1.5%);
            transform: translate(-1.5%, 1.5%); }
  100% {
    -webkit-transform: translate(1.5%, -1.5%);
            transform: translate(1.5%, -1.5%); } }

