@charset "UTF-8";
html,
body {
  font-family: "微軟正黑體","Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }

a,
button {
  outline: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

.container {
  min-height: 100%;
  overflow: hidden; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-image: url(../images/background/header.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: white;
  z-index: 100; }
  .header .yuantaplusLogo {
    width: 130px;
    height: 39px;
    background-image: url(../images/logo/yuantaplus.svg);
    background-repeat: no-repeat; }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 16px; }
      .header .yuantaplusLogo {
        width: 120px;
        height: 36px; } }
  @media only screen and (max-width: 767px) {
    .header .yuantaplusLogo {
      width: 87px;
      height: 26px; } }

.logo {
  display: inline-block;
  width: 308px; }
  .logo img {
    width: 100%; }
  @media only screen and (max-width: 1023px) {
    .logo {
      width: 280px; } }
  @media only screen and (max-width: 767px) {
    .logo {
      width: 203px; } }

/* ------------------------------- Main ------------------------------- */
.main {
  margin-top: 80px;
  background-color: #f3f5e8; }
  @media only screen and (max-width: 1023px) {
    .main {
      margin-top: 59.5px; } }

/* ------------------------------- Footer ------------------------------- */
.appDownload {
  padding: 40px;
  display: flex;
  justify-content: center;
  background-color: #bccdbe; }
  .appDownload-QRcode img {
    width: 100px;
    margin-right: 20px; }
  .appDownload-link h5 {
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 19px;
    text-align: center; }
  .appDownload-link a {
    display: inline-block;
    padding: 0 3px;
    text-decoration: none;
    transition: .3s; }
  .appDownload-link img {
    width: 170px; }
  @media only screen and (min-width: 1024px) {
    .appDownload-link a:hover {
      transform: translateY(-10%); } }
  @media only screen and (max-width: 1023px) {
    .appDownload-QRcode {
      display: none; }
    .appDownload-link img {
      width: 140px; } }

.footer {
  box-sizing: border-box;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.3;
  text-align: center;
  color: #ffffff;
  background-color: #007fe0; }
  .footer-wrap span + span {
    margin-left: 10px; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 10px 20px 60px;
      font-size: 12px;
      line-height: 1.6;
      text-align: left; }
      .footer-wrap {
        margin-top: 10px; }
        .footer-wrap span {
          display: block; }
        .footer-wrap span + span {
          margin-left: 0; } }

/* ------------------------------- Floating tool ------------------------------- */
.mediaIcons {
  position: fixed;
  bottom: 50%;
  right: 10px;
  transform: translateY(50%);
  display: none;
  margin: 0;
  padding: 0;
  z-index: 20; }
  .mediaIcons li {
    margin: 20px 10px;
    list-style: none; }
    .mediaIcons li a {
      display: block;
      width: 33px;
      height: 33px;
      opacity: .3;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat; }
      .mediaIcons li a.facebook {
        background-image: url(../images/icon/social/socialmedia_facebook-bk.png); }
      .mediaIcons li a.line {
        background-image: url(../images/icon/social/socialmedia_line-bk.png); }
      .mediaIcons li a.instagram {
        background-image: url(../images/icon/social/socialmedia_instagram-bk.png); }
      .mediaIcons li a.youtube {
        background-image: url(../images/icon/social/socialmedia_youtube-bk.png); }
      .mediaIcons li a.telegram {
        background-image: url(../images/icon/social/socialmedia_telegram-bk.png); }
  @media only screen and (min-width: 1024px) {
    .mediaIcons li a:hover {
      opacity: 1; }
      .mediaIcons li a:hover.facebook {
        background-image: url(../images/icon/social/socialmedia_facebook.png); }
      .mediaIcons li a:hover.line {
        background-image: url(../images/icon/social/socialmedia_line.png); }
      .mediaIcons li a:hover.instagram {
        background-image: url(../images/icon/social/socialmedia_instagram.png); }
      .mediaIcons li a:hover.youtube {
        background-image: url(../images/icon/social/socialmedia_youtube.png); }
      .mediaIcons li a:hover.telegram {
        background-image: url(../images/icon/social/socialmedia_telegram.png); } }
  @media only screen and (max-width: 1023px) {
    .mediaIcons {
      right: 0; } }
  @media only screen and (max-width: 767px) {
    .mediaIcons {
      bottom: 0;
      right: 0;
      transform: none;
      width: 100%;
      padding: 4px 0;
      text-align: center;
      background-color: rgba(0, 159, 232, 0.9); }
      .mediaIcons li {
        display: inline-block;
        vertical-align: middle;
        margin: 6px; }
        .mediaIcons li a {
          width: 28px;
          height: 28px;
          opacity: 1; }
          .mediaIcons li a.facebook {
            background-image: url(../images/icon/social/socialmedia_facebook.svg); }
          .mediaIcons li a.line {
            background-image: url(../images/icon/social/socialmedia_line.svg); }
          .mediaIcons li a.instagram {
            background-image: url(../images/icon/social/socialmedia_instagram.svg); }
          .mediaIcons li a.youtube {
            background-image: url(../images/icon/social/socialmedia_youtube.svg); }
          .mediaIcons li a.telegram {
            background-image: url(../images/icon/social/socialmedia_telegram.svg); } }

.gotop {
  position: fixed;
  bottom: 36px;
  right: 36px;
  width: 50px;
  height: 50px;
  display: none;
  border-radius: 25px;
  opacity: .7;
  overflow: hidden;
  z-index: 50; }
  .gotop:hover {
    opacity: 1; }
  @media only screen and (max-width: 767px) {
    .gotop {
      width: 40px;
      height: 40px;
      bottom: 70px;
      right: 20px; } }

/* ------------------------------- creditSlogan ------------------------------- */
.creditSlogan {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 25px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }

.creditSlogan div {
  font-size: 14px;
  color: #575757;
  padding: 0 0 0 30px;
  line-height: 1.6; }

.creditSlogan div:first-child {
  font-size: 28px;
  font-weight: 500;
  color: #575757;
  letter-spacing: 0.6px;
  border-right: 1px solid #666666;
  padding: 0 30px 0 0; }

.creditSlogan div span:first-child::after {
  content: '：'; }

.creditSlogan div:first-child span:first-child {
  padding: 0 10px 0 0; }

.creditSlogan div:first-child span:first-child::after {
  display: none; }

.creditSlogan a {
  color: #007fe0; }

.creditSlogan a:hover {
  color: #007fe0; }

@media screen and (max-width: 1200px) {
  .creditSlogan div {
    font-size: 14px;
    padding: 0 0 0 10px; }
  .creditSlogan div:first-child {
    padding: 0 10px 0 0; } }

@media screen and (max-width: 1024px) {
  .topView h2 {
    width: 100%;
    position: absolute;
    top: 30%; }
  .creditSlogan div {
    font-size: 14px;
    padding: 0 0 0 10px; }
  .creditSlogan div:first-child {
    box-sizing: border-box;
    padding: 0; }
  .creditSlogan div:first-child span {
    display: block; } }

@media screen and (max-width: 870px) {
  .creditSlogan {
    height: 125px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
  .creditSlogan div {
    align-self: flex-start; }
  .creditSlogan div:first-child {
    font-size: 20px;
    margin: 0; }
  .creditSlogan p {
    font-size: 14px;
    line-height: 22px; } }

@media screen and (max-width: 800px) {
  .creditSlogan {
    width: 100%;
    height: auto;
    padding: 20px; }
  .creditSlogan div {
    width: 100%;
    align-self: center;
    text-align: center; }
  .creditSlogan div:first-child {
    font-size: 30px;
    border-bottom: 1px solid;
    border-right: none;
    display: flex;
    justify-content: center;
    margin: 0 0 10px; }
  .creditSlogan p {
    font-size: 14px;
    line-height: 2;
    padding: 0; } }

@media screen and (max-width: 420px) {
  .creditSlogan {
    padding: 20px 10px; }
  .creditSlogan div:first-child {
    font-size: 24px; }
  .creditSlogan p {
    font-size: 12px;
    line-height: 1.8; } }

@-webkit-keyframes cloud {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(50px); } }

@keyframes cloud {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(50px); } }

@-webkit-keyframes bgTree {
  0% {
    transform: skewX(-2deg); }
  100% {
    transform: skewX(2deg); } }

@keyframes bgTree {
  0% {
    transform: skewX(-2deg); }
  100% {
    transform: skewX(2deg); } }

@-webkit-keyframes water {
  0% {
    transform: translateY(-150%);
    opacity: 0; }
  5% {
    opacity: 1; }
  20% {
    opacity: 1; }
  25% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(100%);
    opacity: 0; } }

@keyframes water {
  0% {
    transform: translateY(-150%);
    opacity: 0; }
  5% {
    opacity: 1; }
  20% {
    opacity: 1; }
  25% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(100%);
    opacity: 0; } }

@-webkit-keyframes waterChange {
  0% {
    transform: translateY(-200%);
    opacity: 0; }
  5% {
    opacity: 1; }
  20% {
    opacity: 1; }
  25% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(100%);
    opacity: 0; } }

@keyframes waterChange {
  0% {
    transform: translateY(-200%);
    opacity: 0; }
  5% {
    opacity: 1; }
  20% {
    opacity: 1; }
  25% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(100%);
    opacity: 0; } }

@-webkit-keyframes mainTree {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes mainTree {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes mainTreeMd {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes mainTreeMd {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes mainTreeLg {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes mainTreeLg {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes title {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes title {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.banner {
  position: relative;
  padding-bottom: 36.25%;
  overflow: hidden; }
  .banner img {
    width: 100%; }
  .banner-item {
    position: absolute; }
  .banner-cloud {
    top: 8%;
    left: 4%;
    width: 16%;
    -webkit-animation: cloud 3s linear infinite alternate;
            animation: cloud 3s linear infinite alternate; }
    .banner-cloud.-right {
      top: 8%;
      left: auto;
      right: 14%;
      width: 14%;
      animation: cloud 3s linear infinite alternate-reverse; }
  .banner-grass {
    bottom: 0;
    left: 0;
    width: 100%; }
  .banner-bgTree {
    top: 17%;
    right: -1%;
    width: 12%;
    transform-origin: bottom center;
    animation: bgTree 2s linear infinite alternate-reverse; }
    .banner-bgTree.-plum {
      top: 30%;
      left: -1.5%;
      width: 9%;
      -webkit-animation: bgTree 2s linear infinite alternate;
              animation: bgTree 2s linear infinite alternate; }
  .banner-title {
    top: 15%;
    left: 53%;
    transform: translateX(-50%) translateX(-80%);
    width: 24%; }
    .banner-title img {
      opacity: 0;
      transform: translateY(-100%);
      -webkit-animation: title 1s .5s forwards;
              animation: title 1s .5s forwards; }
  .banner-main {
    bottom: 14%;
    left: 50%;
    transform: translateX(-25%);
    width: 40%;
    opacity: 0;
    -webkit-animation: fade 1s 1.3s forwards;
            animation: fade 1s 1.3s forwards; }
  .banner-mainTree {
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-animation: mainTree 8s infinite;
            animation: mainTree 8s infinite; }
    .banner-mainTree.-md {
      -webkit-animation: mainTreeMd 8s infinite;
              animation: mainTreeMd 8s infinite; }
    .banner-mainTree.-lg {
      -webkit-animation: mainTreeLg 8s infinite;
              animation: mainTreeLg 8s infinite; }
  .banner-water {
    top: -8%;
    left: 53%;
    width: 11%;
    opacity: 0;
    transform: translateY(-150%);
    -webkit-animation: water 8s ease-in-out infinite;
            animation: water 8s ease-in-out infinite; }
    .banner-water.-change {
      top: 15%;
      left: 40%;
      transform: translateY(-200%);
      -webkit-animation: waterChange 8s ease-in-out infinite;
              animation: waterChange 8s ease-in-out infinite; }
  .banner-women {
    top: 0;
    left: 0;
    width: 100%; }
  .banner-man {
    top: 30%;
    left: 9%;
    width: 14%;
    opacity: 0;
    -webkit-animation: fade 1s 1.3s forwards;
            animation: fade 1s 1.3s forwards; }
    .banner-man.-right {
      top: 20%;
      left: auto;
      right: 13%;
      width: 10%; }
  @media only screen and (max-width: 1023px) {
    .banner {
      padding-bottom: 125%; }
      .banner-cloud {
        top: 5%;
        left: -36%;
        width: 50%;
        transform: rotateY(180deg); }
        .banner-cloud.-right {
          top: 5%;
          left: auto;
          right: -30%;
          width: 47%; }
      .banner-grass {
        bottom: -6%; }
      .banner-bgTree {
        top: 15%;
        right: -6%;
        width: 20%; }
        .banner-bgTree.-plum {
          top: 18%;
          left: -5.5%;
          width: 19%; }
      .banner-title {
        top: 7.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 65%; }
      .banner-main {
        bottom: 13%;
        left: 50%;
        transform: translateX(-49.5%);
        width: 80%; }
      .banner-man {
        top: 32.5%;
        left: 0.5%;
        width: 24%; }
        .banner-man.-right {
          top: 31.5%;
          left: auto;
          right: 3%;
          width: 18%; } }
  @media only screen and (max-width: 767px) {
    .banner {
      padding-bottom: 140%; }
      .banner-cloud {
        top: 8%; }
        .banner-cloud.-right {
          right: -27%; }
      .banner-grass {
        bottom: 0; }
      .banner-bgTree {
        top: 17%; }
        .banner-bgTree.-plum {
          top: 21%; }
      .banner-title {
        width: 73%; }
      .banner-main {
        width: 88%; }
      .banner-man {
        width: 26.5%; }
        .banner-man.-right {
          width: 19.5%; } }

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ef863e; } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ef863e; } }

@-webkit-keyframes pulseBu {
  0% {
    box-shadow: 0 0 0 0 #6991bc; } }

@keyframes pulseBu {
  0% {
    box-shadow: 0 0 0 0 #6991bc; } }

.btn {
  flex: 0 0 auto;
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 300px;
  padding: 13px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 46px;
  background-color: #ef863e;
  cursor: pointer; }
  .btn b {
    font-size: 24px;
    font-weight: 500; }
  .btn.-bu {
    background-color: #6991bc; }
  .btn + .btn {
    margin-left: 40px; }
  @media only screen and (min-width: 1024px) {
    .btn:hover {
      -webkit-animation: pulse 1s;
              animation: pulse 1s;
      box-shadow: 0 0 0 0.5em transparent; }
    .btn.-bu:hover {
      -webkit-animation: pulseBu 1s;
              animation: pulseBu 1s; } }
  @media only screen and (max-width: 767px) {
    .btn {
      width: 220px;
      margin: 0 auto;
      padding: 10px;
      font-size: 13px; }
      .btn b {
        font-size: 17px; }
      .btn + .btn {
        margin-left: auto;
        margin-top: 20px; } }

@-webkit-keyframes fade-right {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@-webkit-keyframes fade-left {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@-webkit-keyframes fade-down-right {
  0% {
    opacity: 0;
    transform: translate3d(-100px, -100px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fade-down-right {
  0% {
    opacity: 0;
    transform: translate3d(-100px, -100px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@-webkit-keyframes flip-left {
  0% {
    opacity: 0;
    transform: perspective(2500px) rotateY(-100deg); }
  100% {
    opacity: 1;
    transform: perspective(2500px) rotateY(0); } }

@keyframes flip-left {
  0% {
    opacity: 0;
    transform: perspective(2500px) rotateY(-100deg); }
  100% {
    opacity: 1;
    transform: perspective(2500px) rotateY(0); } }

@-webkit-keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 1;
    transform: none; } }

[data-animate] {
  opacity: 0; }

[data-animate-block="active"] [data-animate=fade-right] {
  -webkit-animation: fade-right .8s forwards;
          animation: fade-right .8s forwards; }

[data-animate-block="active"] [data-animate=fade-left] {
  -webkit-animation: fade-left .8s forwards;
          animation: fade-left .8s forwards; }

[data-animate-block="active"] [data-animate=fade-down-right] {
  -webkit-animation: fade-down-right .8s forwards;
          animation: fade-down-right .8s forwards; }

[data-animate-block="active"] [data-animate=fade-up] {
  -webkit-animation: fade-up .8s forwards;
          animation: fade-up .8s forwards; }

[data-animate-block="active"] [data-animate=flip-left] {
  -webkit-animation: flip-left .8s forwards;
          animation: flip-left .8s forwards; }

[data-animate-block="active"] [data-animate=zoom-in] {
  -webkit-animation: zoom-in .8s forwards;
          animation: zoom-in .8s forwards; }

.wrap {
  position: relative;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }

.block {
  padding: 135px 0;
  background-image: url(./../images/background/bg.png);
  background-size: 100%;
  background-position: top -70px center; }
  .block-wrap {
    position: relative;
    box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px; }
  .block-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #43799e; }
  .block-subtitle {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #4c8365; }
  .block-text {
    margin-top: 40px;
    font-size: 18px;
    text-align: center; }
  .block-content {
    margin-top: 65px; }
    .block-content + .block-content {
      margin-top: 100px; }
    .block-content.-bar {
      margin-top: 30px; }
  .block-content + .block-title {
    margin-top: 135px; }
  .block-action {
    display: flex;
    justify-content: center;
    margin-top: 120px; }
  @media only screen and (max-width: 1023px) {
    .block {
      padding: 110px 0;
      background-image: url(./../images/background/bg-mb.png); }
      .block-content {
        margin-top: 40px; }
        .block-content + .block-content {
          margin-top: 80px; }
      .block-content + .block-title {
        margin-top: 110px; } }
  @media only screen and (max-width: 767px) {
    .block {
      padding: 80px 0; }
      .block-title {
        font-size: 26px; }
      .block-content {
        margin-top: 30px; }
        .block-content + .block-content {
          margin-top: 60px; }
      .block-content + .block-title {
        margin-top: 80px; } }
  @media only screen and (max-width: 767px) {
    .block-text {
      margin-top: 30px;
      font-size: 14px;
      text-align: left; }
    .block-action {
      display: block;
      margin-top: 70px; } }

.block.-slider {
  background-image: none;
  background-color: #6f95b5; }

.block.-slider .block-title {
  color: #fff; }

.block.-offer .block-wrap {
  max-width: 1110px; }

@media only screen and (max-width: 1023px) {
  .block.-slider .block-wrap {
    padding: 0 40px; } }

.notice {
  margin-top: 50px;
  padding: 0 30px;
  border-radius: 10px;
  border: solid 3px #bccdbe;
  background-color: #fff; }
  .notice-action {
    position: relative;
    display: block;
    padding: 28px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3a4944;
    text-decoration: none; }
    .notice-action::after {
      content: '＋';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      font-size: 1.2em;
      transition: .3s; }
    .notice-action.open::after {
      content: '—';
      transform: translateY(-50%) rotate(180deg); }
  .notice-content {
    display: none;
    padding: 25px 0;
    font-size: 16px;
    border-top: 2px solid #bccdbe; }
  @media only screen and (max-width: 767px) {
    .notice {
      margin-top: 50px;
      padding: 0 20px;
      border: solid 2px #bccdbe; }
      .notice-action {
        padding: 15px 0;
        font-size: 16px; }
      .notice-content {
        padding: 15px 0;
        font-size: 14px;
        border-top: 1px solid #bccdbe; } }

.certificate-grid {
  display: flex;
  justify-content: center; }

.certificate-pic {
  flex: 0 0 auto; }
  .certificate-pic img {
    width: 267px; }
  .certificate-pic + .certificate-pic {
    margin-left: 30px; }

.certificate-content {
  margin-top: 30px;
  font-size: 18px;
  line-height: 2;
  text-align: center; }
  .certificate-content b {
    padding: 0 5px;
    background-image: linear-gradient(transparent 0%, transparent 59.9%, #dbe8d8 60%, #dbe8d8 100%); }
  .certificate-content span {
    font-size: 16px;
    color: #4c8365; }

  @media only screen and (max-width: 767px) {
    .certificate-grid {
      padding: 0 10px; }
    .certificate-pic {
      flex: 1;
      text-align: center; }
      .certificate-pic img {
        width: 100%;
        max-width: 240px; }
      .certificate-pic + .certificate-pic {
        margin-left: 15px; }
    .certificate-content {
      margin-top: 20px;
      font-size: 14px;
      text-align: left; }
      .certificate-content b {
        padding: 0 5px; }
      .certificate-content span {
      font-size: 12px; } }

.product-step {
  display: flex;
  padding: 5% 2% 0;
  justify-content: center; }
.product-pic {
  flex: 0 0 auto; }
  .product-pic img {
    width: 280px; }
.product-content {
  padding: 2% 0 2% 5%;
  font-size: 18px;
  line-height: 2; }
  .product-content b {
    color: #578bc3; }
  .product-content .product-tit {
    font-size: 22px;
    margin-bottom: 0.5em ;}
  .product-content .b-green {
    color: #4c8365; }
  .product-content hr {
    border: 0;
    height: 1px;
    background: #4c8365;}
  .product-content ol {
    list-style-type: none;
    margin-left: 5px;}
  .product-content ol li {
    margin-bottom: 10px;}
  .product-content ol li span.circleNum {
    display: inline-block;
    color: #ffffff;
    background: #4c8365;
    text-align: center;
    line-height: 1.5em;
    font-size: 0.777em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.5em;
    margin-left: -2em;}
  @media only screen and (max-width: 767px) {
  .product-step {
      flex-direction: column;}
  .product-pic {
    flex: 1;
    text-align: center; }
    .product-pic img {
    width: 100%;
    max-width: 240px; }
  .product-content {
    padding: 5% 0 2%;
    font-size: 14px;}
    .product-content .product-tit {
      font-size: 18px;} }

.intro {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 70px;
  background-color: #fff; }
  .intro-pic {
    position: relative;
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 280px;
    padding: 50px 0 0 45px; }
    .intro-pic::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 245px;
      height: 290px;
      background-color: #dbe8d8; }
    .intro-pic img {
      position: relative;
      width: 100%;
      border: 5px solid #465f58;
      z-index: 1; }
  .intro-content {
    flex: 1;
    margin-left: 50px; }
  .intro-title {
    font-size: 24px;
    font-weight: 500;
    color: #6991bc; }
    .intro-title span {
      padding-bottom: 3px;
      line-height: 1.8;
      border-bottom: 1px solid #6991bc; }
  .intro-text {
    margin-top: 30px;
    line-height: 2; }
  @media only screen and (max-width: 1023px) {
    .intro {
      padding: 40px; }
      .intro-pic {
        width: 255px;
        padding: 40px 0 0 30px; }
        .intro-pic::before {
          width: 230px;
          height: 275px; }
      .intro-title {
        font-size: 21px; }
      .intro-text {
        margin-top: 20px; } }
  @media only screen and (max-width: 767px) {
    .intro {
      display: block;
      padding: 30px; }
      .intro-pic {
        width: 200px;
        margin: 0 auto;
        padding: 30px 0 0 30px; }
        .intro-pic::before {
          width: 170px;
          height: 210px; }
        .intro-pic img {
          border: 3px solid #465f58; }
      .intro-content {
        margin-left: 0;
        margin-top: 25px; }
      .intro-title {
        font-size: 18px; }
        .intro-title span {
          padding-bottom: 2px; }
      .intro-text {
        font-size: 14px;
        line-height: 1.7; } }

.step {
  padding: 0 20px;
  text-align: center; }
  .step-title img,
  .step-title span {
    display: inline-block;
    vertical-align: middle; }
  .step-title span {
    margin-left: 15px;
    padding-bottom: 3px;
    font-size: 27px;
    font-weight: 500;
    color: #4c8365;
    border-bottom: 1px solid #4c8365; }
  .step-pic {
    margin-top: 50px; }
    .step-pic img {
      width: 540px; }
  .step-text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 2;
    text-align: left; }
  @media only screen and (max-width: 1023px) {
    .step-pic img {
      width: 440px; } }
  @media only screen and (max-width: 767px) {
    .step {
      padding: 0; }
      .step-title img {
        width: 35px; }
      .step-title span {
        margin-left: 10px;
        font-size: 17px; }
      .step-pic {
        margin-top: 30px;
        padding: 0 20px;
        text-align: center; }
        .step-pic img {
          width: 100%;
          max-width: 360px; }
      .step-text {
        font-size: 14px; } }

.info {
  text-align: center; }
  .info-title {
    font-size: 18px;
    line-height: 2; }
    .info-title b {
      font-size: 30px;
      font-weight: 500;
      color: #6991bc; }
  .info-content {
    margin-top: 30px; }
  @media only screen and (max-width: 767px) {
    .info-title {
      font-size: 14px; }
      .info-title b {
        font-size: 18px; } }

.picDesc-pic img {
  width: 757px; }

.picDesc-content {
  display: flex;
  margin-top: 25px;
  padding: 0 100px; }

.picDesc-item {
  flex: 1;
  font-size: 14px; }
  .picDesc-item p {
    margin-bottom: 20px;
    padding: 5px 20px;
    font-size: 20px;
    line-height: 1.8;
    color: #fff;
    border-radius: 23px;
    background-color: #f0b510; }
    .picDesc-item p.-og {
      background-color: #ef863e; }
  .picDesc-item + .picDesc-item {
    margin-left: 60px; }

@media only screen and (max-width: 1023px) {
  .picDesc-pic img {
    width: 600px; }
  .picDesc-content {
    padding: 0 30px; }
  .picDesc-item + .picDesc-item {
    margin-left: 40px; } }

@media only screen and (max-width: 767px) {
  .picDesc-pic img {
    width: 100%;
    max-width: 360px; }
  .picDesc-content {
    display: block;
    padding: 0 30px; }
  .picDesc-item {
    width: 260px;
    margin: 0 auto;
    font-size: 12px; }
    .picDesc-item p {
      margin-bottom: 10px;
      padding: 5px 20px;
      font-size: 14px; }
    .picDesc-item + .picDesc-item {
      margin-left: auto;
      margin-top: 20px; } }

table {
  width: 790px;
  margin: 0 auto; }
  table th {
    padding: 8px;
    width: 25%;
    font-weight: 300;
    color: #fff; }
    table th:nth-child(1) {
      background-color: #7ba273; }
    table th:nth-child(2) {
      background-color: #609675; }
    table th:nth-child(3) {
      background-color: #4c8365; }
    table th:nth-child(4) {
      background-color: #6991bc; }
  table td {
    padding: 8px;
    background-color: #fff; }
    table td span {
      color: #6991bc; }
      table td span.-lg {
        font-size: 36px;
        font-weight: bold; }
  @media only screen and (max-width: 1023px) {
    table {
      width: 728px; }
      table tr:nth-child(1) th {
        background-color: #7ba273; }
      table tr:nth-child(2) th {
        background-color: #609675; }
      table tr:nth-child(3) th {
        background-color: #4c8365; }
      table tr:nth-child(4) th {
        background-color: #6991bc; } }
  @media only screen and (max-width: 767px) {
    table {
      width: 100%;
      max-width: 500px;
      font-size: 14px; }
      table th {
        padding: 10px 0;
        width: 34%; }
      table td {
        width: 33%; }
        table td span.-lg {
          font-size: 22px; } }

.checkGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -30px -40px; }
  .checkGrid-item {
    flex: 0 0 auto;
    margin: 30px 40px; }
  @media only screen and (max-width: 1023px) {
    .checkGrid {
      margin: -25px; }
      .checkGrid-item {
        margin: 25px; } }
  @media only screen and (max-width: 767px) {
    .checkGrid {
      margin: -15px -25px; }
      .checkGrid-item {
        width: 120px;
        margin: 15px 25px; } }

.check {
  text-align: center; }
  .check-pic {
    margin-bottom: 10px; }
    .check-pic img {
      width: 180px; }
  .check-content {
    font-size: 20px; }
    .check-content p {
      margin-top: 5px;
      font-weight: 500;
      color: #6f95b5; }
      .check-content p::before {
        content: '';
        display: inline-block;
        width: 23px;
        height: 14px;
        margin-right: 7px;
        background-image: url(./../images/icon/arrow.svg);
        background-size: 100%; }
  @media only screen and (max-width: 767px) {
    .check-pic img {
      width: 110px; }
    .check-content {
      font-size: 15px; }
      .check-content p {
        margin-top: 3px; }
        .check-content p::before {
          width: 16px;
          height: 10px;
          margin-right: 5px;
          background-repeat: no-repeat; } }

.offerGrid {
  display: flex;
  flex-wrap: wrap;
  margin: -60px -22px; }
  .offerGrid-item {
    flex: 0 0 auto;
    width: calc(50% - 44px);
    margin: 60px 22px; }
  @media only screen and (max-width: 1023px) {
    .offerGrid {
      display: block;
      margin: 0 50px; }
      .offerGrid-item {
        width: 100%;
        margin: 0; }
        .offerGrid-item + .offerGrid-item {
          margin-top: 70px; } }
  @media only screen and (max-width: 767px) {
    .offerGrid {
      margin: 0; } }

.offer {
  display: flex;
  height: 100%; }
  .offer-pic {
    flex: 0 0 auto; }
    .offer-pic img {
      width: 240px; }
  .offer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 15px; }
  .offer-title {
    flex: 0 0 auto; }
    .offer-title span {
      padding-bottom: 3px;
      font-size: 24px;
      font-weight: 500;
      color: #6f95b5;
      border-bottom: 1px solid #6f95b5; }
  .offer-text {
    flex: 1 0 auto;
    margin-top: 25px;
    font-size: 18px; }
    .offer-text span {
      font-size: 14px;
      color: #5f5f5f; }
  .offer-btn {
    flex: 0 0 auto;
    margin-top: 30px; }
    .offer-btn a {
      display: inline-block;
      padding: 10px 40px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: #fff;
      border-radius: 24px;
      background-color: #ef863e; }
  @media only screen and (min-width: 1024px) {
    .offer-btn a:hover {
      -webkit-animation: pulse 1s;
              animation: pulse 1s;
      box-shadow: 0 0 0 0.5em transparent; } }
  @media only screen and (max-width: 1023px) {
    .offer-content {
      margin-left: 30px; } }
  @media only screen and (max-width: 767px) {
    .offer-pic img {
      width: 136px; }
    .offer-content {
      margin-left: 18px; }
    .offer-title span {
      font-size: 18px; }
    .offer-text {
      margin-top: 10px;
      font-size: 14px; }
      .offer-text span {
        font-size: 12px; }
    .offer-btn {
      margin-top: 10px; }
      .offer-btn a {
        padding: 8px 30px;
        font-size: 14px; } }

.bar {
  text-align: center; }
  .bar img {
    width: 100%;
    max-width: 838px; }
    .bar img.-mb {
      display: none; }
  @media only screen and (max-width: 767px) {
    .bar img {
      width: 290px; }
      .bar img.-pc {
        display: none; }
      .bar img.-mb {
        display: inline-block; } }

ol {
  margin: 0;
  padding-left: 25px;
  line-height: 1.8; }
  ol.chinese {
    padding-left: 30px;
    list-style-type: none; }
    ol.chinese > li {
      position: relative; }
      ol.chinese > li::before {
        content: "(" attr(data-num) ")";
        position: absolute;
        top: 0;
        left: -3px;
        transform: translateX(-100%); }
  ol.decimal {
    list-style-type: none; }
    ol.decimal > li {
      position: relative;
      counter-increment: decimal; }
      ol.decimal > li::before {
        content: "(" counter(decimal, decimal) ")";
        position: absolute;
        top: 0;
        left: -3px;
        transform: translateX(-100%); }
  ol ul.disc {
      list-style-type: disc; 
      padding-left: 20px; }
  @media only screen and (max-width: 767px) {
    ol {
      padding-left: 20px; }
      ol.chinese {
        padding-left: 25px; } }

.block .swiper {
  position: relative; }

.block .swiper-slide {
  height: auto;
  opacity: 0.5;
  transition: .3s; }
  .block .swiper-slide.swiper-slide-active {
    opacity: 1; }

.block .swiper-container-horizontal > .swiper-pagination-bullets,
.block .swiper-pagination-custom,
.block .swiper-pagination-fraction {
  bottom: -50px; }

.block .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 20px; }

.block .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #fff;
  opacity: 1; }
  .block .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #ffdd7d; }

.block .swiper-button-next,
.block .swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  background-image: url(./../images/icon/next.svg);
  background-size: 100%;
  transition: .3s; }

.block .swiper-button-prev {
  left: -77px;
  transform: translateY(-50%) rotate(180deg); }

.block .swiper-button-next {
  right: -77px; }

@media only screen and (min-width: 1024px) {
  .block .swiper-button-prev:hover {
    transform: translateX(-5px) translateY(-50%) rotate(180deg); }
  .block .swiper-button-next:hover {
    transform: translateX(5px) translateY(-50%); } }

@media only screen and (max-width: 1110px) {
  .block .swiper-button-next,
  .block .swiper-button-prev {
    display: none; } }

@media only screen and (max-width: 767px) {
  .block .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px; }
  .block .swiper-container-horizontal > .swiper-pagination-bullets,
  .block .swiper-pagination-custom,
  .block .swiper-pagination-fraction {
    bottom: -35px; }
  .block .swiper-pagination-bullet {
    width: 10px;
    height: 10px; } }

.tab {
  position: relative;
  margin-top: -84px; }
  .tab-nav {
    height: 84px; }
  .tab-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 10px; }
    .tab-wrap::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: .3s; }
    .tab-wrap.-fixed {
      position: fixed;
      top: 79px;
      left: 0;
      width: 100%;
      z-index: 99; }
      .tab-wrap.-fixed::before {
        background-color: #78a26a; }
  .tab-btn {
    position: relative;
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 320px;
    padding: 12px;
    font-size: 22px;
    color: #3a4944;
    text-align: center;
    text-decoration: none;
    background-color: #e0e2d3;
    z-index: 1; }
    .tab-btn img,
    .tab-btn span {
      display: inline-block;
      vertical-align: middle; }
    .tab-btn img.active {
      display: none; }
    .tab-btn span.leaf {
      margin-left: -3px; }
    .tab-btn span.co2 {
      margin-left: 6px; }
    .tab-btn:first-child {
      border-radius: 40px 0 0 0; }
    .tab-btn:last-child {
      border-radius: 0 40px 0 0; }
    .tab-btn + .tab-btn {
      position: relative; }
      .tab-btn + .tab-btn::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -1px;
        transform: translateY(-50%);
        width: 1px;
        height: 24px;
        background-color: #444; }
    .tab-btn.-active {
      color: #fff;
      border-bottom: 5px solid #ffdd7d;
      background-color: #3a4944; }
      .tab-btn.-active img {
        display: none; }
        .tab-btn.-active img.active {
          display: inline-block; }
      .tab-btn.-active::before {
        content: none; }
  .tab-content {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none; }
    .tab-content.-active {
      height: auto;
      opacity: 1;
      pointer-events: visible; }
  @media only screen and (max-width: 1440px) {
    .tab {
      margin-top: -65px; }
      .tab-nav {
        height: 65px; }
      .tab-btn {
        width: 300px;
        padding: 8px;
        font-size: 20px; }
        .tab-btn img {
          width: 36px; }
        .tab-btn:first-child {
          border-radius: 30px 0 0 0; }
        .tab-btn:last-child {
          border-radius: 0 30px 0 0; }
        .tab-btn.-active {
          border-bottom: 3px solid #ffdd7d; } }
  @media only screen and (min-width: 1024px) {
    .tab-btn span,
    .tab-btn img {
      transition: .3s; }
    .tab-btn:hover span,
    .tab-btn:hover img {
      transform: translateY(-5px); } }
  @media only screen and (max-width: 1023px) {
    .tab {
      margin-top: -55px; }
      .tab-nav {
        height: 55px; }
      .tab-wrap {
        padding-top: 0; }
        .tab-wrap.-fixed {
          top: 68px; }
      .tab-btn {
        flex: 1;
        width: auto; }
        .tab-btn + .tab-btn::before {
          height: 15px; }
        .tab-btn:first-child {
          border-radius: 0; }
        .tab-btn:last-child {
          border-radius: 0; } }
  @media only screen and (max-width: 767px) {
    .tab {
      margin-top: -43px; }
      .tab-nav {
        height: 43px; }
      .tab-wrap.-fixed {
        top: 59px; }
      .tab-btn {
        font-size: 14px; }
        .tab-btn img {
          width: 23px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

.textBox {
  margin-bottom: 35px;
  padding: 20px;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  background-color: #dbe8d8; }
  @media only screen and (max-width: 767px) {
    .textBox {
      margin-bottom: 30px;
      font-size: 14px;
      text-align: left; } }

.tipBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
  color: #4c8365; }
  .tipBox img.light {
    margin-right: 10px;
    width: 70px; }
  .tipBox img.paper {
    margin-left: 20px;
    width: 52px; }
  .tipBox span {
    padding: 10px 20px 12px;
    border-top: 2px solid #4c8365;
    border-bottom: 2px solid #4c8365; }
  @media only screen and (max-width: 1023px) {
    .tipBox {
      font-size: 24px; }
      .tipBox img.light {
        margin-right: 5px;
        width: 60px; }
      .tipBox img.paper {
        margin-left: 10px;
        width: 42px; }
      .tipBox span {
        padding: 8px 15px 10px; } }
  @media only screen and (max-width: 767px) {
    .tipBox {
      font-size: 16px; }
      .tipBox img.light {
        width: 40px; }
      .tipBox img.paper {
        width: 30px; }
      .tipBox span {
        padding: 6px 15px 8px; } }

.more {
  padding-top: 30px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  color: #3d5550; }
  .more .-en {
    font-size: 30px;
    color: #bccdbe; }
  @media only screen and (max-width: 767px) {
    .more {
      font-size: 16px; }
      .more .-en {
        font-size: 20px; } }

@media only screen and (min-width: 1024px) {
  .mobileOnly {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .desktopOnly {
    display: none; } }

@media only screen and (min-width: 1024px) {
  .block-wrap.mobileOnly {
    display: block !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important; } }

@media only screen and (max-width: 1023px) {
  .block-wrap.desktopOnly {
    display: block !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important; } }

/* ------------------------------- video ------------------------------- */
.video-box {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
.video-box .video-content {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-top: 80px;
}
.video-box .video-content iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 767px) {
  .video-box {width: 90%;}
  .video-box .video-content {margin-top: 10%;}
}

/* ------------------------------- 202308camp ------------------------------- */

.event {
  text-align: center;}

  .event-pic {
    text-align: center;
    margin-top: 4%;}
  .event-pic img {
    width: 761px;}
  @media only screen and (max-width: 1023px) {
    .event-pic img {
      width: 100%;
      max-width: 700px;}}

  .event-item {
    padding: 5% 0;}
  @media only screen and (max-width: 767px) {
    .event-item {
      padding: 8% 0}}

  .event-title span {
    padding-bottom: 3px;
    font-size: 26px;
    font-weight: bold;
    color: #6f95b5;
    border-bottom: 1px solid #6f95b5;}
  @media only screen and (max-width: 767px) {
    .event-title span {
      font-size: 22px;}}

  .event-date {
    font-size: 22px;
    font-weight: bold;
    margin-top: 2%;}
  @media only screen and (max-width: 767px) {
    .event-date {
      font-size: 18px;
      margin-top: 5%;}}

  .event-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 2;
    margin-top: 2%;}
    .event .checklist-tt {
      color: #ef863e;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;}
    .event img.checklist-pic {
      display: inline-block;
      vertical-align: middle;
      width: 18px;}
    .textblue {
      font-size: 22px;
      color: #6991bc;
      font-weight: bold;}
    .textorange {
      font-size: 18px;
      color: #ef863e;
      font-weight: bold;}
    .textgreen {
      font-size: 24px;
      color: #07b53c;
      font-weight: bold;}
    .texts{
      font-size: 14px;
      color: #5f5f5f;}
  @media only screen and (max-width: 767px) {
    .event-text {
      text-align: left;
      font-size: 16px;
      margin-top: 2%;}
    .event img.checklist-pic {
      width: 14px;}
      .textblue,.textorange, .textgreen {
      font-size: 16px;}}

  .event-btn {
  flex: 0 0 auto;
  margin-top: 3%; }
  .event-btn a {
    display: inline-block;
    padding: 10px 40px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 46px;
    background-color: #ef863e;}
  @media only screen and (min-width: 1024px) {
    .event-btn a:hover {
      -webkit-animation: pulse 1s;
              animation: pulse 1s;
      box-shadow: 0 0 0 0.5em transparent; } }

  .event-linepic img {
    width: 317px;}
  @media only screen and (max-width: 767px) {
    .event-linepic img {
      width: 300px;
      margin-top: 5%;}}

  .event-item .product-step {
    text-align: left;}

  /*popuplist*/
  .popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    content: '';
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
  }
  .popup-box {
    width: 150%;
    height: auto;
    padding: 50px;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #fff;
    text-align: center;
  }
  .CRlist {
    height: 1000px;
    overflow-y: scroll;
  }
  .CRlist table {
    width: 100%;
    font-size: 1.8em;
    line-height: 2;
  }
  .CRlist table th:nth-child(1) {
    background-color: #7ba273; }
  .CRlist table th:nth-child(2) {
    background-color: #609675;
    width: 40%; }
  .CRlist table th:nth-child(3) {
    background-color: #4c8365; }
  .CRlist table td{
    background: #eaeddb;
  }
  .close-btn {
    width: 70px;
    height: 70px;
    display: inline-block;
    position: absolute;
    top: -30px;
    right: -30px;
    border-radius: 100%;
    background: #d75f70;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 60px;
    font-size: 40px;
  }
  .transform-in, .transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  .transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
  /*捲軸底色*/
  #CRlist::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #bbcdbd; */
  }
  /*捲軸寬度*/
  #CRlist::-webkit-scrollbar {
    width: 15px;
    background-color: #e4e4e4;
  }
  /*捲軸本體顏色*/
  #CRlist::-webkit-scrollbar-thumb {
    background-color: #cacaca;
  }

@media only screen and (max-width: 767px) {
  .popup-box {
    width: 160%;
    padding: 10px;
  }
  .CRlist {
    height: 1000px;
    overflow-y: scroll;
  }
  .CRlist table {
    max-width: 1200px;
  }

}