@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Regular.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Medium.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf") format("opentype");
  font-display: swap; }

/* ------------------------------- main ------------------------------- */
* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: 'Noto Sans TC','微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color: #272525; padding-top: 80px; font-size: 12px; background: #FFDE48;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}
.padOnly{display: none;}
.mobOnly{display: none;}
/* kv */
.kv_container{width: 100%; margin: 0 auto; background: #FFED9A url("../images/check.png") center top repeat; background-size: auto;}
.kv{width: 100%; max-width: 1600px; height: 650px; margin: 0 auto; position: relative;}
.kv .kv_tit{width: 775px; position: absolute; top: 25%; left: 2%; animation-duration: 1s;}
.kv .people{width: 44%; height: 0; padding-bottom: 31.075%; position: absolute; top: 12%; right: 3%;}
.kv .man{width: 100%; position: absolute; top: 0; right: 0;}
.kv .P1{width: 13%; position: absolute; left: 26%; bottom: 0; animation-delay: 0.5s;}
.kv .P2{width: 9%; position: absolute; top: 16%; right: 20%; animation-delay: 0.3s;}
.kv .banknote1{width: 12%; position: absolute; top: 27%; right: 0; animation: float 1s ease-in-out infinite alternate-reverse;}
.kv .banknote2{width: 13%; position: absolute; top: 47%; left: 0; animation: float 1s ease-in-out infinite alternate;}
/* content */
.content_container{width: 100%; margin: 0 auto; color: #272525;}
.content{width: 100%; margin: 0 auto; padding: 6%; display: flex; flex-direction: column; gap: 100px; background: #FFDE48 url("../images/deco.png") no-repeat center center; background-size: 1920px;}
.event_logo{width: 440px; margin: 0 auto;}
/* event */
.event{width: 100%; max-width: 1200px; margin: 0 auto; background-color: #ffffff; border: 4px solid #272525; border-radius: 30px; position: relative;}
.event_buckle{width: 100%; position: absolute; top: -28px; left: 50%; transform: translateX(-50%);}
.event_buckle img{width: 160px;}
.event_buckleL{position: absolute; left: 10%;}
.event_buckleR{position: absolute; right: 10%;}
.event_cont{}
.event_tit{font-size: 40px; line-height: 1.8; background-color: #EAEAEA; color: #272525; text-align: center; padding: 2% 0; border-radius: 25px 25px 0 0;}
.event_part{width: 100%; margin: 0 auto; padding: 5% 8%; text-align: center; display: flex; flex-direction: column; align-items: center; gap: 100px;}
.event_date{font-size: 28px; font-weight: bold;}
.event_txt{font-size: 20px; line-height: 1.8;}
.event_txts{font-size: 14px; line-height: 1.8; color: #666666;}
.event_pic{width: 708px;}
.dis_part{display: flex; flex-direction: column; align-items: center; gap: 20px;}
.new_part{width: 100%; margin: 0 auto; padding: 8% 5%; background: #F1F5FF; border-radius: 20px; display: flex; flex-direction: column; align-items: center; gap: 20px; position: relative;}
.new_tit{position: absolute; top: -5%; left: 50%; transform: translateX(-50%); width: 500px;}
.new_cont{display: flex; justify-content: space-between; margin: 0 auto; gap: 25px;}
.new_line{flex: 0 0 auto; width: 1px; background-color: #272525;}
.new_item{flex: 0 1 auto; display: flex; flex-direction: column; align-items: center; width: 330px; padding: 3% 0;}
.new_step{width: 100px;}
.new_step::after {content: ''; display: block; margin: 24px auto 0; width: 24px; height: 1px; background-color: #0073CA;}
.new_pic{width: 120px; margin: 0 auto;}
.tt-bold{font-weight: bold;}
.blue{color: #0073CA;}
.red{color: #FF3F3F;}
.yellow{color: #FFD720;}
/* action */
.action{display:-webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; margin: -6% auto 2%;}
.action-item{-webkit-flex: 0 1 288px; flex: 0 1 288px; max-width: 288px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left: 25px;}
.btn{position: relative; display: block; border-radius: 45px; cursor: pointer;}
.btn::after{content:''; position:absolute; top: 0; right: 0; bottom: 0; left: 0; display: block; border-radius: 45px; -webkit-transform:translateY(7px); transform:translateY(7px);}
.btn img{position:relative;width:100%; z-index: 5; transition:.2s;}
.btn.blue::after{background-color: #272525;}
.btn.yellow::after{background-color: #272525;}
.btn:hover img{-webkit-transform:translateY(6px); transform:translateY(6px);}
/* pxpayplus */
.pxpayplus_tit{font-size: 40px; line-height: 1.8; background-color: #272525; color: #ffffff; text-align: center; padding: 2% 0; border-radius: 25px 25px 0 0;}
.account{width: 100%; max-width: 1040px; margin: 0 auto; padding: 6% 8%; position: relative;}
.step{position:relative;display:-webkit-flex;display:flex;}
.step-title{position:absolute;top:0;right:16%;width:100%;max-width:50%;}
.step-title img{width:100%;}
.step-img{-webkit-flex:0 0 auto;flex:0 0 auto;max-width:30%;}
.step-img img{width:100%;}
.step-content{-webkit-flex:1;flex:1;margin:10% 0 0 6%;}
.step-content .subTitle{max-width:558px;padding-top:10%;}
.step-content .subTitle img{width:60%;}
.stepList{display:-webkit-flex;display:flex;margin-top:10px;}
.stepList-num{-webkit-flex:0 0 40px;flex:0 0 40px;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;background-color:#FFD720}
.stepList-num img{width:24px}
.stepList-text{-webkit-flex:1;flex:1;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;box-sizing:border-box;min-height:74px;padding:12px 10px;font-size:18px;color:#1e334e;background-color:#FEF8E1; text-align: left;}
.stepList-text p{width:100%;}
.stepList-num-w,.stepList-text-w{background-color: #ffffff;}
.moreInfo{text-align:center;margin-top: 2%;}
.moreInfo a{display:inline-block;font-size:20px; font-weight: bold; color:#1361B9; text-decoration:none; border-bottom:1px solid #1361B9;margin:3% 0 0;}
/* notice */
.notice_container{background: #FEF8E1;}
.notice{width: 100%; max-width: 1600px; margin: 0 auto; font-size: 15px; line-height: 2; color: #272525; padding: 4% 6%;}
.notice_tit{display: flex; font-size: 36px; justify-content: center; align-items: center; font-weight: 700; text-align: center; color: #272525; margin-bottom: 30px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: .5em;}
.notice_all{}
.notice_all a{text-decoration: underline; color: #0073CA; z-index:5;}
.notice_all ol{margin: 0; list-style-type: cjk-ideographic; padding-left: 48px;}
.notice_all ol>li{}
.notice_all ol>li>span{font-weight: 500; text-decoration: underline;}
.notice_all ol>li>ul{list-style-type: decimal; padding-left: 16px;}
.notice_all ol>li>ul>li{}
.notice_all ol>li>ul>li>ol{padding-left: 24px;}
.notice_all ol>li>ul>li>ol>li{list-style: none; position: relative; counter-increment: section 1;}
.notice_all ol>li>ul>li>ol>li::before{
    content: "(" counter(section) ")";
    position: absolute;
    top: 0px;
    left: -5px;
    transform: translateX(-100%);
}
.notice_all ol>li>ul>li>ol>li>ul{list-style-type: disc; padding-left: 20px;}
.notice_all ol>li>ul>li>ol>li>ul>li{}
#contTab{display: none;}
.content-more{display: none;
}
#contTab:checked ~ #cont{
    max-height: 250px;
    overflow: hidden;
}
#contTab:checked ~  .content-more{
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
#contTab:checked ~  .content-more .gradient{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(254,239,212,0)),to(#FEF8E1));
    background-image: -webkit-linear-gradient(top,rgba(254,239,212,0),#FEF8E1);
    background-image: linear-gradient(-180deg,rgba(254,239,212,0),#FEF8E1);
    height: 80px;
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
}
#contTab:checked ~  .content-more .readmore{
    display: inline-block;
    background: #0c61bf;
    color: #ffffff;
    width: 175px;
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.8;
	transition: 0.3s;
}
#contTab:checked ~  .content-more .readmore:hover{opacity: 1}

@media screen and (max-width: 1600px) {
    /* kv */
    .kv{width: 100%; max-width: 1600px; height: 0; padding-bottom: 40.625%;}
    .kv .kv_tit{width: 46%; left: 2%;}
    .kv .people{right: 6%;}
}
@media screen and (max-width: 1200px) {
    /* kv */
    .kv_container{background-size: 40px;}
    /* content */
    .content{padding: 8%; gap: 80px;}
    /* event */
    .event_part{padding: 5%;}
    .event_tit{font-size: 32px; line-height: 2;}
    .event_date{font-size: 24px;}
    .event_txt{font-size: 18px;}
    .event_pic{width: 600px;}
    .new_item{width: 300px;}
    /* pxpayplus */
    .account{padding: 6%;}
    /* notice */
    .notice_tit{font-size: 32px;}
}
@media screen and (max-width: 1024px) {
    .main{padding-top: 76px;}
    .webOnly{display: none;}
    .padOnly{display: block;}
    .padNone{display: none;}
    /* kv */
    .kv .kv_tit{top: 21%;}
    /* event */
    .event {border: 3px solid #272525; border-radius: 20px;}
    .event_buckle{position: absolute; top: -22px;}
    .event_buckle img {width: 120px;}
    .event_buckleL {position: absolute; left: 7%;}
    .event_buckleR {position: absolute; right: 7%;}
    .event_tit{border-radius: 18px 18px 0 0;}
    .event_pic{width: 340px;}
    .new_tit{position: absolute; top: -4%; width: 400px;}
    .new_cont{flex-direction: column; gap: 30px; margin-top: 30px;}
    .new_item{width: auto; gap: 20px;}
    .new_line{display: none;}
    .new_step{width: 80px;}
    .new_pic{display: none;}
}
@media screen and (max-width: 820px){
    /* kv */
    .kv_container{background-size: 50px;}
    .kv{width: 100%; max-width: 820px; height: 0; padding-bottom: 141.875%;}
    .kv .kv_tit{width: 90%; top: 9%; left: 3.8%;}
    .kv .people{width: 90%; padding-bottom: 63.5625%; top: 45%; right: 5%;}
}
@media screen and (max-width: 767px) {
    .main{padding-top: 58px;}
    .mobOnly{display: block;}
    /* kv */
    .kv_container{background-size: 40px;}
    /* content */
    .content{gap: 60px;}
    .event_logo{width: 80%;}
    /* event */
    .event{border: 2px solid #272525;}
    .event_buckle{position: absolute; top: -16px;}
    .event_buckle img{width: 100px;}
    .event_tit{font-size: 24px; line-height: 3;}
    .event_part{padding: 8% 6%; gap: 60px;}
    .event_date{font-size: 20px;}
    .event_txts{font-size: 13px;}
    .new_tit{position: absolute; top: -3%; width: 90%; max-width: 300px;}
    /* action */
    .action{display:block;}
    .action-item{max-width:288px;margin:auto;}
    .action-item+.action-item{margin-top:30px;margin-left:auto;}
    /* pxpayplus */
    .account{padding: 10% 6%;}
    .step{display:block;}
    .step-title{position:static;box-sizing:border-box;max-width:90%;margin:auto;}
    .step-img{box-sizing:border-box;max-width:50%;margin:8% auto 5%;}
    .step-content{margin-top:40px;margin:5% 0 0;}
    .step-content .subTitle{max-width:100%;padding-top: 5%;}
    .step-content .subTitle img{width:70%;margin:0 auto;}
    .stepList-text{font-size: 18px;}
    .stepList-text p{padding-bottom: 0;}
    .moreInfo a{font-size:20px; margin-top: 5%;}
    /* notice */
    .notice{padding: 10% 8%;}
    .notice_tit{font-size: 24px;}
    .notice_all ul{font-size:14px;padding-left:20px}
    #contTab:checked ~ #cont{
        max-height: 48vw;
        overflow: hidden;
    }
    #contTab:checked ~  .content-more .readmore{
        width: 65vw;
        height: 8vw;
        border-radius: 4vw;
        line-height: 8vw;
        font-size: 1em;
    }
}

@media screen and (max-width:500px) {
    /* kv */
    .kv_container{background-size: 25px;}
    /* content */
    .content{padding: 16% 6%;}
    /* event */
    .event_pic{width: 240px;}
    .event_txt{font-size: 4.1vw;}
    .new_step{width: 70px;}
    .new_step::after{margin: 12px auto 0;}
    /* pxpayplus */
    .account{padding: 15% 6%;}
    .step-img{max-width:70%;}
    .step-content .subTitle img{width:80%;}
    .stepList-text{font-size: 16px; height: auto; padding: 5px 10px;}
    .moreInfo a{font-size: 18px;}
    /* action */
    .action-item{max-width:220px;margin:auto;}
    .action-item+.action-item{margin-top:20px;margin-left:auto;}
    .btn::after{-webkit-transform:translateY(4px);transform:translateY(4px);}
    .btn:hover img{-webkit-transform:none;transform:none;}
    /* notice */
    .notice{padding: 10% 3%;}
}

/* animation */
@keyframes float {
    0% {transform: translateY(0);}
  100% {transform: translateY(30%);}
}


/* float */
.float {position: fixed; top: 200px; right: 20px; width: 50px; z-index: 50;}
.float-item {display: flex; flex-direction: column; align-items: center; gap: 5px; padding: 20px 10px; border-radius: 10px; background-color: #F94B4B; font-size: 18px;}
.float-item img {width: 22px; }
.float-item div {color: #FFF; letter-spacing: 1px; -webkit-writing-mode: vertical-lr; -ms-writing-mode: tb-lr; writing-mode: vertical-lr;}
.float-item.-blue {margin-top: 16px; background-color: #3a78e1;}

@media only screen and (max-width: 1239px) {
    .float {right: 12px; width: 40px;}
    .float-item {padding: 20px 10px; font-size: 16px;}
    .float-item img {width: 18px;}
}

@media screen and (max-width: 820px) {
    .float {display: flex; width: 100%; top: auto; bottom: 0; right: 0;}
    .float-item {flex: 1; flex-direction: row; justify-content: center; padding: 15px 10px;  border-radius: 0; font-size: 15px; line-height: 18px;}
    .float-item div {
          -webkit-writing-mode: initial;
              -ms-writing-mode: initial;
                  writing-mode: initial; }
    .float-item.-blue {margin-top: 0;}
}