@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }
body,
html {
  height: 100%;
}
body {
  margin: 0;
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

body {
  font-weight: 500;
  font-family: '微軟正黑體', 'MS UI Gothic', Arial, Helvetica, sans-serif; }

a {
  text-decoration: none;
  display: block;
  color: #005bac;
  font-size: 1em; }
  a:hover, a:active, a:visited {
    color: #005bac; }

:focus {
  outline: none; }

h2 {
  color: #005bac;
  letter-spacing: 4px;
  text-align: center; }
  @media screen and (min-width: 1025px) {
    h2 {
      font-size: 48px; } }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    h2 {
      font-size: 38px; } }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 28px; } }
  @media screen and (min-width: 1025px) {
    h2 {
      line-height: 48px; } }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    h2 {
      line-height: 38px; } }
  @media screen and (max-width: 767px) {
    h2 {
      line-height: 28px; } }

p,
.txtParagraph {
  padding-bottom: 0px; }
  .txtParagraph ol {
    list-style: decimal;
    padding-left: 20px;
  }
  @media screen and (min-width: 1025px) {
    p,
    .txtParagraph {
      font-size: 15px; } }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    p,
    .txtParagraph {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    p,
    .txtParagraph {
      font-size: 14px; } }
  p.last,
  .txtParagraph.last {
    padding-bottom: 0; }

img {
  width: auto;
  vertical-align: middle; 
}
@media screen and (max-width: 767px) {
img {
  width: 100%;
  vertical-align: middle; 
}
}

.clearboth {
  clear: both; }
.clearfix {
  overflow: auto;
}

/* main layout */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 4px;
  height: 80px;
  *height: 40px;
  z-index: 100;
  background-image: url("../images/header/header_bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-color: white; }
  .header.scrolling {
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.18); }
  .header .yuantaLogo {
    padding: 16px;
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .header .yuantaLogo a.logo {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 308px;
    height: 39px;
    background-image: url("../images/header/yuanta_logo.svg");
    background-size: 100% auto;
    background-repeat: no-repeat; }
  .header .mediaIcons {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 10px;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%); }
    .header .mediaIcons li {
      display: block;
      margin: 20px 10px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      background-size: 100%;
      background-repeat: no-repeat; }
      .header .mediaIcons li.facebook {
        background-image: url("../images/header/socialmedia_facebook_grey.png"); }
        @media screen and (min-width: 1025px) {
          .header .mediaIcons li.facebook :hover {
            background-image: url("../images/header/socialmedia_facebook.png"); } }
      .header .mediaIcons li.line {
        background-image: url("../images/header/socialmedia_line_grey.png"); }
        @media screen and (min-width: 1025px) {
          .header .mediaIcons li.line:hover {
            background-image: url("../images/header/socialmedia_line.png"); } }
      .header .mediaIcons li.instagram {
        background-image: url("../images/header/socialmedia_instagram_grey.png"); }
        @media screen and (min-width: 1025px) {
          .header .mediaIcons li.instagram:hover {
            background-image: url("../images/header/socialmedia_instagram.png"); } }
      .header .mediaIcons li.youtube {
        background-image: url("../images/header/socialmedia_youtube_grey.png"); }
        @media screen and (min-width: 1025px) {
          .header .mediaIcons li.youtube:hover {
            background-image: url("../images/header/socialmedia_youtube.png"); } }
    .header .mediaIcons a {
      display: block;
      width: 33px;
      height: 33px; }

.footer {
  width: 100%;
  background-color: #007fe0;
  height: 90px;
  padding: 15px 0; }

.footerCont {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 28px; }
  .footerCont .copyright {
    float: left;
    color: white;
    max-width: 50%; }
  .footerCont .contact {
    float: right;
    color: white; }

.goTop {
  display: none;
  position: fixed;
  z-index: 99;
  right: 2em;
  bottom: 2em;
  opacity: 0.7;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url("../images/goTop.svg");
  background-size: 100% auto;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1025px) {
    .goTop:hover {
      opacity: 1; } }

.wrapper {
  width: 100%;
  height: auto;
  color: #333333;
  font-weight: 400; }
  @media screen and (min-width: 1025px) {
    .wrapper {
      font-size: 18px; } }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .wrapper {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    .wrapper {
      font-size: 14px; } }
  @media screen and (min-width: 1025px) {
    .wrapper {
      line-height: 32px; } }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .wrapper {
      line-height: 28px; } }
  @media screen and (max-width: 767px) {
    .wrapper {
      line-height: 23px; } }

.topBanner {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%; }

.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto; }

.contentWrapper {
  width: 100%;
  background-color: #fafafb;
}
  .contentWrapper .leadin {
    padding: 80px;
    background-color: #ffffff;
/*    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
*/    border-bottom: 4px solid #005bac;
    position: relative;
    top: 0px;
    margin-bottom: 80px; }

.tabWrapper {
  width: 100%;
  font-size: 0;
  margin-bottom: 40px; }
  .tabWrapper .tabs {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 33%;
    text-align: center; }
    .tabWrapper .tabs span {
      padding: 10px 0;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      cursor: pointer; }
      @media screen and (min-width: 1025px) {
        .tabWrapper .tabs span {
          font-size: 20px; } }
      @media screen and (max-width: 1024px) and (min-width: 768px) {
        .tabWrapper .tabs span {
          font-size: 18px; } }
      @media screen and (max-width: 767px) {
        .tabWrapper .tabs span {
          font-size: 14px; } }
      @media screen and (min-width: 1025px) {
        .tabWrapper .tabs span:hover {
          color: #ea6000; } }
    .tabWrapper .tabs.active span {
      color: #ea6000;
      border-bottom: 2px solid #ea6000; }

.highLight {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  z-index: 0;
  font-size: 1em; }
  .highLight::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: -1;
    bottom: 3px;
    background-color: #fff89e; }

.roundBtn {
  width: 100%;
  display: block;
  text-align: center; }
  .roundBtn a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0 30px;
    color: #005bac;
    background-color: white;
    border: 1px solid #005bac;
    border-radius: 20px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    @media screen and (min-width: 1025px) {
      .roundBtn a:hover {
        color: white;
        background-color: #005bac; } }

.circleNum {
  margin: 20px 0 20px 20px; }
  @media screen and (min-width: 1025px) {
    .circleNum li {
      font-size: 18px; } }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .circleNum li {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    .circleNum li {
      font-size: 14px; } }
  .circleNum li span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    line-height: 1.5em;
    font-size: 0.777em;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #333333;
    border-radius: 50%;
    margin-right: 8px; }

.appIcons {
  width: 100%;
  text-align: center;
  font-size: 0;
  padding: 40px 0; }
  .appIcons > div {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 10px;
    width: calc(50% - 20px);
    max-width: 140px; }
    .appIcons > div.AppSearch {
      width: 94%;
      padding-bottom: 17%;
      margin-top: 30px;
      max-width: 298px;
      background-image: url("../images/AppSearchbar.svg");
      background-size: 100% auto;
      background-repeat: no-repeat; }

.faqSection {
  width: 100%;
  background-color: #fff;
  padding-top: 0px; }
  .faqSection .faqWrapper {
    background-color: #fff;
    position: relative; }
    .faqSection .faqWrapper .flowerBG {
      display: block;
      width: 100%;
      padding-bottom: 25.926%;
      position: absolute;
      top: -30px;
      right: 0;
      z-index: 1;
      background-image: url("../images/faq_bg.png");
      background-repeat: no-repeat;
      background-size: 33.951%;
      background-position: top right; }
    .faqSection .faqWrapper .container {
      padding: 0;
      z-index: 2;
      position: relative; }

.faqCont {
  padding: 20px 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  margin-bottom: 30px;
}
  .faqCont .faqQuestion {
    color: #333333;
    position: relative;
    padding-right: 26px;
    background-image: url("../images/accordion_plus.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 19px 19px; }
    @media screen and (min-width: 1025px) {
      .faqCont .faqQuestion {
        font-size: 20px; } }
    @media screen and (max-width: 1024px) and (min-width: 768px) {
      .faqCont .faqQuestion {
        font-size: 18px; } }
    @media screen and (max-width: 767px) {
      .faqCont .faqQuestion {
        font-size: 14px; } }
    .faqCont .faqQuestion.active {
      background-image: url("../images/accordion_minus.png"); }
  .faqCont .faqAnswer {
    display: none;
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #dddddd;
     }
    .faqCont .faqAnswer p {
      padding-bottom: 0;
      padding-left: 0;
      position: relative; }

@media screen and (max-width: 1024px) {
  .header {
    height: 76px; }
    .header .yuantaLogo a.logo {
      width: 281px;
      height: 36px; }
    .header .mediaIcons a {
      width: 28px;
      height: 28px; }
  .topBanner {
    margin-top: 76px; }
  .contentWrapper .leadin {
    padding: 60px;
    margin-bottom: 40px; } }

@media screen and (max-width: 767px) {
  h2::after {
    margin: 0 auto; }
  p {
    padding-bottom: 10px; }
  .header {
    padding: 0px;
    height: 58px; }
    .header .yuantaLogo a.logo {
      padding: 16px;
      width: 203px;
      height: 26px; }
    .header .mediaIcons {
      width: 100%;
      bottom: 0;
      left: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      background-color: rgba(0, 159, 232, 0.9);
      text-align: center;
      padding: 4px 0; 
    }
    .header .mediaIcons ul {
      margin: 0;
    }
      .header .mediaIcons li {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
        margin: 6px; }
        .header .mediaIcons li.facebook {
          background-image: url("../images/header/socialmedia_facebook.svg");
          background-position: bottom center; }
        .header .mediaIcons li.line {
          background-image: url("../images/header/socialmedia_line.svg");
          background-position: bottom center; }
        .header .mediaIcons li.instagram {
          background-image: url("../images/header/socialmedia_instagram.svg");
          background-position: bottom center; }
        .header .mediaIcons li.youtube {
          background-image: url("../images/header/socialmedia_youtube.svg");
          background-position: bottom center; }
  .footer {
    padding-bottom: 50px;
    height: auto; }
  .footerCont {
    font-size: 12px;
    line-height: 20px; }
    .footerCont .copyright,
    .footerCont .contact {
      float: none;
      display: block;
      max-width: 100%;
      padding-bottom: 10px; }
  .goTop {
    width: 40px;
    height: 40px;
    bottom: 70px;
    right: 20px; }
  .topBanner {
    margin-top: 58px;
    padding-bottom: 0;
  }
  .contentWrapper {
    padding-top: 0px;
  }
  .contentWrapper .leadin {
    padding: 30px;
    margin-bottom: 20px; }
  .tabWrapper {
    margin-bottom: 20px; }
    .tabWrapper .tabs {
      vertical-align: top; }
  .circleNum {
    margin: 10px 0 10px 10px; }
  .appIcons {
    padding: 20px 0; }
  .faqSection .faqWrapper .container {
    padding: 40px 0; }
  .faqCont {
    padding: 20px 10px; }
    .faqCont .faqQuestion {
      background-size: 14px 14px; }
    .faqCont .faqAnswer {
      margin-top: 10px;
      padding: 1em; } }
