* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: '微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
a,a:hover,a:active,a:visited {display: inline-block; color: #005bac; text-decoration: none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color:#000000; padding-top: 80px; font-size: 12px; background: #dedede;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}

/* kv */
.kv_container{width: 100%; margin: 0 auto; background: url("../images/kv_bg.png") center top no-repeat; background-size: cover;}
.kv{width: 100%; max-width: 1440px; height: 710px; margin: 0 auto; position: relative;}
.kv .title{width: 32%; max-width: 458px; position: absolute; left: 7.5%; top: 14%;}
.kv .japan{width: 32%; max-width: 455px; position: absolute; right: 7.5%; top: 14%;}
.mobOnly{display: none;}
/* content */
.content_container{ width: 100%; margin: 0 auto; background: url("../images/shine.png") center top no-repeat; background-size: 100% auto;}
.content{width: 100%; max-width: 1440px; margin: 0 auto; border-top: 1px solid #000000;}
/* event */
.event{width: 90%; margin: 4% auto; padding: 0 5%; color: #000000; font-size: 22px; line-height: 1.8; text-align: center;}
.event_part{margin: 5% 0;}
.event_tit{}
.event_tit img{width: 191px; margin: 0 auto; padding: 3% 0;}
.event_date{}
.event_txt{}
.pinktt{color: #e94c96; font-weight: bold;}
.logo_all{margin: 10% auto;}
.logo_all img{width: 100%; max-width: 600px; margin: 0 auto;}
/* action */
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;}
.action-item{-webkit-flex:0 1 390px;flex:0 1 390px;max-width:390px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:50px;}
.btn{position:relative;display:block;cursor:pointer;}
.btn::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;display:block;border-radius:45px;-webkit-transform:translateY(6px);transform:translateY(6px);}
.btn img{position:relative;width:100%;z-index:1;transition:.2s;}
.btn:hover img{-webkit-transform:translateY(6px);transform:translateY(6px);}
/* notice */
.notice_container{width: 100%; margin: 0 auto; background-color: #d1d1d1;}
.notice{width: 100%; max-width: 1600px; margin: 0 auto; padding: 2%; font-size: 16px; line-height: 2; color: #000000; text-align: justify;}
.notice_tit{}
.notice_tit img{width: 250px; margin: 0 auto; padding: 3% 0;}
.notice_all{padding: 2%;}
.notice_all a{color: #e94c96; font-weight: bold; text-decoration: underline;}
.notice_all ul{margin: 0; padding-left: 18px; list-style-type: cjk-ideographic;}
.notice_all ul>li{}
.notice_all ul>li>ol{list-style-type: decimal; padding-left: 18px;}
.notice_all ul>li>ol>li>ul{list-style-type: disc; padding-left:22px;}
.notice_all ul>li>ol>li>ul>li{}
.notice_all ul>li>ol>li>ol{list-style-type: none; padding-left: 18px;}
.notice_all ul>li>ol>li>ol>li{position: relative; counter-increment:section;}
.notice_all ul>li>ol>li>ol>li::before{content:"(" counter(section,decimal) ")";position:absolute;top:0;left:-5px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
.notice_all ul>li>ol>li>ol>li>ul{list-style-type: circle;}

@media screen and (max-width: 1440px) {
/* kv */
.kv{width: 100%; height: 0; padding-bottom: 49.3055555%;}
/* content*/
.content{width: 96%;}
/* notice */
.notice{padding: 2% 5%;}
}

@media screen and (max-width: 1200px) {
/* event */
.event{font-size: 20px;}
.event_tit img{width: 152px;}
/* action */
.action-item{max-width:300px;}
/* notice */
.notice_tit img{width: 200px;}
}

@media screen and (max-width: 1024px) {
.main{padding-top: 76px;}
/* event */
.event{font-size: 18px;}
}

@media screen and (max-width: 960px) {
/* event */
.dis-none{display: none;}
.event_txt{text-align: justify;}
.logo_all img{max-width: 500px;}
}

@media screen and (max-width:767px) {
.main{padding-top: 58px;}
/* kv */
.kv_container{background: none;}
.kv{width: 100%; height: 0; padding-bottom: 159.375%; margin: 0 auto; background: url("../images/kv_bg_m.png") center top no-repeat; background-size: 100% auto;}
.kv .title{width: 76%; max-width: 811px; left: 12%; top: 10%;}
.kv .japan{width: 74%; max-width: 733px; right: 11%; top: 51%;}
.webOnly{display: none;}
.mobOnly{display: block;}
/* content */
.content_container{background:none;}
.content{width: 100%; max-width: 767px; border-top: none;}
/* event */
.event_part{margin: 7% 0;}
.event_tit img{width: 150px; padding: 5% 0;}
/* action */
.action{display:block;}
.action-item{max-width:300px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
/* notice */
.notice_tit img{padding: 8% 0;}
.notice_all ul{font-size: 14px; padding-left: 28px}
}

@media screen and (max-width:450px) {
/* event */
.event{font-size: 16px;}
.event_part{margin: 10% 0;}
.event_tit img{width: 120px;}
.logo_all{margin: 20% auto;}
/* action */
.action-item{max-width:260px;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
.btn::after{-webkit-transform:translateY(4px);transform:translateY(4px);}
.btn:hover img{-webkit-transform:none;transform:none;}
/* notice */
.notice{padding: 2% 6% 8%;}
.notice_tit img{width: 158px;}
}

/* animation */