* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: '微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
a,a:hover,a:active,a:visited {display: inline-block; color: #005bac; text-decoration: none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color:#333333; padding-top: 80px; font-size: 12px; background: #b3cff2;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}

/* kv */
.kv_container{width: 100%;}
.kv{width: 100%; max-width: 1920px; margin: 0 auto; height: 0; padding-bottom: 34.895835%; background: url("../images/kv_bg.png") center top no-repeat; background-size: 100% auto; position: relative;}
.kv .title{width: 34%; margin: 0 auto; padding-top: 4.7%;}
.kv .title .kv_tit{width: 100%;}
.kv .title .kv_subtit{width: 78%; margin: 3% auto 0;}
.kv .man{width: 17%; position: absolute; top: 9%; right: 17.5%;}
.kv .woman{width: 14.8%; position: absolute; top: 29%; left: 17%;}
.kv .points{width: 6%; position: absolute; top: 15%; left: 25%;}
.kv .kv_logo{width: 26%; position: absolute; bottom: 14%; left: 37%;}
.mobOnly{display: none;}
/* content */
.content_container{ width: 100%; margin: 0 auto; background: #b3cff2 url("../images/deco.png") center top no-repeat; background-size: 100% auto; color: #333333;}
.content{width: 100%; max-width: 1400px; margin: 0 auto; text-align: center; line-height: 1.8;}
/* event */
.event{width: 80%; margin: 1% auto 5%; padding: 3% 5%; background: #ffffff; border: solid 2px #000000; border-radius: 25px; box-shadow: 0 6px #66a0e8; position: relative;}
.event_txt{font-size: 20px; padding: 3%;}
.event_txt .stxt{color: #666666; font-size: 16px; font-weight: normal;}
.tt_blue{color: #2178e0; font-weight: bold;}
.tt_black{color: #000000; font-weight: bold;}
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;padding:3% 0 5%;}
.action-item{-webkit-flex:0 1 270px;flex:0 1 270px;max-width:270px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:25px;}
.btn{position:relative;display:block;border-radius:45px;cursor:pointer;}
.btn::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;display:block;border-radius:45px;-webkit-transform:translateY(6px);transform:translateY(6px);}
.btn img{position:relative;width:100%;z-index:1;transition:.2s;}
.btn.yellow::after{background-color:#ffa800;}
.btn.blue::after{background-color:#66a0e8;}
.btn:hover img{-webkit-transform:translateY(6px);transform:translateY(6px);}
/* pxpayplus */
.pxpayplus{}
.account{padding:3% 6%;}
.step{position:relative;display:-webkit-flex;display:flex;}
.step-title{position:absolute;top:4%;right:4%;width:100%;max-width:58%;}
.step-title img{width:100%;}
.step-img{-webkit-flex:0 0 auto;flex:0 0 auto;max-width:32%; margin-top: 15px;}
.step-img img{width:100%;}
.step-content{-webkit-flex:1;flex:1;margin:10% 0 0 6%;}
.step-content .subTitle{max-width:624px;padding-top:80px;}
.step-content .subTitle img{width:80%;}
.stepList{display:-webkit-flex;display:flex;margin-top:10px;}
.stepList-num{-webkit-flex:0 0 40px;flex:0 0 40px;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;background-color:#ffd100;}
.stepList-num img{width:24px}
.stepList-text{-webkit-flex:1;flex:1;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;box-sizing:border-box;min-height:74px;padding:12px 10px;font-size:18px;line-height:1.4;color:#1e334e;background-color:#fef8e1; text-align: left;}
.stepList-text p{width:100%;}
.stepList-num-w,.stepList-text-w{background-color: #ffffff;}
.moreInfo{text-align:center;margin-top: 5%;}
.moreInfo a{display:inline-block;font-size:22px; font-weight:bold;line-height:1.75;color:#007fe0;text-decoration:none;border-bottom:1px solid #007fe0;}
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;margin:5% 0 2%;}
.action-item{-webkit-flex:0 1 300px;flex:0 1 300px;max-width:300px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:37px;}
/* notice */
.notice_container{}
.notice{width: 100%; max-width: 1600px; margin: 0 auto; font-size: 15px; line-height: 2; padding: 0 5% 2%; text-align: justify;}
.notice_tit{font-size: 20px; font-weight: bold; text-align: center}
.notice_all{padding: 2%;}
.notice_all a{text-decoration: underline;}
.notice_all ul{margin:0;padding-left:30px;list-style-type:square;}
.notice_all ul>li{}
.notice_all ul>li>ul{list-style-type: circle;}
.notice_all ul>li>ol{list-style-type:decimal;padding-left:22px;}
.notice_all ul>li>ol>li>ol{list-style-type: none;padding-left:22px}
.notice_all ul>li>ol>li>ol>li{position:relative;counter-increment:section}
.notice_all ul>li>ol>li>ol>li::before{content:"(" counter(section,decimal) ")";position:absolute;top:0;left:-5px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}

#contTab{display: none;}
.content-more{display: none;
}
#contTab:checked ~ #cont{
    max-height: 180px;
    overflow: hidden;
}
#contTab:checked ~  .content-more{
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
#contTab:checked ~  .content-more .gradient{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(254,239,212,0)),to(#b3cff2));
    background-image: -webkit-linear-gradient(top,rgba(254,239,212,0),#b3cff2);
    background-image: linear-gradient(-180deg,rgba(254,239,212,0),#b3cff2);
    height: 90px;
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
}
#contTab:checked ~  .content-more .readmore{
    display: inline-block;
    background: #2178e0;
    color: #ffffff;
    width: 175px;
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
	transition: 0.3s;
}
#contTab:checked ~  .content-more .readmore:hover{opacity: 1}
@media screen and (max-width: 1400px) {
/* kv */
.kv{width: 100%; max-width: 1400px; margin: 0 auto; height: 0; padding-bottom: 47.857%; background: url("../images/kv_bg-1400.png") center top no-repeat; background-size: 100% auto;}
.kv .title{width: 48%; margin: 0 auto; padding-top: 6%;}
.kv .man{width: 22%; top: 17%; right: 6.5%;}
.kv .woman{width: 18.5%; top: 35%; left: 5%;}
.kv .points{width: 8%; top: 21%; left: 15%;}
.kv .kv_logo{width: 38%; bottom: 13%; left: 31%;}
/* event */
.event_txt{text-align: justify;}
.brwebOnly{display: none;}
}
@media screen and (max-width: 1024px) {
.main{padding-top: 76px;}
/* content */
.event{width: 88%;}
}
@media screen and (max-width: 960px) {
/* content */
.content{width: 100%; max-width: 960px;}
.content_container{background: none;}
/* event */
.event{width: 86%;}
.action{padding:10% 0;}
/* pxpayplus */
.step{display:block;max-width:746px;margin:25px auto;}
.step-title{position:static;box-sizing:border-box;max-width:637px;margin:auto;}
.step-img{box-sizing:border-box;max-width:300px;margin:40px auto 20px;}
.step-img img{width:80%;margin:0 auto;}
.step-content{margin-top:40px;margin:10% 0 0;}
.step-content .subTitle{max-width:541px;margin:auto;padding-top:0;padding-bottom:5px;padding-right:0;}
.step-content .subTitle img{width:100%;margin:auto;}
}
@media screen and (max-width:767px) {
.main{padding-top: 58px;}
/* content */
.content_container{margin: 18% auto 10%; background: none;}
/* kv */
.kv{width: 100%; height: 0; padding-bottom: 137.5%; margin: 0 auto; background: url("../images/kv_bg_m.png") center top no-repeat; background-size: 100% auto;}
.kv .title{width: 82%; padding-top: 11%;}
.kv .title .kv_subtit{width: 86%; padding-top: 0;}
.kv .man{width: 44%; height: 0; padding-bottom: 75%; top: 39%; right: 10.5%; overflow: hidden;}
.kv .woman{width: 38.5%; height: 0; padding-bottom: 60%; top: 50%; left: 8%; overflow: hidden;}
.kv .points{width: 15%; top: 41%; left: 28%;}
.kv .kv_logo{width: 70%; bottom: -1%; left: 15%;}
.webOnly{display: none;}
.mobOnly{display: block;}
/* content */
.event_txt{text-align: justify;}
.event_date{text-align: center;}
.action{display:block;padding:10% 0;}
.action-item{max-width:300px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
/* pxpayplus */
.step{max-width:400px;margin:15px auto;}
.step-img{margin:30px auto}
.step-content{margin-top:20px;}
.stepList{margin-top:10px;}
.stepList-num{-webkit-flex:0 0 34px;flex:0 0 34px;}
.stepList-num img{width:18px}
.stepList-text{min-height:45px;padding:8px 4px;font-size:14px;}
.stepList-text p{padding-bottom: 0;}
.moreInfo a{font-size:16px;}
/* notice */
.notice_all ul{font-size:14px;padding-left:20px}
#contTab:checked ~ #cont{
    max-height: 48vw;
    overflow: hidden;
}
#contTab:checked ~  .content-more .readmore{
	width: 65vw;
	height: 8vw;
    border-radius: 4vw;
    line-height: 8vw;
    font-size: 1em;
}
}
@media screen and (max-width:500px) {
/* content */
/* event */
.event{width: 86%; padding: 7%;}
.event_tit img{width: 44px; margin-right: 10px;}
.event_tit span{font-size: 22px;}
.event_txt{font-size: 17px; padding: 0 4%;}
.event_txt .stxt{font-size: 14px;}
.action-item{max-width:220px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
.btn::after{-webkit-transform:translateY(4px);transform:translateY(4px);}
.btn:hover img{-webkit-transform:none;transform:none;}
/* notice */
.notice{padding: 0 5% 8%;}
}

/* animation */
@keyframes sway{
0%,100% {transform:rotate(-3deg);}
    50% {transform:rotate(3deg);}
}
@keyframes move{
  0%,100%{-webkit-transform:translate(0,0);transform:translate(0,0);}
      50%{-webkit-transform:translate(0,7%);transform:translate(0,7%);}
}
@keyframes shadow{
  0%,100%{-webkit-transform:scaleX(.5);transform:scaleX(.5);}
      50%{-webkit-transform:scaleX(1);transform:scaleX(1);}
}
@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%); }
  100% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%); } }

@keyframes cloud {
  0% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%); }
  100% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%); } }

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); } }

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); } }