* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: 'Noto Sans TC','微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
a,a:hover,a:active,a:visited {display: inline-block; color: #005bac; text-decoration: none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color:#333333; padding-top: 80px; font-size: 12px; background: #fff3e3;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}

/* kv */
.kv_container{width: 100%; position: relative;}
.kv{width: 100%; max-width: 1920px; margin: 0 auto; height: 0; padding-bottom: 28.645833%; background: url("../images/kv_bg.png") center top no-repeat; background-size: 100% auto; position: relative; overflow: hidden;}
.kv .kv_tit{width: 25.9375%; margin: 0 auto; padding-top: 5.3%;}
.kv .firecracker{width: 8.3%; position: absolute; top: -10%; left: 28%; transform-origin: center top; 
    animation: sway 5s ease-in-out infinite; -webkit-animation: sway 5s ease-in-out infinite;}
.kv .Lrabbit{width: 27%; height: 0; padding-bottom: 25.34%; position: absolute; top: 11%; left: 2%;}
.kv .Lrabbit_body{width: 100%; position: absolute; top: 0; left: 0;}
.kv .Lrabbit_scarf{width: 40%; position: absolute; top: 0; left: 2%; transform-origin: bottom right;
    animation: scarfShake 1s ease-in-out infinite alternate; -webkit-animation: scarfShake 1s ease-in-out infinite alternate;}
.kv .coins{width: 10%; position: absolute; top: 73%; left: 21%;}
.kv .Rrabbit{width: 28%; height: 0; padding-bottom: 28.1%; position: absolute; top: 15%; left: 77%;}
.kv .Rrabbit_body{width: 60%; position: absolute; top: 0; left: 0;}
.kv .Rrabbit_hand{width: 88%; position: absolute; top: 10%; left: -37.5%; transform-origin: top right;
    animation: handShake 1s ease-in-out infinite alternate; -webkit-animation: handShake 1s ease-in-out infinite alternate;}
.kv .kv_bottom_bg{width: 100%; position: absolute; bottom: 0; left: 0;}
.kv_logo{width: 24%; position: absolute; bottom: -5%; left: 38%;}
.mobOnly{display: none;}
/* content */
.content_container{ width: 100%; margin: 0 auto; background-color: #ffe7b9; background-image: url("../images/bg_deco1.png"),url("../images/bg_deco2.png"),url("../images/bg_02.png");
background-position: center top,center bottom,center top; background-repeat: no-repeat,no-repeat,repeat; background-size: 100% auto,100% auto,100% auto; color: #333333;}
.content_container::after{content: ''; display: block; width: 100%; height: 0; padding-bottom: 3.802083%; background: url("../images/bg_03.png") center bottom no-repeat; background-size: 100% auto;}
.content{width: 100%; max-width: 1400px; margin: 0 auto;}
/* event */
.event{width: 90%; margin: 0 auto; padding: 6% 0 3%; text-align: center; line-height: 1.8;}
.event .event_part{padding: 3% 0;}
.event .event_tit{width: 280px; margin: 0 auto 2%;}
.event .event_date{font-size: 22px; font-weight: bold;}
.event .event_txt{font-size: 20px;}
.event b{font-weight: bold;}
.discount{width: 76%; margin: 4% auto; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-start;}
.discount-item{width: 49%; margin: 0 auto; position: relative;}
.dis_item_all{width: 100%; height: 0; padding-bottom: 92.538%; background: url("../images/dis_bg.png") center top no-repeat; background-size: 100% auto; position: relative;}
.dis_item_all .dis_tit{width: 60%; height: 0; padding-bottom: 15%; position: absolute; left: 20%; top: -7%;}
.dis_item_all .dis_tit img{display: inline-block; width: 100%;}
.dis_item_all .dis_cont{width: 90%; margin: 0 auto; padding-top: 12%;}
.dis_item_all .dis_cont .dis_txt{font-size: 18px; line-height: 1.6; margin: 10% auto 5%;}
.dis_item_all .dis_cont .hrline{width: 70%; margin: 0 auto; border-top: 1px solid #333333; height: 1px;}
.dis_item_all .dis_cont .dis_num{width: 260px; margin: 6% auto;}
.dis_item_all .dis_cont p{font-size: 14px; margin-top: 3%;}
.light_blue{font-size: 16px; color: #3f74d1; font-weight: bold; margin-top: 5%;}
.red{color: #ed4300; font-weight: bold;}
.dis_pic1{width: 60%; position: absolute; top: 30%; left: -30%;}
.dis_pic2{width: 60%; position: absolute; top: 23%; right: -38%;}
/* action */
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;padding:0 0 5%;}
.action-item{-webkit-flex:0 1 270px;flex:0 1 270px;max-width:270px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:25px;}
.btn{position:relative;display:block;border-radius:45px;cursor:pointer;}
.btn::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;display:block;border-radius:45px;-webkit-transform:translateY(7px);transform:translateY(7px);}
.btn img{position:relative;width:100%;z-index:1;transition:.2s;}
.btn.green::after{background-color:#09694a;}
.btn.blue::after{background-color:#1a4186;}
.btn:hover img{-webkit-transform:translateY(7px);transform:translateY(7px);}
/* notice */
.notice_container{background: #fff3e3;}
.notice{width: 100%; max-width: 1400px; margin: 0 auto; font-size: 15px; line-height: 2; padding: 3% 5%;}
.notice_tit{width: 280px; margin: 0 auto;}
.notice_all{padding: 2%; text-align: justify;}
.notice_all a{font-weight: bold; text-decoration: underline;}
.notice_all span.font-b{font-weight: bold;}
.notice_all ul{margin: 0; padding-left: 18px; list-style-type: cjk-ideographic;}
.notice_all ul>li{/* margin-bottom: 2%; */}
.notice_all ul>li>ol{list-style-type: decimal; padding-left: 18px;}
.notice_all ul>li>ol>li>ol{list-style-type: none; padding-left: 18px;}
.notice_all ul>li>ol>li>ol>li{position: relative; counter-increment:section;}
.notice_all ul>li>ol>li>ol>li::before{content:"(" counter(section,decimal) ")";position:absolute;top:0;left:-5px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
.notice_all ul>li>ol>li>ol>li>ul{list-style-type: disc;}
#contTab{display: none;}
.content-more{display: none;
}
#contTab:checked ~ #cont{
    max-height: 250px;
    overflow: hidden;
}
#contTab:checked ~  .content-more{
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
#contTab:checked ~  .content-more .gradient{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(254,239,212,0)),to(#fff3e3));
    background-image: -webkit-linear-gradient(top,rgba(254,239,212,0),#fff3e3);
    background-image: linear-gradient(-180deg,rgba(254,239,212,0),#fff3e3);
    height: 90px;
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
}
#contTab:checked ~  .content-more .readmore{
    display: inline-block;
    background: #0276cf;
    color: #ffffff;
    width: 175px;
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
	transition: 0.3s;
}
#contTab:checked ~  .content-more .readmore:hover{opacity: 1;}
@media screen and (max-width: 1200px) {
/*kv*/
.kv{max-width: 1200px; height: 0; padding-bottom: 41.66666%; background: url("../images/kv_bg-1200.png") center top no-repeat; background-size: 100% auto;}
.kv .kv_tit{width: 35%; padding-top: 9%;}
.kv .firecracker{left: 20%;}
.kv .Lrabbit{width: 33%; top: 25%; left: -2%;}
.kv .coins{width: 12%; top: 79%; left: 21%;}
.kv .Rrabbit{width: 34%; top: 27%; left: 81.5%;}
.kv_logo{width: 32%; left: 34%; bottom: 0;}
/* event */
.event .event_date{font-size: 20px;}
.event .event_txt{font-size: 18px;}
.discount{width: 88%;}
.dis_item_all .dis_cont .dis_txt{font-size: 16px;}
.dis_item_all .dis_cont .dis_num{width: 220px;}
.dis_pic1{width: 50%; top: 45%; left: -25%;}
.dis_pic2{width: 50%; top: 35%; right: -28%;}
}
@media screen and (max-width: 1024px) {
.main{padding-top: 76px;}
}
@media screen and (max-width: 960px) {
/* kv */
.webOnly{display: none;}
.mobOnly{display: block;}
.kv_logo{width: 36%; left: 32%;}
/* content */
.content_container{background-image: url("../images/bg_deco-m.png"),url("../images/bg-m_02.png"); background-position: center top,center top; background-repeat: no-repeat,repeat; background-size: 100% auto,100% auto;}
.content_container::after{content: ''; display: block; width: 100%; height: 0; padding-bottom: 17.708333%; background: url("../images/bg-m_03.png") center bottom no-repeat; background-size: 100% auto;}
/* event */
.event{width: 88%;}
.discount{width: 92%; margin: 4% auto; flex-direction: column; align-items: center;}
.discount-item{width: 70%; margin: 4% 0;}
.discount-item2{margin-top: 10%;}
.dis_item_all .dis_cont .dis_txt{font-size: 18px;}
.dis_item_all .dis_cont .dis_num{width: 260px;}
.dis_item_all .dis_cont p{font-size: 16px;}
.dis_pic1{width: 48%; top: 44%; left: -19%;}
.dis_pic2{width: 48%; top: 34%; right: -24%;}
/* action */
.action{padding: 2% 0 5%;}
/* notice */
.notice{width: 92%; padding: 5% 3% 3%;}
}
@media screen and (max-width:767px) {
.main{padding-top: 58px;}
/* kv */
.kv{width: 100%; height: 0; padding-bottom: 125%; margin: 0 auto; background: url("../images/kv_bg-m.png") center top no-repeat; background-size: 100% auto;}
.kv .kv_tit{width: 77.9%; padding-top: 17%;}
.kv .firecracker{display: none;}
.kv .Lrabbit{width: 54%; top: 53.5%; left: 2%;}
.kv .coins{width: 24%; top: 85%; left: 31%;}
.kv .Rrabbit{width: 56%; top: 57%; left: 61%;}
.kv .Rrabbit_hand{top: 16%; left: -38%;}
.kv_logo{width: 74%; left: 13%; bottom: -15%;}
/* content */
.content{padding-top: 25%}
/* event */
.event{width: 85%; padding: 0 0 3%;}
.event .event_part{padding: 8% 0;}
.event .event_tit{width: 70%; margin: 0 auto 5%;}
.event .event_date{font-size: 26px;}
.event .event_txt{font-size: 24px; text-align: justify;}
.discount-item{width: 100%;}
.dis_item_all .dis_cont .dis_txt{font-size: 22px;}
.dis_item_all .dis_cont p{font-size: 18px;}
.light_blue{font-size: 20px;}
.dis_pic1{width: 50%; top: 47%; left: -19%;}
.dis_pic2{width: 50%; top: 35%; right: -24%;}
/* action */
.action{display:block;}
.action-item{max-width:300px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
/* notice */
.notice_all ul{font-size:14px;padding-left:28px}
.notice_tit{width: 70%; margin: 0 auto 5%;}
#contTab:checked ~ #cont{
    max-height: 48vw;
    overflow: hidden;
}
#contTab:checked ~  .content-more .readmore{
    width: 65vw;
    height: 8vw;
    border-radius: 4vw;
    line-height: 8vw;
    font-size: 1em;
}
}
@media screen and (max-width:600px) {
/* event */
.event .event_date{font-size: 20px;}
.event .event_txt{font-size: 18px;}
.discount-item{width: 160%;}
.dis_item_all .dis_tit{width: 50%; left: 25%; top: 11%;}
.dis_item_all .dis_cont{padding-top: 19%;}
.dis_item_all .dis_cont .dis_txt{font-size: 4.5vw; margin: 10% auto 2%;}
.dis_item_all .dis_cont .dis_num{width: 55%; margin: 4% auto;}
.dis_item_all .dis_cont p{font-size: 4vw;}
.light_blue{font-size: 4vw; margin-top: 2%;}
.dis_pic1{width: 30%; top: 64%; left: 6%;}
.dis_pic2{width: 30%; top: 55.5%; right: 4%;}
}
@media screen and (max-width:520px) {
/* event */
/* action */
.action{padding: 5% 0 10%;}
.action-item{max-width:220px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
.btn::after{-webkit-transform:translateY(4px);transform:translateY(4px);}
.btn:hover img{-webkit-transform:none;transform:none;}
/* notice */
.notice{width: 94%;padding: 8% 4% 3%;}
}

/* animation */
@keyframes sway {
  0%,100%{transform: rotate(5deg);}
      50%{transform: rotate(-5deg);}
}
@keyframes scarfShake {
  0%{transform: rotate(0);}
100%{transform: rotate(-2deg);}
}
@keyframes handShake {
  0%{transform: rotate(0);}
100%{transform: rotate(-2deg);}
}