.float-cta-side{
    background-color: #A56F5F;
    margin-bottom: 42px;
    padding: 22px 5px 10px 5px;
    width: inherit;
    border: unset;
}
.float-cta-side i{
    left: 15px;
}
.footer-gotop{
    bottom:10px;
}
/*header*/
.header{
    background: url(../images/header-pc-kv.png) no-repeat right 80px top -15px/70%,url(../images/header-pc-kv-bg.png) no-repeat right bottom -264px/100%;
    background-color: #F7F0D2;
}
.header-wrap{
    width: 960px;
    margin: 0 auto;
    height: 450px;
    position: relative;
}
.header-introduce{
    position: relative;
    padding: 20px 0px 50px 0px;
}
/*float-btn*/
.float-cta-wrap{
    background-color: unset;
    right: 0px;
    top: 155px;
    width: 86px;
    bottom: unset;
    left: unset;
}
.float-cta-wrap a:nth-child(4) {
    margin: 0px;
}
/*活動說明*/
.event-wrap{
    margin: 0px auto;
    padding: 0px 30px;
    width: 960px;
}
.event-photo{
    text-align: left;
    width: calc(55% - 18px);
    display: inline-block;
}
.event-team{
    display: table;
    border-collapse: collapse;
}
.event-team li{
    display: inline-table;
    width: 48%;
}
.event-team-list{
    display: table-cell;
}
.event-team-row1 div:nth-child(2){
    border-right: none;
}
.event-theme{
    line-height: 1.5;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.event-photo img{
    width: 90%;
    padding: 0 15px;
}
.event-item{
    font-size: 0;
}
.event-item-step{
    width: 33.26%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.event-item-step,.event-item-remind{
    font-size: 16px;
}
/*獎項*/
.prize,.special-event-wrap,.business-wrap,.teacher,.notice-wrap,.connect{
    width: 960px;
    margin: 0 auto;
}
.special-event-wrap{
    display: flex;
    flex-wrap: wrap;
}
.special-event-content {
    background-color: #ffffff;
    display: inline-block;
    width: calc(100% / 2 - 20px);
    margin: 10px;
}
.special-event-content-article{
    min-height: 240px;
}
/*企業資訊*/
.business-gogoro-img{
    width: 30%;
    display: inline-block;
    text-align: center;
}
.business-gogoro{
    width: 65%;
    margin: 30px 0px 0px 25px;
    display: inline-block;
    vertical-align: middle;
}
/*評審團隊*/
.teacher-list li {
    width: 28%;
}
.teacher{
    padding: 15px 15px 130px;
    background: url(../images/teacher-bg-img.svg) no-repeat bottom -20px right/50%;
}
/*footer*/
.footer{
    padding:  15px 0px;
}
.connect{
    font-size: 0px;
    box-sizing: border-box;
}
.connect-service-member,.connect-service-time{
    font-size: 16px;
    width: calc(100% / 2 - 21px);
    margin: 10px 10px;
    padding: 10px 0px;
    display: inline-block;
    vertical-align: top;
}