$bg: #fff;
$modal-header: #2c2745;

.d-flex {
  display: flex;
}

.modal-mask {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.modal-wrapper {
  display: flex;
  vertical-align: middle;
  background-color: $bg;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &.XL {
    max-width: 1080px;
    margin: auto;

    @media screen and (max-width: 767px) {
      width: 90%;
    }
  }

  &.SM {
    max-width: 460px;

    @media screen and (max-width: 767px) {
      width: 90%;
    }
  }

  &.toCenter {
    margin: auto;
  }

  &.Y_center {
    margin: 5% auto auto;
    width: 1000px;
    height: 80dvh;

    @media screen and (max-width: 992px) {
      margin: 5vh auto auto;
      width: 600px;
      height: 90dvh;
    }
    @media screen and (max-width: 767px) {
      margin: 5dvh auto auto;
      width: 95%;
      height: 90dvh;
    }
  }

  &.mutiple {
    .modal-container {
      .modal-header {
        button.back {
          display: block !important;
          position: absolute;
          left: 15px;
          top: 15px;
          outline: none;
          width: 25px;
          height: 25px;
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i5ZyW5bGkXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNyAxMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNyAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2Rpc3BsYXk6bm9uZTtmaWxsOiMyNzc1MDM7fQ0KCS5zdDF7ZmlsbDpub25lO3N0cm9rZTojNzA5OWQ1O3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMi41IiBjeT0iNSIgcj0iOSIvPg0KPHBvbHlsaW5lIGNsYXNzPSJzdDEiIHBvaW50cz0iMSw5IDYsNSAxLDEgIi8+DQo8L3N2Zz4NCg==) center bottom no-repeat;
          background-size: auto 60%;
          transform: scaleX(-1);
        }
      }

    }
  }

  .modal-container {
    position: relative;
    display: grid;
    // grid-template-rows:minmax(100px, 1fr);
    width: 100%;
    margin: 0px auto;
    padding: 30px 30px 0;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);

    @media screen and (max-width: 767px) {
      padding: 10px 10px 0;
    }

    .modal-header {

      h3 {
        margin-top: 0;
        padding: 20px 0;
        text-align: center;
        line-height: 1.5;
        font-size: 20px;
        color: $modal-header;
        font-weight: bolder;

        @media screen and (max-width:767px) {
          margin: 0 auto;
          padding: 12px 0 ;
          font-size: 18px;
          width: 76%;
          max-height: 110px;
        }
      }

      button.close {
        position: absolute;
        right: 15px;
        top: 15px;
        outline: none;
        width: 25px;
        height: 25px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNy41IDE3LjUiPjxkZWZzPjxzdHlsZT4uYTc0YTE5NTgtODgzNC00MDk2LWI3MTUtZWZlM2Y2NjczMmVje2ZpbGw6bm9uZTtzdHJva2U6IzY2NjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6MS41cHg7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJhYjY5NDczZC05YzZjLTQyNmUtYmYyYy1jODEyMmQxOGNhOGQiIGRhdGEtbmFtZT0i5ZyW5bGkIDIiPjxnIGlkPSJmNzVkMzdiNy01OGJkLTQ2ZDItYWRhMS1jZmY5NTc3ZGZlYTIiIGRhdGEtbmFtZT0i5ZyW5bGkIDEiPjxsaW5lIGNsYXNzPSJhNzRhMTk1OC04ODM0LTQwOTYtYjcxNS1lZmUzZjY2NzMyZWMiIHgxPSIwLjc1IiB5MT0iMTYuNzUiIHgyPSIxNi43NSIgeTI9IjAuNzUiLz48bGluZSBjbGFzcz0iYTc0YTE5NTgtODgzNC00MDk2LWI3MTUtZWZlM2Y2NjczMmVjIiB4MT0iMC43NSIgeTE9IjAuNzUiIHgyPSIxNi43NSIgeTI9IjE2Ljc1Ii8+PC9nPjwvZz48L3N2Zz4=');
        background-repeat: no-repeat;
        background-color: transparent;
        @media screen and (max-width:767px) {
          right: 15px;
          top: 20px;
          width: 18px;
          height: 18px;
        }
      }

      &.multiple {

        button.back {
          display: block !important;
          position: absolute;
          left: 15px;
          top: 15px;
          outline: none;
          width: 25px;
          height: 25px;
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIEdlbmVyYXRvcjogU1ZHIFJlcG8gTWl4ZXIgVG9vbHMgLS0+DQo8c3ZnIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgY2xhc3M9Imljb24iICB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTc2OCA5MDMuMjMybC01MC40MzIgNTYuNzY4TDI1NiA1MTJsNDYxLjU2OC00NDggNTAuNDMyIDU2Ljc2OEwzNjQuOTI4IDUxMnoiIGZpbGw9IiM2NjYiIC8+PC9zdmc+) center bottom no-repeat;
          background-size: auto 100%;
          @media screen and (max-width:767px) {
            left: 10px;
            top: 20px;
            width: 22px;
            height: 22px;
          }
        }


      }
    }

    .modal-body {
      width: 100%;
      margin: 0 ;
      padding-bottom: 50px;
      max-height: 70vh;
      overflow-y: auto;
      overflow-x: hidden;
      @media screen and (max-width: 767px) {
        max-height: initial;
        margin: 0;
        padding-bottom: 20px;

      }

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background: #aaa;
      }
    }

    .modal-default-button {
      float: right;
    }
  }
}


.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter-active .modal-wrapper,
.modal-leave-active .modal-wrapper {
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}