@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Black.otf") format("opentype");
  font-display: swap;
}

.d-flex {
  display: flex;
}

.modal-mask {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.modal-wrapper {
  display: flex;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.modal-wrapper.XL {
  max-width: 1080px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .modal-wrapper.XL {
    width: 90%;
  }
}
.modal-wrapper.SM {
  max-width: 460px;
}
@media screen and (max-width: 767px) {
  .modal-wrapper.SM {
    width: 90%;
  }
}
.modal-wrapper.toCenter {
  margin: auto;
}
.modal-wrapper.Y_center {
  margin: 5% auto auto;
  width: 1000px;
  height: 80dvh;
}
@media screen and (max-width: 992px) {
  .modal-wrapper.Y_center {
    margin: 5vh auto auto;
    width: 600px;
    height: 90dvh;
  }
}
@media screen and (max-width: 767px) {
  .modal-wrapper.Y_center {
    margin: 5dvh auto auto;
    width: 95%;
    height: 90dvh;
  }
}
.modal-wrapper.mutiple .modal-container .modal-header button.back {
  display: block !important;
  position: absolute;
  left: 15px;
  top: 15px;
  outline: none;
  width: 25px;
  height: 25px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i5ZyW5bGkXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNyAxMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNyAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2Rpc3BsYXk6bm9uZTtmaWxsOiMyNzc1MDM7fQ0KCS5zdDF7ZmlsbDpub25lO3N0cm9rZTojNzA5OWQ1O3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMi41IiBjeT0iNSIgcj0iOSIvPg0KPHBvbHlsaW5lIGNsYXNzPSJzdDEiIHBvaW50cz0iMSw5IDYsNSAxLDEgIi8+DQo8L3N2Zz4NCg==) center bottom no-repeat;
  background-size: auto 60%;
  transform: scaleX(-1);
}
.modal-wrapper .modal-container {
  position: relative;
  display: grid;
  width: 100%;
  margin: 0px auto;
  padding: 30px 30px 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}
@media screen and (max-width: 767px) {
  .modal-wrapper .modal-container {
    padding: 10px 10px 0;
  }
}
.modal-wrapper .modal-container .modal-header h3 {
  margin-top: 0;
  padding: 20px 0;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  color: #2c2745;
  font-weight: bolder;
}
@media screen and (max-width: 767px) {
  .modal-wrapper .modal-container .modal-header h3 {
    margin: 0 auto;
    padding: 12px 0;
    font-size: 18px;
    width: 76%;
    max-height: 110px;
  }
}
.modal-wrapper .modal-container .modal-header button.close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNy41IDE3LjUiPjxkZWZzPjxzdHlsZT4uYTc0YTE5NTgtODgzNC00MDk2LWI3MTUtZWZlM2Y2NjczMmVje2ZpbGw6bm9uZTtzdHJva2U6IzY2NjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6MS41cHg7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJhYjY5NDczZC05YzZjLTQyNmUtYmYyYy1jODEyMmQxOGNhOGQiIGRhdGEtbmFtZT0i5ZyW5bGkIDIiPjxnIGlkPSJmNzVkMzdiNy01OGJkLTQ2ZDItYWRhMS1jZmY5NTc3ZGZlYTIiIGRhdGEtbmFtZT0i5ZyW5bGkIDEiPjxsaW5lIGNsYXNzPSJhNzRhMTk1OC04ODM0LTQwOTYtYjcxNS1lZmUzZjY2NzMyZWMiIHgxPSIwLjc1IiB5MT0iMTYuNzUiIHgyPSIxNi43NSIgeTI9IjAuNzUiLz48bGluZSBjbGFzcz0iYTc0YTE5NTgtODgzNC00MDk2LWI3MTUtZWZlM2Y2NjczMmVjIiB4MT0iMC43NSIgeTE9IjAuNzUiIHgyPSIxNi43NSIgeTI9IjE2Ljc1Ii8+PC9nPjwvZz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  .modal-wrapper .modal-container .modal-header button.close {
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
  }
}
.modal-wrapper .modal-container .modal-header.multiple button.back {
  display: block !important;
  position: absolute;
  left: 15px;
  top: 15px;
  outline: none;
  width: 25px;
  height: 25px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIEdlbmVyYXRvcjogU1ZHIFJlcG8gTWl4ZXIgVG9vbHMgLS0+DQo8c3ZnIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgY2xhc3M9Imljb24iICB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTc2OCA5MDMuMjMybC01MC40MzIgNTYuNzY4TDI1NiA1MTJsNDYxLjU2OC00NDggNTAuNDMyIDU2Ljc2OEwzNjQuOTI4IDUxMnoiIGZpbGw9IiM2NjYiIC8+PC9zdmc+) center bottom no-repeat;
  background-size: auto 100%;
}
@media screen and (max-width: 767px) {
  .modal-wrapper .modal-container .modal-header.multiple button.back {
    left: 10px;
    top: 20px;
    width: 22px;
    height: 22px;
  }
}
.modal-wrapper .modal-container .modal-body {
  width: 100%;
  margin: 0;
  padding-bottom: 50px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  .modal-wrapper .modal-container .modal-body {
    max-height: initial;
    margin: 0;
    padding-bottom: 20px;
  }
}
.modal-wrapper .modal-container .modal-body::-webkit-scrollbar {
  width: 2px;
}
.modal-wrapper .modal-container .modal-body::-webkit-scrollbar-thumb {
  background: #aaa;
}
.modal-wrapper .modal-container .modal-default-button {
  float: right;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter-active .modal-wrapper,
.modal-leave-active .modal-wrapper {
  transform: translateY(-10%);
}

/* screen system */
/* RWD */
/*輪播、顏色設定*/
:root {
  --swiper-navigation-color: #ffffff;
  --default: #ffffff;
}

[v-cloak] {
  display: none;
}

b,
.bold {
  font-weight: bold;
}

/*基本設定*/
html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: "Noto Sans TC", sans-serif !important;
  font-weight: normal;
  overflow-y: auto;
  color: #001c77;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  margin: auto;
  display: block;
}
button:focus {
  outline: none !important;
}

p {
  word-break: break-all;
  line-height: 1.25;
}

img {
  width: 100%;
}

.blue {
  color: #0055dd;
}

.violet {
  color: #415287;
}

/* Default Setting(還沒調 mobile-first)*/
.top {
  right: 30px;
  bottom: 100px;
}
@media screen and (max-width: 576px) {
  .top {
    bottom: 60px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 29px;
  z-index: 999;
}
header .menu-btn {
  width: 25px;
  position: absolute;
  top: 8px;
  right: 20px;
  z-index: 11;
}
header .menu-btn span {
  display: block;
  margin: 7px 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
header .menu-btn.open {
  top: 13px;
}
header .menu-btn.open span {
  background: #fff;
}
header .menu-btn.open span:first-child {
  transform: rotate(45deg) translate(4px, 3px);
}
header .menu-btn.open span:nth-child(2) {
  display: none;
}
header .menu-btn.open span:last-child {
  transform: rotate(-45deg) translate(3px, -3px);
}
header .menu-list {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 105vh;
  background: var(--primary-color);
  z-index: 10;
  padding-top: 25vh;
}
@media screen and (min-width: 991px) {
  header .menu-list {
    position: relative;
    display: block !important;
    width: auto;
    height: auto;
    background: transparent;
    padding-top: 0;
  }
}
header .menu-list ul {
  margin-top: 0;
  display: block;
}
@media screen and (min-width: 991px) {
  header .menu-list ul {
    display: flex;
  }
}
header .menu-list ul li {
  text-align: center;
  padding: 10px 30px;
  margin: 10px 0;
  font-weight: 500;
}
@media screen and (min-width: 991px) {
  header .menu-list ul li {
    cursor: pointer;
    padding: 0 30px;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
}
header .menu-list ul li:not(:first-child):before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 15px;
  background: var(--primary-color);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
header .menu-list ul li span {
  color: #ffffff;
}
@media screen and (min-width: 991px) {
  header .menu-list ul li span {
    display: inline-flex;
    color: var(--primary-color);
  }
  header .menu-list ul li span:hover {
    color: var(--primary-orange);
  }
}
header .menu-list .socialmedia {
  position: absolute;
  bottom: 20vh;
  left: 0;
  width: 100%;
}
header .menu-list .socialmedia ol {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .menu-list .socialmedia img {
  width: 22px;
  height: 22px;
}

.sticker {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
@media screen and (max-width: 899px) {
  .sticker {
    right: 10px;
  }
}
.sticker .desktop {
  width: 120px;
}
.sticker .mobile {
  width: 40px;
}

/* 區塊樣式設定 */
.mobile {
  display: block;
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}
@media (min-width: 768px) {
  .desktop {
    display: block;
  }
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    max-width: 1200px !important;
  }
}

/* 主要區塊 */
section {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
  /*section 共用*/
  /*一次買進台灣上市50大企業 輕鬆參與台股長線行情*/
  /*成立超過20年  傳遞台灣龍頭企業成長果實*/
  /*基金基本資訊*/
  /*警語*/
}
@media (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}
section h2.title {
  margin-bottom: 40px;
  font-size: 32px;
  color: #0d3fe2;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  section h2.title {
    margin-bottom: 60px;
    font-size: 48px;
  }
}
section .notice {
  font-size: 14px;
  line-height: 1.5;
}
section.kv {
  background-color: #f5f6ff;
  width: 100%;
  height: 100svh;
  padding: 72px 0 0;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  section.kv {
    padding-top: 50px;
  }
}
section.kv .kv-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #007aff;
  visibility: hidden;
  opacity: 0;
  transition: background 0.2s ease;
  /* ---- particles.js container ---- */
}
section.kv .kv-wrapper canvas {
  display: block;
}
section.kv .kv-wrapper #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-kv-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
section.kv .kv-wrapper .title-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-shadow: 0 0 10px #003271;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 768px) {
  section.kv .kv-wrapper .title-box {
    gap: 40px;
  }
}
section.kv .kv-wrapper .title-box h1 {
  font-size: 12vw;
  line-height: 1.2;
  font-weight: bold;
  color: #FFF;
}
@media (min-width: 768px) {
  section.kv .kv-wrapper .title-box h1 {
    font-size: 100px;
  }
}
section.kv .kv-wrapper .title-box h2 {
  font-size: 6vw;
  color: #FFF;
}
@media (min-width: 768px) {
  section.kv .kv-wrapper .title-box h2 {
    font-size: 48px;
  }
}
section.kv .kv-bg-blur1,
section.kv .kv-bg-blur2,
section.kv .kv-bg-blur3,
section.kv .kv-img-buildings,
section.kv .kv-img-kbar,
section.kv .kv-img-man,
section.kv .kv-img-light {
  width: 100vw;
  height: 100svh;
  position: absolute;
}
section.kv .kv-bg-blur1 {
  background: url(../img/kv-bg-blur1.png) no-repeat;
  background-position: left -800px top -520px;
}
section.kv .kv-bg-blur2 {
  background: url(../img/kv-bg-blur2.png) no-repeat;
  background-position: right -780px top -320px;
}
section.kv .kv-bg-blur3 {
  background: url(../img/kv-bg-blur3.png) no-repeat;
  background-position: left 200px bottom -500px;
}
section.kv .kv-img-buildings {
  background: url(../img/kv-img-buildings.png) no-repeat;
  background-position: left -60px bottom 0;
  background-size: 28%;
}
section.kv .kv-img-kbar {
  background: url(../img/kv-img-kbar.png) no-repeat;
  background-position: left 80px bottom 0;
  background-size: 36%;
}
section.kv .kv-img-man {
  background: url(../img/kv-img-man.png) no-repeat;
  background-position: left 380px bottom -32px;
  background-size: 12.5%;
}
section.kv .kv-img-light {
  background: url(../img/kv-img-light.png) no-repeat;
  background-position: right 0 bottom 0;
  background-size: 100%;
}
section.kv .kv-wrapper .kv-slogan {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 18.5%;
}
section.kv .kv-wrapper .kv-slogan #slogan-animation {
  width: 100%;
  max-width: 800px;
}
@media (max-aspect-ratio: 1/1) {
  section.kv .kv-bg-blur3 {
    background: url(../img/kv-bg-blur3.png) no-repeat;
    background-position: left 0 bottom -30vw;
  }
  section.kv .kv-img-buildings {
    background-position: left -15vw bottom 0;
    background-size: 60%;
  }
  section.kv .kv-img-kbar {
    background-position: left 12vw bottom 18vw;
    background-size: 90%;
  }
  section.kv .kv-img-man {
    background-position: left 25vw bottom 5vw;
    background-size: 40%;
  }
  section.kv .kv-img-light {
    background-position: right -25vw bottom 0;
    background-size: 200%;
  }
}
@media (max-aspect-ratio: 82/119) {
  section.kv .kv-img-light {
    background-position: right -30vw bottom 0;
    background-size: 250%;
  }
}
@media screen and (max-width: 767px) {
  section.kv .kv-bg-blur1 {
    background-size: 200vw;
    background-position: left -110vw top -75vw;
  }
  section.kv .kv-bg-blur2 {
    background-size: 200vw;
    background-position: right -135vw top 8vh;
  }
  section.kv .kv-bg-blur3 {
    background-size: 200vw;
    background-position: left 0 bottom -40vw;
  }
}
@media screen and (max-width: 1024px) and (min-aspect-ratio: 1/1) {
  section.kv .kv-wrapper .kv-slogan #slogan-animation {
    width: 100vh;
  }
}
section.section-1 {
  background-image: url("../img/bg-blur-1-mob.png"), url("../img/bg-blur-2-mob.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  background-color: #f5f6ff;
}
@media (min-width: 768px) {
  section.section-1 {
    background-image: url("../img/bg-blur.png");
    background-position: top center;
    background-repeat: no-repeat;
  }
}
section.section-1 .img-wrap {
  position: relative;
}
section.section-1 .img-wrap .txt {
  position: relative;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  section.section-1 .img-wrap .txt {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 450px;
  }
}
section.section-1 .img-wrap .txt h3 {
  color: #0d3fe2;
  padding: 0.5rem 0 1rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
}
@media (min-width: 768px) {
  section.section-1 .img-wrap .txt h3 {
    font-size: 18px;
  }
}
section.section-1 .img-wrap .txt h3::before {
  content: "▍";
  display: inline-block;
}
section.section-1 .img-wrap .txt p {
  padding: 0 1rem;
  text-align: justify;
}
@media (min-width: 768px) {
  section.section-1 .img-wrap .txt p {
    padding-left: 1.5rem;
  }
}
section.section-2 {
  background-image: linear-gradient(to bottom, #f5f6ff, #0d3fe2);
}
section.section-2 .circle-wrap {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 24px;
}
@media (min-width: 1024px) {
  section.section-2 .circle-wrap {
    margin-top: 140px;
    flex-direction: row;
    gap: 36px;
    filter: drop-shadow(#4171ea 0 0.5rem 0);
  }
}
section.section-2 .circle-wrap .circle {
  flex: 1;
  width: 100%;
  position: relative;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 100px;
  background: #e4e8f4;
  box-shadow: 0 5px 0 #4171ea;
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (min-width: 1024px) {
  section.section-2 .circle-wrap .circle {
    display: block;
    padding: 0;
    border-radius: 0;
    min-height: 260px;
    background: none;
    box-shadow: none;
  }
}
section.section-2 .circle-wrap .circle::before {
  display: none;
}
@media (min-width: 1024px) {
  section.section-2 .circle-wrap .circle::before {
    display: block;
    content: "";
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #e4e8f4;
  }
}
section.section-2 .circle-wrap .circle .icon {
  position: relative;
  flex: 80px 0 0;
  background-color: #1848d7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 1rem;
}
@media (min-width: 1024px) {
  section.section-2 .circle-wrap .circle .icon {
    position: absolute;
    top: -20px;
    right: 20px;
    width: 80px;
    height: 80px;
    padding: 1rem;
    background-color: #1848d7;
    border-radius: 50%;
  }
}
section.section-2 .circle-wrap .circle p {
  position: relative;
  flex: 2 0 0;
  word-break: normal;
}
@media (min-width: 1024px) {
  section.section-2 .circle-wrap .circle p {
    padding: 4.5rem 1rem 0 1.6rem;
  }
}
section.section-2 .timeline-wrap {
  padding: 60px 0 40px;
  position: relative;
  width: 94%;
  height: auto;
}
@media (min-width: 768px) {
  section.section-2 .timeline-wrap {
    /* >768*/
    width: 1200px;
    padding: 80px 0 40px;
    margin-bottom: 80px;
    height: 400px;
  }
}
@media (min-width: 1024px) {
  section.section-2 .timeline-wrap {
    /* >768*/
    width: 1540px;
    padding: 80px 0 40px;
    margin-bottom: 80px;
    height: 400px;
  }
}
section.section-2 .timeline-wrap .center-line {
  margin: 60px auto 60px;
  position: absolute;
  width: 2px;
  height: calc(100% - 120px);
  left: 20px;
  background: #a5bef4;
}
@media (min-width: 768px) {
  section.section-2 .timeline-wrap .center-line {
    margin: 0 auto;
    width: 100%;
    height: 2px;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    background: #a5bef4;
  }
}
@media screen and (max-width: 767px) {
  section.section-2 .timeline-wrap .timeline-content {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  section.section-2 .timeline-wrap .timeline-content {
    position: relative;
  }
}
section.section-2 .timeline-wrap .timeline-article {
  position: relative;
  width: 100%;
  height: auto;
  /*日期*/
  /*點點*/
  /*內容*/
}
@media screen and (max-width: 767px) {
  section.section-2 .timeline-wrap .timeline-article {
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  section.section-2 .timeline-wrap .timeline-article {
    width: 210px;
    height: 400px;
    min-height: 400px;
  }
}
section.section-2 .timeline-wrap .timeline-article .content-date {
  padding: 0 0 10px 60px;
  width: 100%;
  color: #FFF;
  text-align: left;
}
@media (min-width: 768px) {
  section.section-2 .timeline-wrap .timeline-article .content-date {
    padding: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 18px;
    transform: translateX(-50%);
    text-align: center;
  }
}
section.section-2 .timeline-wrap .timeline-article .meta-date {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #fff;
}
@media (min-width: 768px) {
  section.section-2 .timeline-wrap .timeline-article .meta-date {
    left: 50%;
  }
}
section.section-2 .timeline-wrap .timeline-article .meta-date::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
section.section-2 .timeline-wrap .timeline-article .content-box {
  margin: 0 0 0 60px;
  padding: 10px 10px 15px;
  width: calc(100% - 60px);
  border-radius: 10px;
  background-color: #fff;
}
@media (min-width: 768px) {
  section.section-2 .timeline-wrap .timeline-article .content-box {
    margin: 0 auto;
    padding: 10px 5px 15px;
    position: absolute;
    width: 210px;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}
section.section-2 .timeline-wrap .timeline-article:nth-child(odd) .content-box::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  top: 50%;
  left: 20px;
  background: #FFF;
}
@media (min-width: 768px) {
  section.section-2 .timeline-wrap .timeline-article:nth-child(odd) .content-box::before {
    left: 50%;
    transform: translateX(-50%);
    top: -32px;
    height: 32px;
    width: 2px;
    background: #a5bef4;
  }
}
section.section-2 .timeline-wrap .timeline-article:nth-child(even) .content-date {
  top: 59%;
}
section.section-2 .timeline-wrap .timeline-article:nth-child(even) .content-box {
  top: auto;
  bottom: 60%;
}
section.section-2 .timeline-wrap .timeline-article:nth-child(even) .content-box::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  left: 20px;
  background: #FFF;
  top: 50%;
}
@media (min-width: 768px) {
  section.section-2 .timeline-wrap .timeline-article:nth-child(even) .content-box::before {
    top: auto;
    left: 50%;
    bottom: -32px;
    height: 32px;
    width: 2px;
    transform: translateX(-50%);
    background: #a5bef4;
  }
}
section.section-2 .timeline-wrap .timeline-article:last-child .content-date {
  color: #ffd800;
}
section.section-2 .timeline-wrap .timeline-article:last-child .content-box {
  background-color: #ffd800;
}
section.section-2 .timeline-wrap .timeline-article:last-child .content-box::before {
  background: #ffd800;
}
section.section-2 .timeline-wrap .timeline-article:last-child .meta-date {
  background: #ffd800;
}
section.section-2 .timeline-wrap .timeline-article:last-child .meta-date::before {
  content: "";
  background-color: rgba(255, 216, 0, 0.2);
}
section.section-3 {
  position: relative;
  background: #fff;
}
section.section-3 .fund-file {
  padding: 0;
  text-align: center;
  margin: 0 auto 2rem;
}
@media (min-width: 768px) {
  section.section-3 .fund-file {
    width: 94%;
    margin: 0 auto;
    padding-top: 40px;
  }
}
section.section-3 .fund-file .content {
  margin-top: 0;
  padding-top: 0;
}
section.section-3 .fund-file .content h2 {
  margin-top: 0;
}
section.section-3 .fund-file .detail {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail {
    display: flex;
  }
}
section.section-3 .fund-file .detail .list {
  flex: 1;
}
section.section-3 .fund-file .detail .list.list-top {
  display: block;
  justify-content: center;
  background-color: #e4f0f9;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list.list-top {
    display: flex;
  }
}
section.section-3 .fund-file .detail .list.list-top p {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 10px;
  background: transparent;
  border: none;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list.list-top p {
    grid-template-columns: 2fr 3fr;
  }
}
section.section-3 .fund-file .detail .list.list-top p span {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list.list-top p span {
    display: flex;
  }
}
section.section-3 .fund-file .detail .list.list-top p span.item {
  display: block;
  font-weight: 600;
  background: transparent;
  align-items: center;
  color: #001c77;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list.list-top p span.item {
    display: flex;
    padding: 0;
  }
}
section.section-3 .fund-file .detail .list.list-top p span.val {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  background: transparent;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list.list-top p span.val {
    grid-template-columns: 1.5fr 1fr;
    padding: 0;
  }
}
section.section-3 .fund-file .detail .list.list-top p span.val a {
  padding: 2vw 0;
  display: block;
  color: #001c77;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list.list-top p span.val a {
    padding: 10px 0;
  }
}
section.section-3 .fund-file .detail .list.list-top p span i {
  margin-left: 10px;
  display: inline-flex;
  width: 40px;
  height: 1px;
  background-color: #000;
}
@media screen and (max-width: 992px) {
  section.section-3 .fund-file .detail .list.list-top p span i {
    display: none;
  }
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list-t {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
  }
}
section.section-3 .fund-file .detail .list p {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  font-size: 16px;
  border-bottom: 1px solid #0d3fe2;
  background-color: #0d3fe2;
}
section.section-3 .fund-file .detail .list p span {
  padding: 10px 0;
  height: 100%;
  display: flex;
  align-items: center;
  background: #0d3fe2;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list p span {
    padding: 15px 0;
  }
}
section.section-3 .fund-file .detail .list p span.item {
  min-width: 130px;
  justify-content: center;
  color: #FFF;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list p span.item {
    min-width: 160px;
  }
}
section.section-3 .fund-file .detail .list p span.val {
  padding-left: 10px;
  padding-right: 10px;
  background: #FFF;
  width: 100%;
  text-align: left;
  vertical-align: middle;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list p span.val {
    padding-left: 20px;
    padding-right: 20px;
  }
}
section.section-3 .fund-file .detail .list p span.val a {
  color: #001c77;
  display: block;
  margin-right: 0;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list p span.val a {
    margin-right: 20px;
  }
}
section.section-3 .fund-file .detail .list p span.val a img {
  width: 14px;
  margin-right: 10px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .detail .list p span.val a img {
    width: 18px;
  }
}
section.section-3 .fund-file .detail .info {
  line-height: 1.2;
}
section.section-3 .fund-file .info {
  align-items: stretch;
}
section.section-3 .fund-file .info .proportion {
  position: relative;
}
section.section-3 .fund-file .info .proportion p.title {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info .proportion p.title {
    margin: 0 0 50px;
    line-height: 28px;
    font-size: 20px;
  }
}
section.section-3 .fund-file .info .proportion:nth-child(1) {
  flex: 5;
}
section.section-3 .fund-file .info .proportion:nth-child(2) {
  flex: 6;
}
section.section-3 .fund-file .info .proportion .info-detail {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info .proportion .info-detail {
    padding: 0 0 30px;
  }
}
section.section-3 .fund-file .info .proportion .info-detail .chart-list {
  width: 100%;
  flex: 2;
}
section.section-3 .fund-file .info .proportion .info-detail .chart-list .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 6px;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info .proportion .info-detail .chart-list .data {
    padding: 8px;
  }
}
section.section-3 .fund-file .info .proportion .info-detail .chart-list .data span {
  flex-grow: 1;
}
section.section-3 .fund-file .info .proportion .notice {
  text-align: justify;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info .proportion .notice {
    text-align: right;
  }
}
@media screen and (max-width: 991px) {
  section.section-3 .fund-file .info-chart {
    flex-direction: column;
    gap: 16px;
  }
}
section.section-3 .fund-file .info-chart .proportion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.section-3 .fund-file .info-chart .proportion .title {
  flex-basis: 100%;
  margin: 20px 0 20px;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info-chart .proportion .title {
    margin: 20px 0 50px;
  }
}
section.section-3 .fund-file .info-chart .proportion .canvas {
  flex: 1;
  min-width: 110px;
  max-width: 110px;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info-chart .proportion .canvas {
    min-width: 200px;
    max-width: 200px;
  }
}
@media (min-width: 1024px) {
  section.section-3 .fund-file .info-chart .proportion .canvas {
    min-width: 240px;
    max-width: 240px;
  }
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list {
  padding-left: 30px;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list {
    padding-left: 50px;
  }
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data {
  padding-left: 25px;
  align-items: baseline;
  text-align: left;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(1)::before {
  background: #0088e4;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(2)::before {
  background: #ff6a00;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(3)::before {
  background: #005bac;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(4)::before {
  background: #ffd300;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(5)::before {
  background: #1799e2;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(6)::before {
  background: #ff8533;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(7)::before {
  background: #0b66b7;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(8)::before {
  background: #ffe266;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(9)::before {
  background: #2faae0;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(10)::before {
  background: #ff9750;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(11)::before {
  background: #1a73c4;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(12)::before {
  background: #ffe98a;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(13)::before {
  background: #47b6dd;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(14)::before {
  background: #ffa76c;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(15)::before {
  background: #2f80d1;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(16)::before {
  background: #fff1b6;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(17)::before {
  background: #5ec0db;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(18)::before {
  background: #ffb888;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(19)::before {
  background: #3c95e5;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(20)::before {
  background: #fff9de;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(21)::before {
  background: #3c95e5;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(22)::before {
  background: #ffb888;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(23)::before {
  background: #5ec0db;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(24)::before {
  background: #fff1b6;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(25)::before {
  background: #2f80d1;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(26)::before {
  background: #ffa76c;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(27)::before {
  background: #47b6dd;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(28)::before {
  background: #ffe98a;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(29)::before {
  background: #1a73c4;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(30)::before {
  background: #ff9750;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(31)::before {
  background: #2faae0;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(32)::before {
  background: #ffe266;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(33)::before {
  background: #0b66b7;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(34)::before {
  background: #ff8533;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(35)::before {
  background: #1799e2;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(36)::before {
  background: #ffd300;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(37)::before {
  background: #005bac;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(38)::before {
  background: #aaaaaa;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(39)::before {
  background: #666666;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data:nth-child(40)::before {
  background: #222222;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data span:nth-child(1) {
  margin-left: auto;
}
section.section-3 .fund-file .info-chart .proportion .info-detail .chart-list .data span:nth-child(2) {
  margin-right: auto;
  text-align: right;
}
section.section-3 .fund-file .info-chart .proportion .info-bottom {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  padding: 10px 0 20px;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info-chart .proportion .info-bottom {
    padding: 0;
  }
}
section.section-3 .fund-file .info-chart .proportion .info-bottom .btn-more {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  background: transparent;
  color: #38a8fd;
}
section.section-3 .fund-file .info-chart .proportion .info-bottom .btn-more:hover {
  cursor: pointer;
}
section.section-3 .fund-file .info-chart .proportion .info-bottom .btn-more img {
  transform: rotate(-90deg);
}
section.section-3 .fund-file .info-topHoldings {
  margin-top: 40px;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info-topHoldings {
    margin-top: 80px;
  }
}
section.section-3 .fund-file .info-topHoldings .proportion .title {
  margin: 30px 0 20px;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info-topHoldings .proportion .title {
    margin: 0 0 50px;
  }
}
section.section-3 .fund-file .info-topHoldings .proportion .info-detail .chart-list {
  display: block;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info-topHoldings .proportion .info-detail .chart-list {
    display: grid;
    grid: repeat(5, auto)/auto-flow;
  }
}
section.section-3 .fund-file .info-topHoldings .proportion .info-detail .chart-list .data {
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
}
@media (min-width: 768px) {
  section.section-3 .fund-file .info-topHoldings .proportion .info-detail .chart-list .data {
    padding: 20px 10px;
    margin: 0 36px;
  }
}
section.section-3 .fund-file .info-topHoldings .proportion .info-detail .chart-list .data span:nth-child(1) {
  margin-left: auto;
  text-align: left;
}
section.section-3 .fund-file .info-topHoldings .proportion .info-detail .chart-list .data span:nth-child(2) {
  margin-right: auto;
  text-align: right;
}
section.warning {
  color: #001c77;
  background-color: #dfedfb;
  line-height: 1.4em;
}
section.warning .warning-cont {
  text-align: justify;
}
section.warning .warning-cont .info {
  padding-top: 20px;
}
section.warning .warning-cont p {
  word-break: break-all;
}
section.warning .warning-cont p span {
  padding-right: 1em;
}
section.warning .warning-cont p.last {
  padding-top: 20px;
}
section.warning .warning-cont ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
section.warning .warning-cont ul span {
  color: #0d3fe2;
}
section.warning .warning-cont u {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
section.warning .txt-lg {
  font-size: 22px;
  line-height: 1.5em;
}
@media screen and (max-width: 640px) {
  section.warning .txt-lg {
    font-size: 20px;
  }
}
section.warning .txt-md {
  font-size: 16px;
  line-height: 1.5em;
}
@media screen and (min-width: 640px) {
  section.warning .txt-md {
    font-size: 18px;
  }
}
section.warning .txt-sm {
  font-size: 14px;
  line-height: 1.5em;
}
section.warning .txt-tn {
  font-size: 12px;
}
/*20250122bank*/
section.warning ol.txt-sm-bank {
  list-style-type: decimal;
  padding-left: 20px;
  text-align: left;
}
section.warning p.txt-md-bank {
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
}
@media screen and (max-width: 640px) {
  section.warning p.txt-md-bank {
    font-size: 14px;
  }
}

/*modal 內容*/
.modal .info-wrp {
  width: 100%;
}
.modal .info-wrp h3 {
  position: relative;
  text-align: left;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 20px;
}
.modal .info-wrp .data-date {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: right;
  font-size: 14px;
  color: #838d9c;
}
.modal-chart .chart-wrp {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .modal-chart .chart-wrp {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
.modal-chart .chart-wrp .chart-img {
  width: 60%;
  margin: 0 auto;
  max-width: 300px;
}
@media (min-width: 768px) {
  .modal-chart .chart-wrp .chart-img {
    margin-top: 30px;
    flex: 3;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 300px;
  }
}
.modal-chart .chart-wrp .chart-list {
  padding: 10px 0;
  border-bottom: 1px solid #bfc3c9;
}
@media (min-width: 768px) {
  .modal-chart .chart-wrp .chart-list {
    flex: 4;
  }
}
.modal-chart .chart-wrp .chart-list .row-wrp {
  display: grid;
  grid-template-columns: 1fr;
}
.modal-chart .chart-wrp .chart-list .row {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 20px 2fr 1fr;
  border: none;
  align-items: baseline;
  font-size: 16px;
}
.modal-chart .chart-wrp .chart-list .row .color {
  width: 12px;
  height: 12px;
}
.modal-chart .chart-wrp .chart-list .row .ratio {
  text-align: right;
}/*# sourceMappingURL=style.css.map */

/* 20250122bank */
.float {
  position: fixed;
  top: 30%;
  right: 15px;
  width: 54px;
  z-index: 50;}
  .float-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 25px 10px;
    border-radius: 50px;
    background-color: #f46300; }
  .float-item-bl {
    background-color: #005bac;
    margin-top: 10px; }
    .float-item img {
      width: 24px; }
    .float-item div {
      color: #FFF;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      -webkit-writing-mode: vertical-lr;
          -ms-writing-mode: tb-lr;
              writing-mode: vertical-lr; }
  @media only screen and (min-width: 1024px) {
    .float-item {
      transition: .3s; }
      .float-item:hover {
        transform: scale(1.05); } }
  @media only screen and (max-width: 1279px) {
    .float {
      width: 40px; }
      .float-item {
        padding: 20px 10px; }
        .float-item img {
          width: 18px; }
        .float-item div { 
          font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    .float {
      display: flex;
      width: 100%;
      top: auto;
      bottom: 0;
      right: 0; }
      .float-item {
        flex: 1;
        flex-direction: row;
        justify-content: center;
        padding: 12px;
        border-radius: 0; }
      .float-item-bl {
        margin-top: 0; }
        .float-item div {
          -webkit-writing-mode: initial;
              -ms-writing-mode: initial;
                  writing-mode: initial; }