<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no" />

  <!-- Title -->
  <title>元大銀行｜0050 ETF連結基金｜連結人生的夢想</title>
  <!-- description -->
  <meta name="description" content="至少9成資產投資於其所連結之0050 ETF，配息級別或不配息級別自由選">
  <!-- Facebook 縮圖 -->
  <meta property="og:title" content="元大銀行｜0050 ETF連結基金｜連結人生的夢想" />
  <meta property="og:description" content="至少9成資產投資於其所連結之0050 ETF，配息級別或不配息級別自由選" />
  <meta property="og:image" content="https://www.yuantabank.com.tw/bankwebIMG/event/Bank_Act2025/0050FF/assets/img/share-img.png">
  <meta property="og:url" content="https://www.yuantabank.com.tw/bankwebIMG/event/Bank_Act2025/0050FF/index.html" />
  <link rel="shortcut icon" href="https://www.yuantabank.com.tw/bank/resources/front/images/favicon.ico" type="image/x-icon">

  <!-- Style Sheet -->
  <link rel="stylesheet" href="./assets/css/default.css">
  <link rel="stylesheet" href="./assets/css/common.css">
  <link rel="stylesheet" href="./assets/css/swiper-bundle.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <script type="text/javascript" src="./assets/js/uno_main.js"> </script>
  <script type="text/javascript" src="./assets/js/uno.global.js" defer></script>

  <script>
    function IE(v) {
      return RegExp('msie' + (!isNaN(v) ? ('\\s' + v) : ''), 'i').test(navigator.userAgent);
    }
    if (IE() || navigator.userAgent.toLowerCase().match(/rv:([\d.]+)\) like gecko/)) {
      alert('請使用其他瀏覽器或以手機進行瀏覽');
      window.close();
    }
  </script>
  <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TDNQKZC');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPTTN7C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <div id="app" v-cloak>

    <div class="header">
      <div class="yuantaLogo">
        <a href="https://www.yuantabank.com.tw/bank/" target="_blank" alt="元大銀行"> </a>
        <div class="yuantaplusLogo"></div>
      </div>
    </div>

    <section class="kv" id="kv">
      <div class="kv-wrapper" ref="kvWrapper" id="kv-wrapper">
        <div id="particles-js"></div>
        <div class="title-box">
          <h1 class="kv-etf-0050-title">0050 ETF<br class="mobile"/>連結基金</h1>
          <h2 class="kv-etf-0050-subtitle">元大台灣卓越50 ETF連結基金</h2>
        </div>
      </div>
    </section>
    <section class="section-0">
      <div class="container mx-auto">
        <h2 class="title">什麼是「ETF連結基金」？</h2>
        <div class="w-full md:w-10/12 mx-auto flex flex-col gap-5 md:mb-10 md:flex-row md:gap-20 items-center">
          <div class="flex-auto md:w-36">
            <img src="./assets/img/img-whatsFF.png" alt="">
          </div>
          <div class="flex-auto md:w-64">
            <p>連結基金的本質與一般的共同基金沒有太大區別，而連結基金會將90%以上的淨資產投資於一檔ETF作為主要投資標的，其他部位則可能投資於證券相關商品或流動性高的短期投資工具，例如活存、RP或固定收益。</p>
            <div class="notice text-justify violet mt-5 md:mt-8">
              資料來源：元大投信整理。<b>* 基金投資於經理公司所經理之基金時，不得收取經理費，故無經理費雙重收費之疑慮。</b>
            </div>
          </div>
        </div>

        <div class="w-full md:w-10/12 mx-auto mb-5 mt-10 md:my-0 md:mb-10 p-5 md:px-10 md:py-5 flex flex-col md:flex-row gap-5 md:gap-2 items-center bg-[#f5f6ff] outline-[#0d3fe2] rounded-[10px] outline-dashed outline-2">
          <div class="flex-none w-4/12 md:w-2/12 md:p-6">
            <img src="./assets/img/img-moneybowl.png" alt="">
          </div>
          <div class="flex-auto md:w-10/12 text-[#0d3fe2]">
            <p>0050 ETF連結基金設有不配息級別，市值型ETF長期成長性高，若配息再投入將大幅增加複利效果，對於距離退休時間長達30至40年的年輕存股族，或為小孩規劃投資的爸爸媽媽，無須考量配息率，更可以善用「市值型ETF×時間×不配息」，透過0050 ETF連結基金不配息級別將0050配息自動投入，擴大資產成長機會。</p>
          </div>
        </div>

        <div class="notice text-justify violet font-bold">
          基金配息不代表基金實際報酬，且過去配息不代表未來配息；基金淨值可能因市場因素而上下波動。0050 ETF連結基金配息主要來自於連結主基金發放之收益分配金額，於0050 ETF連結基金做成每次收益分配決定並確認配息金額後進行收益分配，故每次分配之金額並非一定相同。投資人申購的是經理公司所募集發行之元大台灣卓越50 ETF連結基金受益憑證，而非申購在臺灣證券交易所掛牌交易的元大台灣卓越50基金（元大台灣50(0050)）。
        </div>

      </div>
    </section>
    <section class="section-1">
      <div class="container mx-auto">
        <h2 class="title">一次買進台灣上市50大企業 輕鬆參與台股長線行情</h2>
        <div class="img-wrap md:p-12">
          <div class="txt">
            <h3>元大台灣50(0050) 成立以來含息報酬率累積走勢</h3>
            <p>投資人應留意以下僅為歷史數據，不代表未來績效保證，不同時間結果亦可能不同，資料僅供參考。0050所承受之單一股票市場系統性風險無法透過增加成分股進行分散，建議應有完整的資金投入規劃。</p>
          </div>
          <img class="desktop" src="./assets/img/chart-section1.png" alt="">
          <img class="mobile" src="./assets/img/chart-section1-mob.png" alt="">
        </div>
        <div class="notice text-justify violet">
          資料來源：理柏資訊，截至2024/12/31，元大投信整理。元大台灣50(0050)各期間含息報酬率：近三月7.91%、近六月5.87%、近一年48.17%、近兩年90.65%、近三年49.13%、成立以來956.57%。<b>0050成立以來年化報酬率採每年250交易日計算。該數值為估算值，可能因計算條件改變而有所差異，且不代表未來績效保證，不同時間進場投資，其結果將可能不同，且並未考量交易成本。以上僅為歷史數據，不代表未來績效保證，不同時間結果亦可能不同，以上資料僅供參考，投資前請詳閱公開說明書。0050以追蹤標的指數報酬為目標，因此基金投資績效將視其追蹤之標的指數之走勢而定。然因需負擔交易費用或其他必要之費用（如經理費、保管費、上市費）；或承受期貨及股票對市場信息反應不一所產生的價格波動影響，可能使基金報酬偏離標的指數報酬，且偏離方向無法預估。</b>
        </div>

        <!--空白空間-->
        <div class="h-[100px] md:h-[120px]"></div>

        <div class="flex flex-col content-center justify-center gap-20 md:mt-0  md:flex-row md:gap-8 lg:gap-16">
          <div class="rounded-[10px] bg-[#0d3fe2]" v-for="(arr, idx) in threeCard" :key="`arr_${idx}`">
            <div class="relative top-[-2rem] px-4">
              <img :src="threeCardTop[idx]" alt="">
            </div>
            <div v-for="(company, idxx) in arr" :key="`compant_${idxx}`">
              <div class="relative top-[-1rem] text-center leading-8">
                <span class="text-[#ffd800] mr-2 font-bold">{{ company.name }}</span>
                <span class="text-white">{{ company.desc }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="notice text-justify violet mt-10 md:mt-12">
          資料來源：各企業官網，元大投信整理。<b>本配置為2024年12月基金實際布局，提及之個股、行業或占比僅為說明之用，不代表基金之必然投資，成分證券篩選規則請詳閱公開說明書。投資人申購基金係持有基金受益憑證，而非本文提及之投資資產或標的。</b>
        </div>
      </div>
    </section>

    <section class="section-2">
      <div class="container mx-auto">
        <h2 class="title">成立超過20年 傳遞台灣龍頭企業成長果實</h2>
        <div class="circle-wrap">
          <div class="circle" v-for="card in circleCard" :key="card.id">
            <div class="icon">
              <img :src="card.icon" alt="">
            </div>
            <p>{{ card.txt }}</p>
          </div>
        </div>
        <div class="mt-10 notice text-justify text-white md:mt-20">
          資料來源：Bloomberg、臺灣證券交易所，元大投信整理，
          0050成立日為2003/6/25，統計至2024年底。<b>投資人因不同時間進場，將有不同之投資績效，過去之績效亦不代表未來績效之保證。基金配息不代表基金實際報酬，且過去配息不代表未來配息；基金淨值可能因市場因素而上下波動。0050以追蹤標的指數報酬為目標，因此基金投資績效將視其追蹤之標的指數之走勢而定。然因需負擔交易費用或其他必要之費用（如經理費、保管費、上市費）；或承受期貨及股票對市場信息反應不一所產生的價格波動影響，可能使基金報酬偏離標的指數報酬，且偏離方向無法預估。投資人申購基金係持有基金受益憑證，而非本文提及之投資資產或標的。</b>
        </div>
        <div class="timeline-wrap">
          <div class="swiper">
            <div class="center-line"></div>
            <div class="timeline-content swiper-wrapper flex-col md:flex-row" :class="{'swiper-no-swiping': !isPC }">
              <div class="timeline-article swiper-slide" v-for="(item, idx) in timelineCard" :key="`time_${idx}`">
                <div class="content-date">
                  <span>{{ item.date }}</span>
                </div>
                <div class="meta-date"></div>
                <div class="content-box text-center">
                  <p class="font-bold" v-html="item.title"></p>
                  <p v-html="item.txt"></p>
                </div>
              </div>
            </div>
            <!-- <div class="swiper-navigation swiper-button-prev"></div>
            <div class="swiper-navigation swiper-button-next"></div> -->
          </div>
        </div>
        <div class="notice text-justify text-white">
          資料來源：臺灣證券交易所、投信投顧公會、境外基金資訊公告平台、元大投信官網，元大投信整理。<b>*0050連結基金係指元大台灣卓越50ETF連結基金，投資人申購係持有該基金受益憑證，進而透過連結基金架構投資0050，而非直接持有0050
            ETF其成分證券。**計算方式：0050成立至2021年上半年累積配息金額為38.05元，已超越發行價36.98元。以上僅為不加計交易成本之試算，未來實際配息金額依收益分配公告而定，逐次每股配息金額將因市場狀況而有變化，可能低於或超過前期。經理公司得依基金收益之情況自行決定當次分配之金額或不分配，故每次分配之金額並非一定相同，亦不保證每一年度必定配息或一定之配息率。基金受益權單位可分配收益，於經理公司決定收益分配金額或決定不予分配後，若有未分配收益將累積併入下次之可分配收益。基金配息不代表基金實際報酬，且過去配息不代表未來配息；基金淨值可能因市場因素而上下波動。本文提及個股、行業及占比僅為說明之用，不代表基金之必然投資，亦不代表任何金融商品的推介或建議，無特定推薦之意圖。投資人申購本基金係持有基金受益憑證，而非本文提及之投資資產或標的。0050以追蹤標的指數報酬為目標，因此基金投資績效將視其追蹤之標的指數之走勢而定。然因需負擔交易費用或其他必要之費用（如經理費、保管費、上市費）；或承受期貨及股票對市場信息反應不一所產生的價格波動影響，可能使基金報酬偏離標的指數報酬，且偏離方向無法預估。</b>
        </div>
      </div>
    </section>

    <!-- Section 6 基金小檔案 -->
    <section class="section-3">
      <div class="container mx-auto">
        <h2 class="title">基金投資配置</h2>
        <div class="fund-file">
          <div class="content">
            <div class="flex info info-chart gap-20">
              <div class="proportion flex">
                <div class="info-detail">
                  <p class="title">投資區域配置</p>
                  <div class="canvas">
                    <canvas :id="`chartArea_${fundList[0].fundid}`" width="160" height="160"></canvas>
                  </div>
                  <div class="chart-list">
                    <div v-for="item in fundList[0].data.fund.InvestArea?.slice(0,8)" class="data">
                      <span>{{ item.Item }}</span>
                      <span>{{ item.Ratio }}%</span>
                    </div>
                  </div>
                </div>
                <div class="info-bottom">
                  <p class="notice violet">資料日期：{{ fundList[0].data.fund.InvestAreaDate }}</p>
                </div>
              </div>
              <div class="proportion flex">
                <div class="info-detail">
                  <p class="title">投資產業配置</p>
                  <div class="canvas">
                    <canvas :id="`chartIndustry_${fundList[0].fundid}`" width="160" height="160"></canvas>
                  </div>
                  <div class="chart-list">
                    <div v-for="item in fundList[0].data.fund.InvestIndustry?.slice(0,8)" class="data">
                      <span>{{ item.Item }}</span>
                      <span>{{ item.Ratio }}%</span>
                    </div>
                  </div>
                </div>
                <div class="info-bottom">
                  <div class="notice violet text-justify flex">
                    資料日期：{{ fundList[0].data.fund.InvestIndustryDate }}
                  </div>
                  <div class="btn-more" v-show="fundList[0].data.fund.InvestIndustry?.length > 8"
                    @click="showModal('chartIndustryShow')">查看全部
                    <img src="./assets/img/select-arrow.svg">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info info-topHoldings">
            <div class="proportion">
              <p class="title">前 10 大投資標的</p>
              <div class="info-detail">
                <div class="chart-list">
                  <div v-for="item in fundList[0].data.fund.top10" class="data">
                    <span>{{ item.STK_CHNM }}</span>
                    <span>{{ item.HOLD_RTO }}%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="notice violet mt-4 md:mt-6 text-justify">資料日期：{{ fundList[0].data.fund.top10Date
            }}。<span class="blue bold">本配置為目前本基金之實際布局，不代表基金必然投資，未來投資將依公開說明書規範及當時市場環境與經濟現況而調整。投資人申購基金係持有基金受益憑證，而非本文提及之投資資產或標的。</span>
          </p>
        </div>
        <div class="h-[40px] md:h-[120px]"></div>
        <h2 class="title">基金小檔案</h2>
        <div class="fund-file">
          <div class="detail">
            <div class="list list-top">
              <p>
                <span class="item">檔案下載<i class="mobile-hide"></i></span>
                <span class="val">
                  <a href="./assets/pdf/1192台股ETF連結傘-公開說明書.pdf" target="_blank" :id="`fundList[0]${idx+1}-btn-prospectus`"
                    rel="noreferrer noopener">
                    <img src="./assets/img/icon-download.svg">公開說明書
                  </a>
                  <a href="./assets/pdf/1192台灣卓越50ETF連結基金-簡式公開說明書.pdf" target="_blank" :id="`ETF${idx+1}-prospectus`"
                    rel="noreferrer noopener">
                    <img src="./assets/img/icon-download.svg">簡式公開說明書
                  </a>
                </span>
              </p>
            </div>
          </div>
          <div class="detail">
            <div class="list list-t">
              <p v-for="(val, key) in fundList[0].data.fund.InfoList">
                <span class="item">{{ key }}</span>
                <span class="val" v-html="val"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="notice violet text-justify mt-10 md:mt-16">
          資料來源：基金公開說明書。<b>B類型受益權單位收益分配之收益評價日以所連結主基金公告之收益分配除息日為準。本基金成立日後，經理公司應依收益評價日之B類型受益權單位淨資產價值進行當年度收益分配之評價，本基金每受益權單位可分配之收益，係指以本基金受益權單位投資於中華民國境外所得之現金股利、利息收入，扣除本基金應負擔之費用後之可分配收益且不需扣除已實現及未實現之資本損失，經理公司得依該等收入之情況，決定分配之收益金額。
            <span
              class="font-bold blue">經理公司得依本基金收益之情況自行決定當次分配之金額或不分配，故每次分配之金額並非一定相同，亦不保證每一年度必定配息或一定之配息率。本基金受益權單位可分配收益，於經理公司決定收益分配金額或決定不予分配後，若有未分配收益將累積併入下次之可分配收益。
            </span>
            有關基金應負擔費用已揭露於基金之公開說明書投資人可至公開資訊觀測站查詢 。*經理費/保管費按揭示比率逐日累積計算於淨值，不另外收取。</b>
        </div>
      </div>
    </section>
    <!-- Warning -->
    <section class="warning">
      <div class="container">
        <div class="warning-cont text-left">
          <p class="txt-md font-bold">
            <span class="txt-lg">基金警語</span>投資一定有風險，基金投資有賺有賠，申購前應詳閱公開說明書
          </p>
          <div class="info">
            <p class="txt-tn">元大證券投資信託股份有限公司</p>
            <p class="txt-tn">台北總公司：105 台北市松山區敦化南路一段66號1樓、4樓、5樓及68號2樓之1（客戶服務相關業務請至68號2樓之1辦理） (02)2717-5555　一百一十三金管投信新字第零壹零號</p>
            <p class="txt-tn">台中分公司：406 台中市北屯區崇德路二段46-4號5樓 (04)2232-7878　一百一十一金管投信新分字第零零貳號</p>
            <p class="txt-tn">本公司兼營投顧的核准文號：96 年 7 月 30 日金管證四字第 0960039848 號函</p>
          </div>
          <ul class="txt-sm fw-bold">
            <li>元大台灣卓越50ETF連結基金</li>
            <li>
              【元大投信獨立經營管理】<span>投信公司製作之廣告文宣均遵守會員及其銷售機構從事廣告及營業活動行為規範，若將廣告文宣再編製作者，應以本公司所公開資料為主，<u>不得為誇大不實之內容且須留意本基金之風險平衡，另避免使用聳動之文字為標題。</u></span>元大系列基金經金融監督管理委員會或其指定機構核准或申報生效，惟不表示基金絕無風險。本公司以往之經理績效，不保證系列基金之最低投資收益；本公司除盡善良管理人之注意義務外，不負責系列基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書。<span>為避免因受益人短線交易頻繁，造成基金管理及交易成本增加，進而損及基金長期持有之受益人權益，基金不歡迎受益人進行短線交易。</span>有關基金應負擔之費用已揭露於基金之公開說明書中，投資人可至公開資訊觀測站中查詢。基金非存款或保險，故無受存款保險、保險安定基金或其他相關保障機制之保障。元大系列基金的運用限制、投資風險、配息機制及投資人應直接或間接負擔之相關費用、紛爭處理及申訴管道等皆已揭露於基金公開說明書。投資人可向本公司及基金之銷售機構索取簡式公開說明書與公開說明書或至本公司網站(www.yuantafunds.com)查詢，亦可至公開資訊觀測站(mopsplus.twse.com.tw)下載公開說明書。
            </li>
            <li>
              <span>基金配息不代表基金實際報酬，且過去配息不代表未來配息；基金淨值可能因市場因素而上下波動。各ETF連結基金配息主要來自於連結主基金發放之收益分配金額，於各ETF連結基金做成每次收益分配決定並確認配息金額後進行收益分配，故每次分配之金額並非一定相同。</span>
            </li>
            <li>
              <span>投資人申購的是經理公司所募集發行之元大台灣卓越50 ETF連結基金受益憑證，而非申購在臺灣證券交易所掛牌交易的元大台灣卓越50基金（元大台灣50(0050)）。</span>臺灣證券交易所及前揭台股ETF的指數提供者並無以任何方式贊助、背書、認可、銷售、宣傳或推廣各基金之募集發行。<span>本基金投資於單一連結的主基金應達基金淨資產價值90%以上，故投資風險無法透過投資組合進行分散。本基金雖以連結主基金績效表現為投資目標，惟仍可能因(1)基金應負擔之費用；(2)投資主基金之比重未達淨資產100%；(3)期貨交易等因素影響，使本基金績效與所連結主基金績效略有差異。</span>本基金投資於主基金受益憑證之部位，經理公司將不收取經理費，惟保管費仍依各基金規模計收。受益人應負擔之費用包括各基金及所投資主基金之相關費用。
            </li>
          </ul>
          <ul class="txt-sm fw-bold">
            <li>元大台灣卓越50基金</li>
            <li>
              【元大投信獨立經營管理】<span>投信公司製作之廣告文宣均遵守會員及其銷售機構從事廣告及營業活動行為規範，若將廣告文宣再編製作者，應以本公司所公開資料為主，<u>不得為誇大不實之內容且須留意本基金之風險平衡，另避免使用聳動之文字為標題。</u></span>元大系列基金經金融監督管理委員會或其指定機構核准或申報生效，惟不表示基金絕無風險。本公司以往之經理績效，不保證系列基金之最低投資收益；本公司除盡善良管理人之注意義務外，不負責系列基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書。有關基金應負擔之費用已揭露於基金之公開說明書中，投資人可至公開資訊觀測站中查詢。基金非存款或保險，故無受存款保險、保險安定基金或其他相關保障機制之保障。元大系列基金的運用限制、投資風險、配息機制及投資人應直接或間接負擔之相關費用、紛爭處理及申訴管道等皆已揭露於基金公開說明書。投資人可向本公司及基金之銷售機構索取簡式公開說明書與公開說明書或至本公司網站(www.yuantafunds.com)查詢，亦可至公開資訊觀測站(mopsplus.twse.com.tw)下載公開說明書。
            </li>
            <li>
              本基金自成立日起，依據追蹤標的指數成分進行基金持續投資組合之佈局，投資組合成分價格波動會影響基金淨值表現，本基金每日基金淨值，由經理公司公告之。<span>基金配息不代表基金實際報酬，且過去配息不代表未來配息；基金淨值可能因市場因素而上下波動。於獲配息時，宜一併注意基金淨值之變動。本基金持股之股利配發時間及金額視個別指數成分企業而定。主要來自於指數成分企業發放之現金股利累積一段期間後，做成每次收益分配決定並確認配息金額後進行收益分配，故每次分配之金額並非一定相同。</span>
            </li>
            <li>
              本基金所追蹤指數非屬客製化指數，亦非屬Smart Beta指數。指數免責聲明：「元大台灣卓越 50 基金」非由富時國際有限公司(「富時集團」)、倫敦證券交易所(「交易所」)、或臺灣證券交易所(「臺灣證交所」)(統稱「許可方」)以任何方式贊助、背書、銷售或宣傳，任何許可方均不對任何日期、任何時間使用富時臺灣證券交易所臺灣50 指數(一種富時集團/臺灣證交所產品)(「指數」)和/或該「指數」所處的數值導致的結果做出任何明示或隱含保證或陳述。「指數」由臺灣證交所在富時集團的協助下編撰和計算。「指數」中的所有知識財產權均歸富時集團和臺灣證交所所有。任何許可方均不對指數中的任何錯誤對任何人承擔責任(不論是疏忽責任還是其他責任)，也沒有義務向任何人告知其中的任何錯誤。「FTSE®」是倫敦交易所的商標，「TWSE」和「TAIEX」是臺灣證交所的商標，均由富時集團根據授權使用。
            </li>
          </ul>
          <!-- bank -->
          <br/>
          <p class="txt-md fw-bold">基金注意事項：</p>
          <div class="info">
              <ol class="txt-sm txt-sm-bank">
                  <li>銀行辦理信託業務，應盡善良管理人之注意義務及忠實義務。</li>
                  <li>銀行不擔保信託業務之管理或運用績效，委託人及受益人應自負盈虧。</li>
                  <li>信託財產經運用於存款以外之標的者，不受存款保險之保障，投資人申購前應仔細閱讀行銷文件。</li>
                  <li>基金並非存款，基金投資具有投資風險，可能使本金發生虧損。</li>
                  <li>投資人因不同時間進場，將有不同之投資績效，過去之績效亦不代表未來績效之保證。</li>
                  <li>如基金投資以外幣計價之有價證券，其淨值可能因匯率而變動。</li>
                  <li><u class="underline">本專案之基金經金管會核准或同意生效，惟不表示絕無風險。基金經理公司以往之經理績效不保證基金之最低投資收益；基金經理公司除盡善良管理人之注意義務外，不負責基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金簡式公開說明書及基金公開說明書。</u></li>
                  <li>委託人之交易如經基金公司認定為短線交易者，基金公司或本行可拒絕受理申請轉換或申購要求，並可請求支付一定比例之贖回費用或其他相關費用，費用標準均依各該基金公司之規定。</li>
                  <li class="non-justify">有關投資基金應承擔之相關風險(如國家風險、市場風險、貨幣風險、匯率風險、信用風險、債券風險等)及負擔之費用(含分銷費用)，已揭露於基金之公開說明書或投資人須知中，投資人欲索閱基金公開說明書(或其中譯本)或投資人須知，可至分行洽詢理財專員或洽該基金公司，或至公開資訊觀測站或境外基金資訊觀測站(<a href="http://www.fundclear.com.tw" target="_blank">http://www.fundclear.com.tw</a>)查詢。</li>
              </ol>
          </div>
          <br/>
          <p class="txt-md-bank">【元大銀行總行地址：台北市大安區仁愛路三段157號；聯絡電話：(02)2173-6699】<br/>詳情歡迎親洽各分行理財業務專員，或撥0800-688-168，或至本行網站：<a href="https://www.yuantabank.com.tw/" target="_blank">www.yuantabank.com.tw</a>查詢。</p>
          <p class="txt-md fw-bold last">
            ［ 洗錢防制宣導警語 ］
            一、防杜非法洗錢，保障自身財產安全。二、開戶審查做得好，客戶權益有保障。三、自己權益要顧好，淪為人頭累累累！
          </p>
        </div>
      </div>
    </section>

    <!-- 投資產業配置彈窗 -->
    <transition name="modal">
      <modal v-show="modal.chartIndustryShow" @close="hideModal('chartIndustryShow')" title="投資產業配置">
        <template v-slot:body>
          <div class="modal modal-chart">
            <div class="info-wrp">
              <div class="chart-wrp">
                <div class="chart-img">
                  <canvas id="modal_chart_industry" width="300" height="300"></canvas>
                </div>
                <div class="chart-list">
                  <div class="row-wrp">
                    <div v-for="(item, index) in fundList[0].data.fund.InvestIndustry" class="row">
                      <div class="color" :style="{background:barColors[index]}"></div>
                      <div class="item">{{ item.Item }}</div>
                      <div class="ratio">{{ item.Ratio }}%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="data-date">資料日期：{{ fundList[0].data.fund.InvestIndustryDate}}</div>
            </div>
          </div>
        </template>
      </modal>
    </transition>
  </div>

  <!-- yuantaman -->
  <a href="https://ics.yuantabank.com.tw/?chatwebId=20221011105530297&traceTag=WEB" class="yuantaman" target="_blank">
      <div class="yuantaman-box">
          您好，我是元先生
          <span>有什麼可以為您服務的地方嗎？</span>
      </div>
  </a>
  <div class="goTop"></div>
	<!-- footer -->
	<div class="footer">
		<div class="footerCont">
		    <div class="copyright">
		        Copyright © Yuanta Commercial Bank Co. Ltd. All Rights Reserved.
		    </div>
		    <div class="contWrapper">
		        <div class="footer-item">地址：106 台北市大安區仁愛路三段157號</div>
		        <div class="footer-item">官網留言：<a href="https://www.yuantabank.com.tw/bank/service/customer/suggest/list.do" target="_blank">與我聯絡</a></div>
		        <div class="footer-item">客服專線：0800-688-168</div>
		    </div>
		</div>
		<div class="clearboth"></div>
	</div>
	<!-- float -->
	<div class="float">
	  <a href="https://ebank.yuantabank.com.tw/nib/ibanc_b.jsp?ZnVuZGJ1eSZZVDc0JnR5cGUy" class="float-item" target="_blank" rel="noopener noreferrer">
	      <img src="./assets/img/side/date.svg" alt="">
	      <div>我要申購</div>
	  </a>
	  <a href="https://ebank.yuantabank.com.tw/ecntr/tx/openacct?p=c_yacct" class="float-item float-item-bl" target="_blank" rel="noopener noreferrer">
	      <img src="./assets/img/side/people.svg" alt="">
	      <div>立即開戶</div>
	  </a>
	</div>
  <script type="text/javascript" src="./assets/js/jquery-3.7.0.min.js"></script>
  <script type="text/javascript" src="./assets/js/common.js"></script>
  <script type="text/javascript" src="./assets/js/gsap.min.js"></script>
  <script type="text/javascript" src="./assets/js/particles.min.js"></script>
  <script type="text/javascript" src="./assets/js/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="./assets/js/axios.min.js"></script>
  <script type="text/javascript" src="./assets/js/chart.js"></script>
  <script type="text/javascript" src="./assets/js/vue@3.1.1_dist_vue.global.prod.js"></script>
  <script type="text/javascript" src='./assets/js/moment.min.js'></script>
  <script type="text/javascript" src="./assets/js/vue_main.js"></script>

  <!-- Google tag (gtag.js) --> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-08TZJFEECX"></script>
    <script> window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-08TZJFEECX'); 
    </script>
</body>

</html>