* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: 'Noto Sans TC','微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
a,a:hover,a:active,a:visited {display: inline-block; color: #005bac; text-decoration: none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color:#333333; padding-top: 80px; font-size: 12px;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}

/* kv */
.kv_container{width: 100%;}
.kv{width: 100%; max-width: 1920px; margin: 0 auto; height: 0; padding-bottom: 34.1146%; background: url("../images/kv_bg.jpg") center top no-repeat; background-size: 100% auto; position: relative;}
.kv .kv_tit{width: 34%; margin: 0 auto; padding-top: 3.7%;
    animation-name:zoomInDown,move;
    animation-duration:1.8s,2s; 
    animation-delay:0s,1.9s;
    animation-iteration-count:1,infinite;}
.kv .woman{width: 12%; position: absolute; top: 18%; left: 18%;}
.kv .womanB{width: 100%; position: relative;}
.kv .whandR{width: 64%; position: absolute; top: 17%; left: 50.5%; transform-origin: top left;
    -webkit-animation-name: hand; animation-name: hand;
    -webkit-animation-duration: 1s; animation-duration: 1s;
    -webkit-animation-delay: -1s; animation-delay: -1s;
    -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; animation-direction: alternate;}
.kv .whandL{width: 64%; position: absolute; top: -4%; left: 60%; transform-origin: center left;
    -webkit-animation-name: hand; animation-name: hand;
    -webkit-animation-duration: 1s; animation-duration: 1s;
    -webkit-animation-delay: -1.5s; animation-delay: -1.5s;
    -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; animation-direction: alternate;}
.kv .man{width: 12%; position: absolute; top: 19%; left: 69%;}
.kv .manB{width: 100%; position: relative;}
.kv .mhandR{width: 58%; position: absolute; top: -11%; left: -32.5%; transform-origin: center right;
    -webkit-animation-name: hand; animation-name: hand;
    -webkit-animation-duration: 1s; animation-duration: 1s;
    -webkit-animation-delay: -1s; animation-delay: -1s;
    -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; animation-direction: alternate;}
.kv .mhandL{width: 52%; position: absolute; top: -6%; left: 38.5%; transform-origin: left center;
    -webkit-animation-name: hand; animation-name: hand;
    -webkit-animation-duration: 1s; animation-duration: 1s;
    -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; animation-direction: alternate;}
.kv .dog{width: 16%; position: absolute; top: 75%; left: 5%;}
.kv .kv_logo{width: 26%; position: absolute; bottom: 1%; left: 37%;}
.mobOnly{display: none;}
/* content */
.content_container{width: 100%; max-width: 1920px; margin: 0 auto; background: #fdf3e1 url("../images/content_bg.jpg") center top no-repeat;}
.content{width: 100%; max-width: 1400px; margin: 0 auto;}
/* event */
.event{width: 90%; margin: 0 auto; padding: 5% 0; text-align: center; font-size: 20px; line-height: 1.8;}
.event .light_blue{color: #007dc5; font-weight: bold;}
.event .light_red{color: #f14f2e; font-weight: bold;}
.event .web_block{display: block;}
.event .tit{margin: 2%;}
.event .tit img{display: inline-block; width: 120px;}
.event .tit span{display: inline-block; font-size: 26px; font-weight: bold; vertical-align: middle; margin: 0 20px;}
.event .date{font-size: 24px;}
.event .cont{font-size: 22px;}
.event .discount{width: 100%; margin: 8% auto; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-start;}
.event .discount .discount-item{width: 40%; margin: 0 auto; position: relative;}
.discount-item .dis_tit{width: 70%; height: 0; padding-bottom: 15%; background: url("../images/tit_tag.png") center top no-repeat; background-size: 100% auto; position: absolute; left: 15%; top: -8%;}
.discount-item .dis_tit img{display: inline-block; width: 8%; margin: 0 10px 0 30px;}
.discount-item .dis_tit span{display: inline-block; font-size: 28px; font-weight: bold; vertical-align: middle; line-height: 2.6;}
.discount-item .dis_cont{width: 100%; height: auto; border-radius: 10px; background-color: #ffffff; border: 2px solid #383227; padding: 5%; box-shadow: 6px 6px #d8be93;}
.discount-item .dis_cont .dis_txt{font-size: 20px; line-height: 1.6; margin: 10% auto 5%;}
.discount-item .dis_cont .hrline{border-top: 1px dashed #333333; height: 1px; overflow:hidden;}
.discount-item .dis_cont .dis_num{width: 260px; margin: 6% auto;}
.discount-item .dis_cont p{font-size: 20px; padding: 0;}
.discount-item .coin{width: 23%; position: absolute; right: -5%; bottom: -10%;}
/* instruction *//* linepersonal */
.instruction{width: 100%; margin: 0 auto; padding: 3% 1%; position: relative; color: #333333;}
.instruction .dis_tit{width: 40%; height: 0; padding-bottom: 7.8%; background: url("../images/tit_ribbonB.png") center top no-repeat; background-size: 100% auto; position: absolute; left: 30%; top: 1.2%; font-size: 28px; font-weight: bold; text-align: center; vertical-align: middle; line-height: 2.6;}
.instruction .dis_tit_line{background: url("../images/tit_ribbonG.png") center top no-repeat; background-size: 100% auto;}
.account{width: 75%; max-width: 1200px; margin: 2% auto 5%; padding: 8% 10% 5%; background: #ffffff; border-radius: 10px; border: 2px solid #383227; box-shadow: 6px 6px #d8be93;}
.step{position: relative; display: -webkit-flex; display: flex;}
.step-title{position: absolute; top: 0; left: 45%; width: 100%; max-width: 40%;}
.step-title img{width: 100%;}
.step-img{-webkit-flex: 0 0 auto; flex: 0 0 auto; max-width: 35%;}
.step-img img{width: 100%;}
.step-content{ -webkit-flex: 1; flex: 1; margin: 10% 0 0 10%;}
.step-content .subTitle{max-width: 700px; padding-top: 10%;}
.step-content .subTitle img{width: 80%;}
.stepList{display: -webkit-flex; display: flex; margin-top: 10px;}
.stepList-num{-webkit-flex: 0 0 40px; flex: 0 0 40px; display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; background-color: #156fbe;}
.stepList-num img{width: 24px;}
.stepList-text{-webkit-flex: 1; flex: 1; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; box-sizing: border-box; min-height: 30px; padding: 6px 10px; font-size: 18px; line-height: 1.4; color: #1e334e; background-color: #def5ff; text-align: left;}
.stepList-text p{width: 100%;}
.stepList-num-w,
.stepList-text-w{background-color: #ffffff;}
/* instruction *//* easywallet */
.stepList-num-y{background-color: #f7b146;}
.stepList-text-y{background-color: #fff8e5;}
.stepList-text-b{font-weight: bold; color: #007ac8; background-color: #ffffff;}
.easywallet .step-title{position: absolute; top: 0; left: 45%; width: 100%; max-width: 56%;}
.easywallet .step-content .subTitle{padding-top: 14%;}
.easywallet .stepList{margin-top: 20px;}
/* action */
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;padding:0 0 5%;}
.action-item{-webkit-flex:0 1 300px;flex:0 1 300px;max-width:300px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:25px;}
.btn{position:relative;display:block;border-radius:45px;cursor:pointer;}
.btn::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;display:block;border-radius:45px;-webkit-transform:translateY(7px);transform:translateY(7px);}
.btn img{position:relative;width:100%;z-index:1;transition:.2s;}
.btn.green::after{background-color:#0a984a;}
.btn.blue::after{background-color:#005b90;}
.btn.red::after{background-color:#c03f25;}
.btn.darkblue::after{background-color:#004376;}
.btn:hover img{-webkit-transform:translateY(7px);transform:translateY(7px);}
/* notice */
.notice_container{background: #fdf3e1;}
.notice{width: 100%; max-width: 1800px; margin: 0 auto; font-size: 15px; line-height: 2; padding: 3% 5%;}
.notice_tit{font-size: 20px; font-weight: bold; text-align: center;}
.notice_all{padding: 2%; text-align: justify;}
.notice_all .bold{font-weight: bold;}
.notice_all a{font-weight: bold; text-decoration: underline;}
.notice_all span.font-b{font-weight: bold;}
.notice_all ul{margin: 0; padding-left: 18px; list-style-type: cjk-ideographic;}
.notice_all ul>li{/* margin-bottom: 2%; */}
.notice_all ul>li>ol{list-style-type: decimal; padding-left: 18px;}
.notice_all ul>li>ol>li>ol{list-style-type: none; padding-left: 18px;}
.notice_all ul>li>ol>li>ol>li{position: relative; counter-increment:section;}
.notice_all ul>li>ol>li>ol>li::before{content:"(" counter(section,decimal) ")";position:absolute;top:0;left:-5px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
.notice_all ul>li>ol>li>ol>li>ul{list-style-type: disc;}
#contTab{display: none;}
.content-more{display: none;
}
#contTab:checked ~ #cont{
    max-height: 250px;
    overflow: hidden;
}
#contTab:checked ~  .content-more{
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
#contTab:checked ~  .content-more .gradient{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(254,239,212,0)),to(#fdf3e1));
    background-image: -webkit-linear-gradient(top,rgba(254,239,212,0),#fdf3e1);
    background-image: linear-gradient(-180deg,rgba(254,239,212,0),#fdf3e1);
    height: 90px;
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
}
#contTab:checked ~  .content-more .readmore{
    display: inline-block;
    background: #0276cf;
    color: #ffffff;
    width: 175px;
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
	transition: 0.3s;
}
#contTab:checked ~  .content-more .readmore:hover{opacity: 1}
@media screen and (max-width: 1440px) {
.content_container{width: 100%; margin: 0 auto; background: #fdf3e1 url("../images/content_bg-1440.jpg") center top no-repeat; background-size: 100% auto;}
/* event */
.event .discount .discount-item{width: 45%;}
.discount-item .dis_tit{width: 80%; height: 0; padding-bottom: 18%; left: 10%; top: -9.5%;}
.discount-item .dis_tit img{margin: 0 3% 0 10%;}
.discount-item .dis_tit span{font-size: 2.2vw; line-height: 3;}
.discount-item .dis_cont .dis_txt{font-size: 18px;}
/* instruction */
.instruction .dis_tit{width: 50%; height: 0; padding-bottom: 9.5%; left: 25%; top: -0.5%; font-size: 2.2vw; line-height: 3;}
}
@media screen and (max-width: 1024px) {
.main{padding-top: 76px;}
/* event */
.discount-item .dis_cont .dis_txt{font-size: 16px;}
/* instruction */
}
@media screen and (max-width: 960px) {
/* kv */
.kv{width: 100%; height: 0; padding-bottom: 134.375%; margin: 0 auto; background: url("../images/kv_bg-m.jpg") center top no-repeat; background-size: 100% auto;}
.kv .kv_tit{width: 69%; padding-top: 8%;}
.kv .woman{width: 30%; position: absolute; top: 45%; left: 3.5%;}
.kv .man{width: 28%; position: absolute; top: 46%; left: 63%;}
.kv .dog{width: 32%; position: absolute; top: 65%; left: 32%;}
.kv .kv_logo{width: 74%; position: absolute; bottom: 0; left: 15%;}
.webOnly{display: none;}
.mobOnly{display: block;}
/* content */
.content_container{width: 100%; margin: 0 auto; background: #fdf3e1 url("../images/content_bg-m.jpg") center top no-repeat; background-size: 100% auto;}
.content{width: 100%; max-width: 960px;}
/* event */
.event .web_block{display: inline;}
.event .tit{margin: 5%;}
.event .cont{text-align: justify;}
.event .discount{flex-direction: column; align-items: center; margin: 5% 0 0;}
.event .discount .discount-item{width: 80%; margin: 10% 0;}
.discount-item .dis_tit{width: 70%; height: 0; padding-bottom: 15.5%; left: 15%; top: -8%;}
.discount-item .dis_tit img{margin: 0 3% 0 10%;}
.discount-item .dis_tit span{font-size: 4vw; line-height: 2.8;}
.discount-item .dis_cont .dis_txt{font-size: 20px;}
/* instruction */
.instruction{padding: 35% 1% 5%;}
.instruction .dis_tit{width: 75%; height: 0; padding-bottom: 14%; left: 12.5%; top: 15%; font-size: 4vw; line-height: 2.4;}
.account{width: 80%; padding: 10%;}
.step{display: block;}
.step-title{position: static; box-sizing: border-box; max-width: 67%; margin:auto;}
.step-img{box-sizing:border-box; max-width:50%; margin:10% auto 8%;}
.step-content{margin-top: 40px ;margin:10% 0 0;}
.step-content .subTitle{max-width:100%; padding-top: 5%;}
.step-content .subTitle img{width: 80%; margin:0 auto;}
.stepList-text{font-size: 16px;}
/* easywallet */
.easywallet{width: 100%; background: url("../images/people1.png") center top no-repeat; background-size: 100% auto;}
.easywallet .step-title{position: static; box-sizing: border-box; max-width:100%; margin:auto;}
.easywallet .step-content .subTitle{padding-top: 5%;}
/* linepersonal */
.linepersonal{width: 100%; background: url("../images/people2.png") center top no-repeat; background-size: 100% auto;}
.linepersonal .dis_tit{top: 13%;}
/* action */
.action{padding: 5% 0 10%;}
/* notice */
.notice{width: 92%; padding: 5% 3% 3%;}
}
@media screen and (max-width:767px) {
.main{padding-top: 58px;}
/* event */
.event .discount .discount-item{width: 90%;}
.discount-item .dis_cont .dis_txt{font-size: 18px;}
/* instruction */
.instruction .dis_tit{width: 90%; height: 0; padding-bottom: 17%; left: 5%; top: 13%; font-size: 5vw; line-height: 2.4;}
.account {width: 80%; padding: 10%;}
.step {display: block;}
.step-title {position: static;box-sizing: border-box; max-width: 80%; margin: auto;}
.step-img {box-sizing: border-box;max-width: 60%; margin: 10% auto;}
.step-content {margin-top: 40px;margin: 10% 0 0;}
.step-content .subTitle {position: static; max-width: 100%; margin: 0 auto; padding-top: 5%;}
.step-content .subTitle img {width: 100%;}
.stepList-text p {padding-bottom: 0;}
/* linepersonal */
.linepersonal .dis_tit{top: 10%;}
/* action */
.action{display:block;}
.action-item{max-width:300px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
/* notice */
.notice_all ul{font-size:14px;padding-left:28px}
.notice_tit{font-size: 18px;}
#contTab:checked ~ #cont{
    max-height: 48vw;
    overflow: hidden;
}
#contTab:checked ~  .content-more .readmore{
    width: 65vw;
    height: 8vw;
    border-radius: 4vw;
    line-height: 8vw;
    font-size: 1em;
}
}
@media screen and (max-width:520px) {
/* event */
.event .tit{margin: 6%;}
.event .tit img{width: 25%;}
.event .tit span{font-size: 22px; margin: 0 2%;}
.event .date{font-size: 20px;}
.event .cont{font-size: 18px;}
.discount-item .dis_tit{width: 84%; height: 0; padding-bottom: 18%; left: 8%; top: -8%;}
.discount-item .dis_tit img{margin: 0 3% 0 10%;}
.discount-item .dis_tit span{font-size: 5vw; line-height: 2.8;}
.discount-item .dis_cont{padding: 8%;}
.discount-item .dis_cont .dis_txt{font-size: 16px;}
.discount-item .dis_cont .dis_num{width: 220px; margin: 10% auto;}
/* instruction */
.instruction .dis_tit{top: 10%;}
.step-img{max-width:80%;}
.tit_section {width: 70%;max-width: 570px;margin: 10% auto;}
.step-img {max-width: 80%;}
.stepList-num img {width: 20px;}
.stepList-text {min-height: 24px;padding: 2px 10px;font-size: 16px;}
/* linepersonal */
.linepersonal .dis_tit{top: 8.8%;}
/* action */
.action-item{max-width:220px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
.btn::after{-webkit-transform:translateY(4px);transform:translateY(4px);}
.btn:hover img{-webkit-transform:none;transform:none;}
/* notice */
.notice{width: 94%;padding: 8% 4% 8%;}
}

/* animation */
@keyframes hand {
    0% { -webkit-transform: rotate(0);transform: rotate(0); }
  100% { -webkit-transform: rotate(3deg);transform: rotate(3deg); }
}
@keyframes zoomInDown{
    0%{-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19);opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);}
   60%{-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);animation-timing-function:cubic-bezier(.175,.885,.32,1);opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,0px,0);}
}
@keyframes move{
    0%,100%{-webkit-transform:translate(0,0);transform:translate(0,0);}
        50%{-webkit-transform:translate(0,5px);transform:translate(0,5px);}
}