@import"https: //fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;
400;
500;
700;
900&display=swap";
@import"https: //fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;
400;
500;
700;
900&display=swap";
@import"https: //fonts.googleapis.com/css2?family=GFS+Didot&family=Noto+Serif+TC:wght@300&display=swap";

@font-face {
	font-family: "Noto Serif TC";
	font-style: normal;
	font-weight: 300;
	src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Light.otf") format("opentype");
	font-display: swap
}

@font-face {
	font-family: "Noto Serif TC";
	font-style: normal;
	font-weight: 400;
	src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Regular.otf") format("opentype");
	font-display: swap
}

@font-face {
	font-family: "Noto Serif TC";
	font-style: normal;
	font-weight: 500;
	src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Medium.otf") format("opentype");
	font-display: swap
}

@font-face {
	font-family: "Noto Serif TC";
	font-style: normal;
	font-weight: 700;
	src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Bold.otf") format("opentype");
	font-display: swap
}

@font-face {
	font-family: "Noto Serif TC";
	font-style: normal;
	font-weight: 900;
	src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Black.otf") format("opentype");
	font-display: swap
}

body {
	font-family: "Noto Serif TC", "Noto Sans TC", "Microsoft JhengHei", sans-serif !important;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 26px;
	color: #324554
}

@media screen and (max-width:576px) {
	body {
		font-size: 15px
	}

}

* {
	box-sizing: border-box;
	border: none;
	letter-spacing: .5px
}

.container {
	margin: auto
}

@media screen and (max-width:768px) {
	.container {
		width: 92%
	}

}

.d-flex {
	display: flex;
	align-items: center
}

.d-flex .flex {
	flex: 1
}

.table {
	display: table;
	width: 100%
}

.table .tr {
	display: table-row
}

.table .tr .th, .table .tr .td {
	display: table-cell;
	vertical-align: middle
}

.center {
	text-align: center
}

.bold, b {
	font-weight: bold
}

.blue {
	color: #005bac
}

.red {
	color: #bb022c
}

.mb {
	display: none !important
}

a.yuanta-link {
	display: inline-block;
	color: #005bac;
	text-decoration: underline
}

@media screen and (max-width:576px) {
	.mb {
		display: block !important
	}

}

@media screen and (max-width:576px) {
	.desktop {
		display: none !important
	}

}

.gotop {
	position: fixed;
	bottom: 36px;
	right: 20px;
	width: 40px;
	height: 40px;
	display: none;
	border-radius: 25px;
	opacity: .7;
	overflow: hidden;
	z-index: 50
}

@media screen and (max-width:767px) {
	.gotop {
		bottom: 110px
	}

}

.gotop.show {
	display: block
}

@media screen and (min-width:1025px) {
	.gotop:hover {
		opacity: 1
	}

}

article {
	min-height: 100vh;
	overflow: hidden
}

article .bg-text {
	color: #ebeff2;
	font-weight: bold;
	font-style: italic
}

article .cashback {
	font-size: 120px;
	line-height: 100px;
	text-align: right;
	transform: translate(100px, -10px)
}

@media screen and (max-width:1280px) {
	article .cashback {
		font-size: 80px;
		transform: translate(0, -20px)
	}

}

@media screen and (max-width:576px) {
	article .cashback {
		font-size: 45px;
		transform: translate(0, -35px)
	}

}

.header.kv {
	background: rgba(0, 0, 0, 0);
	box-shadow: none
}

.header.kv .yuantaLogo a {
	background-image: url("../images/header/yuanta_logo_white.svg");
	background-size: 100% auto;
	background-repeat: no-repeat
}

@media screen and (max-width:345px) {
	.header.kv .yuantaLogo a {
		background-image: url("../images/header/yuantabank_logo_white.svg");
		background-size: 100% auto;
		background-repeat: no-repeat
	}

}

.header.kv .yuantaplusLogo {
	background-image: url("../images/header/yuantaplus_logo_white.svg");
	background-size: 100% auto;
	background-repeat: no-repeat
}

section {
	padding: 60px 0;
	text-align: center
}

@media screen and (max-width:768px) {
	section {
		padding: 40px 0
	}

}

@media screen and (max-width:576px) {
	section {
		padding: 20px 0
	}

}

section h2 {
	font-size: 40px;
	line-height: 60px;
	padding: 32px
}

@media screen and (max-width:1024px) {
	section h2 {
		line-height: 60px;
		padding: 30px 0
	}

}

@media screen and (max-width:576px) {
	section h2 {
		font-size: 28px;
		line-height: 42px;
		padding: 20px 0
	}

}

section h2 br {
	display: none
}

.dis-block {
	display: block
}

@media screen and (max-width:1024px) {
	section h2 br {
		display: block
	}

}

@media screen and (max-width:1024px) {
	section h2 .comma {
		display: none
	}

}

section .desc span {
	color: #005bac;
	font-weight: bold
}

section .desc .point {
	font-size: 48px;
	line-height: 26px
}

@media screen and (max-width:1024px) {
	section .desc .point {
		font-size: 36px;
		line-height: 40px
	}

}

section .ps {
	padding: 30px 0
}

@media screen and (max-width:576px) {
	section .ps {
		padding: 20px 0
	}

}

section .notice {
	border-top: 1px solid #bfccd8;
	border-bottom: 1px solid #bfccd8;
	padding: 0 30px
}

@media screen and (max-width:768px) {
	section .notice {
		padding: 0;
		font-size: 14px
	}

}

section .notice input {
	display: none
}

section .notice input:checked~.title::after {
	content: "－"
}

section .notice input:checked~.title~ul {
	display: block
}

section .notice .title {
	padding: 15px 0;
	cursor: pointer
}

@media screen and (max-width:576px) {
	section .notice .title {
		padding: 10px 0
	}

}

section .notice .title::after {
	content: "＋";
	margin-left: 20px
}

section .notice .title span {
	margin-left: 15px;
	color: #bfccd8
}

section .notice ul {
	list-style: decimal;
	padding: 15px 0;
	text-align: left;
	margin-bottom: 15px;
	margin-left: 30px;
	display: none
}

@media screen and (max-width:768px) {
	section .notice ul {
		padding: 0
	}

}

section .notice .table {
	text-align: center;
	margin: 10px 0 20px 0;
	border: 1px solid #bfccd8
}

section .notice .table .thead .td {
	background: #bfccd8
}

section .notice .table .tr:not(:last-of-type) .td {
	border-bottom: 1px solid #bfccd8
}

section .notice .table .td {
	padding: 5px
}

section .notice .table .td:not(:first-of-type) {
	border-left: 1px solid #bfccd8
}

section.kv {
	height: 100vh;
	position: relative;
	color: #fff;
	font-family: "Noto Serif TC", sans-serif;
	z-index: 10;
	padding: 0
}

section.kv::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: 40px
}

@media screen and (max-width:1024px) {
	section.kv::after {
		display: none
	}

}

section.kv::before {
	content: "";
	display: block;
	width: 1px;
	height: 80%;
	background: #fff;
	position: absolute;
	right: 40px;
	bottom: 0
}

@media screen and (max-width:1024px) {
	section.kv::before {
		display: none
	}

}

section.kv .video {
	min-width: 100%;
	height: 101%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1
}

section.kv .video video {
	min-width: 100%;
	min-height: 101%
}

section.kv .content {
	max-width: unset;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 100%;
	padding-bottom: 24vh;
	position: relative
}

@media screen and (max-width:1024px) {
	section.kv .content {
		padding-bottom: 18vh;
		justify-content: center
	}

}

section.kv .content .title {
	display: flex;
	font-size: 40px;
	align-items: flex-end;
	font-style: italic;
	position: relative;
	text-align: left
}

@media screen and (max-width:992px) {
	section.kv .content .title {
		font-size: 28px;
		display: block
	}

}

section.kv .content .title span {
	padding: 15px;
	margin-right: -35px;
	font-weight: bold
}

@media screen and (max-width:992px) {
	section.kv .content .title span {
		display: block;
		margin-right: 0;
		font-size: 24px;
		margin-bottom: -40px;
		margin-left: -15px
	}

}

section.kv .content .title img {
	width: 230px;
	margin: 0 15px
}

@media screen and (max-width:992px) {
	section.kv .content .title img {
		width: 190px;
		margin: 0 0 0 -10px;
		padding: 40px 0 20px
	}

}

section.kv .content .title h1 p {
	padding: 15px 0;
	font-weight: bold
}

@media screen and (max-width:992px) {
	section.kv .content .title h1 p {
		padding: 10px 0
	}

}

section.kv .content .title .additional {
	font-size: 18px;
	font-style: normal;
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: 10px
}

@media screen and (max-width:992px) {
	section.kv .content .title .additional {
		font-size: 14px;
		margin-top: 3px
	}

}

section.kv .content .go {
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px
}

@media screen and (max-width:1024px) {
	section.kv .content .go {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%
	}

}

@media screen and (max-width:768px) {
	section.kv .content .go {
		display: none
	}

}

section.kv .content .go.stick {
	position: fixed;
	right: 10px;
	bottom: 120px;
	width: 110px;
	height: 80px
}

@media screen and (max-width:1400px) {
	section.kv .content .go.stick {
		right: 20px;
		width: 40px;
		line-break: anywhere
	}
}

@media screen and (max-width:768px) {
	section.kv .content .go.stick {
		bottom: 0;
		right: 0;
		width: 100vw;
		background: #005bac;
		color: #fff;
		height: auto;
		margin-bottom: 0;
		display: flex
	}

}

section.kv .content .go.stick a {
	color: #bb022c;
	border-top: 1px solid #bb022c;
	border-bottom: 1px solid #bb022c
}

@media screen and (min-width:1025px) {
	section.kv .content .go.stick a:hover {
		background: #bb022c;
		color: #fff
	}

}

@media screen and (max-width:768px) {
	section.kv .content .go.stick a {
		color: #fff;
		font-size: 22px;
		background: #bb022c;
		padding: 20px 0
	}

}

@media screen and (max-width:520px) {
	section.kv .content .go.stick a {
		/* font-size: 18px; */
		letter-spacing: 1px
	}

}

section.kv .content .go a {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	padding: 12px 10px;
	width: 100px;
	letter-spacing: 4px;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.5;
	transition: all .2s ease-in-out
}

@media screen and (max-width:1400px) {
	section.kv .content .go a {
		font-size: 22px;
		width: 80px;
	}
}

@media screen and (min-width:1025px) {
	section.kv .content .go a:hover {
		background: rgba(255, 255, 255, .8);
		color: #bb022c
	}

}

@media screen and (max-width:1024px) {
	section.kv .content .go a {
		width: 100%;
		transition: none
	}

}

section.kv .content .scroll {
	position: absolute;
	bottom: 70px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer
}

@media screen and (max-width:1024px) {
	section.kv .content .scroll {
		display: none
	}

}

section.kv .content .scroll img {
	width: 25px;
	cursor: pointer;
	margin-top: 20px
}

section.reward {
	position: relative
}

section.reward:after {
	content: "";
	display: block;
	width: 100%;
	height: 300px;
	background: url(../images/bg_section1_diamond.svg);
	position: absolute;
	top: 810px
}

@media screen and (max-width:576px) {
	section.reward {
		margin-top: -60px
	}

}

section.reward .table {
	margin: 70px 0 10px 0;
	border-bottom: 1px solid #bfccd8
}

@media screen and (max-width:576px) {
	section.reward .table {
		margin: 30px 0 0 0
	}

}

section.reward .table .tr.thead {
	background: #005bac;
	color: #fff
}

section.reward .table .tr.thead .td {
	padding: 15px 0
}

section.reward .table .tr .td {
	padding: 30px 0
}

@media screen and (max-width:576px) {
	section.reward .table .tr .td {
		padding: 20px 5px;
		font-size: 13px;
		width: 25%;
		line-height: 22px
	}

}

section.reward .table .tr .td.point {
	color: #005bac
}

section.reward .table .tr .td.point span {
	font-size: 60px
}

@media screen and (max-width:576px) {
	section.reward .table .tr .td.point span {
		font-size: 48px
	}

}

section.reward .table .tr .td span {
	font-size: 36px
}

@media screen and (max-width:576px) {
	section.reward .table .tr .td span {
		font-size: 30px
	}

}

/* @media screen and (max-width:576px) {
	section.reward .table .tr .td br {
		display: none
	}

} */

section.reward .calc {
	padding: 45px 55px;
	background: #fff;
	box-shadow: 0 0 10px rgba(50, 69, 84, .3);
	margin-top: 30px
}

@media screen and (max-width:768px) {
	section.reward .calc {
		padding: 30px
	}

}

section.reward .calc .result {
	line-height: 52px
}

@media screen and (max-width:1024px) {
	section.reward .calc .result {
		line-height: 52px
	}

}

@media screen and (max-width:576px) {
	section.reward .calc .result {
		line-height: 36px
	}

}

section.reward .calc .result span:not(.comma) {
	color: #bb925b
}

section.reward .calc .result span.val {
	font-size: 32px;
	line-height: 26px
}

@media screen and (max-width:576px) {
	section.reward .calc .result span.val {
		font-size: 22px
	}

}

@media screen and (max-width:1024px) {
	section.reward .calc .result span.comma {
		display: none
	}

}

section.reward .calc .range-slider {
	margin-top: 40px;
	text-align: left
}

@media screen and (max-width:768px) {
	section.reward .calc .range-slider {
		margin-top: 20px
	}

}

section.reward .calc .range-slider p {
	padding: 20px 0
}

@media screen and (max-width:576px) {
	section.reward .calc .range-slider p {
		padding: 10px 0
	}

}

section.reward .calc .range-slider .progress {
	background: linear-gradient(to right, #bb925b 0%, #bb925b 40%, #bfccd8 40%, #bfccd8 100%);
	border-radius: 2px;
	height: 2px;
	width: 97%;
	display: block;
	margin: 10px auto;
	outline: none;
	transition: background 450ms ease-in;
	-webkit-appearance: none
}

section.reward .calc .range-slider .progress::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-appearance: none;
	cursor: pointer;
	background: #bb925b
}

section.reward .calc .range-slider .text {
	display: flex;
	align-items: center;
	justify-content: space-between
}

section.reward .openBtn {
	background: #bb925b;
	color: #fff;
	padding: 20px;
	font-size: 22px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer
}

@media screen and (max-width:768px) {
	section.reward .openBtn {
		font-size: 17px;
		line-height: 30px;
		display: block
	}

}

@media screen and (max-width:576px) {
	section.reward .openBtn {
		line-height: 26px
	}

}

@media screen and (min-width:1025px) {
	section.reward .openBtn:hover img {
		transform: translateX(10px)
	}

}

section.reward .openBtn img {
	width: 55px;
	margin-left: 30px;
	transition: all .2s ease-in-out
}

@media screen and (max-width:1024px) {
	section.reward .openBtn img {
		width: 30px;
		margin-left: 15px
	}

}

section.reward .notice {
	margin-top: 120px
}

@media screen and (max-width:768px) {
	section.reward .notice {
		margin-top: 60px
	}

}

@media screen and (max-width:576px) {
	section.reward .notice {
		margin-top: 40px
	}

}

section.online {
	position: relative;
	background: url(../images/bg_section2_money.svg) no-repeat;
	background-size: 160px;
	background-position: calc(50% - 600px) 30px
}

section.online .bg-text {
	font-size: 80px;
	line-height: 100px;
	transform: rotate(90deg);
	position: absolute;
	left: calc(50% + 400px);
	top: 120px;
	z-index: -1;
	text-align: left
}

section.online .compare {
	justify-content: center
}

@media screen and (max-width:576px) {
	section.online .compare {
		display: block
	}

}

section.online .compare .country {
	border: 1px solid #bb925b;
	width: 260px;
	height: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 90px 70px;
	border-radius: 100%;
	position: relative
}

@media screen and (max-width:1024px) {
	section.online .compare .country {
		margin: 60px 30px
	}

}

@media screen and (max-width:768px) {
	section.online .compare .country {
		width: 200px;
		height: 200px;
		margin: 50px 20px
	}

}

@media screen and (max-width:576px) {
	section.online .compare .country {
		margin: 30px auto
	}

}

section.online .compare .country p {
	padding: 30px 0
}

@media screen and (max-width:768px) {
	section.online .compare .country p {
		padding: 10px 0
	}

}

section.online .compare .country p span {
	font-size: 60px;
	margin: 0 10px
}

@media screen and (max-width:768px) {
	section.online .compare .country p span {
		font-size: 42px
	}

}

section.online .compare .country img {
	width: 70px;
	position: absolute;
	left: 0;
	bottom: 0
}

@media screen and (max-width:768px) {
	section.online .compare .country img {
		width: 40px;
		left: 10px;
		bottom: 10px
	}

}

section.deposit {
	background-image: url(../images/bg_section3_money.svg), linear-gradient(to top, #e9f5ff, #e9f5ff, #e9f5ff, transparent);
	background-size: 400px;
	background-repeat: repeat-x;
	background-position: center bottom;
	padding-bottom: 100px
}

section.deposit .balance {
	padding: 60px 0
}

@media screen and (max-width:768px) {
	section.deposit .balance {
		padding: 40px 0
	}

}

@media screen and (max-width:576px) {
	section.deposit .balance {
		padding: 20px 0
	}

}

section.deposit .balance .title {
	background: #005bac;
	color: #fff;
	padding: 20px 0
}

@media screen and (max-width:576px) {
	section.deposit .balance .title {
		padding: 10px 0
	}

}

section.deposit .balance .detail {
	border-bottom: 1px solid #bfccd8;
	padding: 30px 0
}

@media screen and (max-width:576px) {
	section.deposit .balance .detail {
		display: block;
		padding: 10px 0
	}

}

@media screen and (max-width:576px) {
	section.deposit .balance .detail .flex {
		padding: 5px 0
	}

}

section.deposit .balance .detail .val {
	font-size: 36px
}

@media screen and (max-width:768px) {
	section.deposit .balance .detail .val {
		font-size: 24px
	}

}

section.deposit .balance .detail p {
	margin-top: 10px
}

@media screen and (max-width:576px) {
	section.deposit .balance .detail p {
		margin-top: 5px
	}

}

section.travel .swiper {
	margin: 60px 0 30px 0;
	position: relative
}

@media screen and (max-width:768px) {
	section.travel .swiper {
		margin: 50px 0 0 0
	}

}

@media screen and (max-width:576px) {
	section.travel .swiper {
		padding: 0 40px
	}

}

section.travel .swiper .swiper-slide {
	border: 1px solid #bfccd8;
	height: auto
}

section.travel .swiper .swiper-slide .content {
	padding: 20px 15px;
	max-width: 280px;
	margin: auto
}

section.travel .swiper .swiper-slide .content .title {
	border-bottom: 1px solid #bfccd8;
	display: inline-block;
	width: 90%;
	padding: 20px 0
}

section.travel .swiper .swiper-slide .content .title span {
	font-size: 48px
}

section.travel .swiper .swiper-slide .content p {
	text-align: left;
	padding: 20px 0
}

section.travel .swiper .swiper-slide .content p span {
	color: #bb022c
}

section.travel .swiper-button-next, section.travel .swiper-button-prev {
	width: 12px;
	margin-top: 40px
}

section.travel .swiper-button-next:after, section.travel .swiper-button-prev:after {
	content: ""
}

section.travel .swiper-button-next {
	right: -40px;
	transform: rotate(180deg)
}

@media screen and (max-width:576px) {
	section.travel .swiper-button-next {
		right: 0
	}

}

section.travel .swiper-button-prev {
	left: -40px
}

@media screen and (max-width:576px) {
	section.travel .swiper-button-prev {
		left: 0
	}

}

@media screen and (max-width:576px) {
	section.qa {
		padding-bottom: 35px
	}

}

section.qa .list {
	text-align: left;
	margin-bottom: 30px
}

@media screen and (max-width:576px) {
	section.qa .list {
		margin-bottom: 10px
	}

}

section.qa .list .type {
	padding: 20px 0;
	border-bottom: 1px solid #bfccd8
}

@media screen and (max-width:576px) {
	section.qa .list .type {
		padding: 15px 0
	}

}

section.qa .list .notice {
	border-top: none
}

section.qa .list .notice .title {
	position: relative;
	display: block;
	padding-right: 25px
}

section.qa .list .notice .title::after {
	content: "＋";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0
}

section.qa .list .notice .title .open::after {
	content: "－"
}

section.qa .list .notice input {
	display: none
}

section.qa .list .notice input:checked~.title::after {
	content: "－"
}

section.qa .list .notice input:checked~.title~.ans {
	display: block
}

section.qa .list .notice .ans {
	padding: 15px 20px;
	margin-bottom: 20px;
	display: none
}

.slogan {
	text-align: center;
	background: #e7ecf2;
	padding: 20px 0 30px 0
}

@media screen and (max-width:576px) {
	.slogan {
		padding: 15px 0 20px 0
	}

}

.slogan p {
	font-size: 40px;
	padding: 25px 0;
	font-weight: bold
}

@media screen and (max-width:576px) {
	.slogan p {
		padding: 15px 0;
		margin-bottom: 10px
	}

}

.slogan p span {
	letter-spacing: 18px;
	margin: 0 15px
}

@media screen and (max-width:576px) {
	.slogan p span {
		letter-spacing: 4px;
		font-size: 32px;
		margin: 0 7px
	}

}

.slogan span {
	display: inline-block;
	padding: 3px 0
}

@media screen and (max-width:576px) {
	.slogan span {
		display: inline !important
	}

}
