@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Noto+Serif+TC:wght@300&display=swap');

@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 300;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Light.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 400;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Regular.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Medium.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Bold.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 900;
    src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSerifTC-Black.otf") format("opentype");
    font-display: swap;
}

$blue: #005bac;
$red: #d43232;
$line: #bfccd8;
$word: #324554;
$gold: #bb925b;

body {
    font-family: 'Noto Serif TC', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: $word;
    @media screen and (max-width: 576px) {
        font-size: 15px;
    }
}
* {
    box-sizing: border-box;
    border: none;
    letter-spacing: .5px;
}
.container {
    margin: auto;
    @media screen and (max-width: 768px) {
        width: 92%;
    }
}
.d-flex {
    display: flex;
    align-items: center;
    .flex {
        flex: 1;
    }
}
.table {
    display: table;
    width: 100%;
    .tr {
        display: table-row;
        .th, .td {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
.center {
    text-align: center;
}
.bold, b {
    font-weight: bold;
}
.blue {
    color: $blue;
}
.mb {
    display: none!important;
    @media screen and (max-width: 576px) {
        display: block!important;
    }
}
.desktop {
    @media screen and (max-width: 576px) {
        display: none!important;
    }
}
.gotop {
    position: fixed;
    bottom: 36px;
    right: 36px;
    width: 50px;
    height: 50px;
    display: none;
    border-radius: 25px;
    opacity: .7;
    overflow: hidden;
    z-index: 50;
    @media screen and (max-width: 767px) {
        width: 40px;
        height: 40px;
        bottom: 70px;
        right: 20px;
    }
    &.show {
        display: block;
    }
    &:hover {
        @media screen and (min-width: 1025px) {
            opacity: 1;
        }
    }
}
article {
    min-height: 100vh;
    overflow: hidden;
    .bg-text {
        color: #ebeff2;
        font-weight: bold;
        font-style: italic;
    }
    .cashback {
        font-size: 120px;
        line-height: 100px;
        text-align: right;
        transform: translate(100px, -10px);
        @media screen and (max-width: 1280px) {
            font-size: 80px;
            transform: translate(0, -20px);
        }
        @media screen and (max-width: 576px) {
            font-size: 45px;
            transform: translate(0, -35px);
        }
    }
}
.header.kv {
    background: transparent;
    box-shadow: none;
    .yuantaLogo a {
        background-image: url("../images/header/yuanta_logo_white.svg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        @media screen and (max-width: 345px) {
            background-image: url("../images/header/yuantabank_logo_white.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }
    .yuantaplusLogo {
        background-image: url("../images/header/yuantaplus_logo_white.svg");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}
section {
    padding: 60px 0;
    text-align: center;
    @media screen and (max-width: 768px) {
        padding: 40px 0;
    }
    @media screen and (max-width: 576px) {
        padding: 20px 0;
    }
    h2 {
        font-size: 40px;
        line-height: 126px;
        @media screen and (max-width: 1024px) {
            line-height: 60px;
            padding: 30px 0;
        }
        @media screen and (max-width: 576px) {
            font-size: 28px;
            line-height: 42px;
            padding: 20px 0;
        }
        br {
            display: none;
            @media screen and (max-width: 1024px) {
                display: block;
            }
        }
        .comma {
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
    }
    .desc {
        span {
            color: $blue;
            font-weight: bold;
        }
        .point {
            font-size: 36px;
            line-height: 26px;
            @media screen and (max-width: 1024px) {
                font-size: 32px;
                line-height: 30px;
            }
        }
    }
    .ps {
        padding: 30px 0;
        @media screen and (max-width: 576px) {
            padding: 20px 0;
        }
    }
    .notice {
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;
        padding: 0 30px;
        @media screen and (max-width: 768px) {
            padding: 0;
            font-size: 14px;
        }
        input {
            display: none;
            &:checked {
                & ~ .title {
                    &::after {
                        content: '－';
                    }
                    & ~ ul {
                        display: block;
                    }
                }
            }
        }
        .title {
            padding: 15px 0;
            cursor: pointer;
            @media screen and (max-width: 576px) {
                padding: 10px 0;
            }
            &::after {
                content: '＋';
                margin-left: 20px;
            }
            span {
                margin-left: 15px;
                color: $line;
            }
        }
        ul {
            list-style: decimal;
            padding: 15px 0;
            text-align: left;
            margin-bottom: 15px;
            margin-left: 30px;
            display: none;
            @media screen and (max-width: 768px) {
                padding: 0;
            }
        }
        .table {
            text-align: center;
            margin: 10px 0 20px 0;
            border: 1px solid $line;
            .thead {
                .td {
                    background: $line;
                }
            }
            .tr {
                &:not(:last-of-type) {
                    .td {
                        border-bottom: 1px solid $line;
                    }
                }
            }
            .td {
                padding: 5px;
                &:not(:first-of-type) {
                    border-left: 1px solid $line;
                }
            }
        }
    }
    &.kv {
        height: 100vh;
        position: relative;
        color: #fff;
        font-family: 'Noto Serif TC', sans-serif;
        z-index: 10;
        padding: 0;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: 40px;
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
        &::before {
            content: '';
            display: block;
            width: 1px;
            height: 80%;
            background: #fff;
            position: absolute;
            right: 40px;
            bottom: 0;
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
        .video {
            min-width: 100%;
            height: 101%;
            overflow: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            video {
                min-width: 100%;
                min-height: 101%;
            }
        }
        .content {
            max-width: unset;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
            padding-bottom: 24vh;
            position: relative;
            @media screen and (max-width: 1024px) {
                padding-bottom: 18vh;
                justify-content: center;
            }
            .title {
                display: flex;
                font-size: 40px;
                align-items: flex-end;
                font-style: italic;
                position: relative;
                text-align: left;
                @media screen and (max-width: 992px) {
                    font-size: 28px;
                    display: block;
                }
                span {
                    padding: 15px;
                    margin-right: -35px;
                    font-weight: bold;
                    @media screen and (max-width: 992px) {
                        display: block;
                        margin-right: 0;
                        font-size: 24px;
                        margin-bottom: -40px;
                        margin-left: -15px;
                    }
                }
                img {
                    width: 260px;
                    margin-right: 35px;
                    @media screen and (max-width: 992px) {
                        width: 180px;
                        margin-right: 0;
                        padding: 20px 0;
                    }
                }
                h1 {
                    p {
                        padding: 15px 0;
                        font-weight: bold;
                        @media screen and (max-width: 992px) {
                            padding: 10px 0;
                        }
                    }
                }
                .additional {
                    font-size: 18px;
                    font-style: normal;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    margin-top: 10px;
                    @media screen and (max-width: 992px) {
                        font-size: 14px;
                        margin-top: 3px;
                    }
                }
            }
            .go {
                display: flex;
                align-items: flex-end;
                margin-bottom: 10px;
                @media screen and (max-width: 1024px) {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                }
                @media screen and (max-width: 768px) {
                    display: none;
                }
                &.stick {
                    position: fixed;
                    right: 36px;
                    bottom: 120px;
                    width: 80px;
                    height: 80px;
                    @media screen and (max-width: 1024px) {
                        width: 60px;
                        height: 60px;
                        font-size: 16px;
                    }
                    @media screen and (max-width: 768px) {
                        bottom: 0;
                        right: 0;
                        width: 100vw;
                        background: $blue;
                        color: #fff;
                        height: auto;
                        margin-bottom: 0;
                        display: flex;
                    }
                    a {
                        color: $blue;
                        border-top: 1px solid $blue;
                        border-bottom: 1px solid $blue;
                        &:hover {
                            @media screen and (min-width: 1025px) {
                                background: $blue;
                                color: #fff;
                            }
                        }
                        @media screen and (max-width: 768px) {
                            color: #fff;
                            background: $blue;
                        }
                    }
                }
                a {
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    color: #fff;
                    padding: 7px;
                    width: 240px;
                    letter-spacing: 6px;
                    transition: all .2s ease-in-out;
                    &:hover {
                        @media screen and (min-width: 1025px) {
                            background: rgba(255, 255, 255, .8);
                            color: $blue;
                        }
                    }
                    @media screen and (max-width: 1024px) {
                        width: 100%;
                        transition: none;
                    }
                }
            }
            .scroll {
                position: absolute;
                bottom: 70px;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
                @media screen and (max-width: 1024px) {
                    display: none;
                }
                img {
                    width: 25px;
                    cursor: pointer;
                    margin-top: 20px;
                }
            }
        }
    }
    &.reward {
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 300px;
            background: url(../images/bg_section1_diamond.svg);
            position: absolute;
            top: 810px;
        }
        @media screen and (max-width: 576px) {
            margin-top: -60px;
        }
        .table {
            margin: 70px 0 10px 0;
            border-bottom: 1px solid $line;
            @media screen and (max-width: 576px) {
                margin: 30px 0 0 0;
            }
            .tr {
                &.thead {
                    background: $blue;
                    color: #fff;
                    .td {
                        padding: 15px 0;
                    }
                }
                .td {
                    padding: 30px 0;
                    @media screen and (max-width: 576px) {
                        padding: 20px 5px;
                        font-size: 13px;
                        width: 25%;
                        line-height: 22px;
                    }
                    &.point {
                        color: $blue;
                        span {
                            font-size: 60px;
                            @media screen and (max-width: 576px) {
                                font-size: 48px;
                            }
                        }
                    }
                    span {
                        font-size: 36px;
                        @media screen and (max-width: 576px) {
                            font-size: 30px;
                        }
                    }
                    br {
                        @media screen and (max-width: 576px) {
                            display: none;
                        }
                    }
                }
            }
        }
        .calc {
            padding: 45px 55px;
            background: #fff;
            box-shadow: 0 0 10px rgba(50, 69, 84, .3);
            margin-top: 30px;
            @media screen and (max-width: 768px) {
                padding: 30px;
            }
            .result {
                @media screen and (max-width: 1024px) {
                    line-height: 52px;
                }
                @media screen and (max-width: 576px) {
                    line-height: 36px;
                }
                span {
                    &:not(.comma) {
                        color: $gold;
                    }
                    &.val {
                        font-size: 32px;
                        line-height: 26px;
                        @media screen and (max-width: 576px) {
                            font-size: 22px;
                        }
                    }
                    &.comma {
                        @media screen and (max-width: 1024px) {
                            display: none;
                        }
                    }
                }
                br {
                    display: none;
                    @media screen and (max-width: 1024px) {
                        display: block;
                    }
                }
            }
            .range-slider {
                margin-top: 40px;
                text-align: left;
                @media screen and (max-width: 768px) {
                    margin-top: 20px;
                }
                p {
                    padding: 20px 0;
                    @media screen and (max-width: 576px) {
                        padding: 10px 0;
                    }
                }
                .progress {
                    background: linear-gradient(to right, $gold 0%, $gold 40%, $line 40%, $line 100%);
                    border-radius: 2px;
                    height: 2px;
                    width: 97%;
                    display: block;
                    margin: 10px auto;
                    outline: none;
                    transition: background 450ms ease-in;
                    -webkit-appearance: none;
                    &::-webkit-slider-thumb {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        -webkit-appearance: none;
                        cursor: pointer;
                        background: $gold;
                    }
                }
                .text {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
        .openBtn {
            background: $gold;
            color: #fff;
            padding: 20px;
            font-size: 22px;
            line-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                font-size: 17px;
                line-height: 30px;
                display: block;
            }
            @media screen and (max-width: 576px) {
                line-height: 26px;
            }
            &:hover {
                @media screen and (min-width: 1025px) {
                    img {
                        transform: translateX(10px);
                    }
                }
            }
            img {
                width: 55px;
                margin-left: 30px;
                transition: all .2s ease-in-out;
                @media screen and (max-width: 1024px) {
                    width: 30px;
                    margin-left: 15px;
                }
            }
        }
        .notice {
            margin-top: 120px;
            @media screen and (max-width: 768px) {
                margin-top: 60px;
            }
            @media screen and (max-width: 576px) {
                margin-top: 40px;
            }
        }
    }
    &.online {
        position: relative;
        background: url(../images/bg_section2_money.svg) no-repeat;
        background-size: 160px;
        background-position: calc(50% - 600px) 30px;
        .bg-text {
            font-size: 80px;
            line-height: 100px;
            transform: rotate(90deg);
            position: absolute;
            left: calc(50% + 400px);
            top: 120px;
            z-index: -1;
            text-align: left;
        }
        .compare {
            justify-content: center;
            @media screen and (max-width: 576px) {
                display: block;
            }
            .country {
                border: 1px solid $gold;
                width: 260px;
                height: 260px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 90px 70px;
                border-radius: 100%;
                position: relative;
                @media screen and (max-width: 1024px) {
                    margin: 60px 30px;
                }
                @media screen and (max-width: 768px) {
                    width: 200px;
                    height: 200px;
                    margin: 50px 20px;
                }
                @media screen and (max-width: 576px) {
                    margin: 30px auto;
                }
                p {
                    padding: 30px 0;
                    @media screen and (max-width: 768px) {
                        padding: 10px 0;
                    }
                    span {
                        font-size: 60px;
                        margin: 0 10px;
                        @media screen and (max-width: 768px) {
                            font-size: 42px;
                        }
                    }
                }
                img {
                    width: 70px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    @media screen and (max-width: 768px) {
                        width: 40px;
                        left: 10px;
                        bottom: 10px;
                    }
                }
            }
        }
    }
    &.deposit {
        background-image: url(../images/bg_section3_money.svg),linear-gradient(to top, #e9f5ff, #e9f5ff, #e9f5ff, transparent);
        background-size: 400px;
        background-repeat: repeat-x;
        background-position: center bottom;
        padding-bottom: 100px;
        .balance {
            padding: 60px 0;
            @media screen and (max-width: 768px) {
                padding: 40px 0;
            }
            @media screen and (max-width: 576px) {
                padding: 20px 0;
            }
            .title {
                background: $blue;
                color: #fff;
                padding: 20px 0;
                @media screen and (max-width: 576px) {
                    padding: 10px 0;
                }
            }
            .detail {
                border-bottom: 1px solid $line;
                padding: 30px 0;
                @media screen and (max-width: 576px) {
                    display: block;
                    padding: 10px 0;
                }
                .flex {
                    @media screen and (max-width: 576px) {
                        padding: 5px 0;
                    }
                }
                .val {
                    font-size: 36px;
                    @media screen and (max-width: 768px) {
                        font-size: 24px;
                    }
                }
                p {
                    margin-top: 10px;
                    @media screen and (max-width: 576px) {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    &.travel {
        .swiper {
            margin: 60px 0 30px 0;
            position: relative;
            @media screen and (max-width: 768px) {
                margin: 50px 0 0 0;
            }
            @media screen and (max-width: 576px) {
                padding: 0 40px;
            }
            // &::after {
            //     content: '';
            //     position: absolute;
            //     right: 0;
            //     top: 0;
            //     width: 100px;
            //     height: 100%;
            //     background: linear-gradient(to left, #fff, transparent);
            //     z-index: 1;
            //     @media screen and (max-width: 576px) {
            //         display: none;
            //     }
            // }
            .swiper-slide {
                border: 1px solid $line;
                .content {
                    padding: 20px 15px;
                    max-width: 280px;
                    margin: auto;
                    .title {
                        border-bottom: 1px solid $line;
                        display: inline-block;
                        width: 85%;
                        padding: 20px 0;
                        span {
                            font-size: 48px;
                        }
                    }
                    p {
                        text-align: left;
                        padding: 20px 0;
                    }
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            width: 12px;
            margin-top: 40px;
            &:after {
                content: '';
            }
        }
        .swiper-button-next {
            right: -40px;
            transform: rotate(180deg);
            @media screen and (max-width: 576px) {
                right: 0;
            }
        }
        .swiper-button-prev {
            left: -40px;
            @media screen and (max-width: 576px) {
                left: 0;
            }
        }
    }
    &.qa {
        @media screen and (max-width: 576px) {
            padding-bottom: 35px;
        }
        .list {
            text-align: left;
            margin-bottom: 30px;
            @media screen and (max-width: 576px) {
                margin-bottom: 10px;
            }
            .type {
                padding: 20px 0;
                border-bottom: 1px solid $line;
                @media screen and (max-width: 576px) {
                    padding: 15px 0;
                }
            }
            .notice {
                border-top: none;
                .title {
                    position: relative;
                    display: block;
                    padding-right: 25px;
                    &::after {
                        content: '＋';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                    }
                    .open {
                        &::after {
                            content: '－';
                        }
                    }
                }
                input {
                    display: none;
                    &:checked {
                        & ~ .title::after {
                            content: '－';
                        }
                        & ~ .title ~ .ans {
                            display: block;
                        }
                    }
                }
                .ans {
                    padding: 15px 20px;
                    margin-bottom: 20px;
                    display: none;
                }
            }
        }
    }
}
.slogan {
    text-align: center;
    background: #e7ecf2;
    padding: 20px 0 30px 0;
    @media screen and (max-width: 576px) {
        padding: 15px 0 20px 0;
    }
    p {
        font-size: 40px;
        padding: 25px 0;
        font-weight: bold;
        @media screen and (max-width: 576px) {
            padding: 15px 0;
            margin-bottom: 10px;
        }
        span {
            letter-spacing: 18px;
            margin: 0 15px;
            @media screen and (max-width: 576px) {
                letter-spacing: 4px;
                font-size: 32px;
                margin: 0 7px;
            }
        }
    }
    span {
        display: inline-block;
        padding: 3px 0;
        @media screen and (max-width: 576px) {
            display: inline!important;
        }
    }
}