<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
  <meta name="description" content="長期投資元大日本龍頭企業基金（本基金之配息來源可能為收益平準金），安心選擇專業的元大把關！" />
  <link rel="shortcut icon" href="https://www.yuantafunds.com/images/icologo.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://www.yuantafunds.com/active/default/css/default.css">
  <link rel="stylesheet" href="asset/css/main.css">
  <title>元大日本龍頭企業基金 | 走出失落三十年 日本製造業復興 | 元大投信</title>

  <!-- google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <!-- Facebook 縮圖 -->
  <meta property="fb:app_id" content="元大日本龍頭企業基金 | 走出失落三十年 日本製造業復興" />
  <meta property="og:title" content="元大日本龍頭企業基金 | 走出失落三十年 日本製造業復興" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="國內首檔聚焦日本製造商機的基金，日圓貶值帶動企業獲利，把握日本製造業復興的機會，靈活布局優質日本大型股，不錯過龍頭公司競爭力與獲利表現。" />
  <meta property="og:image" content="https://www.yuantafunds.com/active/JapanFund/asset/img/share-img.jpg">
  <meta property="og:site_name" content="元大日本龍頭企業基金 | 走出失落三十年 日本製造業復興" />
  <meta property="og:url" content="https://www.yuantafunds.com/active/JapanFund/index.html" />
  <!-- Facebook 縮圖　-->

  <!-- Google Tag Manager -->
  <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P4HDSBB');
  </script>
  <!-- End Google Tag Manager -->

  <style>
    [v-cloak] {
        display: none;
    }
  </style>
  <script src="https://www.yuantafunds.com/active/default/script/jquery-3.5.1.min.js"></script>
  <script src="asset/js/vue.min.js"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4HDSBB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->



    <div id="app" v-cloak>
        <header>
          <a href="https://www.yuantafunds.com/"><img src="https://www.yuantafunds.com/active/default/img/header/YTF-logo.svg" alt="元大投信"></a>
          <div class="hbg mobile center">
              <span></span>
              <span></span>
              <span></span>
          </div>
          <div class="list">
            <ul>
              <li class="f16 fw-500">
                <a id="btn-header-dm" :href="fundInfoList.DOC_URL_C" target="_blank">基金DM</a>
            </li>
              <li class="f16 fw-500">
                <a id="btn-header-calendar" href="https://calndr.link/event/AayfaV2rU4" target="_blank">開募提醒</a>
            </li>
            </ul>
            <div class="socialmedia for_mb">
              <ol>
                <li>
                    <a href="https://www.facebook.com/yuantafunds/" target="_blank">
                        <img src="https://www.yuantafunds.com/active/default/img/footer/icon-facebook.svg" alt="元大投信 facebook">
                    </a>
                </li>
                <li>
                    <a href="https://line.me/ti/p/%40yuantafunds" target="_blank">
                        <img src="https://www.yuantafunds.com/active/default/img/footer/icon-line.svg" alt="元大投信 line">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC-lpGvvB9OpHS0GdF5iatcQ" target="_blank">
                        <img src="https://www.yuantafunds.com/active/default/img/footer/icon-youtube.svg" alt="元大投信 youtube">
                    </a>
                </li>
              </ol>
            </div>
          </div>

        </header>

        <div class="top" @click="scrollTo('main')">TOP</div>

        <!-- 主視覺 -->
        <article class="main bold" ref="main">
            <div class="content center">
                <div class="title"><img src="./asset/img/main.png"></div>
                <p class="blue f40">走出失落三十年 日本製造業復興</p>
                <p class="red f30">2023.07.03 募集 START</p>
            </div>
            <!-- 右側按鈕 -->
            <div class="mainBtn" class="wow fadeIn" data-wow-delay="0.9s">
                <div id="btn-sidebtn-trade" class="f20 link"><i></i>
                    <a id="btn-side-account" class="blue" href="https://online.yuantafunds.com/openacc/?utm_source=JapanFund&openExternalBrowser=1" target="_blank">
                        立即開戶
                    </a>
                </div>
                <div id="btn-sidebtn-trade" class="f20 link d-none" @click="openAllot"><i></i>我要預約</div>
                <div id="btn-sidebtn-openacc" class="f20 link" @click="openLbox('showBank')"><i></i>我有興趣</div>
                <div id="btn-sidebtn-openacc" class="f20 link" @click="openLbox('showBank')"><i></i>立即開戶</div>
                <!-- 我要申購彈窗 -->
                <div v-show="showAllotList" :class="allotBoxClass">
                    <div ref="allotList" class="allotList" @click="closeAllotList">
                        <div class="open">
                            <p>我已是元大投信客戶
                                <a id="btn-side-apply" class="red bold" href="https://online.yuantafunds.com/openacc/?utm_source=JapanFund&openExternalBrowser=1" target="_blank">
                                    立即申購 <i class="arrow red"></i>
                                </a>
                            </p>
                            <hr/>
                            <p>尚未成為元大投信客戶
                            <a id="btn-side-account" class="blue bold" href="https://online.yuantafunds.com/openacc/?utm_source=JapanFund&openExternalBrowser=1" target="_blank">
                                立即開戶 <i class="arrow"></i>
                            </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll center" @click="scrollTo('section2')">
                <img src="./asset/img/scroll.png">
            </div>
        </article>

        <!-- 區塊1-->
        <section class="section1 d-none" ref="section1">
            <div class="container container-md">
                    <div class="content-l">
                        <h2 class="red title">
                            日本，
                            <span class="blue">準備好了！</span>
                        </h2>
                        <p>兩分鐘<br/>
                        探索與日本製造一樣優質的<br/>
                        元大日本龍頭企業基金
                    </p>
                    </div>
                    <div class="content-r">
                        <div class="deco pattern">
                            <img src="./asset/img/pattern.png" alt="">
                        </div>
                        <div class="video">
                            <div id="btn-video-play" class="play d-none" @click="openLbox('showVideo')"><img src="./asset/img/play.png" alt=""></div>
                            <img src="./asset/img/video.png" alt=""></div>
                    </div>
            </div>
        </section>
        <!-- 區塊2-->
        <section class="section2" ref="section2">
            <div class="container container-md">
                <div class="content">
                    <h2 class="red title">
                        日本企業底力強
                        <span class="blue">產品廣受全球消費者喜愛</span>
                    </h2>
                    <div class="pic for_pc">
                        <img src="asset/img/section2-img.png" alt="">
                    </div>
                    <div class="pic for_mb">
                        <img src="asset/img/section2-img-mb.png" alt="">
                    </div>
                    <div class="blue-info info f13 ">
                        資料來源：各家公司官網，元大投信整理，截至2023/5/10。
                        <span class="bold">
                            本文提及個股、行業及占比僅為說明之用，不代表基金之必然投資，亦不代表任何金融商品的推介或建議，無特定推薦之意圖。個股報酬率非指基金報酬率。投資人申購本基金係持有基金受益憑證，而非本文提及之投資資產或標的。本說明非代表本基金未來必然之配置，未來投資將依公開說明書規範及當時市場環境與經濟現況而調整。
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <!-- 區塊3-->
        <section class="section3">
            <div class="container container-md">
                <div class="content">
                    <h2 class="blue title">
                        巴菲特行動證明看好日股未來
                        <span class="red">一起跟上股神腳步</span>
                    </h2>
                    <p>波克夏海瑟威公司不斷加碼日本 5 大商社股票，從 2020/8 的 5% 增至 2023/4 的 7.4%，目標再增至 9.9%。</p>

                    <div class="box">
                        <div class="grid-table">
                            <div class="row f20">5大商社</div>
                            <div class="item f20">
                                <div class="com">伊藤忠商事</div>
                                <div class="com">丸紅株式會社</div>
                                <div class="com">三井物產</div>
                                <div class="com">住友商事</div>
                                <div class="com">三菱商事</div>
                            </div>
                        </div>
                    </div>

                    <div class="blue-info info f13">
                        資料來源：波克夏海瑟威公司由巴菲特擔任董事長與執行長。
                        <span class="bold">
                            本文提及個股、行業及占比僅為說明之用，不代表基金之必然投資，亦不代表任何金融商品的推介或建議，無特定推薦之意圖。投資人申購本基金係持有基金受益憑證，而非本文提及之投資資產或標的。本說明非代表本基金未來必然之配置，未來投資將依公開說明書規範及當時市場環境與經濟現況而調整。
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <!-- 區塊4-->
        <section class="section4">
            <div class="container container-md">
                <div class="content">
                    <h2 class="red title">
                        三大理由現在佈局日股
                        <span class="blue">時機正好</span>
                    </h2>
                    <p>投資日本 = 投資未來，<br class="for_pad for_mb">布局主流趨勢不能沒有日本。</p>
                    <div class="box">
                        <div class="card" v-for="item in reasons" :key="item.id">
                            <div class="pic"><img :src="item.img" :alt="item.title"></div>
                            <div class="title f20 blue bold">{{item.title}}</div>
                            <div class="desc black">{{item.desc}}</div>
                            <div class="more f18 red bold">
                                <a :id="item.id" @click="openLbox(item.btn)">more <i class="arrow red"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 區塊5-->
        <section class="section5">
            <div class="container container-md">
                <div class="content">
                    <h2 class="red title">
                        元大日本龍頭企業基金
                        <div class="blue">一起與日本製造業共創未來</div>
                    </h2>
                    <div class="box">
                        <div class="card" v-for="item in futures" :key="item.id">
                            <div class="num for_pc"><img :src="item.img" :alt="item.id"></div>
                            <div class="icon"><img :src="item.icon" :alt="item.title"></div>
                            <div class="title f22 blue bold" v-html="item.title"></div>
                            <div class="desc black">{{item.desc}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 區塊6-->
        <section class="section6">
            <div class="container container-md">
                <div class="content">
                    <h3 class="blue title f24 bg">
                        重點關注經營卓越並於個別市場領航，具全球競爭力的龍頭企業
                    </h3>
                    <p>日本大型股多為出口產業，隨著日圓兌美元來到 30 年低點，有利大型股出口競爭力與獲利表現</p>
                    <div class="pic">
                        <img src="./asset/img/section6-img.svg" alt="">
                    </div>
                    <div class="blue-info info f13">
                        資料來源：彭博資訊，2018/5/10-2023/5/10，
                        <span class="bold">日本大型股以日本東證100指數為代表，中型股以東證中型400指數為代表，小型股以東證小型股指數為代表。上述提及之指數報酬率均為含息報酬率，意指利用指數所計算之投資報酬率中，以當地貨幣投資不計入交易成本，亦包含現金股利之報酬。指數報酬率非指基金報酬率。歷史資料不代表實際報酬率及未來績效保證，不同時間結果亦可能不同。
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <!-- 區塊7-->
        <section class="section7">
            <div class="container container-md">
                <div class="content">
                    <h3 class="blue title f24 bg">
                        掌握長線市場需求，關注日本 3 大製造商機
                    </h3>
                    <div class="box">
                        <div class="card" v-for="item in opportunity" :key="item.id">
                            <div class="icon"><img :src="item.icon" :alt="item.title"></div>
                            <div class="title f22 blue bold" v-html="item.title"></div>
                            <div class="desc f18 blue" v-html="item.desc"></div>
                            <div class="tag blue-tag f18">{{item.tag}}</div>
                        </div>
                    </div>
                    <div class="blue-info info f13">
                        資料來源：元大投信整理。
                        <span class="bold">本文提及個股、行業及占比僅為說明之用，不代表基金之必然投資，亦不代表任何金融商品的推介或建議，無特定推薦之意圖。個股報酬率非指基金報酬率。投資人申購本基金係持有基金受益憑證，而非本文提及之投資資產或標的。本說明非代表本基金未來必然之配置，未來投資將依公開說明書規範及當時市場環境與經濟現況而調整。
                        </span>
                    </div>
                </div>
            </div>
        </section>


        <!-- 區塊8-->
        <section class="section8">
            <div class="container container-md">
                <div class="content">
                    <h2 class="blue title f48">基金小檔案</h2>
                    <div class="box">
                        <div class="grid-table">
                            <div class="detail">
                                <div class="list list-top">
                                    <p>
                                        <span class="item">檔案下載<i class="for_pc"></i></span>
                                        <span class="val">
                                            <a :href="fundInfoList.DOC_URL_C" target="_blank" id="btn-info-dm">
                                                <img src="./asset/img/icon-download.svg">基金DM
                                            </a>
                                            <a :href="fundInfoList.DOC_URL_A" target="_blank" id="btn-info-prospectus">
                                                <img src="./asset/img/icon-download.svg">公開說明書
                                            </a>
                                            <a :href="fundInfoList.DOC_URL_B" target="_blank" id="btn-info-prospectus-simp">
                                                <img src="./asset/img/icon-download.svg">簡式公開說明書
                                            </a>
                                            <a :href="fundInfoList.DOC_URL_D" target="_blank" id="btn-info-apply">
                                                <img src="./asset/img/icon-download.svg">基金申購書
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="list list-t">
                                    <p>
                                        <span class="item">基金類別</span>
                                        <span class="val" v-html="fundInfoList.TYPE"></span>
                                    </p>
                                    <p>
                                        <span class="item">經理費</span>
                                        <span class="val"> {{ fundInfoList.ADMIN_RATE_DESC }}</span>
                                    </p>
                                    <p>
                                        <span class="item">保管費</span>
                                        <span class="val"> {{ fundInfoList.STORAGE_RATE }}</span>
                                    </p>
                                    <p>
                                        <span class="item">風險報酬等級</span>
                                        <span class="val">{{ fundInfoList.RISK_CLASS_P }}</span>
                                    </p>
                                    <p >
                                        <span class="item">計價幣別</span>
                                        <span class="val" v-html="fundInfoList.CRNCY_NM"></span>
                                    </p>
                                    <p class="high">
                                        <span class="item">買回付款日</span>
                                        <span class="val" v-html="fundInfoList.PAY_DAY"></span>
                                    </p>
                                </div>
                                <div class="list list-t">
                                    <p>
                                        <span class="item">保管銀行</span>
                                        <span class="val">{{ fundInfoList.BANK_HQ_NAME }}</span>
                                    </p>
                                    <p>
                                        <span class="item">擬任經理人</span>
                                        <span class="val">{{ fundInfoList.fundManagers }}</span>
                                    </p>
                                    <p>
                                        <span class="item">申購手續費</span>
                                        <span class="val" v-html="fundInfoList.ALLOT_FEE_RATE"></span>
                                    </p>
                                    <p>
                                        <span class="item">配息方式</span>
                                        <span class="val" v-html="fundInfoList.CYCLE_TYPE"></span>
                                    </p>
                                    <p class="">
                                        <span class="item">最低申購金額</span>
                                        <span class="val" v-html="fundInfoList.MINI_AMOUNT"></span>
                                    </p>
                                    <p class="high">
                                        <span class="item">買回開放日</span>
                                        <span class="val" v-html="fundInfoList.BUY_DAY"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="list">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blue-info info f13 ">
                        資料來源：公開說明書。
                        <span class="bold">
                             註：本基金的開始募集日為2023/7/3，本基金開始募集後，尚須符合成立條件且經金管會核備後始得成立。風險報酬等級為本公司經依基金之投資策略、風險係數等因素整體綜合考量後，並參酌中華民國證券投資信託暨顧問商業同業公會「基金風險報酬等級分類標準」所訂，該分類標準係計算過去5年基金淨值波動度標準差，以標準差區間予以分類等級，分類為RR1-RR5五級，數字越大代表風險越高。惟此等級分類係基於一般市場狀況反映市場價格波動風險，無法涵蓋所有風險(如：投資標的產業風險、信用風險、流動性風險、利率風險等)，不宜作為投資唯一依據，投資人仍應注意所投資基金個別的風險，並斟酌個人風險承擔能力後辦理投資。
                        </span>
                    </div>
                </div>
            </div>
        </section>


        <!-- 銷售機構 -->
        <div v-show="showBank" :class="lightbox">
            <div class="lbox container container-xs">
                <div class="close close-b" @click="closeLbox('showBank')"></div>
                <h3 class="text-center f24"><b>銷售機構</b></h3>
                <div class="all-content">
                    <div class="content">
                        <p class="title f20 blue">證券商</p>
                        <div class="bank f18">
                            <p>元大證券</p>
                            <p>統一證券</p>
                            <p>華南永昌證券</p>
                            <p>元富證券</p>
                            <p>兆豐證券</p>
                            <p>永豐金證券</p>
                            <p>富邦證券</p>
                            <p>凱基證券</p>
                        </div>
                        <p class="title f20 blue">銀行</p>
                        <div class="bank f18">
                            <p>元大銀行</p>
                            <p>永豐銀行</p>
                            <p>中國信託</p>
                            <p>彰化銀行</p>
                            <p>華南銀行</p>
                            <p>兆豐銀行</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 影片 -->
        <div v-show="showVideo" :class="lightbox">
            <div class="lbox lbox-w container container-xs">
                <div class="close" @click="closeLbox('showVideo')"></div>
                        <!-- <iframe id="ytplayer" type="text/html" width="100%" height="100%"
                        src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"
                        frameborder="0"></iframe> -->
            </div>
        </div>

        <!-- 巴菲特表格 -->
        <div v-show="showBuffett" class="buffett-lbox" :class="lightbox">
            <div class="lbox container container-xs">
                <div class="close close-b" @click="closeLbox('showBuffett')"></div>
                <h3 class="text-center f24"><b> </b></h3>
                <div class="all-content">
                    <div class="content">
                        <div class="grid-table">
                            <div v-for="item in buffettTable" :key="item.id" class="grid-table-row">
                              <div class="grid-table-cell f18">{{item.company}}</div>
                              <div class="grid-table-cell">巴菲特進場後漲幅<span>{{item.increase}}</span></div>
                              <div class="grid-table-cell">最新本益比(倍) <span>{{item.ratio}}</span></div>
                              <div class="grid-table-cell">主要業務 <div>{{item.business}}</div><div class="red">{{item.tag}}</div></div>
                            </div>
                        </div>
                        <div class="blue-info info f13 bold">
                            資料來源：彭博資訊，漲幅計算期間為2020/8/1~2023/5/10，本益比數據截至2023/5/10，波克夏海瑟威公司由巴菲特擔任董事長與執行長，元大投信整理。本文提及個股、行業及占比僅為說明之用，不代表基金之必然投資，亦不代表任何金融商品的推介或建議，無特定推薦之意圖。個股報酬率非指基金報酬率。投資人申購本基金係持有基金受益憑證，而非本文提及之投資資產或標的。本說明非代表本基金未來必然之配置，未來投資將依公開說明書規範及當時市場環境與經濟現況而調整。
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 理由1 -->
        <div v-show="showReason1" class="reason-lbox" :class="lightbox">
            <div class="lbox lbox-b container container-xs">
                <div class="close close-b" @click="closeLbox('showReason1')"></div>
                <div class="all-content">
                    <div class="content">
                        <h3 class="text-center blue"><b>日圓貶值提高出口競爭力，「日本製造」風潮再起！</b></h3>
                        <p>品質保證的日本製造，隨著日圓來到歷史低點，有利出口製造業競爭力與獲利表現</p>
                        <div class="pic-wrp">
                            <img class="scroll" src="./asset/img/section4-lbox-1.svg" alt="" srcset="">
                        </div>
                        <div class="blue-info info f13">
                            資料來源：彭博資訊，2022/1/1-2023/5/10，原幣計價，各公司網站，元大投信整理，日本股市係採東證指數。
                            <span class="bold">本文提及個股、行業及占比僅為說明之用，不代表基金之必然投資，亦不代表任何金融商品的推介或建議，無特定推薦之意圖。上述提及之個股與指數報酬率均為含息報酬率，意指利用個股與指數所計算之投資報酬率中，以當地貨幣投資不計入交易成本，亦包含現金股利之報酬。個股報酬率非指基金報酬率。投資人申購基金係持有基金受益憑證，而非本文提及之投資資產或標的。以上僅為歷史資料，不代表實際報酬率及未來績效保證，不同時間結果亦可能不同。
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 理由2 -->
        <div v-show="showReason2" class="reason-lbox" :class="lightbox">
            <div class="lbox lbox-b container container-xs">
                <div class="close close-b" @click="closeLbox('showReason2')"></div>
                <div class="all-content">
                    <div class="content">
                        <h3 class="text-center blue"><b>卓越製程加上企業積極回饋股東，促使日股上漲催化劑</b></h3>
                        <p>日本製造業於全球產業鏈扮演主角，企業充沛現金流有利增發股息並推升日股漲勢</p>
                        <div class="pic-wrp">
                            <div class="pic"><img src="./asset/img/section4-lbox-2-1.png" alt="" srcset=""></div>
                            <div class="pic"><img src="./asset/img/section4-lbox-2-2.png" alt="" srcset=""></div>
                        </div>
                        <div class="blue-info info f13">
                            資料來源：日本企業網站，工業技術研究院，截至2023/5/10。彭博資訊，以東證指數成分股為代表，2000-2022，元大投信整理。
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 理由3 -->
        <div v-show="showReason3" class="reason-lbox reason-lbox-3" :class="lightbox">
            <div class="lbox lbox-b container container-xs">
                <div class="close close-b" @click="closeLbox('showReason3')"></div>
                <h3 class="text-center blue"><b>日本產業全新升級，獲利動能成長，經濟邁入正向循環</b></h3>
                <p>近 10 年日股企業獲利增速快於美股，加上持續的寬鬆政策，日圓可能於低檔盤整，有利經濟、企業獲利</p>
                <div class="tabs f18 d-flex">
                    <div v-for="(item, index) in goodTabs" :key="item.id" class="flex text-center" @click="switchGoodTabs(item.id)">
                        <div class="tab" :id="item.idName" :class="goodTabsClass(item.id)">
                            <div class="num bold"> {{ index+1 }} </div>
                            <div class="icon for_pc">
                                <img :src="item.icon" class="b">
                                <img :src="item.iconR" class="r">
                            </div>
                            <div class="name for_pc" v-html="item.name"></div>
                        </div>
                    </div>
                </div>
                <div class="all-content">
                    <div class="content">
                        <div v-if="activeGood == 1" class="tab-content">
                            <h2 class="title">日圓貶值推動國內製造</h2>
                            <div class="pic chart for_pc">
                                <img src="./asset/img/section4-lbox-3-1.svg">
                            </div>
                            <div class="pic chart for_pad for_mb">
                                <img src="./asset/img/mob-chart-1.png">
                            </div>
                            <div class="blue-info info f13">
                                資料來源：彭博資訊，2011/1/1-2023/5/10，月資料，東證指數每股盈餘代表指數成分股每股盈餘的加權平均表現，元大投信整理。日圓兌美元從76貶到121的時間為2012/1/30-2016/2/29。日圓匯率趨升時期的時間為2016/3/1-2020/12/31。日圓兌美元從102貶到137的時間為2021/1/5-2023/5/10。
                            </div>
                        </div>
                        <div v-if="activeGood == 2" class="tab-content">
                            <h2 class="title">就業活絡刺激企業加薪</h2>
                            <div class="content-wrp">
                                <div class="pic">
                                    <img src="./asset/img/section4-lbox-3-2.png">
                                </div>
                                <p>2023 年日本春鬥談判，<br class="for_pc"/>
                                    平均薪資漲幅約 3%，創下 30 年來新高</p>
                            </div>
                            <div class="blue-info info f13">
                                資料來源：彭博資訊，元大投信整理，截至2023/5/10。
                                <span class="bold">
                                    本文提及之經濟走勢預測不必然代表本基金之績效，本基金投資風險請詳閱基金公開說明書。
                                </span>
                            </div>
                        </div>
                        <div v-if="activeGood == 3" class="tab-content">
                            <h2 class="title">薪資成長提振內需消費</h2>
                            <div class="content-wrp">
                                <div class="pic">
                                    <img src="./asset/img/section4-lbox-3-3.png">
                                </div>
                                <p>日本政府上調 2023 年的增長預測至 1.5%，<br class="for_pc"/>
                                    主因內需強勁</p>
                            </div>
                            <div class="blue-info info f13">
                                資料來源：彭博資訊，元大投信整理，截至2023/5/10。
                                <span class="bold">
                                    本文提及之經濟走勢預測不必然代表本基金之績效，本基金投資風險請詳閱基金公開說明書。
                                </span>
                            </div>
                        </div>
                        <div v-if="activeGood == 4" class="tab-content">
                            <h2 class="title">企業獲利動能進一步加速</h2>
                            <div class="pic chart for_pc">
                                <img src="./asset/img/section4-lbox-3-4.svg">
                            </div>
                            <div class="pic chart for_pad for_mb">
                                <img src="./asset/img/mob-chart-2.png">
                            </div>
                            <div class="blue-info info f13">
                                資料來源：彭博資訊，2012/12/31~2023/4/30，日本係採東證指數，美國係採標普500指數。元大投信整理。
                            </div>
                        </div>
                        <div v-if="activeGood == 5" class="tab-content">
                            <h2 class="title">企業擴大投資帶動經濟擴張</h2>
                            <div class="content-wrp">
                                <div class="pic">
                                    <img src="./asset/img/section4-lbox-3-5.png">
                                </div>
                                <p>日本企業 2022 年投資金額年增 25%，<br class="for_pc"/>
                                    為 2000 年以來最快增速</p>
                            </div>
                            <div class="blue-info info f13 bold">
                                資料來源：彭博資訊，元大投信整理，截至2023/5/10。
                                <span class="bold">
                                    本文提及之經濟走勢預測不必然代表本基金之績效，本基金投資風險請詳閱基金公開說明書。
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 警語 -->
        <section class="warn">
          <div class="container container-md">
              <p class="bold f24 title">基金警語 <span class="f18"> 投資一定有風險，基金投資有賺有賠，申購前請詳閱公開說明書 !</span></p>
              <div class="info">
                  <p class="f12">元大證券投資信託股份有限公司</p>
                  <p class="f12">
                    台北總公司：106 台北市大安區敦化南路二段 69號 18 樓、67 號 B1 (02)2717-5555 109 年金管投信新字第 012號
                  </p>
                  <p class="f12">
                    台中分公司：406 台中市北屯區崇德路二段 46-4 號 5 樓 (04)2232-7878 111年金管投信新分字第002號</p>
                  <p class="f12">本公司兼營投顧的核准文號：96 年 7 月 30 日金管證四字第 0960039848 號函</p>
              </div>
              <div class="content f14">
                <p>
                    【元大投信獨立經營管理】本基金經金管會核准或申報生效，惟不表示絕無風險。本公司以往之經理績效，不保證本基金之最低投資收益；本公司除盡善良管理人之注意義務外，不負責本基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書。定期定額報酬率將因投資人不同時間進場，而有不同之投資績效，過去之績效亦不代表未來績效之保證；本文提及之經濟走勢預測，不必然代表基金之績效，基金投資風險請詳閱基金公開說明書。為避免因受益人短線交易頻繁，造成基金管理及交易成本增加，進而損及基金長期持有之受益人權益，本基金不歡迎受益人進行短線交易。基金非存款或保險，故無受存款保險、保險安定基金或其他相關保障機制之保障。
                </p>
                <p class="yt-blue bold">
                    本基金的運用限制、投資風險、基金申購手續費之收取方式和比率、投資人應直接或間接負擔之相關費用、紛爭處理及申訴管道等皆已揭露於基金公開說明書中，投資人可向本公司及本基金之銷售機構索取，亦可至公開資訊觀測站(mops.twse.com.tw)或本公司網站(www.yuantafunds.com)中查詢。 (mops.twse.com.tw) 或本公司網站 (www.yuantafunds.com) 中查詢。
                </p>
                <p>
                    本基金可能投資於非基金計價幣別之投資標的，當不同幣別間之匯率產生較大變化時，將會影響該基金不同計價幣別之淨資產價值。本基金主要投資於日本證券交易市場交易之有價證券為主，有可能發生投資區域分散性較低，以及類股過度集中之風險。此外，全球政經情勢或法規之變動、外匯管制及匯率、證券交易市場流動性不足等因素，可能對本基金所參與的投資市場及投資工具之報酬造成直接或間接的影響。此外，本基金亦可投資於日本企業發行而於新加坡、香港、美國、英國與德國等國證券交易所交易之有價證券，惟全球經濟環環相扣，各國不同產業之景氣循環將對基金投資績效產生影響。惟本基金不能也無法保證該風險發生之可能性。                <span class="yt-blue">
                </p>
              </div>
              <p class="f18 bold end">
                  ［ 洗錢防制宣導警語 ］ 一、防杜非法洗錢，保障自身財產安全。二、開戶審查做得好，客戶權益有保障。三、自己權益要顧好，淪為人頭累累累！
              </p>
          </div>
        </section>

    </div> <!--#app end-->


    <footer>
      <script type="text/javascript" src="https://www.yuantafunds.com/active/default/script/footer.js"></script>
    </footer>

    <script src="asset/js/index.js"></script>

    <script>
    // Vue.config.debug = true;        //vue debug mode
    // Vue.config.devtools = true;     //vue debug mode
      var vm = new Vue({
      el: '#app',
      data() {
          return {
            location: [],
            showBank: false,
            showVideo: false,
            showAllotList: false,
            showMenu:false,
            showBuffett:false,
            showReason1:false,
            showReason2:false,
            showReason3:false,
            buffettTable:[
                {
                    id:1,
                    company:'伊藤忠商事',
                    increase:'116%',
                    ratio:'8.5',
                    business:'食品、零售、房地產、紡織',
                    tag:'#FamilyMart  #Descente                 '
                },{
                    id:2,
                    company:'丸紅株式會社',
                    increase:'349%',
                    ratio:'6.1',
                    business:'食品、汽車、家電、金融、零售',
                    tag:'#日產汽車  #日立家電  #瑞穗金融  #東武百貨'
                },{
                    id:3,
                    company:'三井物產',
                    increase:'194%',
                    ratio:'5.9',
                    business:'媒體、能源、汽車、零售、金融、醫療',
                    tag:'#豐田汽車  #三越百貨  #7-11'
                },{
                    id:4,
                    company:'住友商事',
                    increase:'154%',
                    ratio:'5.7',
                    business:'電器、通訊、零售、金屬',
                    tag:'#Panasonic  #Jupiter  #Tomod\'s藥妝'
                },{
                    id:5,
                    company:'三菱商事',
                    increase:'182%',
                    ratio:'6.6',
                    business:'能源、汽車、家電、飲料、零售',
                    tag:'#三菱汽車  #本田汽車  #麒麟啤酒  #Lawson'
                }
            ],
            reasons:[
                {
                    id:'btn-reasons-1-more',
                    img:'./asset/img/section4-item1.png',
                    title:'日圓走貶，出口競爭力提高',
                    desc:'日本製造猶如品質保證，協同弱勢日圓政策下，出口製造業獲利樂觀，帶動股價表現',
                    btn:'showReason1'
                },{
                    id:'btn-reasons-2-more',
                    img:'./asset/img/section4-item2.png',
                    title:'深厚技術底蘊，占據製造業中上游，企業積極回饋股東',
                    desc:'在全球產業鏈，日本掌握關鍵上游，布局日本，等同掌握到最新科技浪潮',
                    btn:'showReason2'
                },{
                    id:'btn-reasons-3-more',
                    img:'./asset/img/section4-item3.png',
                    title:'七大工業國成員，參與經濟正循環',
                    desc:'寬鬆貨幣推動日本製造業生產回流，促進就業與薪資成長，進而提振內需消費與加速企業獲利，最終帶動經濟擴張',
                    btn:'showReason3'
                }
            ],
            activeGood: 1,
            goodTabs: [
                    {
                        id: '1',
                        idName: 'btn-cycle-1',
                        name: '日圓貶值<br/>推動國內製造',
                        icon:'./asset/img/tab-icon-1.svg',
                        iconR:'./asset/img/tab-icon-1-r.svg'
                    },
                    {
                        id: '2',
                        idName: 'btn-cycle-2',
                        name: '就業活絡<br/>刺激企業加薪',
                        icon:'./asset/img/tab-icon-2.svg',
                        iconR:'./asset/img/tab-icon-2-r.svg'
                    },
                    {
                        id: '3',
                        idName: 'btn-cycle-3' ,
                        name: '薪資成長<br/>提振內需消費',
                        icon:'./asset/img/tab-icon-3.svg',
                        iconR:'./asset/img/tab-icon-3-r.svg'
                    },
                    {
                        id: '4',
                        idName: 'btn-cycle-4' ,
                        name: '企業獲利動能<br/>進一步加速',
                        icon:'./asset/img/tab-icon-4.svg',
                        iconR:'./asset/img/tab-icon-4-r.svg'
                    },
                    {
                        id: '5',
                        idName: 'btn-cycle-5' ,
                        name: '企業擴大投資<br/>帶動經濟擴張',
                        icon:'./asset/img/tab-icon-5.svg',
                        iconR:'./asset/img/tab-icon-5-r.svg'
                    }
                ],
            futures:[
                {
                    id:'1',
                    icon:'./asset/img/section5-icon1.png',
                    title:'精選具備長期成長動能的日本龍頭企業',
                    desc:'各產業市值前 30% 龍頭股',
                    img:'./asset/img/section5-1.png',
                },
                {
                    id:'2',
                    icon:'./asset/img/section5-icon2.png',
                    title:'聚焦日本優勢產業<br class="for_pc"/>技術能力領先全球',
                    desc:'瞄準日本製造相關及技術地位領先的優異企業',
                    img:'./asset/img/section5-2.png',
                },
                {
                    id:'3',
                    icon:'./asset/img/section5-icon3.png',
                    title:'萃取優質成長動能<br class="for_pc"/>積極創造超額報酬',
                    desc:'日圓貶值效應發酵，出口業起飛，專業團隊發掘趨勢且具備高度成長潛能的投資標的',
                    img:'./asset/img/section5-3.png',
                },
            ],
            opportunity:[
                {
                    id:'1',
                    icon:'./asset/img/section7-icon1.png',
                    title:'精密工業',
                    desc:'國防重工、綠色產品、乾淨能源、<br class="for_pc">工業機器人',
                    tag:'#大金  #日立  #松下'
                },
                {
                    id:'2',
                    icon:'./asset/img/section7-icon2.png',
                    title:'先進科技',
                    desc:'5G、人工智慧 、電動車、<br class="for_pc">矽晶圓、半導體材料',
                    tag:'#信越化學  #豐田  #東京威力科創'
                },
                {
                    id:'3',
                    icon:'./asset/img/section7-icon3.png',
                    title:'尖端醫療',
                    desc:'內視鏡、手術儀器、<br class="for_pc">心臟支架、影像檢測設備',
                    tag:'#佳能  #奧林巴斯  #歐姆龍'
                }
            ],
            fundInfoList: {
                    TYPE:'股票型',
                    ADMIN_RATE_DESC:'A 類型：1.68%',
                    STORAGE_RATE:'每年 0.18%',
                    RISK_CLASS_P:'RR4',
                    CRNCY_NM:'新臺幣級別',
                    BANK_HQ_NAME:'永豐銀行',
                    fundManagers:'吳昕憓',
                    ALLOT_FEE_RATE:'依銷售機構規定',
                    CYCLE_TYPE:'無收益分配',
                    MINI_AMOUNT:'A 類型：單筆申購新臺幣 1 萬元',
                    PAY_DAY:'買回申請日 ( T 日 ) 之次一營業日起 8 個營業日內 ( 實際付款日為 T+6 )',
                    BUY_DAY:'自成立之日起90日後 (日曆日)',
                    DOC_URL_A:'./asset/DM/1234日本龍頭企業基金-公開說明書.pdf',
                    DOC_URL_B:'./asset/DM/1234日本龍頭企業基金-簡式公開說明書.pdf',
                    DOC_URL_C:'./asset/DM/元大日本龍頭企業基金DM.pdf',
                    DOC_URL_D:'./asset/DM/元大日本龍頭企業基金_受益權單位申請書.pdf',

            }

        }
      },
      computed: {
          lightbox() {
              return [
                  'lightbox',
                  { 'show': this.showBank }
              ]
          },
          allotBoxClass(){
            return [
                'allotBox',
                {'d-none' : !this.showAllotList}
            ]
          }
      },
      mounted() {
        document.addEventListener('click', this.closeAllotList);
      },
      methods: {
            scrollTo(val) {
                let headerH = (window.screen.width >= 576)? 60 : 50
                const top =  this.$refs[val].offsetTop - headerH
                window.scroll({
                    top: top,
                    left: 0,
                    behavior: 'smooth'
                })
            },
            goodTabsClass(val) {
                return [
                    { 'active': this.activeGood == val }
                ]
            },
            openLbox(val) {
                this[val] = true
                document.body.style.overflow = 'hidden'
            },
            closeLbox(val) {
                this[val] = false
                document.body.style.overflow = 'auto'
            },
            switchGoodTabs(id) {
                this.activeGood = id
            },
            openAllot() {
                this.showAllotList = true
            },
            closeAllotList(e) {
                const list = this.$refs.allotList
                const apply = document.querySelector('#btn-sidebtn-trade')

                if(!list.contains(e.target) && !apply.contains(e.target)) {
                    this.showAllotList = false
                }
            }
      }
      })
    </script>

</body>
</html>