* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: '微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
a,a:hover,a:active,a:visited {display: inline-block; color: #005bac; text-decoration: none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color:#333333; padding-top: 80px; font-size: 12px; background: #feefd4 url("../images/kv_bg_line.png") center top repeat-y; background-size: 100% auto;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}

/* kv */
.kv_container{width: 100%;}
.kv{width: 100%; max-width: 1920px; margin: 0 auto; height: 0; padding-bottom: 40.36458%; background: url("../images/kv_bg.png") center top no-repeat; background-size: 100% auto; position: relative;}
.kv .cloudL{width: 19%; position: absolute; left: 3%; top: 20%;
    -webkit-animation-name: float;
            animation-name: float;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;}
.kv .cloudL img{
      -webkit-animation-name: cloud;
              animation-name: cloud;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;}
.kv .cloudR{width: 19%; position: absolute; right: 3%; top: 18%;
    -webkit-animation-name: float;
            animation-name: float;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;}
.kv .cloudR img{
      -webkit-animation-name: cloud;
              animation-name: cloud;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-delay: -5s;
              animation-delay: -5s;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
.kv .title{width: 50%; margin: 0 auto; padding-top: 1.5%;}
.kv .title .kv_tit{width: 100%;}
.kv .title .kv_subtit{width: 80%; margin: 0 auto;}
.kv .peopleAll{width: 56%; position: absolute; bottom: 0; left: 22%;}
.kv .peopleAll .people{width: 100%; position: relative;}
.kv .peopleAll .girlflag{width: 40%; position: absolute; left: -12%; top: -17%; -webkit-animation: sway 1.5s infinite ease-in-out; animation: sway 1.5s infinite ease-in-out; transform-origin: right bottom;}
.kv .peopleAll .girlphone{width: 19%; position: absolute; left: 15%; top: -4%; -webkit-animation: sway 1.5s infinite ease-in-out; animation: sway 1.5s infinite ease-in-out; transform-origin: right bottom;}
.kv .peopleAll .boyphone{width: 22%; position: absolute; left: 38.5%; top: -18%; -webkit-animation: sway 1.5s infinite ease-in-out; animation: sway 1.5s infinite ease-in-out; transform-origin: right bottom;}
.kv .kv_logo{width: 26%; position: absolute; bottom: -7%; left: 37%;}
.mobOnly{display: none;}
/* content */
.content_container{ width: 100%; margin: 5% auto; background: url("../images/ribbon.png") center top no-repeat; background-size: 100% auto; color: #333333;}
.content{width: 100%; max-width: 1400px; margin: 0 auto; text-align: center; line-height: 1.8;}
/* event */
.event{width: 80%; margin: 8% auto; padding: 3% 5%; background: #ffffff; border: solid 2px #544a36; border-radius: 25px; box-shadow: 0 6px #a2cfe9; position: relative;}
.event_tit{margin: 2% auto;}
.event_tit img{display: inline-block; width: 50px; margin-right: 10px;}
.event_tit span{display: inline-block; font-size: 28px; line-height: 1.6; font-weight: 700; color: #005bab; border-bottom: 2px solid #005bab; vertical-align: middle;}
.event_txt{font-size: 20px;}
.event_txt .stxt{color: #666666; font-size: 16px; font-weight: normal;}
.tt_blue{color: #2178e0; font-weight: 700;}
.tt_red{color: #ff4600; font-weight: 700;}
.s_line{width: 70%; margin: 4% auto;}
.duduAll{width: 25%; position: absolute; top: 25%; left: -7%;}
.duduAll .dudu{width: 100%; position: relative; -webkit-animation: move 2s infinite ease-in-out; animation: move 2s infinite ease-in-out;}
.duduAll .shadow{width: 50%; position: absolute; left: 5%; bottom: -15%; -webkit-animation: shadow 2s infinite ease-in-out; animation: shadow 2s infinite ease-in-out;}
.birdAll{width: 10%; position: absolute; top: 10%; left: 85%;}
.birdAll .bird{width: 100%; position: relative; -webkit-animation: move 1.5s infinite ease-in-out; animation: move 1.5s infinite ease-in-out;}
.birdAll .shadow{width: 50%; position: absolute; left: 30%; bottom: -23%; -webkit-animation: shadow 1.5s infinite ease-in-out; animation: shadow 1.5s infinite ease-in-out;}
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;padding:3% 0 5%;}
.action-item{-webkit-flex:0 1 270px;flex:0 1 270px;max-width:270px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:25px;}
.btn{position:relative;display:block;border-radius:45px;cursor:pointer;}
.btn::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;display:block;border-radius:45px;-webkit-transform:translateY(6px);transform:translateY(6px);}
.btn img{position:relative;width:100%;z-index:1;transition:.2s;}
.btn.red::after{background-color:#c83c07;}
.btn.blue::after{background-color:#005bab;}
.btn:hover img{-webkit-transform:translateY(6px);transform:translateY(6px);}
/* pluspay */
.pluspay{}
.account{padding:3% 6%;}
.step{position:relative;display:-webkit-flex;display:flex;}
.step-title{position:absolute;top:4%;right:4%;width:100%;max-width:58%;}
.step-title img{width:100%;}
.step-img{-webkit-flex:0 0 auto;flex:0 0 auto;max-width:32%; margin-top: 15px;}
.step-img img{width:100%;}
.step-content{-webkit-flex:1;flex:1;margin:10% 0 0 6%;}
.step-content .subTitle{max-width:624px;padding-top:80px;}
.step-content .subTitle img{width:80%;}
.stepList{display:-webkit-flex;display:flex;margin-top:10px;}
.stepList-num{-webkit-flex:0 0 40px;flex:0 0 40px;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;background-color:#fa723f;}
.stepList-num img{width:24px}
.stepList-text{-webkit-flex:1;flex:1;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;box-sizing:border-box;min-height:74px;padding:12px 10px;font-size:18px;font-weight:400;line-height:1.4;color:#1e334e;background-color:#fdede4; text-align: left;}
.stepList-text p{width:100%;}
.stepList-num-w,.stepList-text-w{background-color: #ffffff;}
.moreInfo{text-align:center;margin-top: 5%;}
.moreInfo a{display:inline-block;font-size:22px; font-weight:bold;line-height:1.75;color:#007fe0;text-decoration:none;border-bottom:1px solid #007fe0;}
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;margin:5% 0 2%;}
.action-item{-webkit-flex:0 1 300px;flex:0 1 300px;max-width:300px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:37px;}/* notice */
.notice_container{}
.notice{width: 100%; max-width: 1400px; margin: 0 auto; font-size: 15px; line-height: 2; padding: 0 5% 2%; text-align: justify;}
.notice_tit{font-size: 20px; font-weight: bold; text-align: center}
.notice_all{padding: 2%;}
.notice_all a{text-decoration: underline;}
.notice_all ul{margin:0;padding-left:30px;list-style-type:decimal;}
.notice_all ul>li{margin-bottom: 2%;}
.notice_all ul>li>ol{list-style-type:none;padding-left:22px}
.notice_all ul>li>ol>li{position:relative;counter-increment:section}
.notice_all ul>li>ol>li::before{content:"(" counter(section,decimal) ")";position:absolute;top:0;left:-5px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}

#contTab{display: none;}
.content-more{display: none;
}
#contTab:checked ~ #cont{
    max-height: 180px;
    overflow: hidden;
}
#contTab:checked ~  .content-more{
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
#contTab:checked ~  .content-more .gradient{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(254,239,212,0)),to(#ebf4f7));
    background-image: -webkit-linear-gradient(top,rgba(254,239,212,0),#ebf4f7);
    background-image: linear-gradient(-180deg,rgba(254,239,212,0),#ebf4f7);
    height: 90px;
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
}
#contTab:checked ~  .content-more .readmore{
    display: inline-block;
    background: #2178e0;
    color: #ffffff;
    width: 175px;
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
	transition: 0.3s;
}
#contTab:checked ~  .content-more .readmore:hover{opacity: 1}
@media screen and (max-width: 1400px) {
/* content */
.content_container{margin: 10% auto 8%;}
/* kv */
.kv{width: 100%; max-width: 1400px; margin: 0 auto; height: 0; padding-bottom: 55.357143%; background: url("../images/kv_bg-1400.png") center top no-repeat; background-size: 100% auto;}
.kv .cloudL{width: 25%; left: -12%; top: 21%;}
.kv .cloudR{width: 25%; right: -11%; top: 18%;}
.kv .title{width: 65%; margin: 0 auto; padding-top: 2%;}
.kv .peopleAll{width: 78%; left: 11%;}
.kv .kv_logo{width: 38%; bottom: -8%; left: 31%;}
}
@media screen and (max-width: 1024px) {
.main{padding-top: 76px;}
/* content */
.event{width: 88%; padding: 5%;}
}
@media screen and (max-width: 960px) {
.main{background: #feefd4 url("../images/kv_bg_line_m.png") center top repeat-y; background-size: 100% auto;}
/* content */
.content{width: 100%; max-width: 960px;}
/* event */
.event{width: 86%; padding: 5% 8%;}
.event_tit{margin: 6% auto;}
.s_line{width: 100%; margin: 8% auto;}
.dudubirdAll{width: 85%; height: 0; padding-bottom: 80%; margin: 0 auto; position: relative;}
.dudubirdAll .duduAll{width: 86%; position: absolute; top: 5%; left: 0;}
.dudubirdAll .duduAll .dudu{width: 100%; position: relative; -webkit-animation: move 2s infinite ease-in-out; animation: move 2s infinite ease-in-out;}
.dudubirdAll .duduAll .shadow{width: 50%; position: absolute; left: 5%; bottom: -15%; -webkit-animation: shadow 2s infinite ease-in-out; animation: shadow 2s infinite ease-in-out;}
.dudubirdAll .birdAll{width: 30%; position: absolute; top: 62%; left: 73%;}
.dudubirdAll .birdAll .bird{width: 100%; position: relative; -webkit-animation: move 1.5s infinite ease-in-out; animation: move 1.5s infinite ease-in-out;}
.dudubirdAll .birdAll .shadow{width: 50%; position: absolute; left: 30%; bottom: -23%; -webkit-animation: shadow 1.5s infinite ease-in-out; animation: shadow 1.5s infinite ease-in-out;}
.action{padding:10% 0;}
/* pluspay */
.step{display:block;max-width:746px;margin:25px auto;}
.step-title{position:static;box-sizing:border-box;max-width:637px;margin:auto;}
.step-img{box-sizing:border-box;max-width:300px;margin:40px auto 20px;}
.step-img img{width:80%;margin:0 auto;}
.step-content{margin-top:40px;margin:10% 0 0;}
.step-content .subTitle{max-width:541px;margin:auto;padding-top:0;padding-bottom:5px;padding-right:0;}
.step-content .subTitle img{width:100%;margin:auto;}
}
@media screen and (max-width:767px) {
.main{padding-top: 58px;}
/* content */
.content_container{margin: 18% auto 10%; background: none;}
/* kv */
.kv{width: 100%; height: 0; padding-bottom: 126%; margin: 0 auto; background: url("../images/kv_bg_m.png") center top no-repeat; background-size: 100% auto;}
.kv .cloudL,
.kv .cloudR{display: none;}
.kv .title{width: 92%; padding-top: 5%;}
.kv .title .kv_subtit{width: 65%; padding-top: 3%;}
.kv .peopleAll{width: 110%; left: -5%;}
.kv .kv_logo{width: 70%; bottom: -7%; left: 15%;}
.webOnly{display: none;}
.mobOnly{display: block;}
/* content */
.event_txt{text-align: justify;}
.event_date{text-align: center;}
.action{display:block;padding:10% 0;}
.action-item{max-width:300px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
/* pluspay */
.step{max-width:400px;margin:15px auto;}
.step-img{margin:30px auto}
.step-content{margin-top:20px;}
.stepList{margin-top:10px;}
.stepList-num{-webkit-flex:0 0 34px;flex:0 0 34px;}
.stepList-num img{width:18px}
.stepList-text{min-height:45px;padding:8px 4px;font-size:14px;}
.stepList-text p{padding-bottom: 0;}
.moreInfo a{font-size:16px;}
/* notice */
.notice_all ul{font-size:14px;padding-left:20px}
#contTab:checked ~ #cont{
    max-height: 48vw;
    overflow: hidden;
}
#contTab:checked ~  .content-more .readmore{
	width: 65vw;
	height: 8vw;
    border-radius: 4vw;
    line-height: 8vw;
    font-size: 1em;
}
}
@media screen and (max-width:500px) {
/* content */
/* event */
.event{width: 86%; padding: 7%;}
.event_tit img{width: 44px; margin-right: 10px;}
.event_tit span{font-size: 22px;}
.event_txt{font-size: 17px; padding: 0 4%;}
.event_txt .stxt{font-size: 14px;}
.s_line{width: 100%; margin: 10% auto;}
.action-item{max-width:220px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
.btn::after{-webkit-transform:translateY(4px);transform:translateY(4px);}
.btn:hover img{-webkit-transform:none;transform:none;}
/* notice */
.notice{padding: 0 5% 8%;}
}

/* animation */
@keyframes sway{
0%,100% {transform:rotate(-3deg);}
    50% {transform:rotate(3deg);}
}
@keyframes move{
  0%,100%{-webkit-transform:translate(0,0);transform:translate(0,0);}
      50%{-webkit-transform:translate(0,7%);transform:translate(0,7%);}
}
@keyframes shadow{
  0%,100%{-webkit-transform:scaleX(.5);transform:scaleX(.5);}
      50%{-webkit-transform:scaleX(1);transform:scaleX(1);}
}
@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%); }
  100% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%); } }

@keyframes cloud {
  0% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%); }
  100% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%); } }

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); } }

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); } }