@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Regular.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Medium.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Black.otf") format("opentype");
  font-display: swap; }

html,
body {
  font-family: "Noto Sans TC", sans-serif, Arial, Helvetica;
  font-size: 16px;
  line-height: 1.6;
  color: #58393E; }
  @media only screen and (max-width: 1023px) {
    html.-menuOpen,
    body.-menuOpen {
      overflow: hidden; } }

main {
  overflow: hidden; }

a,
button {
  padding: 0;
  line-height: 1.6;
  border: none;
  outline: none;
  background: none;
  cursor: pointer; }

.footer a {
  color: #FFF; }

.-fadeIn {
  opacity: 0; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow: hidden; }

.main {
  margin-top: 80px; }
  .main p {
    padding: 0; }
  @media only screen and (max-width: 1023px) {
    .main {
      margin-top: 76px; } }
  @media only screen and (max-width: 767px) {
    .main {
      margin-top: 58px; } }

.service {
  position: fixed;
  right: 20px;
  bottom: 84px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: url(../images/icon/yuan.svg);
  cursor: pointer;
  z-index: 50;
  transition: .3s; }
  .service-box {
    position: absolute;
    bottom: calc(100% + 10px);
    right: 0;
    display: none;
    flex-direction: column;
    width: 186px;
    padding: 8px;
    font-size: 12px;
    color: #0072ff;
    line-height: 1.6;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
    background: #fff;
    z-index: 10; }
    .service-box span {
      color: #707070; }
  @media only screen and (min-width: 768px) {
    .service:hover .service-box {
      display: flex; } }
  @media only screen and (max-width: 1279px) {
    .service {
      right: 12px; } }
  @media only screen and (max-width: 767px) {
    .service {
      bottom: 108px;
      width: 43px;
      height: 43px; } }

.goTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: url(../images/icon/top.svg);
  opacity: 1;
  cursor: pointer;
  z-index: 50;
  transition: .3s; }
  .goTop:hover {
    opacity: .7; }
  @media only screen and (max-width: 1279px) {
    .goTop {
      right: 12px; } }
  @media only screen and (max-width: 767px) {
    .goTop {
      bottom: 56px;
      width: 43px;
      height: 43px; } }

.float {
  position: fixed;
  top: 160px;
  right: 20px;
  width: 50px;
  z-index: 50; }
  .float-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #005BAC; }
    .float-item img {
      width: 22px; }
    .float-item div {
      color: #FFF;
      letter-spacing: 1px;
      -webkit-writing-mode: vertical-lr;
          -ms-writing-mode: tb-lr;
              writing-mode: vertical-lr; }
    .float-item.-pk {
      margin-top: 10px;
      background-color: #F94B4B; }
    .float-item.-rd {
      margin-top: 10px;
      background-color: #D93636; }
  @media only screen and (min-width: 1024px) {
    .float-item {
      transition: .3s; }
      .float-item:hover {
        transform: scale(1.05); } }
  @media only screen and (max-width: 1279px) {
    .float {
      right: 12px;
      width: 40px; }
      .float-item {
        padding: 15px 10px; }
        .float-item img {
          width: 18px; } }
  @media only screen and (max-width: 767px) {
    .float {
      display: flex;
      width: 100%;
      top: auto;
      bottom: 0;
      right: 0; }
      .float-item {
        flex: 1;
        flex-direction: row;
        justify-content: center;
        padding: 12px;
        border-radius: 0; }
        .float-item div {
          -webkit-writing-mode: initial;
              -ms-writing-mode: initial;
                  writing-mode: initial; }
        .float-item.-rd, .float-item.-pk {
          margin-top: 0; } }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Regular.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Medium.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Bold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url("https://www.yuantabank.com.tw/bankwebIMG/event/fonts/NotoSansTC-Black.otf") format("opentype");
  font-display: swap; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  background: white url(../images/header/header_bg.png) no-repeat center right/contain;
  z-index: 100; }
  .header-logo {
    flex: 1;
    display: block; }
    .header-logo a {
      display: block;
      width: 308px; }
    .header-logo img {
      width: 100%; }
  .header-nav {
    flex: 0 0 auto;
    box-sizing: border-box;
    display: flex;
    padding: 0 20px;
    font-size: 18px;
    color: #58393E; }
    .header-nav a {
      color: #58393E;
      text-decoration: none; }
    .header-nav span {
      margin: 0 14px; }
  .header-plusLogo {
    flex: 0 0 auto;
    width: 130px;
    height: 39px;
    margin-left: 30px;
    background: url(../images/header/yuantaplus_logo.svg) no-repeat center/contain; }
  .header-burger {
    flex: 0 0 auto;
    display: none; }
  @media only screen and (max-width: 1279px) {
    .header-logo a {
      width: 270px; }
    .header-nav {
      font-size: 16px;
      padding: 0 12px; }
      .header-nav span {
        margin: 0 5px; }
    .header-plusLogo {
      width: 106px;
      margin-left: 5px; } }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 16px;
      height: 68px;
      background-position: center right -100px; }
      .header-logo a {
        width: 240px; }
      .header-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 180px 50px 50px;
        flex-direction: column;
        font-size: 20px;
        text-align: center;
        background-color: #FFF;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
        z-index: 5; }
        .header-nav a {
          padding: 20px;
          border-top: 1px solid #58393E; }
          .header-nav a:first-child {
            border-top: none; }
        .header-nav span {
          display: none; }
        .-menuOpen .header-nav {
          opacity: 1;
          pointer-events: visible; }
      .header-plusLogo {
        display: none; }
      .header-burger {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        background: url(../images/header/burger.svg) no-repeat center/contain;
        z-index: 10; }
        .-menuOpen .header-burger {
          background-image: url(../images/header/cross.svg); } }
  @media only screen and (max-width: 767px) {
    .header {
      height: 59.5px; }
      .header-logo a {
        width: 190px; } }

.main {
  background-color: #FFE9C5; }
  @media only screen and (max-width: 1023px) {
    .main {
      margin-top: 68px; } }
  @media only screen and (max-width: 767px) {
    .main {
      margin-top: 60px; } }

@-webkit-keyframes float {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(15%); } }

@keyframes float {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(15%); } }

@-webkit-keyframes fly {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(10deg); } }

@keyframes fly {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(10deg); } }

@-webkit-keyframes flySm {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(5deg); } }

@keyframes flySm {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(5deg); } }

@-webkit-keyframes shine {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes shine {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes swing {
  0% {
    transform: translateX(-50%) skewX(-1.8deg); }
  100% {
    transform: translateX(-50%) skewX(1.8deg); } }

@keyframes swing {
  0% {
    transform: translateX(-50%) skewX(-1.8deg); }
  100% {
    transform: translateX(-50%) skewX(1.8deg); } }

@-webkit-keyframes jump {
  0% {
    transform: scaleY(1.03) skewX(-1.5deg); }
  50% {
    transform: scaleY(1) skewX(0deg); }
  100% {
    transform: scaleY(1.03) skewX(1.5deg); } }

@keyframes jump {
  0% {
    transform: scaleY(1.03) skewX(-1.5deg); }
  50% {
    transform: scaleY(1) skewX(0deg); }
  100% {
    transform: scaleY(1.03) skewX(1.5deg); } }

@-webkit-keyframes roll {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes roll {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes scale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.93); } }

@keyframes scale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.93); } }

@-webkit-keyframes wave {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(8deg); } }

@keyframes wave {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(8deg); } }

.banner {
  position: relative;
  padding-bottom: 635px; }
  .banner img.-mb {
    display: none; }
  .banner-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%; }
    .banner-bg img {
      width: auto;
      height: 100%; }
  .banner-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1060px;
    height: 100%;
    font-size: 0;
    z-index: 1; }
    .banner-wrap div {
      position: absolute; }
    .banner-wrap img {
      width: 100%; }
  .banner-title {
    top: 10.55118%;
    left: 4.15094%;
    width: 43.96226%; }
  .banner-tFlower {
    top: 0;
    left: 39.69957%;
    width: 10.08584%;
    -webkit-animation: roll 5s linear infinite;
            animation: roll 5s linear infinite; }
  .banner-tCoin {
    top: 30.65903%;
    right: 8.58369%;
    width: 6.86695%;
    -webkit-animation: roll 4s linear infinite;
            animation: roll 4s linear infinite; }
  .banner-pay {
    top: -8.02292%;
    left: -9.87124%;
    width: 36.48069%;
    transform-origin: bottom right;
    animation: scale 1s ease-in-out infinite alternate-reverse; }
  .banner-main {
    top: 8.97638%;
    right: 0;
    width: 56.60377%; }
    .banner-main::after {
      content: '';
      position: absolute;
      top: 22%;
      right: 8.16667%;
      width: 71.5%;
      height: 28.72727%;
      background: url(../images/banner/shine.svg) no-repeat center/contain;
      -webkit-animation: shine 1s ease-in-out infinite alternate;
              animation: shine 1s ease-in-out infinite alternate; }
  .banner-lantern {
    position: absolute;
    top: -7px;
    left: 106px;
    width: 154px;
    transform-origin: top left;
    -webkit-animation: fly 3s ease-in-out infinite alternate;
            animation: fly 3s ease-in-out infinite alternate; }
  .banner-coin {
    -webkit-animation: float 1.5s ease-in-out infinite alternate;
            animation: float 1.5s ease-in-out infinite alternate; }
    .banner-coin.-c1 {
      position: absolute;
      left: calc(50% - 640px);
      top: 381px;
      width: 113px;
      -webkit-animation-delay: -1.5s;
              animation-delay: -1.5s; }
    .banner-coin.-c2 {
      position: absolute;
      right: calc(50% - 820px);
      top: 528px;
      width: 89px;
      -webkit-animation-delay: -0.5s;
              animation-delay: -0.5s; }
    .banner-coin.-c3 {
      position: absolute;
      top: 534px;
      left: 0;
      width: 63px;
      -webkit-animation-delay: -0.5s;
              animation-delay: -0.5s; }
    .banner-coin.-c4 {
      top: 25.98425%;
      right: -9.43396%;
      width: 10.66038%;
      -webkit-animation-delay: -1s;
              animation-delay: -1s; }
    .banner-coin.-c5 {
      top: 77.95276%;
      left: 18.20755%;
      width: 10.09434%; }
  @media only screen and (min-width: 1921px) {
    .banner-bg {
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto; }
      .banner-bg img {
        width: 100%;
        height: auto; }
        .banner-bg img.-mb {
          display: none; } }
  @media only screen and (max-width: 1440px) {
    .banner-lantern {
      left: 0; } }
  @media only screen and (max-width: 1059px) {
    .banner {
      padding-bottom: 59.90566%; } }
  @media only screen and (max-width: 1279px) {
    .banner-lantern, .banner-coin.-c3 {
      display: none; } }
  @media only screen and (max-width: 767px) {
    .banner {
      padding-bottom: 160%; }
      .banner img.-pc {
        display: none; }
      .banner img.-mb {
        display: block; }
      .banner-lantern, .banner-coin.-c3, .banner-coin.-c2, .banner-coin.-c5 {
        display: none; }
      .banner-title {
        top: 6.66667%;
        left: 11.2%;
        width: 77.33333%; }
      .banner-tFlower {
        left: 39.65517%; }
      .banner-tCoin {
        top: 28.15126%;
        right: 8.62069%; }
      .banner-main {
        top: 49.16667%;
        right: 10.66667%;
        width: 77.33333%; }
      .banner-coin.-c1 {
        top: 69.66667%;
        left: 6.13333%;
        width: 13.06667%; }
      .banner-coin.-c4 {
        top: 63.66667%;
        right: -2.4%;
        width: 16.26667%;
        -webkit-animation-delay: -1s;
                animation-delay: -1s; } }

.link {
  color: #007fe0 !important; }

.btn {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  background-color: #D93636;
  cursor: pointer;
  transition: .3s; }
  .btn::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    border: 1px solid #FFE9C5;
    transition: .3s; }
  .btn:hover {
    color: #D93636;
    background-color: #FFE9C5; }
    .btn:hover::after {
      border-color: #D93636; }
  .btn.-sm {
    width: 170px; }
  .btn.-hoverBg:hover {
    color: #fff;
    background-color: #58393E; }
    .btn.-hoverBg:hover::after {
      border-color: #FFE9C5; }
  @media only screen and (max-width: 1279px) {
    .btn {
      width: 162px;
      height: 44px;
      font-size: 15px; }
      .btn::after {
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px; }
      .btn.-sm {
        width: 132px; } }

.anchor {
  transform: translateY(-80px); }
  @media only screen and (max-width: 1023px) {
    .anchor {
      transform: translateY(-68px); } }
  @media only screen and (max-width: 767px) {
    .anchor {
      transform: translateY(-60px); } }

.swiper-pagination {
  position: static;
  margin-top: 30px;
  line-height: 0; }

.swiper .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 7px;
  background-color: #D9D9D9;
  opacity: 1; }
  .swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #D93636; }

.block {
  position: relative;
  text-align: center;
  background: url(../images/bg/cloud.svg) no-repeat center/1969px; }
  .block::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 1938px;
    height: 360px;
    background: url(../images/bg/bg-cloud.svg) no-repeat top center/cover; }
  .block-wrap {
    position: relative;
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 40px;
    z-index: 1; }
  .block-desc {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #D93636; }
  .block-title {
    margin-bottom: 50px;
    text-align: center; }
    .block-title img {
      width: 1055px;
      max-width: 100%; }
  .block-action {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px; }
  .block-note {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px; }
  .block:not(.-cloud) + .block:not(.-cloud):not(.-s42) {
    margin-top: 340px; }
  .block.-gift {
    padding-top: 40px; }
    .block.-gift::before {
      content: none; }
  .block.-cloud {
    padding: 340px 0;
    background: url(../images/bg/fireworks.svg) no-repeat center/1730px, url(../images/bg/section.png) no-repeat top center/1930px; }
    .block.-cloud::before {
      content: none; }
  .block.-s1::after {
    content: '';
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 2044px;
    height: 378px;
    background: url(../images/bg/lanterns.svg) no-repeat center/contain;
    transform-origin: top center;
    -webkit-animation: swing 1.5s linear infinite alternate;
            animation: swing 1.5s linear infinite alternate; }
  .block.-s2::after {
    content: '';
    position: absolute;
    top: -240px;
    right: calc(50% - 460px);
    width: 150px;
    height: 122px;
    background: url(../images/bg/snake.svg) no-repeat center/contain;
    transform-origin: bottom center;
    -webkit-animation: jump 1s linear infinite alternate;
            animation: jump 1s linear infinite alternate; }
  .block.-s3::after {
    content: '';
    position: absolute;
    top: 10px;
    left: calc(50% - 720px);
    width: 343px;
    height: 299px;
    background: url(../images/bg/god.svg) no-repeat center/contain;
    transform-origin: bottom center;
    -webkit-animation: jump 1s linear infinite alternate;
            animation: jump 1s linear infinite alternate; }
  .block.-s4::after {
    content: '';
    position: absolute;
    top: -260px;
    right: calc(50% - 340px);
    width: 173px;
    height: 145px;
    background: url(../images/bg/snake-pay.svg) no-repeat center/contain;
    transform-origin: bottom center;
    -webkit-animation: jump 1s linear infinite alternate;
            animation: jump 1s linear infinite alternate; }
  .block.-s42 {
    margin-top: 127px; }
    .block.-s42::before {
      content: none; }
  .block.-s42 .block-wrap {
    padding: 0 20px; }
  .block.-s6 {
    padding-bottom: 60px; }
    .block.-s6::after {
      content: '';
      position: absolute;
      top: -215px;
      left: calc(50% - 645px);
      width: 220px;
      height: 363px;
      background: url(../images/bg/firecracker.svg) no-repeat center/contain;
      transform-origin: top center;
      -webkit-animation: fly 3s ease-in-out infinite alternate;
              animation: fly 3s ease-in-out infinite alternate; }
    .block.-s6.-cloud::after {
      top: 150px; }
  .block.-notice {
    padding-bottom: 60px; }
    .block.-notice::before {
      content: none; }
  @media only screen and (min-width: 1921px) {
    .block.-cloud {
      background: url(../images/bg/fireworks.svg) no-repeat center/1730px, url(../images/bg/section.png) no-repeat top center/100%; } }
  @media only screen and (max-width: 1279px) {
    .block::before {
      min-width: 1300px;
      height: 242px; }
    .block-desc {
      font-size: 20px; }
    .block-title {
      margin-bottom: 30px; }
      .block-title img {
        width: 100%;
        max-width: 680px; }
    .block-action {
      gap: 20px;
      margin-top: 30px; }
    .block-note {
      font-size: 13px; }
    .block:not(.-cloud) + .block:not(.-cloud):not(.-s42) {
      margin-top: 220px; }
    .block.-cloud {
      margin-top: -40px;
      padding: 220px 0 180px;
      background: url(../images/bg/section.png) no-repeat top center/1300px; }
    .block.-s3::after {
      left: 10px;
      width: 200px;
      height: 174px; }
    .block.-s4::after {
      right: calc(50% - 440px); }
    .block.-s6 {
      padding-bottom: 60px; }
      .block.-s6::after {
        top: -140px;
        left: calc(50% - 420px);
        width: 120px;
        height: 198px; }
      .block.-s6.-cloud::after {
        top: 100px; } }
  @media only screen and (max-width: 1023px) {
    .block-wrap {
      padding: 0 20px; }
    .block-title {
      margin: 0 -10px 30px; }
      .block-title img {
        width: 100%;
        max-width: 440px; }
    .block-action {
      gap: 10px; }
    .block.-s2::after {
      top: -110px;
      right: 38px;
      width: 74px;
      height: 60px; }
    .block.-s3::after {
      content: none; }
    .block.-s4::after {
      top: -110px;
      right: 40px;
      width: 72px;
      height: 60px; }
    .block.-s42 {
      margin-top: 90px; } }
  @media only screen and (max-width: 767px) {
    .block::before {
      min-width: 768px;
      height: 143px; }
    .block-desc {
      margin-bottom: 30px; }
    .block-note {
      text-align: left; }
    .block:not(.-cloud) + .block:not(.-cloud):not(.-s42) {
      margin-top: 160px; }
    .block.-cloud {
      margin-top: 0;
      padding: 160px 0 140px;
      background-size: 768px; }
    .block.-s42 .block-wrap {
      padding: 0 10px; }
    .block.-s6 {
      padding-bottom: 60px; }
      .block.-s6::after {
        content: none; } }

.gift {
  text-align: center; }
  .gift + .gift {
    margin-top: 30px; }
  .gift-title {
    margin-bottom: 10px; }
    .gift-title img {
      width: 598px;
      max-width: 100%; }
  .gift-link a {
    font-size: 16px;
    font-weight: 700;
    color: #58393E; }
    .gift-link a span {
      text-decoration: underline;
      text-underline-offset: 3px; }
  .gift-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px 36px;
    margin-top: 20px; }
  @media only screen and (max-width: 1279px) {
    .gift-title img {
      width: 100%;
      max-width: 480px; }
    .gift-link a {
      font-size: 14px; }
      .gift-link a span {
        text-underline-offset: 2px; } }
  @media only screen and (max-width: 1023px) {
    .gift + .gift {
      margin-top: 40px; }
    .gift-grid {
      gap: 10px;
      margin-top: 15px; } }

.info {
  text-align: center; }
  .info-num img {
    width: 185px; }
  .info-title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold; }
  .info-pic {
    margin: 30px 0; }
    .info-pic svg {
      height: 175px; }
      .info-pic svg #bgPattern-left {
        -webkit-animation: scale 1s ease-in infinite alternate;
                animation: scale 1s ease-in infinite alternate;
        transform-origin: 70px 88px; }
      .info-pic svg #bgPattern-right {
        -webkit-animation: scale 1s ease-in infinite alternate;
                animation: scale 1s ease-in infinite alternate;
        transform-origin: 210px 88px; }
      .info-pic svg #phone {
        -webkit-animation: wave 1s ease-in infinite alternate;
                animation: wave 1s ease-in infinite alternate;
        transform-origin: 57px 94px; }
    .info-pic.-sm svg {
      height: 200px; }
  .info-text {
    font-size: 18px; }
  .info-highlight {
    font-size: 28px;
    font-weight: bold;
    color: #D93636; }
    .info-highlight p {
      font-size: 16px;
      font-weight: normal; }
  .info-note {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #FEF7E0; }
    .info-note a {
      color: #58393E; }
  .info-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px; }
  @media only screen and (max-width: 1279px) {
    .info-num img {
      width: 120px; }
    .info-title {
      margin-top: 10px;
      font-size: 19px; }
    .info-pic {
      margin: 10px 0; }
      .info-pic svg {
        height: 125px; }
      .info-pic.-sm svg {
        height: 130px; }
    .info-text {
      font-size: 16px; }
    .info-highlight {
      font-size: 24px; }
      .info-highlight p {
        font-size: 14px; }
    .info-note {
      margin-top: 10px;
      font-size: 14px; }
    .info-action {
      justify-content: center;
      flex-direction: row;
      gap: 10px;
      margin-top: 10px; }
      .info-action .btn {
        flex: 0 1 auto; } }

.pays {
  margin-top: 20px;
  text-align: center; }
  .pays-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: #382618; }
  .pays-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; }
    .pays-logos img {
      width: 70px; }
    .pays-logos a {
      transition: .3s; }
      .pays-logos a:hover {
        transform: scale(1.2); }
  @media only screen and (max-width: 1279px) {
    .pays {
      padding: 0 10px; }
      .pays-title {
        font-size: 16px; }
      .pays-logos {
        flex-wrap: wrap; }
        .pays-logos img {
          width: 60px; } }

.mbpay {
  overflow: hidden; }
  .mbpay-item {
    max-width: 220px;
    margin: 0 auto;
    text-align: center; }
  .mbpay-name {
    margin-top: 20px;
    font-size: 18px; }
  .mbpay-title {
    font-size: 24px;
    font-weight: 700;
    color: #D93636; }
  .mbpay-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px; }
  .mbpay .swiper-pagination {
    margin-top: 20px; }
  @media only screen and (max-width: 1279px) {
    .mbpay-item {
      max-width: 170px; /*20250114*/}
    .mbpay-name {
      margin-top: 10px;
      font-size: 13px; /*20250114*/}
    .mbpay-title {
      font-size: 17px; /*20250114*/}
    .mbpay-action {
      gap: 10px;
      margin-top: 10px; } }
  @media only screen and (min-width: 768px) {
    .mbpay {
      max-width: 735px;
      margin: 0 auto; }
      .mbpay .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px 45px;
        transform: none !important; }
      .mbpay .swiper-slide {
        flex: 1 1 auto;
        width: auto !important;
        max-width: 220px;
        min-width: 150px; }
        .mbpay .swiper-slide-duplicate {
          display: none; }
      .mbpay .swiper-pagination {
        display: none; } }
  @media only screen and (min-width: 1280px) {
    .mbpay {
      max-width: 1015px; } }

.icash {
  position: relative;
  padding: 90px 20px 56px; }
  .icash.-grid3 {
    padding: 90px 56px 56px; }
  .icash.-sub {
    padding-top: 0;
    padding-bottom: 0; }
  .icash.-sub .icash-title {
    position: static;
    transform: none;
    margin: 0 auto 42px; }
  .icash-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; }
  .icash-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 736px; }
  @media only screen and (max-width: 1279px) {
    .icash.-grid3 {
      max-width: 800px;
      margin: 0 auto; }
    .icash-title {
      max-width: 560px; } }
  @media only screen and (max-width: 1023px) {
    .icash {
      padding: 70px 20px 42px; }
      .icash.-grid3 {
        padding: 70px 20px 42px; }
      .icash.-sub {
        padding-top: 0;
        padding-bottom: 0; }
      .icash.-sub .icash-title {
        margin-bottom: 30px; }
      .icash-title {
        max-width: 380px; } }
  @media only screen and (max-width: 767px) {
    .icash {
      padding: 70px 10px 42px; }
      .icash.-grid3 {
        padding: 70px 10px 42px; }
      .icash.-sub {
        padding-top: 0;
        padding-bottom: 0; }
      .icash.-sub .icash-title {
        padding: 0; }
        .icash.-sub .icash-title img {
          max-width: 400px; }
      .icash-title {
        padding: 0 35px;
        max-width: none; }
        .icash-title img {
          max-width: 360px; } }

.product {
  overflow: hidden; }
  .product-item {
    text-align: center; }
  .product-pic {
    margin-bottom: 20px;
    padding: 0 20px; }
  .product-text {
    font-size: 18px; }
  .product-title {
    font-size: 28px;
    font-weight: bold;
    color: #D93636; }
  .product-action {
    margin-top: 20px; }
  @media only screen and (max-width: 1279px) {
    .product-pic img {
      max-width: 240px; }
    .product-text {
      font-size: 16px; }
    .product-title {
      font-size: 24px; } }
  @media only screen and (min-width: 768px) {
    .product .swiper-wrapper {
      justify-content: center;
      gap: 30px;
      transform: none !important; }
    .product .swiper-slide {
      flex: 1 1 auto;
      width: auto !important;
      max-width: 302px;
      min-width: 150px; }
      .product .swiper-slide-duplicate {
        display: none; }
    .product .swiper-pagination {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    .product .swiper-wrapper {
      gap: 50px; } }

.new {
  overflow: hidden; }
  .new.swiper {
    width: 100%; }
  .new-item {
    padding: 50px 0; }
  .new-head {
    box-sizing: border-box;
    display: inline-block;
    width: 150px;
    padding: 1.5px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 16px;
    background-color: #D93636; }
  .new-title {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #005BAC; }
  .new-pic {
    margin: 30px 0; }
    .new-pic img {
      width: 140px; }
  .new-text {
    font-size: 18px;
    text-align: left; }
    .new-text b {
      color: #D93636; }
  .new-item.-pk .new-head {
    background-color: #E84F96; }
  .new-item.-pk .new-title {
    color: #E84F96; }
  @media only screen and (max-width: 1279px) {
    .new-item {
      padding: 20px 0; }
    .new-head {
      width: 130px;
      padding: 1px;
      font-size: 17px; }
    .new-title {
      font-size: 23px; }
    .new-pic {
      margin: 20px 0; }
    .new-text {
      font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .new-item {
      padding: 0; } }
  @media only screen and (min-width: 768px) {
    .new .swiper-wrapper {
      justify-content: center;
      gap: 30px;
      transform: none !important; }
    .new .swiper-slide {
      flex: 1;
      height: auto; }
      .new .swiper-slide-duplicate {
        display: none; }
      .new .swiper-slide + .swiper-slide {
        position: relative; }
        .new .swiper-slide + .swiper-slide::before {
          content: '';
          position: absolute;
          top: 0;
          left: -16px;
          width: 2px;
          height: 100%;
          background-color: #D93636; }
    .new .swiper-pagination {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    .new {
      padding: 0 20px; }
      .new.-sub .new-item {
        max-width: 400px;
        margin: 0 auto; }
      .new .swiper-wrapper {
        gap: 60px; }
      .new .swiper-slide + .swiper-slide::before {
        left: -31px; } }

.evenlope {
  position: relative;
  display: block;
  width: 238px;
  text-decoration: none; }
  .evenlope:hover .evenlope-card {
    transform: rotate(-4deg); }
  .evenlope::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 66.55518%;
    background: url(../images/evenlope/evenlope-b.svg) no-repeat center/cover; }
  .evenlope-card {
    position: relative;
    transform-origin: bottom left;
    transition: .3s; }
    .evenlope-card img {
      width: 100%; }
  .evenlope-content {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 46.82274%;
    padding-top: 25.21008%;
    background: url(../images/evenlope/evenlope-f.svg) no-repeat center/cover; }
  .evenlope-title {
    margin-bottom: 6px;
    font-size: 16px;/*20250114*/
    font-weight: 500;
    color: #FEF7E0; }
  .evenlope-btn {
    display: inline-block;
    width: 126px;
    padding: 2px;
    font-size: 17px;
    font-weight: bold;
    color: #D93636;
    border-radius: 6px;
    background: #FEF7E0; }
  @media only screen and (max-width: 1279px) {
    .evenlope {
      width: 160px; }
      .evenlope-title {
        margin-bottom: 1px;
        font-size: 11px; /*20250114*/}
      .evenlope-btn {
        width: 92px;
        padding: 1px;
        font-size: 12px; } }

.panel {
  position: relative;
  padding: 56px;
  border-radius: 10px;
  background-color: #fff; }
  .panel-frame {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    pointer-events: none; }
  .panel-grid {
    display: flex;
    margin: 0 -16px; }
  .panel-item {
    flex: 1;
    padding: 38px 16px; }
    .panel-item + .panel-item {
      border-left: 2px solid #D93636; }
  @media only screen and (max-width: 1279px) {
    .panel {
      padding: 42px 24px;
      border-radius: 6px; }
      .panel-frame {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px; }
      .panel-item {
        padding: 16px; }
        .panel-item + .panel-item {
          border-width: 1px; } }
  @media only screen and (max-width: 1023px) {
    .panel-grid {
      flex-direction: column;
      margin: 0; }
    .panel-item {
      padding: 0; }
      .panel-item + .panel-item {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #D93636;
        border-left: none; } }

.frame {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  .frame > div {
    position: absolute;
    box-sizing: border-box; }
    .frame > div::before, .frame > div::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background: url(../images/bg/frame.svg) no-repeat center/cover; }
    .frame > div:first-child {
      top: 0;
      bottom: 0;
      left: 40px;
      right: 40px;
      border-top: 3px solid #C53824;
      border-bottom: 3px solid #C53824; }
      .frame > div:first-child::before {
        top: -3px;
        left: -40px; }
      .frame > div:first-child::after {
        top: -3px;
        right: -40px;
        transform: rotate(90deg); }
    .frame > div:last-child {
      top: 40px;
      bottom: 40px;
      left: 0;
      right: 0;
      border-left: 3px solid #C53824;
      border-right: 3px solid #C53824; }
      .frame > div:last-child::before {
        bottom: -40px;
        left: -3px;
        transform: rotate(270deg); }
      .frame > div:last-child::after {
        bottom: -40px;
        right: -3px;
        transform: rotate(180deg); }
  .frame.-b > div {
    border-color: #58393E; }
    .frame.-b > div::before, .frame.-b > div::after {
      background-image: url(../images/bg/frame-b.svg); }
  @media only screen and (max-width: 1279px) {
    .frame > div::before, .frame > div::after {
      width: 20px;
      height: 20px;
      background-image: url(../images/bg/frame-mb.svg); }
    .frame > div:first-child {
      left: 20px;
      right: 20px;
      border-width: 2px; }
      .frame > div:first-child::before {
        top: -2px;
        left: -20px; }
      .frame > div:first-child::after {
        top: -2px;
        right: -20px; }
    .frame > div:last-child {
      top: 20px;
      bottom: 20px;
      border-width: 2px; }
      .frame > div:last-child::before {
        bottom: -20px;
        left: -2px; }
      .frame > div:last-child::after {
        bottom: -20px;
        right: -2px; }
    .frame.-b > div::before, .frame.-b > div::after {
      background-image: url(../images/bg/frame-b-mb.svg); } }

.notice {
  box-sizing: border-box;
  max-width: 1120px;
  margin: 60px auto 0;
  padding: 0 30px;
  text-align: left;
  border-radius: 10px;
  background-color: #fff; }
  .notice .notice-action {
    position: relative;
    display: block;
    padding: 25px 0;
    font-size: 20px;
    font-weight: bold;
    color: #58393E;
    text-decoration: none; }
    .notice .notice-action::after {
      content: '＋';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      transition: .3s; }
  .notice-content {
    display: none;
    padding: 25px 0;
    font-size: 16px;
    border-top: 1px solid #58393E; }
  .notice.is-open .notice-action::after {
    content: '－';
    transform: translateY(-50%) rotate(180deg); }
  @media only screen and (max-width: 1023px) {
    .notice {
      padding: 0 15px;
      border-radius: 5px; }
      .notice .notice-action {
        padding: 20px 0;
        font-size: 16px; }
      .notice-content {
        padding: 20px 0;
        font-size: 14px; } }

ol {
  font-weight: normal;
  line-height: 1.7;
  margin: 0;
  padding-left: 25px; }
  ol b {
    font-weight: bold; }
  ol a {
    display: inline; }
  ol table {
    width: 100%;
    margin: 4px 0;
    border-collapse: collapse;
    border-spacing: 0; }
    ol table th,
    ol table td {
      padding: 4px;
      border: 1px solid #000; }
  ol.chinese {
    list-style-type: none;
    padding-left: 32px; }
    ol.chinese > li {
      position: relative; }
      ol.chinese > li::before {
        content: "(" attr(data-num) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%); }
  ol.brackets {
    list-style-type: none; }
    ol.brackets > li {
      position: relative;
      counter-increment: section; }
      ol.brackets > li::before {
        content: "(" counter(section, decimal) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%);
        min-width: 20px;
        text-align: center; }
  ol.cjk {
    list-style-type: none;
    padding-left: 32px; }
    ol.cjk > li {
      position: relative; }
      ol.cjk > li::before {
        content: attr(data-num) "、";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%); }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

b {
  font-weight: 900; }

.-rdText {
  color: #ff704a; }

.-buText {
  color: #005bab; }

@media only screen and (min-width: 1024px) {
  .-mbOnly {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .-pcOnly {
    display: none !important; } }

@media only screen and (min-width: 768px) {
  .-mbDownOnly {
    display: none; } }

@media only screen and (max-width: 767px) {
  .-padUpOnly {
    display: none; } }

.-hidden {
  display: none; }
