#tabs {
  display: flex;
  align-items: center;
  width: 100%;
  li {
    display: flex;
    align-items: center;
    flex: 1;
    a {
      width: 100%;
      // min-width: 350px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #021835;
      text-decoration: none;

      font-family: "Noto Sans CJK TC";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 35px;
      cursor: pointer;
      letter-spacing: 0.1em;
      background: linear-gradient(0deg, #208fff 0%, #71b8ff 100%);
      color: #fff;
      @media screen and (max-width: 650px) {
        font-size: 15px;
      }
      &.inactive {
        background: #fff;
        color: #021835;
      }
    }
  }
}
.tabContainer {
  background-color: #fff;
  box-sizing: border-box;
  // padding-top: 30px !important;
  padding-bottom: 30px !important;
  .financial_method_subtitle {
    margin-top: 0px;
    padding-top: 40px;
  }
}
.banner {
  margin-top: 80px;
}
