/* Place your CSS below */
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  background-color: #000;
  position: relative;
}
[layout~="centered"] {
/*    padding-bottom: 80px !important;
    box-sizing: border-box;
*/}
/*header*/
.sidebar-top {
  height: 80px;
  background-image: url("../images/2019event/header_bg.jpg");
  background-position: center right;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.sidebar a {
  border: 0;
}
.project [layout] img, .project figure img {
    width: 85%;
    height: auto;
}
.project [layout] img.qrcode {
    width: 120px;
    height: auto;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: 100%;
}
#kvdiv{
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: rgba(0,0,0,1);
    text-align: center;
    z-index: 999;
    padding-top: 7vh;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}


.ie #kvdiv{
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: rgba(0,0,0,1);
    text-align: center;
    z-index: 999;
    padding-top: 0vh;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
#kvdiv iframe#kvsvg {
    width: 1px;
    min-width: 100vw;
    height: 1px;
    min-height: 100vh;
    text-align: center;
    vertical-align: middle;
    animation-name: mdicnin;
    animation-duration: 6s;
    animation-fill-mode: none;
}
.ie #kvdiv iframe#kvsvg {
  display: none;
}

.ie-only {
  display: none;
    width: 100%;
    height: 100%;
    background-image: url(../images/2019event/01-kv-phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    left: 0;
    top: 0;
    position: absolute;
    animation-name: mdicnin;
    animation-duration: 2s;
    animation-fill-mode: none;
}


#kvtxt {
  display: none;
}
.content {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.ui-button {
	display: none;
}
.ui-pagination.horizontal {
    width: 150px;
    height: 2.75rem;
    position: absolute;
    right: 0;
    top: .75rem;
    bottom: unset;
    left: unset;
}
.ui-pagination.vertical {
    width: 2rem;
    height: auto;
    position: absolute;
    top: 15%;
    right: 30px;
    left: initial;
    bottom: initial!important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ui-pagination li a .dot, .ui-pagination li a .line {
    z-index: 1;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
}
.ui-pagination li.act a .dot, .ui-pagination li.act a .line {
    background-color: #1481dd;
}
.kv-txtwarp {
  max-width: 100% !important;
  /*height: 100vh;*/
  height: calc(100vh - 100px);
  background-image: url("../images/2019event/01-kv-phone.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.kv-txt-title {
    max-width: 60%;
    min-width: 28%;
    font-size: 8.5vmin;
    color: #fff;
    font-weight: 700;
    margin: 30px auto 0px;
    text-align: center;
}
.kv-txt-sub {
  max-width: 60%;
  min-width: 28%;
  font-size: 40px;
  color: #fff;
  margin: 0 auto;
  font-weight: 200;
    text-align: center;
}
.kv-txt-sub-en {
  max-width: 60%;
  min-width: 28%;
  font-size: 4vmin;
  color: #fff;
  margin: 0 auto 30px;
  font-weight: 400;
  text-align:justify !important;
text-justify: inter-character !important;
text-align-last:center !important;
/* for IE9 */
-ms-text-align-last:center !important;
letter-spacing: 4px;
}
.kv-txt-info {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  margin: 30px auto 0 !important;
  letter-spacing: 3px;
      text-align: center;
}
.content-02 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  left: 50%;
  margin-left: -50%;
  /*padding-bottom: 350px;*/
  box-sizing: content-box;
  background-image: url("../images/2019event/02-05-phone.png");
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.content-03 {
  max-width: 800px !important;
}
.bank-list {
  position: relative;
  padding-left: 70px;
  margin-bottom: 20px !important;
}
.bank-list img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 55px !important;
}
.bank-list h3 {
  color: #005bac;
  font-weight: bold;
  text-align: left;
  font-size: 22px;
  margin: .3em 0;
}
.bank-list p {
  text-align: left;
  margin: 0;
  font-size: 18px;
  font-weight: 200;
}
.pc-link {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.pc-link li {
  display: inline-block;
  padding: 0 5px;
}

.f-l {
  float: left;
}
.f-r {
  float: right;
}
.item-a {
  width: calc(100% / 2 );
  padding-right: 20%;
  display: inline-block;
  text-align: right;
}
.item-b {
  width: calc(100% / 2 );
  padding-left: 20%;
  display: inline-block;
  text-align: left;
}
.item-c {
  width: calc(100% / 2 );
  padding-right: 25%;
  margin-top: 60px;
  display: inline-block;
  text-align: right;
}
.item-d {
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -90px;
  z-index: 999;
  text-align: center;
}
.item-d a {
  opacity: 1;
  display: inherit;
  border: 0;
}
.item-d a::hover {
  opacity: 0.5;
}
.item-d .item-txt {
  width: 100%;
}
.item-e {
  width: calc(100% / 2 );
  padding-left: 25%;
  margin-top: 60px;
  display: inline-block;
  text-align: left;
}
.item-txt {
  width: 120px;
  text-align: center;
  font-size: 146%;
  color: #005bac;
  font-weight: 400;
}
.txt-spac-8 {
  letter-spacing: 8px;
}
.-text-light {
  font-weight: 200;
}
.txt-title {
  font-size: 48px !important;
  color: #fff;
  letter-spacing: 3px;
}
.txt-sub {
  font-size: 22px !important;
  color: #fff;
  font-weight: 400;
  margin: 20px 0 10px !important;
  position: relative;
  padding-bottom: 20px;
}
.txt-line {
  position: relative;
  width: 55%;
  height: 1px;
  margin-left: 15px;
  margin-bottom: 30px;
  background-color: #fff;
}
.txt-line:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #fff;
  left: 0;
  bottom: -2px;
  width: 37%;
  height: 2px;
}
.txt-line-b {
  position: relative;
  width: 55%;
  height: 1px;
  margin-left: 15px;
  margin-bottom: 30px;
  background-color: #005bac;
}
.txt-line-b:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #005bac;
  left: 0;
  bottom: -2px;
  width: 37%;
  height: 2px;
}
.txt-line-center {
  position: relative;
  width: 70%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #005bac;
}
.txt-line-center:after {
  content: "";
  position: absolute;
  background-color: #005bac;
  width: 26%;
  height: 2px;
  left: 50%;
  margin-left: -13%;
}
.txt-line-center-w {
  position: relative;
  width: 30%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: #fff;
}
.txt-line-center-w:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 26%;
  height: 2px;
  left: 50%;
  margin-left: -13%;
}

.sub_with_icon {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  margin: 10px 0 0;
}
.sub_with_icon .icon {
  display: inline;
  width: 43px;
  height: 57px;
  display: inline;
}
.sub_with_icon .title {
  display: inline;
  margin-left: 15px;
}
.sub_info {
  margin-left: 80px;
  position: relative;
  list-style: none;
}
.sub_info:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  left: 0;
  top: 10%;
  background-color: #fff;
}
.sub_info li {
  font-size: 18px;
  line-height: 1.8;
  color: #fff;
  position: relative;
}
.sub_info li:before {
  position: absolute;
  left: -19px;
  top: 12px;
  background-color: #676d79;
  border-radius: 50%;
  content: "";
  height: 7px;
  width: 7px;
  border: solid 1px #fff;
}
.sub_info-b {
  margin-left: 80px;
  position: relative;
  list-style: none;
}
.sub_info-b:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 55%;
  left: 0;
  top: 10%;
  background-color: #fff;
}
.sub_info-c {
  margin-left: 80px;
  position: relative;
  list-style: none;
}
.sub_info-c:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 35%;
  left: 0;
  top: 12%;
  background-color: #005bac;
}
.sub_info-c li {
  font-size: 18px;
  line-height: 1.8;
  color: #005bac;
  position: relative;
}
.sub_info-c li:before {
  position: absolute;
  left: -19px;
  top: 12px;
  background-color: #d3d2cd;
  border-radius: 50%;
  content: "";
  height: 7px;
  width: 7px;
  border: solid 1px #005bac;
}
.sub_info-d {
  margin-left: 80px;
  position: relative;
  list-style: none;
}
.sub_info-d:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 35%;
  left: 0;
  top: 12%;
  background-color: #fff;
}
.sub_info-d li {
  font-size: 18px;
  line-height: 1.8;
  color: #fff;
  position: relative;
}
.sub_info-d li:before {
  position: absolute;
  left: -19px;
  top: 12px;
  background-color: #676d79;
  border-radius: 50%;
  content: "";
  height: 7px;
  width: 7px;
  border: solid 1px #fff;
}
.txt-blue {
  color: #005bac !important;
}
.info_btn {
  margin-left: 80px;
  border-color: #fff;
    color: #fff;
}
.info_btn-b {
  margin-left: 80px;
  border-color: #005bac;
    color: #005bac;
}
.last-content {
  height: 100vh;
}
.download-txtwarp {
  max-width: 100% !important;
  box-sizing: border-box;
  display: contents;
  /*background-image: url("../images/2019event/footer-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;*/
/*  position: fixed;
*/  
  /*padding-top: 40px;*/
}
.download-txt-title {
  font-size: 40px;
  color: #fff;
 }
.download-txt-sub {
  font-size: 40px;
  color: #fff;
  margin: 0 auto;
  font-weight: 200;
}
.download-txt-sub-en {
  font-size: 40px;
  color: #fff;
  margin: 0 auto;
  font-weight: 400;
  text-align: inherit;
  letter-spacing: 2px;
  padding-left: 4px;
}
.download-txt-info {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  margin: 60px auto 0 !important;
  letter-spacing: 3px;
}
.d-search {
  padding: 6px 14px 6px 14px;
  border: solid 1px #fff;
  font-size: 16px;
  color: #fff;
  margin-bottom: 7em !important;
}
.d-search-ic {
  display: inline-block;
  float: right;
  border-left: solid 1px #fff;
  margin-left: 30px;
  margin-top: 2px;
  width: 32px;
  height: 20px;
  background-image: url("../images/2019event/08-search.png");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
}
.footerwarp {
  max-width: 980px;
  margin: 0 auto !important;
  color: #fff;
  font-size: 1.7vmin;
  text-align: left;
}
.footerbg {
  width: 100%;
  background-color: #007fe0;
  height: 90px;
  padding: 15px 0;
  margin-bottom: 0 !important;
  line-height: 1.6;
  position: fixed;
  bottom: 0;
}
.-bg-cover-xl {
  background-size: 200% !important;
}
.mediaIcons {
animation-name: mdicnin;
animation-duration: .5s;
animation-fill-mode: forwards;
}

.on-page-1 .mediaIcons {
animation-name: mdicnout; 
animation-duration: .3s;
animation-fill-mode: forwards;
}

.downloadBtn {
animation-name: mdicnin;
animation-duration: .5s;
animation-fill-mode: forwards;
}

.on-page-8 .downloadBtn {
animation-name: mdicnout;   
animation-duration: .3s;
animation-fill-mode: forwards;
}


@keyframes mdicnin {
/*  0% {opacity:0;display:block}
  80% {opacity:0.3;display:block;}
  99% {opacity:1;display:block}
  100% {opacity:1;display:block;}
*/
  from {opacity:0;display:block}
  to {opacity:1;display:block}
}

@keyframes mdicnout {
  0% {opacity:1;display:block}
  98% {opacity:0;display:block;}
  99% {opacity:0;display:none}
  100% {opacity:0;display:none;overflow:hidden}
}
.zw {
  display: inline-block;
  width: 100%;
}
.-text-justifyALL {
    text-align: justify;
    text-align-last:justify
}
.-text-justifyALL:after{
    content: '';
    display: inline-block;
    width: 100%;
}
      .mfp-fade.mfp-bg {
        opacity: 0;
        -webkit-transition: all 0.15s ease-out; 
        -moz-transition: all 0.15s ease-out; 
        transition: all 0.15s ease-out;
      }
      .mfp-fade.mfp-bg.mfp-ready {
        opacity: 0.8;
      }
      .mfp-fade.mfp-bg.mfp-removing {
        opacity: 0;
      }

      .mfp-fade.mfp-wrap .mfp-content {
        opacity: 0;
        -webkit-transition: all 0.15s ease-out; 
        -moz-transition: all 0.15s ease-out; 
        transition: all 0.15s ease-out;
      }
      .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
        opacity: 1;
      }
      .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
        opacity: 0;
      }
.mediaIcons {
    position: fixed;
    bottom: 50%;
    right: 30px;
    list-style: none;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%); }
    .mediaIcons li {
      display: block;
      margin: 20px 10px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      background-size: 100%;
      background-repeat: no-repeat;
      position: relative;
      text-decoration: -9999;
       }
      .mediaIcons li.facebook {
        background-image: url("../images/header/socialmedia_facebook_grey.png"); 
        opacity: 0.8;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
        @media screen and (min-width: 1025px) {
          .mediaIcons li.facebook :hover {
            background-image: url("../images/header/socialmedia_facebook.png"); opacity: 1; } }
      .mediaIcons li.line {
        background-image: url("../images/header/socialmedia_line_grey.png");
        opacity: 0.8;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
         }
        @media screen and (min-width: 1025px) {
          .mediaIcons li.line:hover {
            background-image: url("../images/header/socialmedia_line.png"); opacity: 1; } }
      .mediaIcons li.instagram {
        background-image: url("../images/header/socialmedia_instagram_grey.png");
        opacity: 0.8;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
         }
        @media screen and (min-width: 1025px) {
          .mediaIcons li.instagram:hover {
            background-image: url("../images/header/socialmedia_instagram.png"); opacity: 1; } }
      .mediaIcons li.youtube {
        background-image: url("../images/header/socialmedia_youtube_grey.png");
        opacity: 0.8;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
         }
        @media screen and (min-width: 1025px) {
          .mediaIcons li.youtube:hover {
            background-image: url("../images/header/socialmedia_youtube.png"); opacity: 1; } }
.mediaIcons a {
      display: block;
      width: 33px;
      height: 33px; 
      border-bottom: 0;
      margin: 0 auto 20px;
}
.mediaIcons a:after {
      display: block;
      content: "";
      width: 33px;
      height: 33px;
      position: absolute;
      left: 0;
      top: 0; 
}

.downloadBtn {
  position: fixed;
  bottom: -6px;
  left: 0;
  width: 100%;
  text-align: center;
}
.downloadBtn a {
  border: 0;
  display: inherit;
}
.justify {
　text-align: justify;
　text-justify: inter-word;
　-ms-text-justify: inter-word; /IE9/
　-moz-text-align-last:justify; /Firefox/
　-webkit-text-align-last:justify; /Chrome/
}
.justify:after {
　content: ”;
　display: inline-block;
　width: 100%;
}

.mb-kv-bg {
    width: 100%;
    height: 100%;
    background-image: url(../images/2019event/kv-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
}
.elementToFadeInAndOut {
    width: 100%;
    height: 100%;
    -webkit-animation: fadeinout 12s ease-out infinite;
    animation: fadeinout 12s ease-out infinite;
    background-image: url(../images/2019event/kv-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}


@keyframes show{ 
  0%{
    visibility:hidden;
  }
  80%{
    visibility:hidden;
  }
  81%{
   visibility:visible;
  }
  100%{
   visibility:visible;
  }
}
.cls-1 {
  fill:none;stroke:#7bfff8;stroke-miterlimit:10;stroke-width:3.7px;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  width: 100%; height: auto;
}
.animated {
  animation: drawing-svg 5s infinite;
  // animation-delay: 2s;
}

@keyframes drawing-svg {
  100% {
    stroke-dashoffset: 10000;
  }
}




/* 2020 Mar Update */

.appDownload-appIons {
	color: #ffffff;
	padding: 2em 0;
	margin: 0 auto;
}

.appDownload-appQRcode,
.appDownload-appLink {
  vertical-align: middle;
  text-align: center;
}

.appDownload-appQRcode .qrcode{
  margin: 8px auto;
}

.appDownload-appQRcode a{
  border-bottom: 0;
}

.appDownload-appQRcode {
  margin-bottom: 30px;
}

.appDownload-appLink-icon {
	width: auto;
  padding-left: 0;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.appDownload-appLink-icon li {
	width: 130px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.appDownload-appLink-icon li.last {
	margin-right: 0px;
}

.appDownload-appLink-icon li span {
	padding-top: 0.2em;
  display: block;
}

.appDownload-appIons .downloadApp {
  margin-bottom: 8px;
  color: #ffe400;
  text-decoration: underline;
}

.project [layout] img, .project figure img {
	width: 100%;
}


/* 2020 Apr Update */

.download-txtwarp h2 {
	padding-top: 2em;
}

.d-search {
	margin-bottom: 2.5em !important;
}

.warningWrapper {
	margin: 0 auto;
}

.warningTxt {
	color: #ffe400;
	font-weight: bold;
	display: inline-block;
    vertical-align: middle;
}

.warningTxt:before {
	content: '';
	display: inline-block;
    vertical-align: middle;
	width: 20px;
    height: 20px;
	background-image: url('../images/2019event/warningIcon.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 0.6em;
}

.remarkSection {
    width: 100%;
    text-align: left;
    padding: 2em 0 8em;
}

.remarksWrapper {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
  padding: 20px 10px;
}

.remarksWrapper .remarksTitle {
  color: #fff;
	text-align: center;
	/* cursor: pointer; */
}

/* .remarksWrapper .remarksTitle:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background-image: url("../images/remark/accordion_plus.png");
    background-repeat: no-repeat;
    background-position: center center;
	background-size: 100%;
	margin-left: 0.6em;
    margin-top: -4px;
} */

@media screen and (min-width: 1201px) {
    .remarksWrapper .remarksTitle {
        font-size:18px
    }
}

@media screen and (max-width: 1200px) and (min-width:1025px) {
    .remarksWrapper .remarksTitle {
        font-size:18px
    }
}

@media screen and (max-width: 1024px) and (min-width:768px) {
    .remarksWrapper .remarksTitle {
        font-size:16px
    }
}

@media screen and (max-width: 767px) {
    .remarksWrapper .remarksTitle {
        font-size:15px
    }
}

/* .remarksWrapper .active.remarksTitle:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background-image: url("../images/remark/accordion_minus.png");
    background-repeat: no-repeat;
    background-position: center center;
	background-size: 100%;
	margin-left: 0.6em;
    margin-top: -4px;
} */

.remarksWrapper .remarksCont {
    /* display: none; */
    margin: 10px 0 0;
    padding: 1em;
    border-top: 1px solid #fff;
	color: #ffffff;
}

.remarksWrapper .remarksCont p {
    padding-bottom: 0;
    position: relative;
}

.-bg-cover.DownloadSec {
	background-color: #005bac !important;
	background-size: 130% !important;
	background-position: left bottom !important;
	background-repeat: no-repeat;
}


/* 2020 Jun Update */

.footer {
	position: fixed;
	bottom: 0;
    width: 100%;
    background-color: #007fe0;
    height: 80px;
    padding: 10px 0
}

.footerCont {
    color: white;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 28px;
	text-align: center;
}

.footerCont .copyright {
    color: white;
    width: 100%;
}

.footerCont .contWrapper {
    width: 100%;
}

.contWrapper .footer-item {
	display: inline-block;
	padding: 0 5px;
}

@media screen and (max-width: 767px) {
	.footer {
        padding-bottom: 60px;
        height: auto
    }

    .footerCont {
        font-size: 12px;
        line-height: 20px;
		text-align: left;
    }
	
	.contWrapper .footer-item {
		width: 100%;
		display: block;
		padding: 0;
	}

    .footerCont .copyright,.footerCont .contact {
        float: none;
        display: block;
        max-width: 100%;
        padding-bottom: 10px
    }
}