* {margin: 0; padding: 0;/* box-sizing: border-box; */}
body{width: 100%; height: 100%; font-family: 'Noto Sans TC','微軟正黑體', 'MS UI Gothic',Arial, Helvetica, sans-serif; font-size: 12px; }
a,a:hover,a:active,a:visited {display: inline-block; color: #005bac; text-decoration: none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
table,tr,th,td{margin: 0; padding: 0;}
img{margin: 0; padding: 0; display: block;}

.main{width: 100%; max-width: 1920px; margin: 0 auto; overflow: hidden; color:#333333; padding-top: 80px; font-size: 12px; background: #ebf6fd;}
.section{width: 100%; max-width: 1920px; margin: 0 auto;}

/* kv */
.kv_container{width: 100%;}
.kv{width: 100%; max-width: 1920px; margin: 0 auto; height: 0; padding-bottom: 39.0625%; background: url("../images/kv_bg.png") center top no-repeat; background-size: 100% auto; position: relative;}
.kv .kv_tit{width: 42%; margin: 0 auto; padding-top: 12.5%;}
.kv .kv_logo{width: 26%; position: absolute; bottom: -6%; left: 37%;}
.mobOnly{display: none;}
/* content */
.content_container{ width: 100%; margin: 0 auto; background-color: #ebf6fd; background-image: url("../images/ribbon.png"),url("../images/check.png");
background-position: center top,center top; background-repeat: no-repeat,repeat; background-size: auto,auto; color: #333333;}
.content_container::after{content: ''; display: block; width: 100%; height: 0; padding-bottom: 13.75%; 
background: url("../images/city.png") center bottom no-repeat; background-size: 100% auto;}
.content{width: 100%; max-width: 1400px; margin: 0 auto;}
.event{width: 90%; margin: 0 auto; padding: 7% 0; text-align: center; font-size: 20px; line-height: 1.8;}
.event h2{}
.event h3{font-weight: bold;}
.event h3 .pointer{display: inline-block; width: 36px; margin: 0 5px; vertical-align: baseline;}
.event h3 a.underline{color:#0276cf; border-bottom: 1px solid #0276cf;}
.event p{font-size: 16px; margin-top: 1%;}
.event .light_blue{color: #0276cf; font-weight: bold;}
.event .store{font-size: 20px; font-weight: bold; color: #333333;}
.event .web_block{display: block;}
.event .tit1,
.event .tit2{width: 180px; margin: 0 auto; padding: 2% 0;}
.event .date{width: 320px; margin: 0 auto; padding: 0 0 3%;}
.event .tit3{width: 100%; max-width: 946px; margin: 0 auto; padding: 2% 0;}
.event .discount{width: 100%; margin: 5% auto; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-start;}
.event .discount li{width: 33%; margin: 0 1.5%;}
.event .discount li .dis_tit{width: 160px; margin: 5% auto;}
.event .discount li .dis_cont{width: 100%; height: auto; border-radius: 10px; background-color: #ffffff; border: 3px solid #9eceed; padding: 5% 2%;}
.event .discount li .dis_cont .dis_txt{font-weight: bold; line-height: 1.5; margin: 5% auto;}
.event .discount li .dis_cont .dis_txt .blue{color: #0276cf;}
.event .discount li .dis_cont .dis_num{width: 230px; height: 93px; margin: 6% auto;}
.event .discount li .dis_cont .dis_num1{background: url("../images/10percent-point.png") center top no-repeat; background-size: 100% auto;}
.event .discount li .dis_cont .dis_num2{background: url("../images/10percent-money.png") center top no-repeat; background-size: 100% auto;}
.event .discount li .dis_cont .dis_num3{background: url("../images/30percent-money.png") center top no-repeat; background-size: 100% auto;}
.event .discount li .dis_cont .dis_pic{width: 50%; margin: 2% auto;}
.event .discount li p{margin-top: 5%;}
/* action */
.action{display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;padding:0 0 5%;}
.action-item{-webkit-flex:0 1 270px;flex:0 1 270px;max-width:270px;}
.action-item a{display: block;}
.action-item+.action-item{margin-left:25px;}
.btn{position:relative;display:block;border-radius:45px;cursor:pointer;}
.btn::after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;display:block;border-radius:45px;-webkit-transform:translateY(7px);transform:translateY(7px);}
.btn img{position:relative;width:100%;z-index:1;transition:.2s;}
.btn.green::after{background-color:#0a984a;}
.btn.blue::after{background-color:#0061ac;}
.btn:hover img{-webkit-transform:translateY(7px);transform:translateY(7px);}
/* notice */
.notice_container{background: #a7d6f2;}
.notice{width: 100%; max-width: 1800px; margin: 0 auto; font-size: 15px; line-height: 2; padding: 3% 5%;}
.notice_tit{font-size: 20px; font-weight: bold; text-align: center;}
.notice_all{padding: 2%; text-align: justify;}
.notice_all a{font-weight: bold; text-decoration: underline;}
.notice_all span.font-b{font-weight: bold;}
.notice_all ul{margin: 0; padding-left: 18px; list-style-type: cjk-ideographic;}
.notice_all ul>li{/* margin-bottom: 2%; */}
.notice_all ul>li>ol{list-style-type: decimal; padding-left: 18px;}
.notice_all ul>li>ol>li>ol{list-style-type: none; padding-left: 18px;}
.notice_all ul>li>ol>li>ol>li{position: relative; counter-increment:section;}
.notice_all ul>li>ol>li>ol>li::before{content:"(" counter(section,decimal) ")";position:absolute;top:0;left:-5px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
.notice_all ul>li>ol>li>ol>li>ul{list-style-type: disc;}
#contTab{display: none;}
.content-more{display: none;
}
#contTab:checked ~ #cont{
    max-height: 250px;
    overflow: hidden;
}
#contTab:checked ~  .content-more{
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
#contTab:checked ~  .content-more .gradient{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(254,239,212,0)),to(#a7d6f2));
    background-image: -webkit-linear-gradient(top,rgba(254,239,212,0),#a7d6f2);
    background-image: linear-gradient(-180deg,rgba(254,239,212,0),#a7d6f2);
    height: 90px;
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
}
#contTab:checked ~  .content-more .readmore{
    display: inline-block;
    background: #0276cf;
    color: #ffffff;
    width: 175px;
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
	transition: 0.3s;
}
#contTab:checked ~  .content-more .readmore:hover{opacity: 1}
@media screen and (max-width: 1024px) {
.main{padding-top: 76px;}
}
@media screen and (max-width: 960px) {
/* kv */
.kv{width: 100%; height: 0; padding-bottom: 128.75%; margin: 0 auto; background: url("../images/kv_bg-m.png") center top no-repeat; background-size: 100% auto;}
.kv .kv_tit{width: 86%; padding-top: 38%;}
.kv .kv_logo{width: 70%; bottom: -4%; left: 15%;}
.webOnly{display: none;}
.mobOnly{display: block;}
/* content */
.content_container::after{content: ''; display: block; width: 100%; height: 0; padding-bottom: 32.5%; 
background: url("../images/city-m.png") center bottom no-repeat; background-size: 100% auto;}
.content{width: 100%; max-width: 960px;}
.event{width: 85%; padding: 10% 0;}
.event .web_block{display: inline;}
.event .tit1,
.event .tit2{width: 100%; max-width: 220px; padding: 4% 0;}
.event .date{width: 100%; max-width: 400px; padding: 4% 0;}
.event .tit3{width: 100%; max-width: 500px; padding: 4% 0 2%;}
.event .discount{flex-direction: column; align-items: center;}
.event .discount li{width: 50%; margin: 4% 0;}
/* action */
.action{padding: 5% 0 10%;}
/* notice */
.notice{width: 92%; padding: 5% 3% 3%;}
}
@media screen and (max-width:767px) {
.main{padding-top: 58px;}
/* content */
/* action */
.action{display:block;}
.action-item{max-width:300px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
/* content */
.event .tit1,
.event .tit2{max-width: 180px;}
.event .date{max-width: 350px;}
.event .discount li{width: 80%;}
/* notice */
.notice_all ul{font-size:14px;padding-left:28px}
.notice_tit{font-size: 18px;}
#contTab:checked ~ #cont{
    max-height: 48vw;
    overflow: hidden;
}
#contTab:checked ~  .content-more .readmore{
    width: 65vw;
    height: 8vw;
    border-radius: 4vw;
    line-height: 8vw;
    font-size: 1em;
}
}
@media screen and (max-width:500px) {
/* content */
.event h2{font-size: 18px; text-align: left;}
.event p{font-size: 14px;}
.event .store{font-size: 18px; text-align: left;}
.event .tit1,
.event .tit2{max-width: 150px; padding: 5% 0;}
.event .tit3{padding: 5% 0 3%;}
.event .date{max-width: 260px; padding: 5% 0;}
.event .discount li{width: 90%;}
.event .discount li .dis_tit{width: 150px;}
.event .discount li .dis_cont{padding: 5%;}
.event .discount li .dis_cont .dis_num{width: 100%; max-width: 230px;}
.event .discount li .dis_cont .dis_pic{width: 80%; max-width: 150px;}
/* action */
.action{padding: 5% 0 15%;}
.action-item{max-width:220px;margin:auto;}
.action-item+.action-item{margin-top:30px;margin-left:auto;}
.btn::after{-webkit-transform:translateY(4px);transform:translateY(4px);}
.btn:hover img{-webkit-transform:none;transform:none;}
/* notice */
.notice{width: 94%;padding: 8% 4% 3%;}
}

/* animation */
