@import 'modal';

[v-cloak] {
  display: none;
}

/*輪播、顏色設定*/
:root {
  --swiper-navigation-color: #2c2745;
  --default: #2c2745;
  --orange: #eb6000;
  --green: #277503;
  --blue: #589bea;
}

.bold {
  font-weight: bold;
}

.orange {
  color: var(--orange)
}

.blue {
  color: var(--blue)
}

.green {
  color: var(--green)
}

.swiper {
  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-navigation {
    transform: scale(0.8);
  }

}



/*基本設定*/
html {
  font-size: 16px
}

body {
  position: relative;
  font-family: 'Noto Sans TC', sans-serif !important;
  font-weight: normal;
  overflow-y: auto;
  color: #2c2745;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  margin: auto;
  display: block;

  &:focus {
    outline: none !important;
  }
}

p {
  word-break: break-all;
}


@media screen and (max-width: 899px) {
  html {
    font-size: 12px
  }

  img {
    width: 100%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 29px 0;

  @media screen and (max-width: 576px) {
    padding: 0 20px;
  }
}


.top {
  right: 30px;
  bottom: 100px;

  @media screen and (max-width: 576px) {
    bottom: 60px;
  }
}

/*區塊*/
.Area1200 {
  z-index: 1;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  position: relative;
  width: 100%;
  margin: 0 auto;
}


@media screen and (max-width: 899px) {
  .Area1200 {
    position: relative;
    padding: 0 5%;
    width: 100%;
  }

  section.activity-1 .Area1200,
  section.activity-0 .Area1200 {
    padding: 0;
  }

  .box {
    width: 100%;
    margin: 0 auto;
  }
}



/*隱鑶*/
.for_phone {
  display: none !important;
}

.for_pad {
  display: none !important;
}

@media screen and (min-width: 899px) and (max-width: 1024px) {
  .for_phone {
    display: none !important;
  }

  .for_pad {
    display: inherit !important;
  }

  .for_phone {
    display: none !important;
  }

}

@media screen and (max-width:899px) {
  .for_pc {
    display: none !important;
  }

  .for_pad {
    display: none !important;
  }

  .for_phone {
    display: inherit !important;
  }
}

.warning {
  text-align: center;
  color: #2c2745;
  font-size: 15px;
  line-height: 1.5;
}

/*版頭-區塊0*/
.activity-0 {
  background: url(../img/section-0-bg.jpg) center top no-repeat;
  background-size: 1920px;

  .deco {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/*區塊1*/
.activity-1 {
  position: relative;
  padding-bottom: 30px;
  background: #c9e1ff;

  @media screen and (max-width:899px) {
    padding-bottom: 2vw;
  }

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 360px;
    background: url(../img/section-1-mask.png) left top no-repeat;
    background-size: 100%;

    @media screen and (max-width:899px) {
      top: -7vw;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 360px;
    background: url(../img/section-1-mask.png) left top no-repeat;
    background-size: 100%;
    transform: scaleY(-1);

    @media screen and (max-width:899px) {
      bottom: -7vw;
    }
  }

  /*卡片*/
  .card-wrp {
    padding: 50px;
    display: grid;
    grid-template-columns: 280px 280px 280px;
    gap: 50px;
    justify-content: center;

    @media screen and (max-width:899px) {
      padding: 10vw 0 0;
      display: grid;
      grid-template-columns: auto;
      gap: 5vw;

    }

    .card {
      display: grid;
      width: 280px;
      background: #FFF;
      border-radius: 10px;
      overflow: hidden;

      @media screen and (max-width:899px) {
        margin: 0 auto;
        grid-template-columns: auto;
        width: 90vw;
        align-items: center;
      }

      &:nth-child(1) {
        .card-num {
          background-color: #589bea;

        }
      }

      &:nth-child(2) {
        @media screen and (min-width:900px) {
          transform: translateY(10px);
        }

        .card-num {
          background-color: #eb6000;
        }
      }

      &:nth-child(3) {
        .card-num {
          background-color: #277503;
        }
      }

    }

    .card-num {
      display: grid;
      color: #FFF;
      grid-template-columns: auto auto;
      align-items: center;
      column-gap: 10px;
      line-height: 70px;

      @media screen and (max-width:899px) {
        padding: 1vw 2vw;
        grid-template-columns: auto auto;
        justify-content: center;
        line-height: 1.5;
        column-gap: 1vw;
      }

      .left {
        display: grid;
        font-size: 1.125rem;
        justify-content: right;

        @media screen and (max-width:899px) {
          justify-content: center;
          text-align: center;
          font-size: 4vw;
          line-height: 1.2;
        }
      }

      .right {
        display: grid;
        font-size: 2rem;
        font-weight: 800;
        justify-content: left;

        @media screen and (max-width:899px) {
          font-size: 5vw;
          justify-content: center;
        }
      }

    }

    .brackets,
    .card-name {
      padding: 10px 0;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      color: #2c2745;

      @media screen and (max-width:899px) {
        font-size: 4.5vw;
        line-height: 4.5vw;
        justify-content: center;

      }
    }

    .brackets {
      line-height: 1.2;

      @media screen and (max-width:899px) {
        line-height: 4.5vw;
      }
    }

  }

  /*月曆*/
  .calendar-wrp {
    position: relative;
    text-align: center;

    @media screen and (min-width:900px) {
      padding: 80px 0;
    }

    @media screen and (max-width:899px) {
      padding: 10vw 2% 20vw;
    }

    .calendar-title {
      margin-bottom: 20px;
      font-size: 3rem;
      line-height: 1.2;
      font-weight: 700;

      @media screen and (max-width:899px) {
        margin-top: 1rem;
        font-size: 2.625rem;
      }
    }

    .calendar-subtitle {
      margin-top: 1rem;
      font-size: 1.75rem;
      font-weight: 500;

      @media screen and (max-width:899px) {
        margin-top: 50px;
        font-size: 1.625rem;
      }

      @media screen and (max-width:899px) {
        margin-top: 0;
        line-height: 1.2;
      }

    }

    .calendar-table {
      position: relative;

      @media screen and (min-width:900px) {
        margin-top: 100px;
        width: 100%;
        background: url(../img/section-1-calendar-bg2.png) center center;
        background-size: 100%;

        &::before,
        &::after {
          z-index: 0;
          content: '';
          position: absolute;
          width: 100%;
          height: 60px;
        }

        &::before {
          top: -50px;
          left: 0;
          background: url(../img/section-1-calendar-bg1.png) left bottom no-repeat;
          background-size: 100%;
        }

        &::after {
          left: 0;
          bottom: -20px;
          background: url(../img/section-1-calendar-bg3.png) left top no-repeat;
          background-size: 100%;
        }
      }

      @media screen and (max-width:899px) {
        margin-top: 15vw;
        width: 100%;
        background: url(../img/section-1-calendar-bg-m2.png) center center;
        background-size: 100%;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 11vw;
        }

        &::before {
          top: -10.5vw;
          left: 0;
          background: url(../img/section-1-calendar-bg-m1.png) left top no-repeat;
          background-size: 100%;
        }

        &::after {
          left: 0;
          background: url(../img/section-1-calendar-bg-m3.png) left bottom no-repeat;
          background-size: 100%;
        }

      }

      .bg {
        position: absolute;
        left: 0;
        top: 0;
      }

      .table-grid {
        z-index: 1;
        position: relative;
        display: grid;
        align-items: center;

        @media screen and (min-width:900px) {
          padding: 20px 30px 30px 20px;
          grid-template-columns: repeat(13, auto);
        }

        @media screen and (max-width:899px) {
          padding: 5vw 6vw 0vw 4vw;
          display: grid;
          justify-content: center;
          grid-template: auto repeat(12, 1fr) / 1fr 2fr 2fr 2fr;
          grid-auto-flow: column;
        }
      }
    }

  }

  /*月曆item*/
  .grid-item {
    border-bottom: 1px solid #d6e1ef;
    border-right: 1px solid #d6e1ef;
    grid-gap: 1px;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 400;
    background-color: white;
    height: 60px;

    @media screen and (max-width:899px) {
      height: 10vw;
    }

    &.item-a,
    &.item-b {
      border-left: 1px solid #d6e1ef;

      @media screen and (max-width:899px) {

        border-left: none;
        border-top: 1px solid #d6e1ef;


      }
    }

    &.item-b {
      display: flex;
      padding: 20px 0;
      text-align: center;
      align-items: center;
      font-size: 1.125rem;
      font-weight: 700;

      @media screen and (max-width:899px) {
        padding: 0;
        font-size: 4vw;
      }

      .num {
        width: fit-content;
        margin: 0 auto;
        padding: 5px 10px;
        border-radius: 50px;
        color: #FFF;
      }

      .name {
        line-height: 1.5;
      }
    }

    &.item-0056 {
      .num {
        background-color: #eb6000;
      }

      .name {
        color: #eb6000;
      }
    }

    &.item-00850 {

      .num {
        background-color: #277503;
      }

      .name {
        color: #277503;
      }
    }

    &.item-00713 {
      .num {
        background-color: #589bea;
      }

      .name {
        color: #589bea;
      }
    }

    &.item-top {
      background: #e7f2ff;
      border: none;
      line-height: 60px;

      @media screen and (max-width:899px) {
        font-size: 3.5vw;
        line-height: 10vw;
      }

    }

    .icon {
      width: 100%;
      height: 100%;
      background: url(../img/section-1-icon.png) center center no-repeat;
      background-size: auto 80%;

      @media screen and (max-width:899px) {
        background-size: auto 90%;
      }
    }
  }

  /*最近一次配息時程*/
  .dividend-wrp {
    position: relative;
    margin: 50px auto;

    @media screen and (max-width:899px) {
      margin: 5vw auto;
    }

    .dividend-subtitle {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 600;

      @media screen and (max-width:899px) {
        font-size: 1.75rem;
        margin-bottom: 5vw;
      }
    }

    .dividend-container {
      padding: 50px 20px;
      justify-content: center;

      @media screen and (max-width:899px) {
        padding: 5vw;
        grid-template-columns: 100%;
        gap: 10vw;
      }
    }

    .dividend-card {
      position: relative;
      padding: 10px 20px;
      border-radius: 10px;
      background: #FFF;

      @media screen and (max-width:899px) {
        padding: 1.5vw 2vw 5vw 2vw;
        max-width: inherit;
      }

      &::before {
        content: '';
        position: absolute;
        left: -20px;
        top: -20px;
        width: 78px;
        height: 78px;
      }

      &:nth-child(3n+1) {
        &::before {
          background: url(../img/section-1-tape2.png) center center no-repeat;
          background-size: 100%;
        }

        .title {
          color: #589bea;
        }

        .hr {
          background-color: #589bea;
        }
      }

      &:nth-child(3n+2) {
        &::before {
          background: url(../img/section-1-tape3.png) center center no-repeat;
          background-size: 100%;
        }

        .title {
          color: #eb6000;
        }

        .hr {
          background-color: #eb6000;
        }

      }

      &:nth-child(3n+3) {
        &::before {
          background: url(../img/section-1-tape1.png) center center no-repeat;
          background-size: 100%;
        }

        .title {
          color: #277503;
        }

        .hr {
          background-color: #277503;
        }

      }

      .title {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5;
        padding: 10px 0 10px;
        white-space: nowrap;

        @media screen and (max-width:899px) {
          font-size: 4vw;
        }

      }

      .hr {
        margin: 0 auto;
        width: 30%;
        height: 2px;
      }

      .day {
        margin-top: 15px;

        .day-item {
          display: grid;
          border-bottom: 1px solid #d6e1ef;
          grid-template-columns: auto auto;

          @media screen and (max-width:899px) {
            font-size: 3vw;
          }

          &:last-child {
            border-bottom: none;
          }

          &>div {
            padding: 10px 0;
            display: grid;
            line-height: 1.2;
            align-items: center;

            @media screen and (max-width:899px) {
              padding: 2vw 0;
              font-size: 3.5vw;
              line-height: 1.5;
            }

          }

          .right {
            margin-left: 10px;
            justify-content: right;
          }
        }
      }
    }

  }

  /*20230727 定期定額哪裡買按鈕*/
  .btn-sales {
    margin: 50px auto 0;
    width: 280px;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    background-color: #2a5cb8;
    border-radius: 8px;
    transition: all ease .2s;

    &:hover {
      box-shadow: 10px 10px 0px rgba(42, 92, 184, 0.2);
    }

    @media screen and (max-width:899px) {
      margin: 30px auto 0;
    }

    span {
      position: relative;
      margin-right: 10px;
      display: block;
    }

    i {
      position: relative;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      display: block;
      background: url(../img/arrow.svg) center center no-repeat;
      background-size: auto 50%;
      border-radius: 50%;
    }
  }
}

/*區塊2*/
.activity-2 {
  text-align: center;
  background: #fff5ed;
  padding-bottom: 50px;

  .blank {
    height: 100px;

    @media screen and (max-width:899px) {
      height: 10vw;
    }
  }

  .etf-title {
    font-size: 3rem;
    line-height: 2;
    font-weight: 700;

    @media screen and (max-width:899px) {
      margin-top: 1rem;
      font-size: 2.625rem;
    }
  }

  .etf-subtitle {
    margin-top: 1rem;
    font-size: 1.75rem;
    font-weight: 500;

    @media screen and (max-width:899px) {
      margin: 0 auto 10vw;
      line-height: 1.2;
      font-size: 1.625rem;
    }
  }
}

/*etf卡片*/
.activity-2 {
  .etf-content {
    position: relative;
    padding-bottom: 50px;
    max-width: 960px;
    margin: 0 auto;

    @media screen and (max-width:899px) {
      padding: 0;
    }

    .etf-card {
      position: relative;
      display: grid;
      grid-template-columns: 220px auto;
      margin-top: 50px;

      @media screen and (max-width:899px) {
        grid-template-columns: auto;
        padding-bottom: 10vw;
        margin: 0 auto;
      }

      &:nth-child(1) {
        .title {
          color: #eb6000;

          div {
            &:nth-child(1) {
              border-color: #eb6000 !important;
            }
          }
        }

        .tag {
          span {
            background: #ffe4d2;
          }
        }

        .card-link {
          button {
            background-color: #eb6000;
          }
        }
      }

      &:nth-child(3) {
        .title {
          color: #589bea;

          div {
            &:nth-child(1) {
              border-color: #589bea !important;
            }
          }
        }

        .tag {
          span {
            background: #d6e6fc;
          }
        }

        .card-link {
          button {
            background-color: #589bea;
          }
        }
      }

      &:nth-child(5) {
        .title {
          color: #277503;

          div {
            &:nth-child(1) {
              border-color: #277503 !important;
            }
          }
        }

        .tag {
          span {
            background: #d9e3d5;
          }
        }

        .card-link {
          button {
            background-color: #277503;
          }
        }
      }

      .card-img {
        display: grid;
        align-items: center;

        @media screen and (max-width:899px) {
          justify-content: center;
        }

      }

      .card-txt {
        display: grid;
        padding: 20px 0 20px 40px;
        align-items: center;
        justify-items: left;
        font-weight: 600;

        @media screen and (max-width:899px) {
          padding: 0;
          justify-items: center;
          line-height: 1.5;
        }

        .title {
          padding: 20px 0 30px;
          display: grid;
          grid-template-columns: 100px auto;
          align-items: start;
          gap: 10px;
          font-size: 2rem;
          font-weight: 700;
          text-align: left;
          line-height: 1.2;

          @media screen and (max-width:899px) {
            padding: 10px 0 15px;
            text-align: center;
            font-size: 25px;
            line-height: 1.3;
            grid-template-columns: auto;
            gap: 0;

          }

          &>div {
            &:nth-child(1) {
              justify-content: left;
              font-size: 1.125rem;
              font-weight: 500;
              line-height: 2;
              border-top: 1px solid #CCC;
              border-bottom: 1px solid #CCC;

              @media screen and (max-width:899px) {
                width: fit-content;
                margin: 5vw auto 0;
                justify-content: center;
                font-size: 5vw;
              }
            }
          }

          &div:nth-child(2) {
            padding-left: 10px;
            justify-content: left;
            text-align: left;

            @media screen and (max-width:899px) {
              padding-left: 0;
            }

          }
        }

        .tag {
          @media screen and (max-width:899px) {
            margin: 2vw auto;
          }

          span {
            margin-right: 10px;
            padding: 8px 12px;

            @media screen and (max-width:899px) {
              margin-right: 2vw;
              padding: 1.5vw 3vw;
              font-size: 4vw;
              font-weight: 500;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .txt {
          margin-top: 30px;
          font-weight: 500;

          @media screen and (max-width:899px) {
            margin-top: 2vw;
            padding: 2vw 7vw 0;
            text-align: justify;
            font-size: 4vw;
          }
        }
      }

      .card-link {
        display: grid;
        align-items: end;
        justify-content: end;

        @media screen and (min-width:900px) {
          position: absolute;
          right: 0;
          bottom: 0;
        }

        @media screen and (max-width:899px) {
          margin-top: 5vw;
          justify-content: center;
        }

        button {
          position: relative;
          padding: 0 15px 0 20px;
          display: grid;
          grid-template-columns: auto 20px;
          align-items: center;
          line-height: 40px;
          column-gap: 5px;
          width: fit-content;
          font-weight: 500;
          color: #FFF;
          border-radius: 50px;

          @media screen and (max-width:899px) {
            grid-template-columns: auto 4vw;
            column-gap: 5px;
            font-size: 4vw;
            line-height: 2.5;

          }

          .arrow {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(../img/arrow-circle.svg) left center no-repeat;
            background-size: auto 100%;
            border-radius: 50%;
            transition: all ease .2s;
            transform-origin: center center;
            transform: rotate(-90deg);

            &.active {
              transform: rotate(90deg);
            }

            @media screen and (max-width:899px) {
              transform: rotate(0);

              &.active {
                transform: none;
              }
            }
          }
        }
      }
    }
  }

  .detail-block {
    position: relative;
    padding: 40px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #FFF;

    @media screen and (max-width:899px) {
      display: none;
    }

    .info-wrp {
      width: 100%;

      h3 {
        position: relative;
        text-align: left;
        font-size: 20px;
        line-height: 2;
        margin-bottom: 20px;
      }

      .data-date {
        padding: 20px 5px;
        text-align: right;
        font-size: 14px;
        color: #838d9c;
      }

      .more-wrp {
        display: flex;
        padding: 20px 0;
        text-align: right;
        font-size: 14px;
        justify-content: flex-end;

        .btn-more {
          color: #7099d5;

          i.arrow {
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i5ZyW5bGkXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNyAxMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNyAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2Rpc3BsYXk6bm9uZTtmaWxsOiMyNzc1MDM7fQ0KCS5zdDF7ZmlsbDpub25lO3N0cm9rZTojNzA5OWQ1O3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMi41IiBjeT0iNSIgcj0iOSIvPg0KPHBvbHlsaW5lIGNsYXNzPSJzdDEiIHBvaW50cz0iMSw5IDYsNSAxLDEgIi8+DQo8L3N2Zz4NCg==) center bottom no-repeat;
            background-size: auto 60%;
          }
        }
      }

      .row-wrp {
        .row {
          display: grid;
          grid-template-columns: 2fr 3fr;
          border-top: 1px solid #bfc3c9;
          padding: 10px 5px;
          line-height: 1.5;

          &.dividend {
            grid-template-columns: 3fr 1fr;
            line-height: 1.8;
          }

          &:last-child {
            border-bottom: 1px solid #bfc3c9;
          }

          div {
            text-align: justify;

            &.key {
              br {
                display: none;
              }
            }

            &.value {
              &.right {
                text-align: right;
              }
            }
          }


        }
      }

      .chart-wrp {
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 160px auto;
        gap: 50px;
        border-bottom: 1px solid #bfc3c9;

        .chart-img {
          padding: 10px;
          width: 160px;
          height: 160px;
          // display: none;
        }

        .chart-list {
          .row-wrp {
            .row {
              display: grid;
              grid-template-columns: 20px 1fr 1fr;
              justify-content: center;
              align-items: center;
              width: 100%;
              border: none;
              line-height: 1;

              .color {
                width: 10px;
                height: 10px;
              }

              .ratio {
                text-align: right;
              }
            }
          }
        }

      }


    }

    .warn-wrp {

      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;

      p {
        margin-bottom: 1em;
        font-size: 13px;
        padding-left: 2em;
        text-indent: -2em;
        text-align: left;
        line-height: 1.2;
      }
    }

  }
}


.activity-3 {
  position: relative;
  text-align: center;
  background-color: #dbefe9;

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/section-3-wave.png) center top no-repeat;
    background-size: 100%;

    @media screen and (max-width:899px) {
      top: -5vw;
      height: 10vw;
      background-size: 200%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/section-3-wave.png) center top no-repeat;
    background-size: 100%;
    transform: scaleY(-1);

    @media screen and (max-width:899px) {
      bottom: -5vw;
      height: 10vw;
      background-size: 200%;
    }
  }

  .sav-wrp {
    padding: 80px 5vw 0;

    @media screen and (max-width:899px) {
      padding: 10vw 0;
    }

    .sav-title {
      font-size: 3rem;
      line-height: 2;
      font-weight: 700;

      @media screen and (max-width:899px) {
        font-size: 2.625rem;
      }
    }

    .sav-subtitle {
      margin-top: 1rem;
      font-size: 1.75rem;
      font-weight: 500;

      @media screen and (max-width:899px) {
        margin: 0 auto 5vw;
        line-height: 1.5;
        font-size: 1.625rem;

      }
    }

    .sav-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 50px auto;
      gap: 50px;
      line-height: 1.5;
      text-align: left;

      @media screen and (max-width:899px) {
        margin: 8vw auto;
        grid-template-columns: 1fr;
        gap: 20px;
      }

      .content-1 {
        display: grid;
        justify-items: center;

        p {
          font-size: 18px;
          padding: 0 20px;

          @media screen and (max-width:899px) {
            font-size: 16px;
            padding: 0 0 30px;
          }
        }
      }

      .content-2 {
        .group {
          display: grid;
          padding: 30px;
          background-color: #FFF;
          border-radius: 8px;
          justify-items: center;
          text-align: justify;
          gap: 20px;

          @media screen and (max-width:899px) {
            padding: 5vw;
          }

          p {
            font-size: 18px;
            padding: 0 20px;

            @media screen and (max-width:899px) {
              font-size: 16px;
              padding: 0;
            }
          }

          img {
            display: block;
          }
        }

        @media screen and (max-width:899px) {
          order: 2;
        }

      }
    }

    .warning {
      text-align: justify;
    }

    &:last-child {
      padding-bottom: 80px;
    }
  }

}

@media screen and (max-width: 1209px) {
  section.activity-4 {
    .for_pc.for_pc {
      display: none !important;
    }

    .for_phone.for_phone {
      display: block !important;
    }

    .Area1200 {
      padding: 0;
    }
  }
}

.activity-4 {
  z-index: 0;
  position: relative;
  text-align: center;
  background-color: #fff5ec;

  .act-wrp {
    padding: 120px 0 80px;

    @media screen and (max-width:899px) {
      padding: 20vw 0 15vw;
    }

    .act-title {
      font-size: 3rem;
      line-height: 2;
      font-weight: 700;

      @media screen and (max-width:899px) {
        margin-bottom: 20px;
        padding: 0 5vw;
        line-height: 1.2;
        font-size: 2.625rem;
      }
    }

    .act-subtitle {
      margin-top: 1rem;
      font-size: 1.75rem;
      font-weight: 500;

      @media screen and (max-width:899px) {
        padding: 0 5vw;
        margin: 0 auto 5vw;
        line-height: 1.5;
        font-size: 1.625rem;

      }
    }

    .act-container {
      position: relative;
      margin: 80px auto 60px;
      width: 1210px;
      height: 558px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      background: url(../img/section-4-bg.png) center top no-repeat;
      background-size: 1210px 558px;

      @media screen and (max-width:1209px) {
        margin: 10vw auto 10vw;
        width: 100%;
        max-width: 960px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        background: none;
      }

      &::before {
        @media screen and (max-width:1209px) {
          content: '';
          position: absolute;
          z-index: 1;
          left: 0;
          top: -6vw;
          height: 8vw;
          width: 100%;
          background: url(../img/section-4-bg-m1.png) center bottom no-repeat;
          background-size: 100%;
        }
      }

      &::after {
        @media screen and (max-width:1209px) {
          content: '';
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: -6vw;
          height: 8vw;
          width: 100%;
          background: url(../img/section-4-bg-m4.png) center top no-repeat;
          background-size: 100%;
        }
      }

      .title {
        font-size: 1.125rem;
        line-height: 2;
        padding: 20px 0;

        @media screen and (max-width:1209px) {
          font-size: 18px;
          padding: 5vw 0 6vw;
        }

        span {
          z-index: 0;
          position: relative;

          &::before {
            z-index: -1;
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            background-color: #fffcaf;
            width: 100%;
            height: 10px;
          }
        }
      }

      .bg-middle {
        img {
          width: 100%;
        }
      }

      .content {
        @media screen and (max-width:1209px) {
          width: 100%;
          max-width: 960px;
          padding: 0;
          background: url(../img/section-4-bg-m2.png) center top repeat-y;
          background-size: 100%;
        }

        .group {
          margin-bottom: 30px;

          * {
            margin: 0 auto;

          }

          img {
            width: 80%;

            @media screen and (max-width:1209px) {
              width: 100%;
            }
          }

          @media screen and (max-width:1209px) {
            padding: 0 10vw;
          }
        }
      }

    }

    .warning {
      margin: 0 auto;
      text-align: justify;

      @media screen and (max-width:1209px) {
        width: 90%;
      }
    }
  }
}

/*footer info*/
.foot-info {
  padding: 80px 20px;
  margin: 0 auto;
  color: #131f48;
  font-size: 0.875rem;
  line-height: 1.7;
  background: #dcecff;
  word-wrap: break-word;

  @media screen and (max-width:899px) {
    padding: 40px 2%;

    .text-xs {
      font-size: 1rem;
    }

    .text-sm {
      font-size: 1.125rem;
    }
  }

  .foot-info-18 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2;
  }

  b {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .box {
    &>div {
      margin-top: 1em;
      text-align: justify;
    }
  }

  .highlight {
    color: #005bac;
  }
}



/*可拖移廣告icon*/
.hammerAD {
  z-index: 300;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);

  @media screen and (min-width:900px) {
    width: 200px;
    transform: translate3d(0, -50%, 0) !important;
  }

  @media screen and (max-width:899px) {
    width: 12%;
  }

  .box {
    position: relative;
    margin-right: 10px;
    opacity: 1;
  }

  img {
    width: 100%;
    height: auto;
  }

  .closeButton a {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font: bold 20px/1em "Century Gothic";
    color: #FFF;
    text-align: center;
    background-color: rgba(0%, 0%, 0%, 0.5);
    text-decoration: none;
    z-index: 2;

    @media screen and (min-width:900px) {
      display: none;
    }

    @media screen and (max-width:899px) {
      top: 1vw;
      right: 1vw;
    }
  }
}




/*20230801 定期定額銷售機構*/
.all-content.company-list {
  display: flex;

  @media screen and (max-width:899px) {
    display: block;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    @media screen and (max-width:899px) {
      display: block;
      flex: none;

    }

    .title {
      width: 90%;
      margin: 0 auto 10px;
      text-align: center;
      line-height: 3;
      border-bottom: 1px solid #99b1d7;
      font-size: 18px;
      font-weight: 700;

      @media screen and (max-width:899px) {
        display: none;
        font-size: 16px;
      }
    }

    .box {
      display: flex;
      flex-direction: row;
      justify-items: center;
      padding: 0 30px;
      margin-bottom: 30px;

      @media screen and (max-width:899px) {
        padding: 0 10px;
      }

      .type {
        flex: 2;
        width: 100%;

        .tag {
          margin: 0 auto;
          padding: 5px 8px;
          width: fit-content;
          height: fit-content;
          background-color: #ebf7ff;
          border-radius: 5px;

          @media screen and (max-width:899px) {
            font-size: 16px;
          }
        }

      }

      .company {
        flex: 3;

        p {
          line-height: 2;

          @media screen and (max-width:899px) {
            font-size: 16px;
          }
        }
      }
    }

  }

  .swiper-pagination {

    display: none;

    @media screen and (max-width:899px) {
      position: relative;
      bottom: auto;
      padding: 0 0 3vw;
      margin-bottom: 3vw;
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-bottom: 1px solid #99b1d7;
    }

    .swiper-pagination-bullet.tab {
      width: 100%;
      height: fit-content;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;
      background: none;
      color: #b7bcbf;
      opacity: 1;

    }

    .swiper-pagination-bullet-active {
      &.green {
        color: var(--green);
      }

      &.orange {
        color: var(--orange);
      }

      &.blue {
        color: var(--blue);
      }
    }
  }
}

/*20230804 PC更多歷史配息*/
.all-content.div-list {
  .row-wrp {
    padding: 20px;

    .row {
      padding: 10px 0;
      display: grid;
      grid-template-columns: 1.8fr 1fr 1fr;
      line-height: 2;
      border-top: 1px solid #bfc3c9;

      &:last-child {
        border-bottom: 1px solid #bfc3c9;

      }

      .item {
        div {
          display: inline-block;

          &.key {
            margin-right: 1em;
          }
        }
      }
    }
  }
}

/*20230804 MB基金資料*/
.all-content.fund-list {
  padding: 0 5vw 10vw;

  h3 {
    padding: 2vw 0;
    font-size: 20px;
    line-height: 2;
  }

  .data-date {
    padding: 3vw 0;
    text-align: right;
    color: #838d9c;
    font-size: 12px;
  }

  .row-wrp {
    &.div-wrp {
      .row {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        gap: 10px;
      }
    }

    .row {
      padding: 10px 0;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      line-height: 1.2;
      border-top: 1px solid #bfc3c9;
      font-size: 16px;

      &:last-child {
        border-bottom: 1px solid #bfc3c9;

      }


      div {

        &.key {
          margin-right: 1em;
        }

        &.value {
          text-align: justify;
        }

        &.right {
          text-align: right;
        }
      }

    }
  }

  .chart-wrp {
    .chart-img {
      margin: 4vw auto;
      width: 60%;
      max-width: 300px;
    }

    .chart-list {
      padding: 0 5vw 2vw;
      border-bottom: 1px solid #bfc3c9;

      .row {
        display: grid;
        grid-template-columns: 20px 2fr 1fr;
        border: none;
        align-items: center;

        .color {
          width: 12px;
          height: 12px;
        }

        .ratio {
          text-align: right;
        }
      }
    }


  }

  .more-wrp {
    padding: 4vw 0 5vw;
    display: flex;
    text-align: right;
    font-size: 16px;
    justify-content: flex-end;

    .btn-more {
      color: #7099d5;

      i.arrow {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i5ZyW5bGkXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNyAxMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNyAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2Rpc3BsYXk6bm9uZTtmaWxsOiMyNzc1MDM7fQ0KCS5zdDF7ZmlsbDpub25lO3N0cm9rZTojNzA5OWQ1O3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMi41IiBjeT0iNSIgcj0iOSIvPg0KPHBvbHlsaW5lIGNsYXNzPSJzdDEiIHBvaW50cz0iMSw5IDYsNSAxLDEgIi8+DQo8L3N2Zz4NCg==) center bottom no-repeat;
        background-size: auto 60%;
      }
    }
  }

  .warn {
    font-size: 14px;

    p {
      margin-bottom: .5em;
      padding-left: 2em;
      line-height: 1.2;
      text-indent: -2em;
    }
  }
}