.header p{
    margin: 15px auto;
    width: 80%;
}
.header {
    background: url(../images/subtitle1.svg) no-repeat center top 20px/80px,url(../images/header-kv.svg) no-repeat center bottom -10px/85%,url(../images/pink-bg2.png) no-repeat center bottom 80px /cover;
    padding-bottom: 430px;
}
.header-title{
    height: 175px;
}
.section-title-lead {
    background: url(../images/title-shape1.svg)no-repeat center top/60%,url(../images/title-shape1.svg)no-repeat bottom/60%;
}
.introuce-normal{
    display: flex;
    text-align: center;
}
.introuce-normal li{
    margin: 10px;
}
.introuce-tab-pc{
    padding: 8px 5px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #EB6E6C;
    color: #EB6E6C;
    margin-bottom: 10px;
    font-size: 15px;
    min-height: 70px;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introuce-category-tab-photo{
    padding-bottom: 10px;
}
.introuce-tabs input[type=radio]:checked + label{
    display: none;
}
.introuce-tab-mobile{
    display: none;
}
.introuce-tabs{
    display: none;
}
.subtitle{
    background: url(../images/subtitle2.svg)no-repeat right 170px bottom/40%, url(../images/subtitle1.svg)no-repeat left bottom 8px/50px;
}
.introuce-feature{
    margin-top: 30px;
}
.introuce-feature-list{
    text-align: center;
}
.introuce-feature-list li {
    padding: 20px 10px 20px 90px;
    width: 19%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    min-height: 67px;
}
.introuce-feature-list li:nth-child(1) {
    background: url(../images/feature-1.png)no-repeat left center/30%;
}
.introuce-feature-list li:nth-child(2) {
    background: url(../images/feature-2.png)no-repeat left center/30%;
}
.introuce-feature-list li:nth-child(3) {
    background: url(../images/feature-3.png)no-repeat left center/30%;
}
.install-location {
    background: url(./../images/install-bg.png)no-repeat center top -235px/cover;
    padding: 30px 10px 40px;
}
.install-location-photo{
    text-align: center;
    height: 550px;
}
.install-type ul,.install-notice-list,.qa-content,.footer-source{
    width: 90%;
    margin: 0 auto;
}
.install-type-item{
    padding-top: 200px;
}
.test-step-list-item img,.install-location-photo img,.test-buy-photo img{
    width: 80%;
}
.test-buy-photo{
    text-align: center;
}
.free-sensor {
    padding: 15px 30px;
}
.free-sensor-cta {
    width: 100%;
    text-align: left;
}
.free-sensor-cta a{
    width: calc(100% / 2 - 13px);
}
.free-sensor-notice {
    margin-top: 53px;
}
.free-sensor-notice-photo{
    width: 35%;
    top: -120px;
    right: 12px
}
.free-sensor-notice p {
    background: url(../images/info-icon.svg)no-repeat left 20px center/30px,#ffffff;
    padding: 20px 20px 20px 60px;
}
.qa-subtitle{
    background: url(../images/title-shape1.svg)no-repeat center top/40%,url(../images/title-shape1.svg)no-repeat bottom/40%; 
}
.qa-content-item {
    padding: 50px 0px 50px 40%;
    min-height: 75px;
}
.qa-content-item:nth-child(1) {
    background: url(../images/qa-img1.jpg)no-repeat left center/contain;
}
.qa-content-item:nth-child(2) {
    background: url(../images/qa-img2.jpg)no-repeat left center/contain;
}
.qa-content-item:nth-child(3) {
    background: url(../images/qa-img3.jpg)no-repeat left center/contain;
}
.footer-company-info{
    text-align: center;
    padding-top: 30px;
}
.footer-source p::before {
    content: "";
    top: -57px;
    right: 36px;
    width: 239px;
}