.header-wrap,.introduce,.install-location-content,.install-notice,.install-type,.free-sensor-wrap,.test-step,.qa-wrap,.footer-source{
    width: 960px;
    margin: 0 auto;
}
.header-wrap{
    width: 960px;
    margin: 0 auto;
    background: url(../images/header-kv.svg) no-repeat right bottom /55%;
    padding-bottom: 130px;
}
.header-title-content{
    width: 60%;
}
.header {
    background:url(../images/subtitle1.svg) no-repeat left 35% top 20px/80px,url(../images/pink-bg1.png) no-repeat center bottom 80px /cover;
    padding-bottom: 0px;
}
.section-title-lead {
    background: url(../images/title-shape1.svg)no-repeat center top/35%,url(../images/title-shape1.svg)no-repeat bottom/35%;
}
.subtitle{
    background: url(../images/subtitle2.svg)no-repeat left 40px bottom/30%, url(../images/subtitle1.svg)no-repeat left bottom 8px/50px;
}
.introuce-feature{
    margin: 30px 0px;
}
.introuce-feature-list{
    padding: 10px 50px;
}
.install-location {
    background: url(./../images/install-bg2.png)no-repeat center top -100px/cover;
}
.install-location-photo{
    position: relative;
    background: url(../images/install-house-pc.png)no-repeat center/contain;
    width: 100%;
    height: 430px;
}
.install-location-photo::after {
    content: "";
    bottom: -14px;
    right: 110px;
    width: 11%;
    height: 60%;
    background-image: url(./../images/install-house-mother.svg);
}
.install-type-item{
    width: 46%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    min-height: 67px;
    padding: 20px 0px 20px 20%;
}
.install-smoke{
    background: url(./../images/intsall-type-1.svg)no-repeat left top/contain;
}
.install-temperature{
    background: url(./../images/intsall-type-2.svg)no-repeat left top/contain;
}
.install-notice-list{
    display: flex;
}
.install-check2, .install-check3{
    width: calc(100% / 2 - -20px);
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0px 0px 0px 20px;
}
.install-notice {
    padding: 0px 15px 30px 15px;
}
.test-step-list li {
    width: calc(100% / 4 - 14px);
}
.test-info{
    background: url(../images/test-info-bg.png)no-repeat center/cover;
    border: 2px solid #EB6D6C;
    width: 50%;
}
.test-buy{
    display: flex;
    margin-top: 60px;
}
.test-buy-photo{
    width: 50%;
}
.test-buy-content{
    width: 50%;
}
.free-sensor {
    text-align: center;
    background: url(../images/pink-bg1.png)no-repeat center/cover;
    padding: 30px;
}
.free-sensor-cta{
/*   text-align: center;*/
}
.free-sensor-cta a{
    width: 15%;
}
.free-sensor-notice {
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
}
.free-sensor-notice-photo {
    width: 30%;
    top: -80px;
    right: 33px;
}
.qa-wrap{
    padding: 40px 0px;
}
.qa-content{
    display: flex;
    justify-content: center;
}
.qa-content-item{
    padding: 190px 10px 0px;
    width: 33%;
}
.qa-content-item:nth-child(1) {
    background: url(../images/qa-img1.jpg)no-repeat center top/80%;
}
.qa-content-item:nth-child(2) {
    background: url(../images/qa-img2.jpg)no-repeat center top/80%;
}
.qa-content-item:nth-child(3) {
    background: url(../images/qa-img3.jpg)no-repeat center top/80%;
}
.footer-source{
    position: relative;
}
.footer-source p:nth-child(1),.footer-source p:nth-child(2){
    line-height: 1.8;
    width: 30%;
    display: inline-block;
    vertical-align: text-top;
}
.footer-source p::before {
    content: "";
    top: -54px;
    right: 104px;
    width: 243px;
    height: 161px;
}
.footer-company-info{
    text-align: left;
    width: 100%;
}