/*header*/
.header-prize{
    padding-top: 320px;
    background: url(../images/header-mid-bg-m.png) no-repeat center top/110%,url(../images/header-prize-bg.png) no-repeat center bottom -20px/90%,linear-gradient(transparent 25%,#C3F090 25%);
}
.header-prize img{
    width: 85%;
}
.header-title-catch{
    height: 160px;
}
/*活動說明*/
.activity-title {
    padding-top: 150px;
    background: url(../images/section-title-border.svg) no-repeat center top 140px/contain;
}
/*footer*/
.footer{
    padding: 15px 15px 80px;
}
.footer-connect{
    display: table;
}
.footer-service-member,.footer-service-time{
    display: table-cell;
    width: 50%;
    padding: 0px 10px;
}