.sinyi-logo{
    text-align: left;
}
.header-wrap,.activity,.activity-prize,.notice-title,.notice-wrap,.footer-connect{
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
}
/*cta*/
.cta{
    margin: 10px auto;
}
.float-action-btn{
    position: unset;
    padding: 15px;
    width: 280px;
    margin: 0px;
    box-sizing: border-box;
}
/*header*/
.header{
    text-align: left;
    padding-left: 15px;
    background: url(../images/header-bg-pc.png) no-repeat top -20px center/60%;
    background-color: #6FC4DE;
}
.header-wrap{
    position: relative;
    height: 450px;
    background: url(../images/header-mid-bg-pc.png) no-repeat center bottom -40px/100%;
    padding-bottom: 0px;
}
.header-title-group{
    text-align: center;
}
.header-title-catch{
    height: 85px;
    margin-bottom: 15px;
}
.header-subtitle{
    text-align: center;
    width: 50%;
}
.header-prize {
    padding-top: 0px;
    background-image: none;
}
.header-prize img{
    width: 430px;
    padding: 25px 0px 0px 40px;
}
.header-subtitle {
    position: absolute;
    text-align: center;
    width: 330px;
    right: 50px;
    bottom: 88px;
}
/*main*/
.main {
    background-image: none;
}
.section-title{
    text-align: center;
    padding: 24px 10px 10px 10px;
    margin: 0px auto 15px;
    background: url(../images/section-title-border.svg) no-repeat center top 17px/contain;
}
.activity{
    position: relative;
}
.activity,.activity-prize{
    padding: 0px;
}
.activity-decorate-one{
    width: 190px;
    height: 100px;
    right: 155px;
    top: -40px;
    position: absolute;
    background: url(../images/decorate-people.svg) no-repeat top right/contain;
}
.activity-decorate-two{
    width: 250px;
    height: 150px;
    left: -120px;
    top: 190px;
    position: absolute;
    background: url(../images/decorate-people2.svg) no-repeat top right/contain;
}
.activity-content{
    display: table;
    margin: 0 80px;
}
.activity-content li:nth-child(3){
    display: table-cell;
    width: 50%;
}
.activity-prize-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.activity-prize-item{
    width: 30%;
    margin: 0px 8px 15px 8px;
}
/*注意事項*/
.notice-title{
    text-align: center;
}
/*footer*/
.footer{
    padding: 15px;
}